@(args: msys.bill.IForNodeTplArgs)(implicit ctx: Context)

@* Страница биллинга узла второго поколения. *@

@import ctx.messages
@import lk.lkBlock

@base(
  title = args.mnode.guessDisplayNameOrId.getOrElse("???")
) {

  @lkBlock("Тарифы и цены") {

    Тариф для входящих размещений:

    @args.mnode.billing.tariffs.daily.fold {
      по умолчанию
    } { tf =>
      <strong>другой: @tf</strong>
    }

    <a href="@routes.SysBilling.editNodeTfDaily(args.mnode.id.get)">
      @messages("Edit")...
    </a>

  }

}
