@(title: String)(content: Html)(implicit ctx: Context)

@* Заголовка HTML-письма от sio. *@

@import ctx.messages
@import ctx.api.{cdn, ctxUtil}
@import io.suggest.i18n.MsgCodes

@TicketBaseTpl(title) {

  @_rowTpl() {
    @messages("Hello").
  }

  @content

  @_wideRowTpl("""padding: 0 40px 25px; border-bottom: 1px solid #afafaf; color: #b4b4b4; font-size: 11px""") {
    @messages("Msg.sent.auto.noreply")
  }

  @_rowTpl("font-size: 10px; color: #bdbdbd; padding-top: 5px; background: white;", Some("background: white;")) {
    © 2011-@ctx.now.getYear
    <a style="color: #7b89a4;" href="@ctxUtil.SC_URL_PREFIX@MAIN_PAGE_CALL">
      @messages( MsgCodes.`Suggest.io` )
    </a>.
    @messages( MsgCodes.`All.rights.reserved` )
  }

}
