@(args: mlk.MNodeShowArgs)(implicit ctx: Context)

@* Заглавная страница узла рекламной сети в личных кабинетах.
   Если isMyNode, то идёт рендер управляемого узла, и povAdnIdOpt игнорируется.
   Если !isMyNode, то юзер смотрит чужой нередактируемый узел. *@

@import ctx._
@import ctx.api.dynImgUtil
@import io.suggest.vlines.VLines
@import lk.lkProp
@import lk.dsl._
@import views.html.stuff.bxslider._

@* Инлайнинг старого _galleryTpl, который должен быть удалён вместе с кучей старого API. *@
@import ctx.api.galleryUtil
@import io.suggest.css.Css.Lk.BxSlider.JS_PHOTO_SLIDER


@headAfter1 = {
  @_bxSliderCssTpl()
}

@nodeBaseTpl(
  title         = args.mnode.meta.basic.name + " | " + messages("Profile"),
  mnode         = args.mnode,
  rightCurrEl   = NodeRightPanelLinks.RPL_NODE,
  headAfter	    = Some(headAfter1)
) {

  <div class="profile_logo-bar">
    @if(args.mnode.meta.colors.bg.isDefined) {
      @for(logoImgCall <- args.logoImgCallOpt) {
        <div class="image __size-L"
             @for(bgColor <- args.mnode.meta.colors.bg) {style="background-color: #@bgColor.code;"}>
          <img class="image_src" src="@logoImgCall" alt="@args.mnode.meta.basic.name"/>
        </div>
      }
    }
  </div>

  <div class="profile_info-bar">
    @_delimTpl()

    @lkProp( messages("Name")) {
      @args.mnode.meta.basic.name
    }

    @args.mnode.meta.address.town.map { town =>
      @lkProp( messages("Address")) {
        @town@args.mnode.meta.address.address.map { addr =>, addr}
      }
    }

    @args.mnode.meta.business.siteUrl.map { siteUrl =>
      @lkProp( messages("Site")) {
        <a class="link" href="@siteUrl" target="_blank">@siteUrl</a>
      }
    }

    @args.mnode.meta.business.info.map { info =>
      @lkProp( messages("Info.about.prods.and.svcs")) {
        @info
      }
    }


    @if( args.mnode.extras.adn.exists(_.isReceiver) ) {
      @_delimTpl()

      @lkProp( messages("Daily.people.traffic")) {
        @args.mnode.meta.business.humanTraffic
      }
      @lkProp( messages("Audience.descr")) {
        @args.mnode.meta.business.audienceDescr
      }

      @* TODO добавить вывод картинки приветствия *@

      @_delimTpl()
      <div class="prop">
        <p class="prop_name __block">@messages("Node.photos"):</p>
        <div class="profile_photo-lst">

          @* Инлайнинг старой galleryTpl (новая - это react-image-gallery): *@
          <div class="@JS_PHOTO_SLIDER">
            @for(imgCall <- args.gallery) {
              <img class="profile_photo-i" src="@imgCall" />
            }
          </div>

        </div>
      </div>
    }

    @_delimTpl()

    <table class="prop">
      <tr>
        <td class="prop_name td">
          @messages("Bg.color.of.sc.hint")
        </td>
        <td class="td __color-title">
	        <span class="dark-gray ft-S">@Html( messages("Main.color", "<br/>") )</span>
        </td>
        <td class="td __padding-S">
          <div class="color" style="background-color: #@args.bgColor;"></div>
        </td>
        <td class="td __padding-S">
          <div class="delimiter __light __vertical @VLines.JSVL_CLASS"></div>
        </td>
        <td class="td __padding-S prop_name">
          @messages("Fg.color.of.sc.hint")
        </td>
        <td class="td __color-title">
	        <span class="dark-gray ft-S">@Html( messages("Content.color", "<br/>") )</span>
        </td>
        <td class="td __padding-S dark-gray">
          <div class="color" style="background-color: #@args.fgColor;"></div>
        </td>
      </tr>
    </table>

  </div>

  @* Какая-то примитивная ротация галереи была реализована максом через левый костыль. *@
  @_bxSliderJsTpl()

}

