@(elements: views.html.helper.FieldElements)

@* field constructor, использующий блочную div-верстку для инпутов. *@

@import play.api.i18n._
@import views.html.helper._


<div class="input-w">

  @if(elements.label.toString.size > 0) {
    <label class="lk-field__name" for="@elements.id">
      @elements.label(elements.lang)
      @if(elements.field.constraints.exists { _._1 == "constraint.required" }) {
        <span class="required-icon">*</span>
      }
    </label>
  }

  <div class="input clearfix @elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">

    <div class="input_shadow js-input-w">
      @elements.input
    </div>

  </div>

</div>


