@(args: mlk.nodes.MLkNodesTplArgs)(implicit ctx: Context)

@* Страница-заготовка для формы управления узлами. *@

@import ctx.messages
@import io.suggest.lk.nodes.LkNodesConst.FORM_CONT_ID
@import io.suggest.common.spa.SpaConst.STATE_CONT_ID
@import views.html.stuff.{_preLoaderLkTpl, jsTpl2HtmlTpl}
@import views.js.stuff.jsRevRouterTpl

@nodesBaseTpl(
  title     = messages("Nodes.management"),
  mnode     = args.mnode
) {

  @* Рендер сериализованных данных для начального состояния. *@
  <input type="hidden" id="@STATE_CONT_ID" value="@args.formState"/>

  @* Верстка контейнера формы. *@
  <div id="@FORM_CONT_ID">
    @_preLoaderLkTpl()
  </div>


  @* JS-роутер для команд из формы... *@
  @jsTpl2HtmlTpl( withScriptTag = true )(
    jsRevRouterTpl("jsRoutes", csrfAll = true)(
      routes.javascript.LkNodes.subNodesOf,
      routes.javascript.LkNodes.createSubNodeSubmit
    )
  )

}
