@(args: msc.IAdBodyTplArgs)(implicit ctx: Context)

@* Рендер тела страница открытой рекламной карточки вместе с дескрипшеном. *@

@import views.html.sc.stuff._
@import views.html.sc.svg
@import args._
@import msc._
@import io.suggest.sc.ScConstants.Logo

@views.html.sc._adTpl(brArgs)

@* TODO Нужно как-то через args получать правильные цвета от контроллера, там их вычислять. *@

@defining( producer.meta.colors.fg.fold("ffffff")(_.code) ) { pFgColor =>

@* Информация о магазине *@
<div class="focused-ad_location" style="@producer.meta.colors.bg.map {c => @_bgcolor(c);}color: #@pFgColor">

  <div class="focused-ad_count" style="color: #@pFgColor; border-color: #@pFgColor;">
    <div>@index/@adsCount</div>
  </div>

  <div class="focused-ad_location-icon">
    @svg._fadLocationIconTpl(pFgColor)
  </div>
  <div class="focused-ad_location-info">
    <span>@producer.meta.address.address</span>
    <div>@producer.meta.basic.name</div>
  </div>
  <div class="sm-clear"></div>
</div>

@* Контейнер с описанием рекламной карточки *@
@brArgs.mad.richDescrOpt.map { rd =>
  <div class="focused-ad_descr" style="background-color: #@rd.bgColor;">
    @Html(rd.text)

    @if(args.is3rdParty) {
      <br/><br/>
      <a href="@routes.MarketShowcase.geoSite( ScJsState(adnId = args.producer.id) )"
         style="color: #@pFgColor;"
         class="@Logo.HDR_LOGO_DIV_CLASS">Смотреть далее...</a>
    }
  </div>
}

}
