@(args: msc.IAdBodyTplArgs)(implicit ctx: Context)

@* Шаблон тела focused-карточки. *@

@import views.html.sc.stuff._
@import views.html.sc._
@import args._
@import io.suggest.sc.ScConstants.Focused.FAd._

@_scrollableContainerTpl(
  className   = "focused-ad",
  id          = ID_PREFIX + args.brArgs.mad.id.getOrElse(""),
  "style"     -> ( "background-color: #" + brArgs.mad.ad.richDescr.fold("f9f9f9")(_.bgColor) ),
  MAD_ID_ATTR -> args.brArgs.mad.id.orNull
) {
  <div class="focused-container __id-@args.brArgs.mad.id">
    <div class="focused-ad_top-offset"></div>
      @_adFullTpl(args)
    <div class="focused-ad_bottom-offset"></div>
  </div>
}
