@(args: msc.IFocusedAdsTplArgs)(implicit ctx: Context)

@* Заголовок focused-выдачи. *@

@import views.html.sc.stuff._
@import views.html.sc.hdr
@import msc._

@* Список карточек указанного продюссера *@
@hdr._divTpl() {
  style="@_bgcolor( args.bgColor )"
} {
  @args.jsStateOpt.map { jsState =>
    <a href="@args.syncUrl( jsState.copy(fadOpenedIdOpt = None, fadsOffsetOpt = None) )">
  }
  @ScHdrBtns.CloseFocused( args.hBtnArgs )
  @if(args.jsStateOpt) {
    </a>
  }

  @* Логотип продьюсера. По нему можно кликать только если своя карточка либо карточка чужого *ресивера*. *@
  @hdr._logoTpl(args,  withId = false)

  @* Кнопка с 4-мя квадратиками для перехода в выдачу стороннего продьюсера, если он является также ресивером. *@
  @if( args.is3rdParty && args.producer.extras.adn.exists(_.isReceiver) ) {
    @args.producer.id.map { producerId =>
      @hdr._prodIndexBtnTpl(producerId, args)
    }
  }

}
