@(img: im.MImgT, metaOpt: Option[io.suggest.img.ImgSzDated])(implicit ctx: Context)

@* Отображение данных и ссылок навигации/управления для одной указанной картинке. *@

@import datetime._
@import ctx._
@import stuff._
@import ctx.api.dynImgUtil
@import sys1.stuff.proptable._
@import helper._

@sysImgBase(
  title = "(" + (if(!img.dynImgId.hasImgOps) "оригинал" else "дериватив") + ")",
  mimgOpt = Some(img)
) {

  @* Рендер разных метаданных о картинке. *@
  @_ptableTpl() {
    @_ptableRowTpl("rowKey", title = Some("rowKey: " + img.dynImgId.rowKeyStr)) {
      @img.dynImgId.rowKeyStr
    }

    @_ptableRowTpl("make", title = Some("Оформить проивольный рендер картинки")) {
      <a href="@routes.SysImg.makeForm(img)">
        Запросить make...
      </a>
    }

    @if(img.dynImgId.hasImgOps) {
      @_ptableRowTpl("original") {
        <a href="@routes.SysImg.showOne(img.original)">К оригиналу...</a>
      }
    }

    @for(meta <- metaOpt) {
      @_ptableRowTpl("meta.width") {
        @meta.sz.width
      }
      @_ptableRowTpl("meta.height") {
        @meta.sz.height
      }
      @_ptableRowTpl("dateCreated") {
        @_prettyDate(meta.dateCreated, withSpan = true)
      }
    }

    @if(img.dynImgId.hasImgOps) {
      @_ptableRowTpl("img ops") {
        @for(op <- img.dynImgId.dynImgOps.iterator) {
          <strong title="@op.opCode">@messages("im.op." + op.opCode.value)</strong>:
          @op.unwrappedValue  @op.i18nValueCode.map(messages(_))  (@op.qsValue)
          <br/>
        }
      }
    }

  }


  @* Рендер самой картинки. *@
  <img src="@dynImgUtil.imgCall(img)" alt="Текущая картинка" />

  @* Отрендерить кнопку удаления. *@
  @_deleteSmthFormBtnTpl( CSRF(routes.SysImg.deleteOneSubmit(img)) )

}
