@(gf: Form[_], submitCall: Call, btnText: String, galNameDisabled: Option[String] = None)(implicit ctx: Context)

@* Форма создания/редактирования галереи. *@

@import ctx._
@import helper._
@import util.FC.tdFc
@import ctx.api.galleryUtil.GALLERY_LEN_MAX
@import util.img.DynImgUtil
@import io.suggest.img.crop.CropConstants._
@import io.suggest.img.ImgConstants._
@import io.suggest.js.UploadConstants
@import views.html.lk.forms.img._
@import views.html.lk.adn.edit.ovl._

@form(submitCall) {

  <table class="input-w __size-L">
    @galNameDisabled.fold {
      @* Можно менять имя галереи. *@
      @inputText(
        gf("name"),
        '_label -> "Идентификатор",
        'title -> "Допустимые символы: a-z 0-9 - и _"
      )
    } { galName =>
      @* Название отключенной галереи. *@
      <td class="input-w_left">
        <label class="input-w_prop-name">@messages("Name"):</label>
      </td>
      <td>
        <input type="text" disabled value="@galName" title="Нельзя менять идентификатор уже существующей галереи."/>
      </td>
    }
  </table>

  <table class="input-w __size-L">
    @textarea(
      gf("descr"),
      '_label -> "Описание",
      'title -> "Необязательно. Произвольный текст."
    )
  </table>

  <table class="input-w __size-L">
    <td class="input-w_left">
      <label class="input-w_prop-name">Фотографии:
      </label>
    </td>
    @defining( gf("imgs") ) { gf =>
    <td id="imgs">

      @gf("gallery").errors.map { error =>
        <p class="block __margin-M red">@messages("Error"): @messages(error.message, error.args: _*)</p>
      }

      <div class="image __size-M f-left @UploadConstants.JS_IMG_UPLOAD_CLASS" >
        @stuff._fileUploadTpl(
          call               = routes.SysGallery.uploadImg(ctx.ctxIdStr),
          fieldName          = "imgs",
          multiUploadCounter = gf.indexes.lastOption.orElse( Some(-1) )
        )
        <a class="image_add-btn js-file-upload-btn" title="Загрузить фотографию">
          <span>Добавить<br/>фотографию</span>
        </a>
      </div>

      @* Рендерим существующие значения. gf - поле, gfi - индекс картинки (1, 2, 3), gfn - имя поля в индексе ("gallery[0]") *@
      @gf.indexes.map { gfi =>
        @defining( s"gallery[$gfi]" ) { gfn =>
          @gf(gfn).value.map { imgId =>
            @_galOvlTpl(imgId, fn = gfn)
          }
        }
      }
    </td>
    }
  </table>

  <div class="btn-w __size-M">
    <input class="siom-ac-btn __color-1 __size-M __ft-XM f-right" type="submit" value="@btnText" />
  </div>

}
