@(domain: MDomain, authzList:Seq[MPersonDomainAuthz])(implicit c:util.Context)
@import stuff._
@import domain._
@import datetime._

@* Отобразить страницу с резюме по домену. Тут в основном ссылки на другие странице и минимум инфы. *@

@dkeyBase(titleOpt=None, dkey=dkey) {

  <a target="_blank" href="http://@dkey/">Go to site</a>
  <a href="@routes.Sys.dkeySearch(dkey)">Search</a>

  @* Список владельцев домена. Тут должны быть ссылки на них *@
  <h3>Владельцы домена @dkey</h3>
  @if(authzList.isEmpty) {
    У данного домена пока нет зарегистрированных пользователей, доказавших свою принадлежность к домену.
  } else {
    @authzList.sortBy(_.isVerified).map { az =>
      @if(!az.isVerified) {<strike>}
      @* TODO когда будет страница для юзера, перевести это в ссылку. *@
      @az.personId
      @if(!az.isVerified) {</strike>}
    }
  }


  <hr/>

  Домен добавлен в индексацию @_prettyDate(addedAt, withSpan=true, isCap=false) -- @addedBy

  @* Ссылка на удаление. Пока удаление в кравлере не поддерживается, тут закомменчено. *@
  @*_dkeyDeleteBtnTpl(dkey) *@

}
