@(args: mlk.INodeShowArgs)(implicit ctx: Context)

@* Заглавная страница узла рекламной сети в личных кабинетах.
   Если isMyNode, то идёт рендер управляемого узла, и povAdnIdOpt игнорируется.
   Если !isMyNode, то юзер смотрит чужой нередактируемый узел. *@

@import ctx._
@import node._
@import ctx.api.dynImgUtil
@import io.suggest.vlines.VLines
@import args._
@import lk.lkProp
@import lk.dsl._

@headAfter1 = {
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("javascripts/lib/bxslider/jquery.bxslider.css")'/>
}

@nodeBaseTpl(
  title         = mnode.meta.basic.name + " | " + messages("Profile"),
  mnode         = mnode,
  rightCurrEl   = NodeRightPanelLinks.RPL_NODE,
  headAfter	    = Some(headAfter1)
) {

  <div class="profile_logo-bar">
    @if(mnode.meta.colors.bg.isDefined) {
      @for(img <- args.logoImgOpt) {
        <div class="image __size-L"
             @for(bgColor <- mnode.meta.colors.bg) {style="background-color: #@bgColor.code;"}>
          <img class="image_src" src="@dynImgUtil.imgCall(img)" alt="@mnode.meta.basic.name"/>
        </div>
      }
    }
  </div>

  <div class="profile_info-bar">
    @_delimTpl()

    @lkProp( messages("Name")) {
      @mnode.meta.basic.name
    }

    @mnode.meta.address.town.map { town =>
      @lkProp( messages("Address")) {
        @town@mnode.meta.address.address.map { addr =>, addr}
      }
    }

    @mnode.meta.business.siteUrl.map { siteUrl =>
      @lkProp( messages("Site")) {
        <a class="link" href="@siteUrl" target="_blank">@siteUrl</a>
      }
    }

    @mnode.meta.business.info.map { info =>
      @lkProp( messages("Info.about.prods.and.svcs")) {
        @info
      }
    }


    @if( mnode.extras.adn.exists(_.isReceiver) ) {
      @_delimTpl()

      @lkProp( messages("Daily.people.traffic")) {
        @mnode.meta.business.humanTrafficAvg
      }
      @lkProp( messages("Audience.descr")) {
        @mnode.meta.business.audienceDescr
      }

      @* TODO добавить вывод картинки приветствия *@

      @_delimTpl()
      <div class="prop">
        <p class="prop_name __block">@messages("Node.photos"):</p>
        <div class="profile_photo-lst">
          @_galleryTpl(args.gallery, "profile_photo-i")
        </div>
      </div>
    }

    @_delimTpl()

    <table class="prop">
      <tr>
        <td class="prop_name td">
          @messages("Bg.color.of.sc.hint")
        </td>
        <td class="td __color-title">
	        <span class="dark-gray ft-S">@Html( messages("Main.color", "<br/>") )</span>
        </td>
        <td class="td __padding-S">
          <div class="color" style="background-color: #@args.bgColor;"></div>
        </td>
        <td class="td __padding-S">
          <div class="delimiter __light __vertical @VLines.JSVL_CLASS"></div>
        </td>
        <td class="td __padding-S prop_name">
          @messages("Fg.color.of.sc.hint")
        </td>
        <td class="td __color-title">
	        <span class="dark-gray ft-S">@Html( messages("Content.color", "<br/>") )</span>
        </td>
        <td class="td __padding-S dark-gray">
          <div class="color" style="background-color: #@args.fgColor;"></div>
        </td>
      </tr>
    </table>

  </div>

  @* Какая-то примитивная ротация галереи была реализована максом через левый костыль. *@
  <script src="@routes.Assets.versioned("javascripts/lib/bxslider/jquery.bxslider.min.js")"></script>

}

