logs/
project/project
project/target
target
tmp
.history
dist
/out
.idea_modules
.idea
.idea*/
*.iml
.classpath
RUNNING_PID
.settings
*.swp
*.rej
*.orig
conf/application.conf*
.DS_Store
dout/
*.log
._*
hg-checkexec-*
picture
*.zip
*.rar
*.gz
conf/elasticsearch.yml*
node_modules/
ui/node_modules
ui/dist
ui/.tmp
ui/.sass-cache
ui/bower_components
ui/twirl
app-2.11/
conf/log*.xml


src1/server/www/conf/application.conf
src1/server/www/conf/application.conf.dev
src1/server/www/conf/elasticsearch.yml
src1/server/www/conf/logback.xml

src1/app/
