logs/
project/project
project/target
target
tmp
.history
dist
/out
.idea_modules
.idea
.idea*/
*.iml
.classpath
RUNNING_PID
.settings
*.swp
*.rej
*.orig
.DS_Store
dout/
*.log
._*
hg-checkexec-*
picture
*.zip
*.rar
*.gz
node_modules/
*_jb_tmp_*

src1/server/www/conf/application.conf*
src1/server/www/conf/elasticsearch.yml*
src1/server/www/conf/logback.xml*

src1/app/
