image: docker-registry.suggest.io:5000/sio/sio2/os-www-build:latest

stages:
  - build
  #- deploy

#cache:
#  paths:
#    - src1/server/www/target/universal

## Full build of [www] sub-project stage (release):
www-stage:
  stage: build
  # TODO cache:
  #- project/target
  #- project/project
  before_script:
  - /sbin/entrypoint.sh
  script:
  - sbt 'set scalaJSStage in Global := FullOptStage' 'project www' 'stage'
  - src1/server/docker/scripts/deploy-www-stage-to-nodes.sh  src1/server/www  sio2/sioweb21  sio2.suggest.io sio3.suggest.io

