@()(implicit ctx: Context)

<h1 class="contract__h1">ОФЕРТА НА ОКАЗАНИЕ УСЛУГ «СИО МАРКЕТ»</h1>

<p class="paragraph-13">
  Российская Федерация, Санкт-Петербург.
</p>

<p class="paragraph-13">
  Настоящий документ представляет собой предложение Общества с ограниченной ответственностью «Аверс»
  (далее – «Оператор») заключить Договор на оказание Услуг «Сио Маркет » на изложенных ниже условиях.
</p>

<h1 class="contract__h1">1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h1>

<p class="paragraph-13">
  1.1 В целях настоящего документа нижеприведенные термины используются в следующем значении:
</p>

<p class="paragraph-13">
  <i>Оферта</i> - настоящий документ «Оферта на оказание услуг Сио Маркет, действующая редакция которого размещена
  в Интернете по адресу, указанному в п.9.1.
</p>

<p class="paragraph-13">
  <i>Пользователь</i> – юридическое лицо или частный предприниматель,  резидент Российской Федерации,
  совершивший Акцепт Оферты и заключивший таким образом настоящий Договор с Оператором.
</p>

<p class="paragraph-13">
  <i>Акцепт Оферты</i> - полное и безоговорочное принятие Оферты Пользователем путем осуществления действий, указанных
  в п. 8.1.
</p>

<p class="paragraph-13">
  <i>Электронная информационная система Сио Маркет</i> – созданная, настраиваемая и изменяемая Оператором совокупность
  программных решений, оборудования и каналов связи, как собственных, так и полученных на законных основаниях от
  третьих лиц, обеспечивающая:
</p>

<ul>
  <li>технические возможности создание, редактирования и размещения информации Пользователя в электронном формате;</li>
  <li>техническую возможность просмотра размещенной Пользователем  информации на экранах мобильных телефонов, планшетов,
  компьютеров, подключенных к системе.</li>
</ul>

<p class="paragraph-13">
  <i>Информация пользователя</i> – файлы (изображения, тексты и др.), самостоятельно созданные Пользователем в системе с
  использованием технических возможностей системы и предназначенные для размещения.
</p>

<p class="paragraph-13">
  <i>Размещение информации</i> – самостоятельный выбор Пользователем мест просмотра  своей информации из списка,
  предлагаемого системой и с использованием технических возможностей системы.
</p>

<p class="paragraph-13">
  <i>Просмотр размещенной информации</i> - воспроизведение информации Пользователя на экранах мобильных телефонов,
  планшетов, компьютеров, в подключенных к системе в местах, выбранных Пользователем.
  Счет Пользователя в системе – раздел системы, отображающий состояние расчетов между Пользователем и Оператором.
</p>

<h1 class="contract__h1">2. ПРЕДМЕТ ДОГОВОРА</h1>

<p class="paragraph-13">
  2.1. Оператор предоставляет, а  Пользователь оплачивает следующие услуги  Сио Маркет (далее – услуги):
</p>

<ul>
  <li>технические возможности (далее - Личный кабинет) для создания, редактирования и  размещения информации
    Пользователя (далее – информации) в электронной информационной системе (далее – системе) Сио Маркет;</li>
  <li>техническую возможность просмотра размещенной Пользователем  информации на экранах мобильных телефонов,
    планшетов, компьютеров, подключенных к системе.</li>
</ul>

<p class="paragraph-13">
  2.2.  Предоставление услуг производится на условиях настоящего Договора.
</p>

<h1 class="contract__h1">3.УСЛОВИЯ ОКАЗАНИЯ УСЛУГ</h1>

<p class="paragraph-13">
  3.1. Пользователь самостоятельно создает и редактирует свою информации в системе – в пределах технических
  возможностей, предоставленных через Личный кабинет.
</p>

<p class="paragraph-13">
  3.2. Пользователь самостоятельно обеспечивает соответствие информации, размещаемой в системе, техническим
  требованиям системы, которые представлены в Личном кабинете Пользователя.
</p>

<p class="paragraph-13">
  3.3. Пользователь самостоятельно производит размещение своей информации, выбирая места для ее возможного
  просмотра из списков, предлагаемых системой.
</p>

<p class="paragraph-13">
  3.4.  Не допускается размещение информации:
</p>

<ul>
  <li>недостоверной;</li>
  <li>не соответствующей техническим требованиям системы;</li>
  <li>противоречащей требованиям законодательства;</li>
  <li>нарушающей авторские и иные права третьих лиц;</li>
  <li>противоречащей нормам морали и нравственности;</li>
  <li>содержащую явные ошибки или признаки злонамеренного размещения;</li>
  <li>содержащую ссылки на интернет-сайты, противоречащие требованиям законодательства, или нарушающие
    авторские и иные права третьих лиц, или противоречащие нормам морали и нравственности.</li>
</ul>

<p class="paragraph-13">
  3.5.  Не допускается размещать в системе информацию третьих лиц, за исключением тех случаев, когда эта
  информация предварительно согласована с Оператором и одобрена к размещению Оператором.
</p>

<p class="paragraph-13">
  3.6. Пользователь самостоятельно несет всю полноту ответственности за содержание размещенной информацию а также
  за выбор мест для ее размещения. Пользователь соглашается освобождать Оператора от любых претензий и/или судебных
  исков по поводу размещенной информации.
</p>

<p class="paragraph-13">
  3.7. Оператор вправе проверять информацию, размещаемую Пользователем.
</p>

<p class="paragraph-13">
  3.8. В случае нарушения Пользователем требований к размещаемой информации (п. 3.4; 3.5 настоящего Договора)
  Оператор вправе:
</p>

<ul>
  <li>не допускать данную информацию к размещению;</li>
  <li>вернуть данную информацию на редактирование пользователю;</li>
  <li>удалить данную информацию из системы;</li>
  <li>полностью или частично на срок до 30 (тридцати) календарных дней приостановить оказание услуг Пользователю
    без каких-либо выплат Пользователю.</li>
</ul>

<p class="paragraph-13">
  3.9. В случае неоднократного нарушения Пользователем требований к размещаемой информации
  (п. 3.4; 3.5 настоящего Договора) и/или любых других условий настоящего Договора Оператор вправе:
</p>

<ul>
  <li>полностью или частично на срок до 30 (тридцати) календарных дней приостановить оказание услуг
    Пользователю без каких-либо выплат Пользователю.</li>
  <li>расторгнуть настоящий Договор в одностороннем порядке с извещением Пользователя без каких-либо выплат
    Пользователю; удалить Личный кабинет и всю информацию Пользователя из системы.</li>
</ul>

<p class="paragraph-13">
  3.10.  Если Пользователь разместил, а Оператор по какой-либо причине пропустил информацию,
  нарушающую требования к размещаемой информации (п.п. 3.4, 3.5 настоящего Договора), это не означает,
  что Оператор согласился с  действиями Пользователя и/или каким-либо причастен к такому размещению.
  За Оператором сохраняются все права по п.п. 3.7-3.9 настоящего Договора. Ответственность за содержание и
  размещение информации полностью ложится на Пользователя (п. 3.6. настоящего Договора).
</p>

<p class="paragraph-13">
  3.11. Оператор вправе временно приостановить оказание услуг Пользователю по техническим,
  технологическим или иным причинам, препятствующим оказанию услуг, на время устранения таких причин.
</p>

<p class="paragraph-13">
  3.12. В том случае, если Пользователь в течение 60 (шестидесяти) и более календарных дней подряд не
  пользуется услугами, Оператор после извещения Пользователя вправе расторгнуть настоящий Договор в
  одностороннем порядке.
</p>

<h1 class="contract__h1">4. ОБЯЗАТЕЛЬСТВА И ПРАВА ОПЕРАТОРА</h1>

<p class="paragraph-13">
  <u>4.1. Оператор обязуется</u>
</p>

<blockquote>
  <p class="paragraph-13">
    4.1.1. Оказывать пользователю услуги в соответствии с условиями настоящего Договора.
  </p>

  <p class="paragraph-13">
    4.1.2. Предоставить Пользователю доступ к услугам и к Личному кабинету пользователя в системе.
  </p>

  <p class="paragraph-13">
    4.1.3.  Обеспечивать корректное отображение информации Пользователя на экранах подключенных к системе мобильных
    телефонов, планшетов, компьютеров на любой программной платформе.
  </p>

  <p class="paragraph-13">
    4.1.4. Через Личный кабинет Пользователя предоставлять Пользователю сведения о просмотрах его информации.
  </p>

  <p class="paragraph-13">
    4.1.5. Обеспечивать технические меры по защите системы от злонамеренных действий третьих лиц.
  </p>

  <p class="paragraph-13">
    4.1.6. Сохранять конфиденциальность данных Пользователя, указанных при регистрации в системе.
  </p>

  <p class="paragraph-13">
    4.1.7. Привлекать к исполнению своих обязательств по настоящему Договору третьих лиц.
  </p>
</blockquote>

<p class="paragraph-13">
  <u>4.2. Оператор имеет право</u>
</p>

<blockquote>
  <p class="paragraph-13">
    4.2.1. По своему усмотрению вносить улучшающие  изменения и обновления в систему, в том числе в Личный Кабинет
    пользователя, предлагать новые услуги, новые возможности для отображения информации Пользователя.
  </p>

  <p class="paragraph-13">
    4.2.2. Информировать Пользователя о внесении изменений/обновлений в систему, о включении новых возможностей
    системы и других фактах новостного характера.
  </p>
</blockquote>

<h1 class="contract__h1">5. ОБЯЗАТЕЛЬСТВА И ПРАВА ПОЛЬЗОВАТЕЛЯ</h1>

<p class="paragraph-13">
  <u>5.1.1 Пользователь обязуется</u>
</p>

<p class="paragraph-13">
  5.1.1. Пользоваться услугами и оплачивать услуги Оператора в соответствии с условиями настоящего Договора.
</p>

<p class="paragraph-13">
  5.1.2. Обеспечить сохранность доступа к Личному кабинету от третьих лиц. Не предоставлять доступ к Личному
  кабинету третьим лицам, за исключением случаев, когда такой доступ согласован с Оператором и одобрен Оператором.
  Нести ответственность за любые действия любых лиц, совершаемые из Личного кабинета, как за свои собственные.
</p>

<p class="paragraph-13">
  <u>5.2. Пользователь имеет право</u>
</p>

<p class="paragraph-13">
  5.2.1.  Получать сведения о просмотрах своей информации в системе.
</p>

<p class="paragraph-13">
  5.2.2. Изменять свою информацию (включая условия размещения) в любое время с соблюдением всех установленных
  Договором требований и ограничений, накладываемых системой.
</p>

<h1 class="contract__h1">6. ПОРЯДОК ОПЛАТЫ И СТОИМОСТЬ УСЛУГ</h1>

<p class="paragraph-13">
  6.1. Для информирования о состоянии расчетов между Пользователем и Оператором Оператор создает счет Пользователя
  в системе. Информация приводится в Личном кабинете Пользователя.  Оператор оказывает Пользователю услуги в
  порядке предоплаты -  в том и только в том случае, если стоимость услуг не превышает сумму, которая отображается
  на счете Пользователя в системе.
</p>

<p class="paragraph-13">
  6.2. Стоимость услуг автоматически формируется системой и зависит от нижеперечисленных параметров,
  задаваемых (выбираемых)  Пользователем в пределах ограничений, накладываемых системой:
</p>

<ul>
  <li>площади, которую информация Пользователя занимает на экранах мобильных телефонов, планшетов, компьютеров;</li>
  <li>мест, в которых  возможен просмотра информации;</li>
  <li>календарных сроков, в течение которых возможен просмотр информации;</li>
  <li>возможности или запрета просмотра информации в выходные дни и вечерние часы;</li>
  <li>иных параметров, которые могут вводиться Оператором по мере развития системы и с целью ее совершенствования.</li>
</ul>

<p class="paragraph-13">
  6.3. Стоимость услуг постоянно отображается в Личном кабинете Пользователя. Подтверждение согласия Пользователя
  со стоимостью услуг, произведенное из Личного кабинета, является необходимым и достаточным основанием для списания
  средств Пользователя в размере стоимости услуг в пользу Оператора в качестве оплаты услуг.
</p>

<p class="paragraph-13">
  6.4. Ежемесячно, в последний день отчетного периода, и/или по завершении оказания услуг по настоящему Договору
  либо по счету Пользователя в системе, Оператор формирует односторонний Акт об оказанных услугах в соответствии с
  объемом фактически оказанных в отчетном периоде услуг. Акт высылается на почтовый адрес Пользователя и/или
  становится доступен для скачивания в Личном кабинете пользователя в день формирования.
</p>

<p class="paragraph-13">
  6.5. Услуги считаются оказанными Оператором надлежащем образом и принятыми Пользователем в указанном в Акте
  объеме, если в течение следующих после формирования Акта десяти календарных дней Оператор не получил от
  Пользователя мотивированных письменных возражений по существу Акта. По истечении указанного срока, претензии
  относительно недостатков услуг, в том числе по количеству (объему), стоимости и качеству не принимаются.
</p>

<p class="paragraph-13">
  6.6. Все расчеты по настоящему Договору ведутся в российских рублях.
</p>

<h1 class="contract__h1">7. НАПРАВЛЕНИЕ УВЕДОМЛЕНИЙ</h1>

<p class="paragraph-13">
  7.1.  Все извещения по настоящему Договору Стороны направляют в письменном виде.
</p>

<p class="paragraph-13">
  7.2. Стороны договорились о следующих способах направления уведомлений:
</p>

<ul>
  <li>по факсу;</li>
  <li>почтой с уведомлением о вручении или курьерской службой с подтверждением доставки;</li>
  <li>через Интернет, в соответствии с п. п. 7.2, 7.3 настоящего Договора.</li>
</ul>

<p class="paragraph-13">
  7.3. Уведомления Оператора отображаются в Личном кабинете Пользователя и дублируются на адрес электронной
  почты Пользователя, указанный в форме регистрации Пользователя в его Личном кабинете.
</p>

<p class="paragraph-13">
  7.4. Уведомления Пользователя направляются Оператору через специальную форму связи с Оператором,
  которая находится в Личном кабинете Пользователя.
</p>

<p class="paragraph-13">
  7.5. Стороны обязуются своевременно знакомиться с уведомлениями. Несвоевременное знакомство с
  уведомлением не является уважительной причиной для нарушения каких-либо условия настоящего Договора.
</p>

<p class="paragraph-13">
  7.6. Стороны обязуются использовать установленные для отправки уведомлений способы связи исключительно
  в целях настоящего Договора. Рассылка спама, рекламы, посторонней информации не допускается.
</p>

<h1 class="contract__h1">8. АКЦЕПТ ОФЕРТЫ И ЗАКЛЮЧЕНИЕ ДОГОВОРА</h1>

<p class="paragraph-13">
  8.1. Пользователь подтверждает полное и безоговорочное принятие Оферты из своего Личного кабинета в системе.
  С момента такого подтверждения. Акцепт Оферты считается совершенным Пользователем, а настоящий Договор заключенным
  между Пользователем и Оператором.
</p>

<h1 class="contract__h1">9. СРОК ДЕЙСТВИЯ И ИЗМЕНЕНИЕ УСЛОВИЙ ОФЕРТЫ И ДОГОВОРА</h1>

<p class="paragraph-13">
  9.1. Оферта вступает в силу с момента размещения в сети Интернет и действует до момента отзыва Оферты Оператором.
</p>

<p class="paragraph-13">
  9.2. Оператор  оставляет за собой право внести изменения в условия Оферты и/или отозвать Оферту в любой момент
  по своему усмотрению. В случае внесения Оператором изменений в Оферту, такие изменения вступают в силу с момента
  размещения измененного текста Оферты в сети Интернет по указанному в п. 9.1. адресу, если иной срок вступления
  изменений в силу не определен дополнительно при таком размещении.
</p>

<p class="paragraph-13">
  9.3. Пользователь соглашается и признает, что внесение изменений в Оферту влечет за собой внесение этих
  изменений в заключенный и действующий между Пользователем и Оператором Договор, и эти изменения в Договор
  вступают в силу одновременно с такими изменениями в Оферту.
</p>

<p class="paragraph-13">
  9.4. Если Пользователь не согласен с изменениями, внесенными в Оферту, он вправе отказаться от услуг Оператора
  и расторгнуть Договора с направлением соответствующего письменного извещения Оператору. При этом Оператор
  возвращает Пользователю предоплату за ту часть услуг, которая не была получена Пользователем фактически.
</p>

<p class="paragraph-13">
  8.5. Если Пользователь продолжает пользоваться услугами Оператора после вступления в силу изменений,
  внесенных в Оферту, Акцепт новой редакции Оферты считается совершенным Пользователем,
  а Договор - заключенным Пользователем на новых условиях.
</p>

<p class="paragraph-13">
  9.6. В случае отзыва Оферты Оператором в течение срока действия Договора, Договор считается прекращенным
  с момента отзыва, если иное не оговорено Оператором при отзыве Оферты.  При прекращении Договора ввиду
  отзыва Оферты Оператор возвращает Пользователю предоплату за ту часть услуг, которая не была получена
  Пользователем фактически
</p>

<h1 class="contract__h1">10. РАСТОРЖЕНИЕ ДОГОВОРА</h1>

<p class="paragraph-13">
  10.1.  Настоящий Договор может быть расторгнут:
</p>

<ul>
  <li>по соглашению Сторон в любое время;</li>
  <li>по инициативе любой из Сторон в случае неоднократного нарушения другой Стороной условий Договора
    с письменным уведомлением другой Стороны;</li>
  <li>по иным основаниям, предусмотренным настоящей Офертой.</li>
</ul>

<h1 class="contract__h1">11. ГАРАНТИИ</h1>

<p class="paragraph-13">
  11.1. В течение срока действия Договора Оператор предпримет все усилия для устранения каких-либо сбоев
  и ошибок в работе системы, в случае их возникновения, в минимально необходимые сроки. При этом Оператор
  не гарантирует отсутствия ошибок и сбоев.
</p>

<p class="paragraph-13">
  11.2. За исключением гарантий, прямо указанных в тексте Оферты, Оператор не предоставляет никаких иных прямых
  или подразумеваемых гарантий по Договору и прямо отказывается от каких-либо гарантий или условий.
</p>

<p class="paragraph-13">
  11.3. Соглашаясь с условиями и принимая условия настоящей Оферты путем Акцепта Оферты, Пользователь
  (или представитель Пользователя , в том числе физическое лицо, должным образом уполномоченное заключить
  Договор от лица Пользователя) заверяет Оператора и гарантирует Оператору, что:
</p>

<blockquote>
  <p class="paragraph-13">
    11.3.1. Пользователь (представитель Пользователя) указал полные и достоверные данные
    Пользователя (представителя Пользователя) при регистрации в системе.
  </p>

  <p class="paragraph-13">
    11.3.2. Пользователь заключает Договор добровольно, при этом Пользователь (представитель Пользователя):
  </p>

  <ul>
    <li>полностью ознакомился с условиями Оферты;</li>
    <li>полностью понимает предмет Оферты и Договора;</li>
    <li>полностью понимает значение и последствия своих действий в отношении заключения и исполнения Договора.</li>
  </ul>

  <p class="paragraph-13">
    11.3.3.	Пользователь (представитель Пользователя) обладает всеми правами и полномочиями,
    необходимыми для заключения и исполнения Договора.
  </p>

  <p class="paragraph-13">
    11.3.4.	Пользователь является налоговым резидентом Российской Федерации.
  </p>
</blockquote>

<h1 class="contract__h1">12. ОТВЕТСТВЕННОСТЬ И ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h1>

<p class="paragraph-13">
  12.1. За нарушение условий Договора Стороны несут ответственность, установленную
  Договором и/или действующим законодательством РФ.
</p>

<p class="paragraph-13">
  12.2. Оператор ни при каких обстоятельствах не несет никакой ответственности по Договору за:
</p>

<ul>
  <li>какие-либо действия/бездействие, являющиеся прямым или косвенным результатом действий/бездействия
    Пользователя и/или третьих лиц;</li>
  <li>какие-либо косвенные убытки и/или упущенную выгоду Пользова теля и/или третьих лиц вне зависимости от того,
    мог Оператор предвидеть возможность таких убытков или нет;</li>
  <li>использование (невозможность использования) и какие бы то ни было последствия использования
    (невозможности использования) Пользователем выбранной им формы пополнения счета в системе, а
    равно использование/невозможность использования Пользователем и/или третьими лицами любых средств
    и/или способов передачи/просмотра информации.</li>
</ul>

<p class="paragraph-13">
  12.3. Совокупный размер ответственности Оператора по Договору, включая размер штрафных санкций (пеней, неустоек)
  и/или возмещаемых убытков, по любому иску или претензии в отношении Договора или его исполнения, ограничивается
  10 % (десятью процентами) стоимости Услуг по Договору.
</p>

<p class="paragraph-13">
  12.4. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему
  Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, которые возникли после
  заключения Договора, либо если неисполнение обязательств Сторонами по Договору явилось следствием событий
  чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить разумными мерами.
  К обстоятельствам непреодолимой силы относятся события, на которые Сторона не может оказывать влияния и за
  возникновение которых она не несет ответственности, в том числе: война, восстание, забастовка, землетрясение,
  наводнение, иные стихийные бедствия, пожар, сбои энергоснабжения, произошедшие не по вине Сторон, действия и
  акты органов власти, принятые после заключения Договора и делающие невозможным исполнение обязательств,
  установленных Договором, и другие непредвиденные обстоятельства и неподконтрольные сторонам события и явления,
  но не ограничиваясь указанным.
</p>

<p class="paragraph-13">
  12.5. Пользователь несет ответственность в полном объеме за:
</p>

<ul>
  <li>соблюдение всех требований законодательства, в том числе законодательства о рекламе, об интеллектуальной
    собственности, о конкуренции, но не ограничиваясь перечисленным, в отношении содержания
    и формы размещаемой информации;</li>
  <li>достоверность сведений, указанных им при регистрации в качестве Пользователя в системе и достоверность
    гарантий и заверений Пользователя, содержащихся в п.11 Оферты.</li>
</ul>

<p class="paragraph-13">
  12.6. Пользователь обязуется своими силами и за свой счет разрешать споры и урегулировать претензии третьих лиц
  в отношении информации Пользователя, в связи с ее размещением по Договору, либо возместить убытки
  (включая судебные расходы), причиненные Оператору в связи с претензиями и исками, основанием предъявления
  которых явилось размещение информации Пользователя по Договору. В случае если содержание, форма и/или размещение
  информации Пользователя по Договору явилось основанием для предъявления к Оператору предписаний по уплате штрафных
  санкций со стороны государственных органов, Пользователь обязуется незамедлительно по требованию Оператора
  предоставить ему всю запрашиваемую информацию, касающуюся размещения и содержания информации, содействовать Оператору
  в урегулировании предписаний, а также возместить все убытки (включая расходы по уплате штрафов), причиненные
  Оператору вследствие предъявления ему, предписаний в результате размещения информации Пользователя.
</p>

<p class="paragraph-13">
  12.7. В случае нарушения Пользователем условий Договора Оператор вправе приостановить оказание услуг до
  момента устранения Пользователем допущенных нарушений и возмещения (компенсации) причиненных Оператору
  таким нарушением убытков в полном объеме и/или расторгнуть Договор с направлением соответствующего уведомления
  Пользователю по адресу электронной почты Пользователя, указанному при регистрации в системе. При расторжении
  Договора по указанному основанию Оператор вправе путем удержания взыскать с Пользователя предъявленные
  в соответствии с Договором суммы неустоек и убытков.
</p>

<h1 class="contract__h1">13. ПРОЧИЕ УСЛОВИЯ</h1>

<p class="paragraph-13">
  13.1. Договор, его заключение и исполнение регулируется действующим законодательством Российской Федерации.
  Все вопросы, не урегулированные Офертой или урегулированные не полностью, регулируются в соответствии с
  материальным правом Российской Федерации. Если споры между Пользователем и Оператором в отношении Договора
  не разрешены путем переговоров Сторон, они подлежат рассмотрению в порядке, предусмотренном действующим
  законодательством в Арбитражном суде г. Санкт-Петербурга.
</p>

<p class="paragraph-13">
  13.2. В случае если одно или более положений Оферты являются по какой-либо причине недействительными, не
  имеющими юридической силы, такая недействительность не оказывает влияния на действительность любого
  другого положения Оферты (Договора), которые остаются в силе.
</p>

<p class="paragraph-13">
  13.3. Не вступая в противоречие с условиями Оферты, Оператор и Пользователь вправе в любое время оформить
  Договор на оказание Услуг в форме письменного двухстороннего документа.
</p>

<p class="paragraph-13">
  13.4. Оператор может предоставить Пользователю перевод настоящей Оферты с русского на другие языки,
  однако в случае несоответствия между условиями Оферты на русском языке и ее переводом, юридическую силу
  имеет исключительно русскоязычная версия Оферты.
</p>

<h1 class="contract__h1">14. РЕКВИЗИТЫ ОПЕРАТОРА</h1>

<p class="paragraph-13">
  <strong>ООО «АВЕРС»</strong><br/>
  Юридический адрес: 199106, г. Санкт-Петербург,  23 линия, д.2, литер А<br/>
  Место нахождения:    199106, г. Санкт-Петербург,  пл. Морской Славы д.1
</p>

<p class="paragraph-13">
  <strong>ИНН</strong>  7801382562<br/>
  <strong>КПП</strong> 780101001<br/>
  Расчетный счет № 40702810522070000506<br/>
  в Филиале «С-Петербургская дирекция<br/>
  ОАО «УралСиб»  г. Санкт-Петербург<br/>
  Корр./счет № 30101810800000000706,<br/>
  БИК 044030706<br/>
  ОКПО 76279720
</p>

<h1 class="contract__h1">ОФЕРТА О СОВМЕСТНОЙ ДЕЯТЕЛЬНОСТИ ПО  ОКАЗАНИЮ УСЛУГ «СИО МАРКЕТ»</h1>

<p class="paragraph-13">
  Российская Федерация, Санкт-Петербург.
</p>

<p class="paragraph-13">
  Настоящий документ представляет собой предложение Общества с ограниченной ответственностью «Аверс»
  (далее – «Оператор» или Участник 2) заключить Договор о совместной деятельности (Договор простого Товарищества)
  по оказанию Услуг «Сио Маркет» на изложенных ниже условиях.
</p>

<h1 class="contract__h1">1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h1>

<p class="paragraph-13">
  1.1 В целях настоящего документа нижеприведенные термины используются в следующем значении:
</p>

<p class="paragraph-13">
  <i>Оферта</i> - настоящий документ «Оферта на оказание услуг Сио Маркет, действующая редакция которого размещена
  в Интернете по адресу, указанному в п.9.1.
</p>

<p class="paragraph-13">
  <i>Площадка (Участник 1)</i> – юридическое лицо или частный предприниматель, резидент Российской Федерации,
  совершивший Акцепт Оферты и заключивший таким образом настоящий Договор с Оператором.
</p>

<p class="paragraph-13">
  <i>Акцепт Оферты</i> - полное и безоговорочное принятие Оферты Площадкой (Участником 1) путем осуществления действий,
  указанных в п 11.1.
</p>

<p class="paragraph-13">
  <i>Электронная информационная система Сио Маркет</i> – созданная, настраиваемая и изменяемая Оператором совокупность
  программных решений, оборудования и каналов связи, как собственных, так и полученных на законных основаниях от
  третьих лиц, обеспечивающая:
</p>

<ul>
  <li>технические возможности создание, редактирования и размещения информации Пользователя в электронном формате;</li>
  <li>техническую возможность просмотра размещенной Пользователем  информации на экранах мобильных телефонов,
    планшетов, компьютеров, подключенных к системе.</li>
</ul>

<p class="paragraph-13">
  <i>Пользователь</i> – юридическое лицо или частный предприниматель, резидент Российской Федерации, размещающий
  свою информацию в системе на основании договора с Оператором.
</p>

<p class="paragraph-13">
  <i>Информация пользователя</i> – файлы (изображения, тексты и др.), самостоятельно созданные Пользователем
  в системе с использованием технических возможностей системы и предназначенные для размещения.
</p>

<p class="paragraph-13">
  <i>Размещение информации</i> – самостоятельный выбор Пользователем мест просмотра  своей информации из списка,
  предлагаемого системой и с использованием технических возможностей системы.
</p>

<p class="paragraph-13">
  <i>Просмотр размещенной информации</i> - воспроизведение информации Пользователя на экранах мобильных телефонов,
    планшетов, компьютеров, в подключенных к системе.
</p>

<p class="paragraph-13">
  <i>Личный кабинет Участника 1 (Площадки) в системе</i> – персонализированный раздел системы с доступом по уникальной
  паре логин-пароль, обеспечивающий информирование Участника 1 о стоимости размещения информации Пользователей
  в сети Wi-Fi  Участника 1, о размещенной информации, о  состоянии счета Участника 1, и др. функции.
</p>

<p class="paragraph-13">
  <i>Счет Участника 1 (Площадки) в системе</i> –  раздел Личного кабинета Участника 1 (Площадки) отображающий состояние
  расчетов между Оператором (Участником 2) и Площадкой (Участником 1).
</p>

<p class="paragraph-13">
  <i>Сеть Участника 1 (Площадки)</i>  -  совокупность технических средств, принадлежащая Участнику 1 (Площадке) на
  законных основаниях, обеспечивающая подключение мобильных телефонов, планшетов, компьютеров к системе.
</p>

<h1 class="contract__h1">2. ПРЕДМЕТ ДОГОВОРА</h1>

<p class="paragraph-13">
  2.1. Вышеперечисленные Участники  настоящего простого Товарищества обязуются путем объединения имущества
  и усилий совместно действовать для достижения общей хозяйственной цели - получения прибыли от продажи мест
  для размещения информации в  электронной информационной системе Сио Маркет (далее - системе).
</p>

<p class="paragraph-13">
  2.2. Наименование создаваемого простого товарищества складывается из двух частей: слова «СиоM» и
  наименования Участника 1 (Площадки), заключающего настоящий Договор через Акцепт Оферты. Наименование
  простого товарищества отображается в Личном кабинете Участника 1 (Площадки) в системе.
</p>

<p class="paragraph-13">
  2.3. Настоящее   простое  товарищество  (далее  -  Товарищество)  не является юридическим лицом.
</p>

<p class="paragraph-13">
  2.4. Настоящее Товарищество создано не неопределенный срок.
</p>

<h1 class="contract__h1">3. ВКЛАДЫ УЧАСТНИКОВ В ОБЩЕЕ ИМУЩЕСТВО ТОВАРИЩЕСТВА</h1>

<p class="paragraph-13">
  3.1. Вклад Участника 1 (Площадки) оценивается Участниками Товарищества  в 70 (семьдесят) % имущества,
  внесенного в общее дело, и состоит из:
</p>

<ul>
  <li>Действующего оборудования сети Wi-Fi.</li>
  <li>Действующего доступа в Интернет со скоростью не менее 20 (двадцати) мегабайт в секунду.</li>
</ul>

<p class="paragraph-13">
  3.2. Вклад Участника 2 (Оператора)  оценивается Участниками Товарищества в  30 (тридцать) % имущества,
  внесенного в общее дело, и состоит из:
</p>

<ul>
  <li>Действующих программных кодов системы, обеспечивающих ее функции.</li>
  <li>Действующего серверного оборудования для обеспечения работоспособности системы.</li>
</ul>

<p class="paragraph-13">
  3.3. Права  Участника 2 (Оператора) на товарный знак Сио Маркет, исключительные и авторские права Участника 2
  (Оператора) на программные коды системы не являются имуществом, внесенным в общее дело, и полностью принадлежат
  Участнику 2 (Оператору).
</p>

<h1 class="contract__h1">4. ОБЩЕЕ ИМУЩЕСТВО ТОВАРИЩЕЙ</h1>

<p class="paragraph-13">
  4.1. Вклады Участников Товарищества внесены в общее дело в день заключения настоящего Договора.
</p>

<p class="paragraph-13">
  4.2. Участник  Товарищества не  вправе распоряжаться  долей  в  общем имуществе без согласия второго Участника
  Товарищества, за исключением той части доходов  от  совместной  деятельности,  которая поступает в
  распоряжение каждого из Участников.
</p>

<p class="paragraph-13">
  4.3. Каждый из Участников самостоятельно ведет бухгалтерский учет (включая налогообложение) своей доли в общем
  имуществе Товарищества и своей части доходов от совместной деятельности.
</p>

<p class="paragraph-13">
  4.4. Каждый из Участников самостоятельно несет бремя содержания (включая расходы и риски) своей доли в
  общем имуществе Товарищества.
</p>

<h1 class="contract__h1">5. ОТВЕТСВЕННОСТЬ И ВЕДЕНИЕ ОБЩИХ ДЕЛ УЧАСТНИКОВ ТОВАРИЩЕСТВА</h1>

<p class="paragraph-13">
  5.1. Участник 1 (Площадка) отвечает:
</p>

<ul>
  <li>За бесперебойную работу доступа в Интернет и  сети Wi-Fi.</li>
</ul>

<p class="paragraph-13">
  5.2.  Участник 2 (Оператор) отвечает:
</p>

<ul>
  <li>За бесперебойную работу системы.</li>
  <li>За привлечение Пользователей с целью размещения информации Пользователей в системе.</li>
  <li>За дальнейшее развитие системы и введение новых возможностей для размещения информации.</li>
</ul>

<p class="paragraph-13">
  5.3.  Участник 2 (Оператор) определяет тарифную политику системы, стоимость размещения информации в системе,
  ведет отношения с Пользователями и собирает платежи за размещение информации в системе.
</p>

<p class="paragraph-13">
  5.4. Руководство  совместной деятельностью Участников Товарищества, а
  также ведение  их общих  дел возлагается на  Участника 2 (Оператора).
</p>

<p class="paragraph-13">
  5.5. Участник  Товарищества, совершивший в общих интересах какие-либо
  действия, не  получив на  них  надлежащих  полномочий,  имеет  право  на
  возмещение произведенных  им из  своих средств  расходов по  делу лишь в
  случае последующего одобрения его действий вторым Участником.
</p>

<h1 class="contract__h1">6. ПРАВО УЧАСТНИКОВ НА ИНФОРМАЦИЮ</h1>

<p class="paragraph-13">
  6.1. Каждый Участник независимо от того, уполномочен ли он вести общие дела Товарищества,
  вправе знакомиться со всей документацией по ведению дел.
</p>

<h1 class="contract__h1">7. ОБЯЗАТЕЛЬСТВА И ПРАВА ОПЕРАТОРА (УЧАСТНИКА 2)</h1>

<p class="paragraph-13">
  <u>7.1. Оператор (Участник 2) обязуется</u>
</p>

<blockquote>
  <p class="paragraph-13">
    7.1.2. Предоставить  Площадке (Участнику 1) доступ Личному кабинету Участника 1 в системе и открыть счет
    Участника 1 в системе.
  </p>

  <p class="paragraph-13">
    7.1.3. Через Личный кабинет предоставлять Участнику 1 (Площадке) информацию о стоимости размещения информации
    Пользователей в сети Wi-Fi  Участника 1, о размещенной информации, о  состоянии счета Участника 1.
  </p>

  <p class="paragraph-13">
    7.1.4. Обеспечивать технические меры по защите системы от злонамеренных действий третьих лиц.
  </p>

  <p class="paragraph-13">
    7.1.5. Сохранять конфиденциальность данных Участника 1 (Площадки), указанных при регистрации в системе.
  </p>

  <p class="paragraph-13">
    7.1.6.  Своевременно перечислять Участнику 1 (Площадке) его часть доходов от совместной деятельности.
  </p>
</blockquote>

<p class="paragraph-13">
  <u>7.2. Оператор имеет право</u>
</p>

<blockquote>
  <p class="paragraph-13">
    7.2.1. По своему усмотрению вносить улучшающие  изменения и обновления в систему, в том числе в Личный
    Кабинет Участника 1 (Площадки), предлагать Пользователям новые услуги, новые возможности для отображения
    информации Пользователей.
  </p>

  <p class="paragraph-13">
    7.2.2. Информировать Участника 1 (Площадку) о внесении изменений/обновлений в систему, о включении новых
    возможностей системы и других фактах новостного характера.
  </p>
</blockquote>

<h1 class="contract__h1">8. ОБЯЗАТЕЛЬСТВА И ПРАВА  УЧАСТНИКА 1 (ПЛОЩАДКИ)</h1>

<p class="paragraph-13">
  <u>8.1.Участник 1 (Площадка) обязуется</u>
</p>

<blockquote>
  <p class="paragraph-13">
    8.1.1.   Обеспечить сохранность доступа к Личному кабинету от третьих лиц. Не предоставлять доступ к Личному
    кабинету третьим лицам, за исключением случаев, когда такой доступ согласован с Оператором и одобрен Оператором.
    Нести ответственность за любые действия любых лиц, совершаемые из Личного кабинета, как за свои собственные.
  </p>
</blockquote>

<p class="paragraph-13">
  <u>8.2. Участник 1 (Площадка)  имеет право</u>
</p>

<blockquote>
  <p class="paragraph-13">
    8.2.1. Получать сведения о стоимости размещения информации Пользователей и о просмотрах информации
    Пользователей в своей сети Wi-Fi.
  </p>
</blockquote>

<h1 class="contract__h1">9. РАСЧЕТЫ, РАСПРЕДЕЛЕНИЕ РЕЗУЛЬТАТОВ СОВМЕСТНОЙ ДЕЯТЕЛЬНОСТИ МЕЖДУ УЧАСТНИКАМИ</h1>

<p class="paragraph-13">
  9.1. Участник 2 (Оператор) создает Участнику 1 (Площадке) счет в системе, который отображает состояние
  расчетов между Оператором (Участником 2) и Площадкой (Участником 1).
</p>

<p class="paragraph-13">
  9.2. Стоимость услуг для Пользователей автоматически формируется системой и зависит от нижеперечисленных
  параметров, задаваемых (выбираемых)  Пользователем в пределах ограничений, накладываемых системой:
</p>

<ul>
  <li>площади, которую информация Пользователя занимает на экранах мобильных телефонов, планшетов, компьютеров;</li>
  <li>календарных сроков, в течение которых возможен просмотр информации;</li>
  <li>возможности или запрета просмотра информации в выходные дни и вечерние часы;</li>
  <li>иных параметров, которые могут вводиться Оператором по мере развития системы и с целью ее совершенствования.</li>
</ul>

<p class="paragraph-13">
  9.3. Прибыль, полученная Участниками в результате их совместной деятельности, распределяется пропорционально
  стоимости вкладов в общее дело:
</p>

<ul>
  <li>Участник 1 (Площадка)  имеет право на 70 (семьдесят) % доходов.</li>
  <li>Участник 2 (Оператор) имеет право на 30 (тридцать) % доходов.</li>
</ul>

<p class="paragraph-13">
  9.4.  Информация о поступлении средств на счет Участника 1 (Площадки) постоянно находится в
  Личном кабинете Участника 1 (Площадки).
</p>

<p class="paragraph-13">
  9.5. Ежемесячно, в последний день отчетного периода, и/или по завершении оказания услуг по настоящему Договору
  либо по счету Участника 1 (Площадки) в системе, Оператор формирует односторонний Акт о перечисленных на счет
  Участника 1 (Площадки) средствах. Акт высылается на почтовый адрес  Участника 1 и/или становится доступен для
  скачивания в Личном кабинете Участника 1 в день формирования.
</p>

<p class="paragraph-13">
  9.6.  Если иное не согласовано между Оператором (Участником 2) и Площадкой (Участником 1), в тот же день
  Оператор (Участник 2) перечисляет Площадке (Участнику 1) его долю доходов за отчетный период. Перечисление
  средств производится по банковским реквизитам, указанным Участником 2 (Площадкой) в Личном кабинете в системе.
</p>

<p class="paragraph-13">
  9.6.  Претензии по существу Акта принимаются в течение 10 (десяти) календарных дней, следующих после даты
  формирования Акта.  По истечении данного срока претензии не предъявляются и не рассматриваются.
</p>

<p class="paragraph-13">
  9.7. Все расчеты по настоящему Договору ведутся в российских рублях.
</p>

<h1 class="contract__h1">10. НАПРАВЛЕНИЕ УВЕДОМЛЕНИЙ</h1>

<p class="paragraph-13">
  10.1.  Все извещения по настоящему Договору Стороны направляют в письменном виде.
</p>

<p class="paragraph-13">
  10.2. Стороны договорились о следующих способах направления уведомлений:
</p>

<ul>
  <li>по факсу;</li>
  <Li>почтой с уведомлением о вручении или курьерской службой с подтверждением доставки;</Li>
  <li>через Интернет, в соответствии с п. п. 10.3, 10.4 настоящего Договора.</li>
</ul>

<p class="paragraph-13">
  10.3. Уведомления Оператора (Участника 2) отображаются в Личном кабинете Участника 1 (Площадки) и дублируются
  на адрес электронной почты Участника 1, указанный в форме регистрации Участника 1 в его Личном кабинете.
</p>

<p class="paragraph-13">
  10.4. Уведомления Участника 1 (Площадки) направляются Оператору (Участнику 2) через специальную форму связи
  с Оператором, которая находится в Личном кабинете Участника 1 (Площадки).
</p>

<p class="paragraph-13">
  10.5. Стороны обязуются своевременно знакомиться с уведомлениями. Несвоевременное знакомство с уведомлением
  не является уважительной причиной для нарушения каких-либо условия настоящего Договора.
</p>

<p class="paragraph-13">
  10.6. Стороны обязуются использовать установленные для отправки уведомлений способы связи исключительно
  в целях настоящего Договора. Рассылка спама, рекламы, посторонней информации не допускается.
</p>

<h1 class="contract__h1">11. АКЦЕПТ ОФЕРТЫ И ЗАКЛЮЧЕНИЕ ДОГОВОРА</h1>

<p class="paragraph-13">
  11.1. Участник 1 (Площадка) подтверждает полное и безоговорочное принятие Оферты из своего Личного
  кабинета в системе. С момента такого подтверждения. Акцепт Оферты считается совершенным Участником 1 (Площадкой),
  а настоящий Договор заключенным  между Участником 1 (Площадкой) и Участником 2 (Оператором).
</p>

<h1 class="contract__h1">12. СРОК ДЕЙСТВИЯ И ИЗМЕНЕНИЕ УСЛОВИЙ ОФЕРТЫ И ДОГОВОРА</h1>

<p class="paragraph-13">
  12.1. Оферта вступает в силу с момента размещения в сети Интернет и действует до момента отзыва
  Оферты Участником 2 (Оператором).
</p>

<p class="paragraph-13">
  12.2. Участник 2 (Оператор)  оставляет за собой право внести изменения в условия Оферты и/или отозвать
  Оферту в любой момент по своему усмотрению. В случае внесения Оператором изменений в Оферту, такие изменения
  вступают в силу с момента размещения измененного текста Оферты в сети Интернет по указанному в п. 12.1. адресу,
  если иной срок вступления изменений в силу не определен дополнительно при таком размещении.
</p>

<p class="paragraph-13">
  12.3. Участник 1 (Площадка) соглашается и признает, что внесение изменений в Оферту влечет за собой
  внесение этих изменений в заключенный и действующий между Участником 1 (Площадкой) и Участником 2 (Оператором)
  Договор, и эти изменения в Договор вступают в силу одновременно с такими изменениями в Оферту.
</p>

<p class="paragraph-13">
  12.4. Если Участник 1 (Площадка) не согласен с изменениями, внесенными в Оферту, он вправе расторгнуть Договор
  с направлением соответствующего письменного извещения Участнику 2 (Оператору).
</p>

<p class="paragraph-13">
  12.5. В случае отзыва Оферты Участником 2 (Оператором) в течение срока действия Договора, Договор считается
  прекращенным с момента отзыва, если иное не оговорено Оператором при отзыве Оферты.
</p>

<h1 class="contract__h1">13. РАСТОРЖЕНИЕ ДОГОВОРА</h1>

<p class="paragraph-13">
  13.1.  Настоящий Договор может быть расторгнут:
</p>

<ul>
  <li>по соглашению Сторон в любое время;</li>
  <li>по инициативе любой из Сторон в случае неоднократного нарушения другой Стороной условий Договора с
    письменным уведомлением другой Стороны;</li>
  <li>по иным основаниям, предусмотренным настоящей Офертой.</li>
</ul>

<p class="paragraph-13">
  13.2. Требование о прекращении Договора должно быть направлено не позднее чем за 3 (три) месяца
  до даты прекращения Договора.
</p>

<p class="paragraph-13">
  13.3. При л.бом прекращении Договора по п 13.1 имущество, вложенное в общее дело, возвращается Участникам
  по принадлежности в том виде, в каком оно есть, без каких-либо компенсаций за износ.
</p>

<h1 class="contract__h1">14. ГАРАНТИИ</h1>

<p class="paragraph-13">
  14.1. В течение срока действия Договора Участник 2 (Оператор) предпримет все усилия для устранения каких-либо
  сбоев и ошибок в работе системы, в случае их возникновения, в минимально необходимые сроки.
  При этом Участник 2 (Оператор) не гарантирует отсутствия ошибок и сбоев.
</p>

<p class="paragraph-13">
  14.2. За исключением гарантий, прямо указанных в тексте Оферты, Участник 2 (Оператор) не предоставляет
  никаких иных прямых или подразумеваемых гарантий по Договору и прямо отказывается от каких-либо гарантий или условий.
</p>

<p class="paragraph-13">
  14.3. Соглашаясь с условиями и принимая условия настоящей Оферты путем Акцепта Оферты,
  Участник 1 (Площадка или представитель Площадки, в том числе физическое лицо, должным образом
  уполномоченное заключить Договор от лица Площадки) заверяет Участника 2 (Оператора) и гарантирует
  Участнику 2 (Оператору), что:
</p>

<blockquote>
  <p class="paragraph-13">
    14.3.1. Участник 1 (Площадка, представитель Площадки) указал полные и достоверные данные
    Участника 1 (Площадки, представителя Площадки) при регистрации в системе.
  </p>

  <p class="paragraph-13">
    14.3.2. Участник 1 заключает Договор добровольно, при этом Участник 1 (Площадка, представитель Площадки):
  </p>

  <ul>
    <li>полностью ознакомился с условиями Оферты;</li>
    <li>полностью понимает предмет Оферты и Договора;</li>
    <li>полностью понимает значение и последствия своих действий в отношении заключения и исполнения Договора.</li>
  </ul>

  <p class="paragraph-13">
    14.3.3.	Участник 1 (Площадка, представитель Площадки) обладает всеми правами и полномочиями,
    необходимыми для заключения и исполнения Договора.
  </p>

  <p class="paragraph-13">
    14.3.4.	 Участник 1 (Площадка) является налоговым резидентом Российской Федерации.
  </p>
</blockquote>

<h1 class="contract__h1">15. ОТВЕТСТВЕННОСТЬ И ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h1>

<p class="paragraph-13">
  15.1. За нарушение условий Договора Стороны несут ответственность, установленную Договором
  и/или действующим законодательством РФ.
</p>

<p class="paragraph-13">
  15.2. Участник 2 (Оператор) ни при каких обстоятельствах не несет никакой ответственности по Договору за:
</p>

<ul>
  <li>какие-либо действия/бездействие, являющиеся прямым или косвенным результатом действий/бездействия
    Участника 1 (Площадки) и/или третьих лиц;</li>
  <li>какие-либо косвенные убытки и/или упущенную выгоду Участника 1 (Площадки) и/или третьих лиц вне
    зависимости от того, мог Оператор предвидеть возможность таких убытков или нет;</li>
  <li>использование (невозможность использования) и какие бы то ни было последствия использования
    (невозможности использования) Участником 1 (Площадкой) выбранной им формы вывода средств со счета
    в системе, а равно использование/невозможность использования Участником 1 (Площадкой) и/или третьими
    лицами любых средств и/или способов передачи/просмотра информации.</li>
</ul>

<p class="paragraph-13">
  15.3. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему
  Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, которые возникли после
  заключения Договора, либо если неисполнение обязательств Сторонами по Договору явилось следствием событий
  чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить разумными мерами.
  К обстоятельствам непреодолимой силы относятся события, на которые Сторона не может оказывать влияния и за
  возникновение которых она не несет ответственности, в том числе: война, восстание, забастовка, землетрясение,
  наводнение, иные стихийные бедствия, пожар, сбои энергоснабжения, произошедшие не по вине Сторон, действия и
  акты органов власти, принятые после заключения Договора и делающие невозможным исполнение обязательств,
  установленных Договором, и другие непредвиденные обстоятельства и неподконтрольные сторонам события и явления,
  но не ограничиваясь указанным.
</p>

<h1 class="contract__h1">16. ПРОЧИЕ УСЛОВИЯ</h1>

<p class="paragraph-13">
  16.1. Договор, его заключение и исполнение регулируется действующим законодательством Российской Федерации.
  Все вопросы, не урегулированные Офертой или урегулированные не полностью, регулируются в соответствии с
  материальным правом Российской Федерации. Если споры между Участником 1 (Площадкой) и Участником 2 (Оператором)
  в отношении Договора не разрешены путем переговоров Сторон, они подлежат рассмотрению в порядке, предусмотренном
  действующим законодательством в Арбитражном суде г. Санкт-Петербурга.
</p>

<p class="paragraph-13">
  16.2. В случае если одно или более положений Оферты являются по какой-либо причине недействительными,
  не имеющими юридической силы, такая недействительность не оказывает влияния на действительность любого другого
  положения Оферты (Договора), которые остаются в силе.
</p>

<p class="paragraph-13">
  16.3. Не вступая в противоречие с условиями Оферты, Участник 2 (Оператор) и Участник 1 (Площадка) вправе в
  любое время оформить Договор о совместной деятельности по  оказанию услуг Сио Маркет в форме письменного
  двухстороннего документа.
</p>

<p class="paragraph-13">
  16.4. Участник 2 (Оператор) может предоставить Участнику 1 (Площадке) перевод настоящей Оферты с русского
  на другие языки, однако в случае несоответствия между условиями Оферты на русском языке и ее переводом,
  юридическую силу имеет исключительно русскоязычная версия Оферты.
</p>

<h1 class="contract__h1">17. РЕКВИЗИТЫ УЧАСТНИКА 1 (ОПЕРАТОРА)</h1>

<p class="paragraph-13">
  <strong>ООО «АВЕРС»</strong><br/>
  Юридический адрес: 199106, г. Санкт-Петербург,  23 линия, д.2, литер А<br/>
  Место нахождения:    199106, г. Санкт-Петербург,  пл. Морской Славы д.1
</p>

<p class="paragraph-13">
  <strong>ИНН</strong>  7801382562<br/>
  <strong>КПП</strong> 780101001<br/>
  Расчетный счет № 40702810522070000506<br/>
  в Филиале «С-Петербургская дирекция<br/>
  ОАО «УралСиб»  г. Санкт-Петербург<br/>
  Корр./счет № 30101810800000000706,<br/>
  БИК 044030706<br/>
  ОКПО 76279720
</p>