@()(implicit ctx: Context)

<p class="paragraph-13">
  Российская Федерация, Санкт-Петербург.
</p>

<p class="paragraph-13">
  Настоящий документ представляет собой предложение Общества с ограниченной ответственностью «Аверс»
  (далее – «Оператор») заключить Договор на оказание Услуг «Сио Маркет » на изложенных ниже условиях.
</p>

<h1 class="contract__h1">1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h1>

<p class="paragraph-13">
  1.1 В целях настоящего документа нижеприведенные термины используются в следующем значении:
</p>

<p class="paragraph-13">
  <i>Оферта</i> - настоящий документ «Оферта на оказание услуг Сио Маркет, действующая редакция которого размещена
  в Интернете по адресу, указанному в п.9.1.
</p>

<p class="paragraph-13">
  <i>Пользователь</i> – юридическое лицо или частный предприниматель,  резидент Российской Федерации,
  совершивший Акцепт Оферты и заключивший таким образом настоящий Договор с Оператором.
</p>

<p class="paragraph-13">
  <i>Акцепт Оферты</i> - полное и безоговорочное принятие Оферты Пользователем путем осуществления действий, указанных
  в п. 8.1.
</p>

<p class="paragraph-13">
  <i>Электронная информационная система Сио Маркет</i> – созданная, настраиваемая и изменяемая Оператором совокупность
  программных решений, оборудования и каналов связи, как собственных, так и полученных на законных основаниях от
  третьих лиц, обеспечивающая:
</p>

<ul>
  <li>технические возможности создание, редактирования и размещения информации Пользователя в электронном формате;</li>
  <li>техническую возможность просмотра размещенной Пользователем  информации на экранах мобильных телефонов, планшетов,
  компьютеров, подключенных к системе.</li>
</ul>

<p class="paragraph-13">
  <i>Информация пользователя</i> – файлы (изображения, тексты и др.), самостоятельно созданные Пользователем в системе с
  использованием технических возможностей системы и предназначенные для размещения.
</p>

<p class="paragraph-13">
  <i>Размещение информации</i> – самостоятельный выбор Пользователем мест просмотра  своей информации из списка,
  предлагаемого системой и с использованием технических возможностей системы.
</p>

<p class="paragraph-13">
  <i>Просмотр размещенной информации</i> - воспроизведение информации Пользователя на экранах мобильных телефонов,
  планшетов, компьютеров, в подключенных к системе в местах, выбранных Пользователем.
  Счет Пользователя в системе – раздел системы, отображающий состояние расчетов между Пользователем и Оператором.
</p>

<h1 class="contract__h1">2. ПРЕДМЕТ ДОГОВОРА</h1>

<p class="paragraph-13">
  2.1. Оператор предоставляет, а  Пользователь оплачивает следующие услуги  Сио Маркет (далее – услуги):
</p>

<ul>
  <li>технические возможности (далее - Личный кабинет) для создания, редактирования и  размещения информации
    Пользователя (далее – информации) в электронной информационной системе (далее – системе) Сио Маркет;</li>
  <li>техническую возможность просмотра размещенной Пользователем  информации на экранах мобильных телефонов,
    планшетов, компьютеров, подключенных к системе.</li>
</ul>

<p class="paragraph-13">
  2.2.  Предоставление услуг производится на условиях настоящего Договора.
</p>

<h1 class="contract__h1">3.УСЛОВИЯ ОКАЗАНИЯ УСЛУГ</h1>

<p class="paragraph-13">
  3.1. Пользователь самостоятельно создает и редактирует свою информации в системе – в пределах технических
  возможностей, предоставленных через Личный кабинет.
</p>

<p class="paragraph-13">
  3.2. Пользователь самостоятельно обеспечивает соответствие информации, размещаемой в системе, техническим
  требованиям системы, которые представлены в Личном кабинете Пользователя.
</p>

<p class="paragraph-13">
  3.3. Пользователь самостоятельно производит размещение своей информации, выбирая места для ее возможного
  просмотра из списков, предлагаемых системой.
</p>

<p class="paragraph-13">
  3.4.  Не допускается размещение информации:
</p>

<ul>
  <li>недостоверной;</li>
  <li>не соответствующей техническим требованиям системы;</li>
  <li>противоречащей требованиям законодательства;</li>
  <li>нарушающей авторские и иные права третьих лиц;</li>
  <li>противоречащей нормам морали и нравственности;</li>
  <li>содержащую явные ошибки или признаки злонамеренного размещения;</li>
  <li>содержащую ссылки на интернет-сайты, противоречащие требованиям законодательства, или нарушающие
    авторские и иные права третьих лиц, или противоречащие нормам морали и нравственности.</li>
</ul>