@(eAct: EmailActivation)(implicit ctx: Context)

@* html-письмо восстановления пароля. Отправляется юзеру, когда тот просит восстановить пароль. *@
@import ctx._

<p>Здравствуйте!</p>

<p>Поисковый сервис Suggest.io получил запрос на восстановление утраченного пароля к вашей учетной записи:</p>
<ul>
  <li><strong>@eAct.email</strong></li>
</ul>

<p>Если вы не делали запроса, просто удалить это сообщение. Если вам необходимо восстановить пароль,
   воспользуйтесь <a href="@ctx.myAudienceUrl@routes.Ident.recoverPwReturn(eAct.id.get)">этой ссылкой</a>.</p>

<p>Если у вас не открывается ссылка, скопируйте нижеследующую ссылку в строку адреса вашего браузера<br/>
@ctx.myAudienceUrl@routes.Ident.recoverPwReturn(eAct.id.get)</p>

<p>Это сообщение отправлено автоматически. Пожалуйста, не отвечайте на него.</p>
