@(email: String)(implicit ctx: Context)

@* Страница отображается, когда юзер засабмиттил форму восстановления пароля. *@
@import ctx._

<div class="success-label">
  <div class="success-label__icon"></div>
  <div class="success-label__title"> Запрос на восстановление одобрен</div>
</div>

<p style="margin: 18px 0 18px 70px;">
  На адрес <strong>@email</strong> будет отправлено письмо, содержащее ссылку для восстановления пароля.
  Проверьте ваш почтовый ящик.
</p>

<div class="recover-popup__submit-wrap">

  <a class="siom-ac-btn __color-2 __size-M __ft-XM js-remove-popup">
    Ок
  </a>

</div>