@(eAct: usr.EmailActivation, prf: Form[_], adnNodes: Seq[MAdnNode])(implicit ctx: Context)

@* Страница с формой сброса пароля. Содержит форму для задания и подтверждения пароля. *@
@import ctx._
@import helper._
@import market._
@import util.FC.radialFc

@popupContent = {

  <div class="popup js-popup __index" id="newPasswordForm">

    <div class="popup_header __index">
      <a class="popup_close f-right icon-icomoon js-close-popup"></a>
    </div>

    @form(routes.Ident.pwResetSubmit(eAct.id.get), 'id -> "pwResetPasswordForm") {
      <div class="popup_cnt __index">

        <div class="popup_t __index">
          Новый пароль
        </div>

        @inputPassword(
          prf("pw1"),
          '_label -> Messages("Type.new.password"),
          'placeholder -> Messages("Type.new.password")
        )
        @inputPassword(
          prf("pw2"),
          '_label -> Messages("Confirm.new.password"),
          'placeholder -> Messages("Confirm.new.password")
        )

      </div>

      <div class="popup_footer __index">

        <div class="btn-w __size-M">
          <input class="siom-new-btn __size-XS __fill-1" type="submit" value='@Messages("Save")'/>
        </div>

      </div>
    }
  </div>

}

@marketBase(Messages("Password.reset"), popupContent = Some(popupContent)) {

  @_indexTpl(adnNodes)

}

