@()(implicit ctx: Context)

@import market._

@* Страница сообщает о проблеме при восстановлении пароля. *@

@popupContent = {

  <div class="popup js-popup __index" id="newPasswordForm">

    <div class="popup_header __index">
      <a class="popup_close f-left js-close-popup"></a>
    </div>

    <div class="popup_cnt __index-fix">

      <div class="popup_t __index">
        Ошибка
      </div>

      <div class="error-icon popup_error-icon"></div>

      <p class="block __margin-M __text-C">
        Ключ восстановления истёк<br/>или уже использован. Невозможно продолжить восстановление пароля.
      </p>

      <p class="block __margin-M __text-C">
        <a class="js-btn link" href="@routes.Ident.recoverPwForm">Восстановить пароль?</a>
      </p>

    </div>

  </div>

}

@marketBase(Messages("Password.reset"), popupContent = Some(popupContent)) {

  @_indexTpl()

}


