@(eAct: EmailActivation, prf: Form[_])(implicit ctx: Context)

@* Страница с формой сброса пароля. Содержит форму для задания и подтверждения пароля. *@
@import ctx._
@import helper._
@import market._
@import util.FC.divFc

@popupContent = {

  <div class="popup" id="newPasswordForm">

    <div class="hat">
      <a class="close" href="#">&nbsp;</a>
    </div>

    <div class="content recover-popup__content">

      <div class="popup-title popup-title_without_padding">
        НОВЫЙ ПАРОЛЬ
      </div>

      @form(routes.Ident.pwResetSubmit(eAct.id.get), 'id -> "pwResetPasswordForm") {

        @inputPassword(
          prf("pw1"),
          '_label -> Messages("Type.new.password")
        )
        @inputPassword(
          prf("pw2"),
          '_label -> Messages("Confirm.new.password")
        )


        <div class="login-popup__submit-wrap">

          <a class="siom-ac-btn __color-2 __size-M __ft-XM js-submit-btn">
            @Messages("Save")
          </a>

        </div>
      }

    </div>

  </div>

}

@marketBase(Messages("Password.reset"), popupContent = Some(popupContent)) {

  @_indexTpl()

}

