@()(implicit ctx: Context)

@import market._

@* Страница сообщает о проблеме при восстановлении пароля. *@

@popupContent = {

<div class="popup __index" id="newPasswordForm">

  <div class="popup_header __index">
    <a class="close f-right js-close-popup" href="#">&nbsp;</a>
  </div>

  <div class="popup_cnt __with-label __index">

    <div class="popup_t">
      НОВЫЙ ПАРОЛЬ
    </div>

    <div class="error-label __position-def">
      <div class="error-label_icon"></div>
      <div class="error-label_title">Ошибка</div>
    </div>

    <p class="paragraph __size-M">
      Ключ восстановления истёк или уже использован. Невозможно продолжить восстановление пароля.
    </p>

    <p class="paragraph __size-M">
      <a class="js-btn blue-link" href="@routes.Ident.recoverPwForm">Восстановить пароль?</a>
    </p>

  </div>

</div>

}

@marketBase(Messages("Password.reset"), popupContent = Some(popupContent)) {
}


