@(eAct: EmailActivation, prf: Form[_])(implicit ctx: Context)

@* Страница с формой сброса пароля. Содержит форму для задания и подтверждения пароля. *@
@import ctx._
@import helper._
@import market._
@import util.FC.divFc

@popupContent = {

  <div class="popup" id="newPasswordForm">

    <div class="hat">
      <a class="close" href="#">&nbsp;</a>
    </div>

    <div class="content recover-popup__content">

      <div class="popup-title popup-title_without_padding">
        НОВЫЙ ПАРОЛЬ
      </div>

      @form(routes.Ident.pwResetSubmit(eAct.id.get), 'id -> "pwResetPasswordForm") {

        @inputPassword(
          prf("pw1"),
          '_label -> Messages("Type.new.password")
        )
        @inputPassword(
          prf("pw2"),
          '_label -> Messages("Confirm.new.password")
        )


        <div class="login-popup__submit-wrap">

          <a class="siom-ac-btn __color-2 __size-M __ft-M js-submit-btn">
            @Messages("Save")
          </a>

        </div>
      }

    </div>

  </div>

}

@marketBase(Messages("Password.reset"), popupContent = Some(popupContent)) {


  <div class="header-wrap wave-pattern header-wrap_responsive-mode">

    <div class="center header_responsive-mode">

      @if(ctx.isAuth) {
      @* Юзер залогинен. Нужно отобразить кнопку на его ЛК. *@
      <a href="@routes.Ident.rdrUserSomewhere" class="simple-green-btn f-right login-page_enter_btn">
        @ctx.usernameOpt.getOrElse(Messages("username.unknown"))
      </a>
      } else {
      <a href="#emailPwLoginForm" class="simple-green-btn f-right login-page_enter_btn js-btn">Вход</a>
      }

    </div>

  </div>

  <div class="body-wrap wave-pattern body-wrap_responsive-mode">

    <div class="body wave-pattern body_responsive-mode">

      <div class="login-page_content">

        <a href="@routes.MarketLk.lkIndex" class="login-page__logo"></a>

        <a href="@routes.Market.aboutMarket" class="simple-green-btn simple-green-btn_logo-mode" style="margin-top: 30px;">
          <span class="btn"></span>
          Как это работает?
        </a>

        <div class="login-page__join-adv">
          <a href="@routes.MarketJoin.joinAdvRequest" class="siom-ac-btn __color-2 __size-XL __ft-L">
            РАЗМЕСТИТЬ РЕКЛАМУ
          </a>
        </div>

        <div class="login-page__join-wifi">
          <a href="@routes.MarketJoin.wifiJoinQuestionsForm()" class="siom-ac-btn __color-1 __size-XL __ft-L">
            СТАТЬ УЧАСТНИКОМ СЕТИ
          </a>
        </div>

        <div class="login-page__wifi_block">

          <div class="wifi-icon"></div>
          <p>
            Новое рекламное пространство
          </p>

        </div>

      </div>

    </div>

  </div>

}

