@(rf: Form[_])(implicit ctx: util.Context)

@* Страница с формой логина. *@
@import ctx._
@import helper._


@import util.FormHelpersNew._


<div class="popup recover-popup" id="recoverPwForm">

  <div class="hat">
    <a href="#emailPwLoginForm" class="popup__back-btn f-left js-popup-back"></a>
    <a class="close" href="#">&nbsp;</a>
  </div>

  <div class="content recover-popup__content">

    <div class="popup-title popup-title_recover-popup">
      ВОССТАНОВИТЬ ПАРОЛЬ
    </div>


    @form(routes.Ident.recoverPwFormSubmit) {
      @inputText(
        rf("email"),
        '_label -> "Электронная почта, указанная при регистрации:"
      )


      <div class="recover-popup__submit-wrap">

        <div class="blue-btn-new js-submit-wrap">
          <span class="btn"></span>
          <input type="submit" value="Отправить"/>
        </div>

      </div>

    }

  </div>

</div>
