@(rf: Form[_])(implicit ctx: Context)

@* Страница с формой логина. *@
@import ctx._
@import helper._
@import controllers.Ident.{CAPTCHA_ID_FN, CAPTCHA_TYPED_FN}
@import io.suggest.util.StringUtil.randomId
@import util.FC.radialFc


<div class="popup js-popup __index" id="recoverPwForm">

  <div class="popup_header __index">
    @*<a href="#emailPwLoginForm" class="popup__back-btn f-left js-popup-back"></a>*@
    <a class="popup_close f-right icon-icomoon js-close-popup" href="#"></a>
  </div>

  @* CSRF: На момент, когда защита сюда втыкалась, эта форма сабмиттилась только через XHR,
     поэтому токен фактически не проверялся.
     CSRF-токен начнёт работать, когда наконец появится поддержка отдельной страницы для рековера. *@
  @form(CSRF(routes.Ident.recoverPwFormSubmit), 'class -> "recover-popup__content__form") {
    <div class="popup_cnt __index">

      <div class="popup_t __index">
        Восстановить пароль
      </div>

      @inputText(
        rf("email"),
        '_label -> "Электронная почта, указанная при регистрации:",
        'placeholder -> "Электронная почта, указанная при регистрации",
        'type -> "email"
      )

      @* Капча *@
      <div class="captcha">
        @defining( rf(CAPTCHA_ID_FN).value.filter(!_.isEmpty).getOrElse(randomId(6, ctx.PRNG)) ) { captchaId =>
        <input id="captchaId" type="hidden" name="captchaId" value="@captchaId"/>
        <img class="captcha_img" id="captchaImage" src="@routes.Captcha.getCaptcha(captchaId)" alt=""/>
        <a class="captcha_reload-btn" id="captchaReload" href=""></a>
        }
      </div>

      @inputText(
        rf(CAPTCHA_TYPED_FN),
        '_label -> Messages("Input.text.from.picture"),
        'placeholder -> "Введите текст с картинки"
      )

    </div>

    <div class="popup_footer __index">
      <div class="btn-w __size-M">
        <a class="siom-new-btn __size-XS __color-2 js-popup-back" href="#emailPwLoginForm">Назад</a>
        <input class="siom-new-btn __size-XS __fill-1 __list" type="submit" value='Отправить'/>
      </div>
    </div>

  }

</div>
