@(rf: Form[_])(implicit ctx: util.Context)

@* Страница с формой логина. *@
@import ctx._
@import helper._
@import controllers.Ident.{CAPTCHA_ID_FN, CAPTCHA_TYPED_FN}
@import io.suggest.util.StringUtil.randomId
@import util.FC.divFc


<div class="popup __join" id="recoverPwForm">

  <div class="popup_header">
    <a href="#emailPwLoginForm" class="popup__back-btn f-left js-popup-back"></a>
    <a class="close f-right js-close-popup" href="#">&nbsp;</a>
  </div>

  <div class="popup_cnt">

    <div class="popup_t">
      ВОССТАНОВИТЬ ПАРОЛЬ
    </div>


    @form(routes.Ident.recoverPwFormSubmit, 'class -> "recover-popup__content__form") {
      @inputText(
        rf("email"),
        '_label -> "Электронная почта, указанная при регистрации:"
      )


      @* Капча *@
      <table class="captcha-table">
        <tr>

          <td class="captcha-table_left">
            @inputText(
            rf(CAPTCHA_TYPED_FN),
            '_label -> Messages("Input.text.from.picture")
            )
          </td>

          <td class="captcha-table_right">
            @defining( rf(CAPTCHA_ID_FN).value.filter(!_.isEmpty).getOrElse(randomId(6, ctx.PRNG)) ) { captchaId =>
              <input id="captchaId" type="hidden" name="captchaId" value="@captchaId"/>
              <div class="captcha">
                <img class="captcha-table_image captcha_image" id="captchaImage" src="@routes.Captcha.getCaptcha(captchaId)" alt=""/>
                <a id="captchaReload" class="captcha-reload-btn" href=""></a>
              </div>
            }
          </td>

        </tr>
      </table>


      <div class="submit-w __size-L">

        <a class="siom-ac-btn __color-2 __size-M __ft-XM js-submit-btn">
          Отправить
        </a>


      </div>

    }

  </div>

</div>
