@(bf: util.blocks.IntValueEnumBlockSizeBf, bfNameBase: String, af: Form[_], bc: BlockConf, inputId: String, name: String, i18nCode: String)(implicit ctx: Context)

@* Шаблон для width и height-полей. *@

@import ctx.messages

<label class="block-height-editor_label">@messages(i18nCode)</label>

<div class="block-height-editor js-block-height-editor">

  <div class="block-height-editor_btn __decrease js-block-@name-editor-button" data-change-direction="decrease"></div>
  <div class="block-height-editor_btn __increase js-block-@name-editor-button" data-change-direction="increase"></div>

  @defining( af(bfNameBase) ) { formField =>
    <input type="hidden" name="@formField.name" id="@inputId"
           value="@formField.value.orElse(bf.defaultValue)"
           @* data-min-аттрибуты не нужны новому js. Можно удалить после выпиливания adForm из mx_cof.js.  *@
           data-min-value="@bf.availableValsMin.value" data-max-value="@bf.availableValsMax.value"/>
  }

</div>
