@(lf: usr.EmailPwLoginForm_t, rr: Option[String])(implicit ctx: Context)

@* Форма логина на странице. *@

@import helper._
@import ctx._
@import util.FC.authFc

@form(CSRF( routes.Ident.emailPwLoginFormSubmit(rr) )) {

  @lf.globalError.map { ge =>
    <p class="error-msg">Ошибка: @Messages(ge.message)</p>
  }

  @inputText(
    lf("email"),
    '_label -> "E-mail:",
    'placeholder -> "E-mail",
    'type -> "email"
  )

  @inputPassword(
    lf("password"),
    '_label -> "Пароль:",
    'placeholder -> "Пароль"
  )

  <a class="auth-page_recover-password auth-page_link" href="@routes.Ident.recoverPwForm">Забыли<br/>пароль?</a>

  @checkbox(
    lf("remember_me"),
    '_text -> "Запомнить меня"
  )

  <div class="btn-w __size-M">
    <input class="btn __size-M1 __major" type="submit" value="Войти" />
  </div>

}
