@(columns: Seq[Html])(implicit ctx: Context)

@* Начальная страница для юзера, заходящего на my.suggest.io: логин или регистрация на одной странице.
   Страница по дефолту отображает обе колонки, но это не обязательно.
   Если одна из форм не передана контроллером, то оставшаяся колонка должна отображаться по центру. *@

@identBase("Вход") {


  @* Сюда приходят отрендеренные колонки. Нужно их расположить как-то на экране. *@
  <div class="body __responsive auth-page">

    <div class="body_cnt __responsive" id="centerContent">

      <a class="index-page_logo-link auth-page_logo-icon" href="@routes.Ident.mySioStartPage" >
        <img src='/assets/images/market/registration/logo-icon_retina.png'/>
      </a>

      <br/>

      <a class="index-page_logo-link auth-page_logo-text" href="@routes.Ident.mySioStartPage" >
        <img src='/assets/images/market/registration/logo-text_retina.png'/>
      </a>

      <div class="auth-page_column-lst">
        @columns
      </div>

    </div>

  </div>

}
