@()(implicit ctx: Context)

@import util.cdn.CdnUtil

@* Хз, насколько надежно html-compressor пропускает этот коммент. Вроде пока работает. *@
<!--[if IE]>
<link href="@CdnUtil.asset("images/icons/114.ico")" rel="shortcut icon" type="image/vnd.microsoft.icon" />
<![endif]-->

<link rel="shortcut icon" href="@CdnUtil.asset("images/icons/114.ico")" />

<link href="@CdnUtil.asset("images/icons/57.png")" rel="apple-touch-icon" sizes="57x57" type="image/png" />
<link href="@CdnUtil.asset("images/icons/72_ios.png")" rel="apple-touch-icon" sizes="72x72" type="image/png" />
<link href="@CdnUtil.asset("images/icons/114_ios.png")" rel="apple-touch-icon" sizes="114x114" type="image/png" />
<link href="@CdnUtil.asset("images/icons/144_ios.png")" rel="apple-touch-icon" sizes="144x144" type="image/png" />

<link href="@CdnUtil.asset("images/icons/228.png")" rel="icon" sizes="228x228" type="image/png" />

@* windows 8+ metro: *@
<meta name="msapplication-TileImage" content="@CdnUtil.asset("images/icons/144.png")" />
