@()(implicit ctx: Context)

@* Все иконки в метатегах для страниц. В т.ч. og:image и т.д. *@

@import util.cdn.CdnUtil

@_faviconTpl()

<link href="@CdnUtil.asset("images/icons/57.png")" rel="apple-touch-icon" sizes="57x57" type="image/png" />
<link href="@CdnUtil.asset("images/icons/72_ios.png")" rel="apple-touch-icon" sizes="72x72" type="image/png" />
<link href="@CdnUtil.asset("images/icons/114_ios.png")" rel="apple-touch-icon" sizes="114x114" type="image/png" />
<link href="@CdnUtil.asset("images/icons/144_ios.png")" rel="apple-touch-icon" sizes="144x144" type="image/png" />

<link href="@CdnUtil.asset("images/icons/228.png")" rel="icon" sizes="228x228" type="image/png" />

@* windows 8+ metro: *@
<meta name="msapplication-TileImage" content="@CdnUtil.asset("images/icons/144.png")" />
