@()(implicit ctx: Context)

@import util.cdn.CdnUtil


@headAfter = {
  <link rel="stylesheet" type="text/css" href='@CdnUtil.asset("stylesheets/market/lk_new-design/lk.css")'/>
}

@content = {

  <div class="body __responsive index-page_cnt">

    <div class="body_cnt __responsive">

      <div class="privacy-policy">
        <h2 class="privacy-policy_t">Политика конфиденциальности</h2>

        <p>
          Настоящая Политика конфиденциальности (далее — Политика) действует
          в отношении всей информации, которую Suggest.io и/или его
          аффилированные лица (далее — Оператор), могут получить об Абоненте
          во время использования Услуг и/или Продуктов Оператора.
        </p>

        <p>
          Использование Услуг и/или Продуктов Оператора означает
          безоговорочное согласие Абонента с настоящей Политикой и указанными
          в ней условиями обработки информации; в случае несогласия с этими
          условиями Абонент должен воздержаться от использования Услуг и/ или Продуктов Оператора.
        </p>

        <ol>
          <li>
            <strong>Информация Абонентов</strong>
            <ol>
              <li>
                В рамках настоящей Политики под «информацией Абонента» понимаются:<

                <ol>
                  <li>
                    Данные, которые Абонент предоставляет при регистрации
                    (создании учётной записи) в Системе обслуживания Оператора или в
                    процессе использования Услуг и/или Продуктов. (Обязательные для
                    предоставления Услуг и/или Продуктов данные помечены специальным
                    образом. Другие данные предоставляется Абонентом на его усмотрение.)
                  </li>
                  <li>
                    Данные, которые автоматически получаются и/или передаются
                    серверами Оператора в процессе их использования с помощью
                    установленного на стороне Абонента программного обеспечения, в том
                    числе IP-адрес, информация из cookie, информация о браузере (или иной
                    программе, с помощью которой осуществляется доступ к серверам), время
                    доступа, адрес запрашиваемой страницы и др.
                  </li>
                  <li>
                    Иная информация об Абоненте, сбор и/или предоставление которой
                    определено в регулирующих документах отдельных Услуг и/или
                    Продуктов Оператора.
                  </li>
                </ol>
              </li>
              <li>
                Настоящая Политика применима только к Услугам и/или Продуктам
                Оператора. Оператор не контролирует и не несет ответственность за
                содержание и/или работу сайтов третьих лиц, на которые произойти
                переход по ссылкам в результате использования Услуг и/или Продуктов Оператора.
              </li>
              <li>
                Оператор не проверяет достоверность данных, предоставляемых
                Абонентами и не проверяет правомочность Абонентов на предоставление
                данных. Ответственность за достоверность, актуальность и полноту
                данных несет Абонент.
              </li>
            </ol>
          </li>
          <li>
            <strong>Цели сбора и обработки информации</strong>
            <ol>
              <li>
                Оператор собирает, хранит и обрабатывает только те  данные
                Абонентов, которые необходимы для исполнения обязательств перед Абонентами.
              </li>
              <li>
                Оператор может использовать данные Абонента в целях:
                <ul>
                  <li>идентификации Абонента;</li>
                  <li>предоставления Абоненту персонализированных Услуг и/или Продуктов;</li>
                  <li>
                    связи с Абонентом, в том числе через направление уведомлений, запросов
                    и информации, касающихся использования Услуг и/или Продуктов,
                    оказания услуг, а также обработки запросов и/или заявок от пользователя.
                  </li>
                  <li>улучшения качества Услуг и/или Продуктов;</li>
                  <li>разработки новых Услуг и/или Продуктов;</li>
                  <li>таргетирования рекламных материалов;</li>
                  <li>
                    проведения статистических, маркетинговых и иных исследований на
                    основе обезличенных данных.
                  </li>
                </ul>
              </li>
            </ol>
          </li>
          <li>
            <strong>Условия обработки данных, передача данных и третьим лицам</strong>
            <ol>
              <li>
                Оператор собирает, хранит и обрабатывает данные Абонентов в
                соответствии с собственными внутренними правилами Оператора.
              </li>
              <li>
                В отношении данных Абонента сохраняется конфиденциальность.
                Исключение составляют случаи добровольного предоставления
                Абонентом данных о себе для общего доступа неограниченного круга лиц.
              </li>
              <li>
                Оператор вправе передать данные Абонента третьим лицам в
                следующих случаях:
                <ol>
                  <li>
                    Абонент  выразил свое согласие на такую передачу данных.
                  </li>
                  <li>
                    Передача данных Абонента необходима в рамках использования
                    Абонентом  определенных Услуг и/или Продуктов Оператора;
                  </li>
                  <li>
                    Передача предусмотрена российским или иным применимым
                    законодательством в рамках установленной законодательством
                    процедуры;
                  </li>
                  <li>
                    Передача происходит в рамках продажи или иной передачи бизнеса
                    Оператора (полностью или частично), при этом к приобретателю
                    переходят все обязательства по соблюдению условий настоящей
                    Политики.
                  </li>
                  <li>
                    В целях обеспечения возможности защиты прав и законных
                    интересов Оператора или третьих лиц в случаях, когда пользователь
                    нарушает Пользовательское соглашение с Оператором и/или Договор-оферту
                    с Оператором и/или приложение к Договору-оферте с Оператором.
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            <strong>Изменение данных Абонентом</strong>
            <ol>
              <li>
                Абонент может в любой момент изменить и/или удалить
                предоставленные данные или часть данных, а также параметры
                конфиденциальности данных  через Панель управления Абонента.
              </li>
              <li>
                Абонент информирован, что изменение и/или удаление всех или
                некоторых данных  об Абоненте может повлечь за собой невозможность
                использования Продуктов и/или Услуг Оператора полностью или
                частично.
              </li>
            </ol>
          </li>
          <li>
            <strong>Изменение Политики конфиденциальности</strong>
            <ol>
              <li>
                Оператор имеет право вносить изменения в настоящую Политику
                конфиденциальности. При внесении изменений в актуальной редакции
                указывается дата последнего обновления. Новая редакция Политики
                вступает в силу с момента ее размещения, если иное не предусмотрено
                новой редакцией Политики.

                <p>Действующая редакция всегда находится на странице по адресу:  <a class="link" href="@routes.Static.privacyPolicy">@Context.SC_URL_PREFIX@routes.Static.privacyPolicy</a></p>
                <p>Дата публикации: _____________</p>
              </li>
            </ol>
          </li>
        </ol>

        <div class="btn-w __size-M">
          <a class="btn __size-M1 __major" href="@routes.Ident.mySioStartPage()">Вход в suggest.io</a>
        </div>

      </div>

    </div>

  </div>

}


@market.marketBase(
  title = "Политика конфиденциальности",
  headAfter = Some(headAfter)
)(content)
