@(args: msc.ScRenderArgs)(implicit ctx: Context)

@import io.suggest.sc.ScConstants.Grid._
@import views.html.sc.stuff._
@import views.html.sc.svg

@_scrollableContainerTpl("sm-grid-ads", id = ROOT_DIV_ID) {

  <div class="sm-grid-ads_container" id="smGridAdsContainer">
  </div>

  @if(!args.syncRender) {
    <div class="sm-grid-ads_loader hidden" id="smGridAdsLoader">
      <div class="sm-grid-ads_loader-spinner"><div class="sm-grid-ads_loader-spinner-inner">@svg._spinnerTpl(args.bgColor)</div></div>
    </div>
  }

}
