@(madId: String, curr: Option[adv.tpl.LkAdvRightLink] = None)(implicit ctx: Context)

@import adv.tpl.{LkAdvRightLinks => L}
@import ctx.messages
@import lk.right._
@import util.tpl.CssFormat._

@_navTpl() {

  @_navItemTpl(
    title = messages("Adv"),
    href  = Some( routes.LkAdvGeo.forAd(madId) ),
    css   = classesAct(curr.contains( L.GEO ), "__geotag")
  )

  @_navItemTpl(
    title = messages("Adv.in.ext.services"),
    href  = Some( routes.LkAdvExt.forAd(madId) ),
    css   = classesAct(curr.contains( L.EXT ), "__social")
  )

  @_navItemTpl(
    title = messages("Adv.in.geo.node"),
    href  = Some( routes.MarketAdv.advForAd(madId) ),
    css   = classesAct(curr.contains( L.DIRECT ), "__geo")
  )

  @_navItemTpl(
    title = messages("Adv.in.nodes"),
    href  = Some( routes.LkNodes.nodesForAd(madId) ),
    css   = classesAct(curr.contains( L.AD_NODES ), "__nodes")
  )

  @_navSysTpl(
    call  = routes.SysMarket.showAd(madId)
  )

}
