@(qs: usr.MEmailRecoverQs)(implicit ctx: Context)

@* html-письмо восстановления пароля. Отправляется юзеру, когда тот просит восстановить пароль. *@
@import ctx.messages
@import ctx.api.ctxUtil
@import views.html.email._
@import io.suggest.i18n.MsgCodes
@import models.usr.MEmailRecoverQs

@emailBaseTpl(
  title = messages("Password.recovery.in", messages(MsgCodes.`Suggest.io`))
) {

  @_rowTpl("padding: 20px 0; border-bottom: 1px dashed #878787;") {
    @messages("Sys.rcvd.pw.recover.request", messages(MsgCodes.`Suggest.io`) )
    <br/>
    <strong>@qs.email</strong>
  }


  @defining( routes.Ident.recoverPwReturn(qs).url ) { returnRelUrl =>

    @_rowTpl("padding: 20px 0 10px;") {
      @Html(messages(
        "To.recover.password.use.this.link",
        s"""<a style="color: #7b89a4;" href="${ctxUtil.LK_URL_PREFIX}$returnRelUrl">""",
        "</a>"
      ))
    }

    @_rowTpl("padding: 10px 0 20px; border-bottom: 1px dashed #878787;") {
      @messages("If.link.not.open.cp.link.to.browser")
      <br/>
      <span style="color: #7b89a4;">@ctxUtil.LK_URL_PREFIX@returnRelUrl</span>
    }
  }

}
