@(elements: helper.FieldElements)

@* field constructor, использующий табличную верстку и внешнюю таблицу для инпутов. *@

@import play.api.i18n._
@import views.html.helper._


@defining( elements.args.get('_class) ) { inputClass =>

  @inputClass match {

    case Some("sys-checkbox") => {

      <td class="input-w_left">
        <label class="input-w_prop-name" for="@elements.id">@elements.label</label>
      </td>

      <td>

        @elements.input

      </td>

    }

    case _ => {

      <td class="input-w_left">
        <label class="input-w_prop-name" for="@elements.id">@elements.label
          @if(elements.field.constraints.exists { _._1 == "constraint.required" }) {
          <span class="required-icon">*</span>
          }
        </label>
      </td>

      <td>
        <div class="input clearfix @inputClass @if(elements.hasErrors){__error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
        <div class="input_shadow js-input-w">
          @elements.input
        </div>
        </div>
      </td>

    }

  }

}


