@(args: msc.IScScriptRenderArgs)(implicit ctx: Context)

@* HTML для подключения скрипта второй версии выдачи (sc-sjs). *@

@import views.html.stuff._
@import views.html.stuff.mapbox._
@import ctx.api.cdn
@import io.suggest.sc.ScConstants.JsRouter.DOM_ID

@* id-атрибут у script-тега нарушает HTML-валидацию, но это плевать. *@
<script id="@DOM_ID" type="text/javascript" async src="@cdn.forCall( routes.MarketShowcase.scJsRouter() )">
</script>

@_sjsScript("sc-sjs", withLauncherJs = true)

@* Подгрузить JS карт. *@
@_mapBoxGlJsTpl()
