@(title: String, leftCurrEl: Option[LkLeftPanelLink] = None, nodeOpt: Option[MAdnNode] = None,
  headAfter:Option[Html] = None, popupContent: Option[Html] = None,
  povAdnId: Option[String] = None, showSwitchNodeBtn: Boolean = true)(content: Html)(implicit ctx: Context)

@* Базовый шаблон для личного кабинета sio-маркета (не важно: ТЦ или магазин). *@

@import ctx._
@import stuff._
@import lk.popup._
@import lk.left._

<!DOCTYPE html>
<html>
<head>
  <title>@title @if(nodeOpt){ | @_nodeTitleTpl(nodeOpt) } | Suggest.io</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("javascripts/lib/colorpicker/css/colorpicker.css")'/>

  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/market/lk/common.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/market/showcase.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/market/showcase_previews.css")'/>

  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/market/lk_new-design/lk.css")'/>

  <script src='@routes.Assets.versioned("javascripts/jquery.min.js")'></script>

  @static._faviconTpl()

  @headAfter
</head>

<body class="lk">
@defining( nodeOpt.flatMap(_.id) ) { adnIdOpt =>

  <header class="header">
    <a class="header_logo-link" href="@routes.MarketLkAdn.lkList(fromNode = nodeOpt.flatMap(_.id))">
      <img class="header_logo-image" src='@routes.Assets.versioned("images/market/new-design/logo_retina.png")' alt="logo" width="53" height="51"/>
    </a>

    <div class="header_cnt">

      @if(nodeOpt.isEmpty) {
        <img class="header_logo-text" src='@routes.Assets.versioned("images/market/index/logo_retina.png")' width="101" height="26"/>
      } else {
        @nodeOpt.map { node =>
          <span class="header_logo-text">@node.meta.name</span>
        }
      }

      @adnIdOpt.map { adnId =>
        @* Виджет для отображения денег на счете и доступа к финансовым функциям. Только в контексте узла. *@
        @billing._billBallanceWidgetTpl(adnId)
      }
    </div>

    @if(showSwitchNodeBtn && ctx.isAuth) {
      <a class="btn __size-M __major header_change-node" href="@routes.MarketLkAdn.lkList(fromNode = nodeOpt.flatMap(_.id))">@Messages("Switch.shop")</a>
    }

  </header>


  <section class="page">

    @* Отрендерить уведомления, которые появляются после сабмитов с последующими редиректами. *@
    @ctx.flashMap.map { case (flashStatus, flashMsg) =>
      <div style="display: none;" class="status-bar ft-L __@if(flashStatus == "success") {good} else {bad}">
        <div class="status-bar_cnt">
          @flashMsg
        </div>
      </div>
    }

    @_nodeLeftBarTpl(adnIdOpt, leftCurrEl, povAdnId)

    @content

  </section>


  <aside class="popups popups-container" id="popupsContainer">

    @_popupTpl(css = Seq("__size-M"), id = Some("logoutPopup")) {
      <h2 class="minor-title">@Messages("Logout.suggest.io")</h2>
      <div class="btn-w __size-M">
        <a class="btn __minor __size-M js-close-popup">@Messages("Cancel")</a>
        <a class="btn __major __size-M __list" href="@routes.Ident.logout">@Messages("Logout")</a>
      </div>
    }

    @popupContent
  </aside>


  <script src="@routes.Assets.versioned("javascripts/market/lk/mx_cof.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/market/lk/mx_dev.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/lib/colorpicker/js/colorpicker.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/jquery-ui.custom.min.js")"></script>

}
</body>
</html>
