@(domains: Seq[MDomain])(implicit c:util.Context)
@import stuff._

@* Отобразить список всех установленных в системе доменов. *@

@domainsBase("Все сайты") {
  @if(!domains.isEmpty) {
    <table>
      <tr>
	<th>Domain</th>
      </tr>
      @domains.map { domain =>
	<tr>
	  <td><a href="@routes.Sys.dkeyShow(domain.dkey)">@domain.dkey</a></td>
	</tr>
      }
    </table>

    <br/>
    <hr/>

    <a href="@routes.Sys.addSiteForm">Добавить новый сайт</a>

  } else {
    Сайтов пока нет. <a href="@routes.Sys.addSiteForm">Добавить?</a>
  }
}
