@(args: mdr.MMdrNotifyMeta)(implicit ctx: Context)

@* Тело email-письма о необходимости заняться модерацией. *@

@import ctx.api.ctxUtil.LK_URL_PREFIX
@import util.TplDataFormatUtil.formatPrice
@import io.suggest.i18n.MsgCodes

  <p>

    @for(orderId <- args.orderId) {
      ctx.messages( MsgCodes.`We.received.payment.for.order.0`, orderId )
    }
    @for(price <- args.paidTotal) {
      &nbsp;
      <strong>@formatPrice(price)</strong>
    }

    @if(args.personId || args.personName) {
      <br/>
      от
      @for(personId <- args.personId) {
        <a href="@LK_URL_PREFIX@routes.SysBilling.forNode(personId)">
      }
          пользователя
          @args.personName.orElse( args.personId ).getOrElse("???")
      @if(args.personId) {
        </a>
      }
    }
  </p>

  @for(txn <- args.txn) {
    <p>
      Транзакция #@txn.id
      @for(psTxnUid <- txn.psTxnUidOpt) {
        инвойс @psTxnUid
      }
      баланс #@txn.balanceId
      <br/>
      @for(comment <- txn.paymentComment) {
        <strong>@comment</strong>
      }
    </p>
  }

<p>
  <a href="@LK_URL_PREFIX@args.toMdrNodeId.fold(routes.SysMdr.sysPage())(nodeId => routes.SysMdr.lkMdr(nodeId :: Nil))">
    ctx.messages( MsgCodes.`Go.to.moderation` )</a>.
</p>
