@(title: String, mnodeOpt: Option[MNode] = None, hPathAfter: Option[Html] = None,
  headAfter: Option[Html] = None)(content: Html)(implicit ctx: Context)

@* Базовый шаблон для модерации. *@

@import sys1.market._
@import ctx.messages
@import sys1.stuff.hpath._

@hPathAfter1 = {

  /
  @_blueLink( routes.SysMdr.index() ) {
    @messages("Moderation")
  }

  @mnodeOpt.map { mnode =>
    /
    @_blueLink( routes.SysMarket.showAdnNode(mnode.id.get) ) {
      @mnode.meta.basic.name
    }
  }
  @hPathAfter.getOrElse { / @title }
}

@marketBase(
  title      = title,
  hPathAfter = Some(hPathAfter1),
  headAfter  = headAfter
)(content)
