@()(implicit ctx: Context)

@import models.mdr._
@import sys1.stuff.dsl._
@import io.suggest.sys.mdr._

@hPathAfter = {
  @* Ничего не отображаем, т.к. корневая ссылка из base-шаблона полностью устраивает. *@
}


@* Верстка одной кнопки-ссылки. *@
@__btn(color: Int, href: Call)(content: Html) = {
  <a class="siom-ac-btn __color-@color __size-M __ft-XM __list f-left"
     href="@href">
    @content
  </a>
}


@* Контейнер кнопок модерации. *@
@__btnsCont(content: Html) = {
  <div class="submit-w __size-M">
    @content
  </div>
}


@mdrBase("Модерация", hPathAfter = Some(hPathAfter)) {

  @_sysTitleTpl() {
    Быстрый переход
  }
  @__btnsCont {
    @__btn(1, routes.SysMdr.rdrToNextAd()) {
      <strong>
        Начать модерацию карточек...
      </strong>
    }
  }

  <br/>


  @_sysTitleTpl() {
    Модерация бесплатного размещения рекламных карточек
  }

  @__btnsCont {
    @__btn(2, routes.SysMdr.freeAdvs()) {
      Очередь на модерацию
    }
    @__btn(1, routes.SysMdr.freeAdvs( MdrSearchArgs(isAllowed = Some(true)) )) {
      Одобренные
    }
    @__btn(4, routes.SysMdr.freeAdvs( MdrSearchArgs(isAllowed = Some(false)) )) {
      Отклонённые
    }
  }

  <br/>


  @_sysTitleTpl() {
    Обработка платных размещений
  }

  @__btnsCont {
    @__btn(2, routes.SysMdr.paidAdvs()) {
      Ожидают подтверждения
    }
  }

}
