@()(implicit ctx: Context)

@import io.suggest.sys.mdr.SysMdrConst
@import views.html.stuff._preLoaderLkTpl
@import views.js.stuff.jsRevRouterTpl
@import views.html.stuff.jsTpl2HtmlTpl

@* Страница для react-формы модерации размещений. *@


@hPathAfter = {
  @* Ничего не отображаем, т.к. корневая ссылка из base-шаблона полностью устраивает. *@
}

@mdrBase(
  title      = "Модерация",
  hPathAfter = Some(hPathAfter)
) {

  @* Контейнер для рендера react-формы. *@
  <div id="@SysMdrConst.FORM_ID">
    @_preLoaderLkTpl()
  </div>


  @jsTpl2HtmlTpl( withScriptTag = true )(
    jsRevRouterTpl( csrfAll = true, cdn = true )(
      routes.javascript.SysMdr.nextMdrInfo,
      routes.javascript.SysMdr.doMdr,
      routes.javascript.SysMarket.showAdnNode,
      routes.javascript.LkAdEdit.editAd,
      routes.javascript.LkAdnEdit.editNodePage,
      routes.javascript.SysMarket.showAdnNode
    )
  )

  <script src="@ctx.api.cdn.forCall( ctx.lkMessagesJs )"></script>

}


