@(dkey:String, dusFormM:Form[_])(implicit ctx:util.Context)

@* Форма основных настроек домена *@

@import ctx._

<form id="domainSettingsForm" method="post" action="/admin/set_domain_settings">

	<fieldset>
		<label>@Messages("if_show_images")?</label>
		@defining(dusFormM("show_images").value) { siCurrVal =>
			<select name="show_images" style="width: 160px;">
				<option value="true"@if(siCurrVal == "true") { selected="selected"}>@Messages("yes")</option>
				<option value="false"@if(siCurrVal == "false") { selected="selected"}>@Messages("no")</option>
			</select>
		}
		<a id="imageExplanationButton" onclick="showImagesExplanation(); return false;" href="">@Messages("img_site_preferences")</a>
	</fieldset>

	<fieldset>
		<label>@Messages("show_content_text")</label>
		@defining(dusFormM("show_content_text").value) { sctCurrVal =>
			<select name="show_content_text" style="width: 160px;">
				<option value="true"@if(sctCurrVal == "true") { selected="selected"}>@Messages("yes")</option>
				<option value="false"@if(sctCurrVal == "false") { selected="selected"}>@Messages("no")</option>
				<option value="if_no_image"@if(sctCurrVal == "if_no_image") { selected="selected"}>@Messages("if_no_image")</option>
			</select>
		}
	</fieldset>

	<input type="hidden" class="domain-name-value" name="domain" value='@dkey'/>

	<div class="sio-admin-preferences-submit-@langStr">
		<a href="" onclick="$('#domainSettingsForm').submit(); return false;"></a>
	</div>

	<div class="domain-indexation-info" style="margin: 0px!important;">
		<div class="last-date"><span id="domainSettingsStatus"></span></div>
	</div>
</form>
