@(du:models.MDomainUserSettings, dusFormM: Form[_])(implicit ctx:util.Context)

@* Инфа по индексации + кнопка reindex *@

@import ctx._

<div style="width: 240px; float: left;">

	<div class="h1 sio-admin-title sio-admin-domain-settings-@lang_str"></div>

	@* _reindexTpl(du) *@

	<div class="domain-settings-form">
		@_domainSettingsFormTpl(du.dkey, dusFormM)
	</div>

</div>

<div style="float: left; height: 500px; background: #e2e2e2; margin: 0px 30px; width: 1px;"></div>

<div style="width: 240px; float: left;">

	@* Ссылка для настройки дизайна в браузере, поверх сайта *@
	<div class="h1 sio-admin-title sio-admin-design-settings-@lang_str"></div>
	<div class="sio-admin-settings-pict">
		<div class="admin-note">
			@Messages("customize_design_description").
		</div>

		<div class="sio-admin-customize-button-@lang_str">
			<a class="redirect-url" href="http://@du.dkey/#sio_preferences" target="_blank"></a>
		</div>
	</div>

</div>

<script type="text/javascript">
	initSettingsForm();
	
	$('#imageExplanationButton').bind('click', function( event )
	{
		event.stopPropagation();
	});
</script>
