@(d:models.MDomain)(implicit ctx:util.Context)

@* Тут кнопка для реиндекса и инфа об индексации.
   TODO Пока что не используется. Нет поддержки переиндексации. *@

@import ctx._
<div class="domain-indexation-info">
	<div class="last-date">@Messages("last_reindexed"):
		<span id="lastIndexedDate">
		{% with reindex_data=domain.reindex_info.data %}
		{% if reindex_data %}
			{{ reindex_data|first|first|timestamp_to_date|date:"d.m.Y H:i" }}
		{% else %}
			{{ domain.date_added_utc|date:"d.m.Y H:i" }}
		{% endif %}
		{% endwith %}
		UTC
		</span>
	</div>
	<a onclick="reindex_domain('@d.dkey'); return false;" href="" title="@Messages("reindex")"></a>
	<div class="clear"></div>
</div>
