@(person_domains: Seq[models.MPersonDomainAuthz], timestampMs:Long)(implicit ctx:util.Context)

@* Корневой шаблон админки. Ещё не портирован на play.
   Нужно определить тут person_domains и timestamp
   timestamp - таймштамп для comet polling. Это нужно для поддержания сессии и для обновления верификационной инфы по доменам.
   person_domains - домены, которые юзер себе приписал. Текущее состояние валидности домена можно глянуть через функцию .is_verification_valid
*@

@* Если забыть импорт текущего языка, то всё будет на дефолтовом инглише. *@
@import ctx._

@headAfter = {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/admin_index.css")"/>
}

@adminBaseTpl(title=Messages("domain_admin_title"), headAfter=Some(headAfter)) {
<div class="admin-layout">
	<div class="admin-container">

	<div class="explanation-layout" id="imageExplanationLayout">
		<div class="el-text">
			<h1>@Messages("a.in.images_site_tweaks_title")</h1>		@* Настройка сайта для отображения картинок в поиске. *@
			<p>@Messages("a.in.images_you_need_add_head_tag")</p>	@* Нужно добавить тег в head: *@
			<code>&lt;meta property="og:image" content="http://mysite.com/images/1.jpg"/&gt;</code>
			<p>@Messages("a.in.images_after_tag_info")</p> 			@* Пост-инфа. Типа нажмите REINDEX и что этот тег полезен. *@
		</div>
	</div>

	<a class="admin-logo" href="@MAIN_PAGE_CALL"></a>

	@* Список доменов юзера *@
	<div class="admin-left-part">

		<a href="@routes.Admin.index"><div class="h1 sio-admin-title sio-websites-title-@langStr"></div></a>

		<div class="admin-note">@Messages("your_domains")</div>

		<ul id="domain_list" class="domain-list">
		@if(person_domains.isEmpty) {
			<div class="admin-note">@Messages("no_domains_yet")</div>
		} else {
			@person_domains.map { pd =>
				<li data-domain="@pd.dkey" class="@if(!pd.isValid) {not-}verified-domain domain-li">
					<a class="domain-link" href="">@pd.dkey</a>

					@* удалить домен *@
					<span class="delete-domain-cross" data-href="{% url action="delete" %}" data-domain="@pd.dkey" title="@Messages("delete_domain")"></span>
				</li>
			}
		}
		</ul>

		<a class="admin-add-domain-link" id="addDomainLink" href="">@Messages("admin_add_new")</a>

	</div>
	<div class="admin-right-part">

		<div class="sio-admin-window" id="introWindow">
			<div class="h1 sio-admin-title sio-intro-title-@langStr"></div>
			<div class="admin-note">@Messages("a.in.intro_message") <a href="" onclick="add_domain_action(); return false;">@Messages("a.in.site_add_form_title")</a>.</div>
		</div>

		@* Тут выводим различные инструкции *@

		@* форма добавления нового домена *@
		<div class="new-domain sio-admin-window" id="addDomainWindow" style="display: none;">
		<div class="h1 sio-admin-title sio-new-website-title-@langStr"></div>
		@_addDomainFormTpl()
		<div class="clear"></div>
		<div class="admin-note">@Messages("after_add")</div>

		<p/>

		<div id="qiCode" style="display: none;">
			<div class="admin-note">@Messages("a.in.site_not_installed_yet")</div>

			<textarea id="jsCodeTextarea" style="width: 453px; height: 130px;">

			</textarea>
		</div>
		</div>

		@* Инфа по верификации домена *@
		<div id="domainVerificationWindow" class="domain-verification-window sio-admin-window initial-verification" style="display: none;">
		<div class="h1 sio-admin-title domain-verification-title-@langStr"></div>
		<div class="admin-content admin-note" style="padding-top: 20px;">

			<span>@Messages("website") <span class="domain-name"></span> @Messages("not_verified_yet")</span>

			<div class="verification-step-one">
			<div class="digit"></div>
			<div class="desc">
				<span style="display: block; margin-top: 10px;">
					<a class="verification-file" href="">@Messages("download_verification_file")</a>,
					@Messages("follow_instructions")
				</span>
			</div>
			<div class="clear"></div>
			</div>

			<div class="verification-step-two">
			<div class="digit"></div>
			<div class="desc">
				<span style="display: block; margin-top: 10px;">@Messages("upload_verification_file")</span>
				<div class="admin-verification-button">
					<a class="force-recheck" href="">@Messages("recheck")</a>
				</div>
			</div>
			<div class="clear"></div>
			</div>

		</div>
		</div>

		@* Сюда в дальнейшем будем выводить все настройки для домена *@
		<div id="domainPreferencesWindow" class="domain-preferences-window sio-admin-window" style="display: none;">

		</div>

	</div>
	<div class="clear"></div>

	<div class="admin-copyright">&copy; 2012-@now.getYear Suggest.io. @Messages("all_rights_reserved")</div>
	</div>
</div>

}
