@()(implicit ctx: Context)

@* Все fav-иконки в метатегах для страниц.
 * ico не объявляем тут, потому что оно не актуально, и обрабатывается на ~стандартном
 * ресурсе /favicon.ico, а не здесь.
 *@

@import ctx.api.cdn
@import models.im.MFavIcons
@import io.suggest.common.geom.d2.ISize2di
@import io.suggest.common.html.HtmlConstants.SPACE

@* Список дефолтовых favicon'ов уехал в статическую модель MFavIcons, а тут только генератор html. *@
@for(icoRel <- MFavIcons.linkRelIcons.iterator; ico = icoRel.icon; rel <- icoRel.rels) {
  <link href="@cdn.asset(ico.src)"
        rel="@rel"
        @if(ico.sizes.nonEmpty) {
          sizes="@ico.sizes.iterator.map(ISize2di.wxh).mkString(SPACE)"
        }
        type="@ico.mimeType" />
}

@* windows 8+ metro: *@
<meta name="msapplication-TileImage" content="@cdn.asset("images/favicon/144.png")" />
