@()(implicit ctx: util.Context)

@* Список ссылок на страницы управления магазинной частью. *@
@import MMartCategory._


@* Подшаблон генерации квадратной кнопки. *@
@btn(href: Call, paddingPx: Int, font: String = "XM")(btnText: Html)(afterBtn: Html) = {
  <div class="sys-market-index_item">

    <a class="siom-link-btn __color-5 __size-XL __ft-@font" href="@href" style="padding: @{paddingPx}px 0;">
      @btnText
    </a>

    @afterBtn
  </div>
}

@hPathAfter = {
  @* Ничего не дописываем в заголовочный путь. *@
}

@marketBase("index", hPathAfter = Some(hPathAfter)) {

    <div class="sys-market-index">

      <div class="info-label __outer">
        <div class="info-label_icon"></div>
        <div class="info-label_t">
          Страница маркета содержит ссылки<br/>
          на административные страницы,<br/>
          касающие магазинной части.
        </div>
      </div>

      <div class="sys-market-index_items">

          @btn(routes.SysMarket.companiesList(), 40) { ВСЕ<br/>КОМПАНИИ } {

            <a href="@routes.SysMarket.companyAddForm()" class="siom-ac-btn __color-1 __size-XL __ft-XM __sys-market-index">
              +добавить компанию
            </a>

          }
          @btn(routes.SysMarket.adnNodesList(), 52) { ADNetwork } {

            <a href="@routes.SysMarket.createAdnNode()" class="siom-ac-btn __color-1 __size-XL __ft-XM __sys-market-index">
              +добавить<br/>узел верхнего<br/>уровня
            </a>

          }
          @btn(routes.SysMarketBilling.index(), 52) { БИЛЛИНГ } { }
          @btn(routes.MarketCategory.showCatsFor(DEFAULT_OWNER_ID), 40) { ГЛОБАЛЬНЫЕ<br/>КАТЕГОРИИ } {

            <a href="@routes.SysMarket.showYmCats" class="siom-ac-btn __color-2 __size-XL __ft-XM __sys-market-index">
              YM-категории
            </a>

          }
          @btn(routes.SysCalendar.showCalendars, 28) { КАЛЕНДАРИ<br/>ПРАЗДНИКОВ/<br/>ВЫХОДНЫХ } { }

        <div class="clear"></div>
        @btn(routes.SysMarketInvReq.index, 28) { ЗАПРОСЫ<br/>ПОДКЛЮЧЕНИЯ<br/>К СЕТИ } { }
        @btn(routes.SysMdr.index, 52) { Модерация } { }
      </div>

   </div>

}
