@()(implicit ctx: util.Context)

@* Список ссылок на страницы управления магазинной частью. *@

@marketBase("index") {
  <p>
    Страница маркета содержит ссылки на административные страницы, касающие магазинной части.
  </p>

  <p>
    <a href="@routes.SysMarket.companiesList">Все компании</a>,
    <a class="add" href="@routes.SysMarket.companyAddForm">+добавить</a>
  </p>

  <p>
    <a href="@routes.SysMarket.adnNodesList()">ADNetwork</a>,
    <a class="add" href="@routes.SysMarket.createAdnNode()">+добавить узел верхнего уровня</a>
    <br/>
    <strike>
      <a href="@routes.SysMarket.martsList">Все ТЦ</a><br/>
    </strike>
  </p>

  <p>
    <a href="@routes.SysMarketBilling.index">Биллинг</a>
  </p>

  <p>
    <a href="@routes.SysMarket.showYmCats">YM-категории</a>
  </p>
}
