.ads-list
  .sm-block
    position: relative
    -webkit-transform: scale3d(0.5,0.5,0)
    -moz-transform: scale3d(0.5,0.5,0)
    -webkit-transform-origin: 0px 0px
    -moz-transform-origin: 0px 0px


.ads-list__block
  width: 163px
  float: left
  margin-right: 60px

.ads-list-block
  position: relative
  width: 165px
  overflow: hidden

.ads-list-block__preview,
.ads-list-block__link
  display: block
  width: 163px
  height: 163px

.ads-list-block__preview
  width: 150px
  height: 150px
  padding: 6px
  background: #fff
  border: 1px #a5a5a5 solid
  box-shadow( inset 0px 1px 3px #bec2c5 )

.ads-list-block__link
  position: absolute
  left: 0px
  top: 0px