.ads-list
  .sm-block
    position: relative
    -webkit-transform: scale3d(0.5,0.5,0)
    -moz-transform: scale3d(0.5,0.5,0)
    -webkit-transform-origin: 0px 0px
    -moz-transform-origin: 0px 0px

.ads-list__block
  float: left

.ads-list-block
  width: 163px
  overflow: hidden

.ads-list-block__preview
  width: 163px
  height: 163px
  background: #fff
  border: 1px #a5a5a5 solid
  box-shadow( inset 0px 1px 3px #bec2c5 )