.ads-list
  overflow: hidden
  margin: 20px 0px

  .sm-block
    position: relative
    margin: 0px auto

.ads-list__block
  float: left
  margin-right: 70px

.ads-list__block_no-margin
  margin: 0px

.ads-list-block
  position: relative
  width: 167px
  overflow: hidden

.ads-list-block__preview,
.ads-list-block__link
  display: block
  width: 100%
  height: 169px

.ads-list-block__link:hover
  background: black lk_sprite
  background-position: 35px -225px
  opacity: 0.8

.disabled
  .disabled-ad
    position: absolute
    color: white
    z-index: 2
    padding: 10px
    width: 147px
    height: 149px
    left: 0
    top: 0
    background: #e23535
    opacity: 0.7

.ads-list-block__preview
  position: relative
  overflow: hidden
  width: 153px
  height: 154px
  padding: 8px 5px 6px 7px
  background: #fff
  border: 1px #a5a5a5 solid
  box-shadow( inset 0px 1px 3px #bec2c5 )

.ads-list-block__preview-container
  width: 300px
  -webkit-transform: scale3d(0.5,0.5,0.5)
  -moz-transform: scale3d(0.5,0.5,0.5)
  -webkit-transform-origin: 0px 0px
  -moz-transform-origin: 0px 0px

.ads-list-block__zigzag-mask
  position: absolute
  width: 154px
  background: lk_sprite
  background-position: -170px -172px
  height: 10px
  z-index: 4
  left: 4px
  top: 158px

.ads-list-block__preview_add-new
  z-index: 21
  cursor: pointer
  background: lk_sprite
  border: none
  box-shadow( none )

.ads-list-block__preview_add-new:hover
  background-position: -165px top

.ads-list-block__link
  position: absolute
  left: 0px
  top: 0px
  z-index: 20

.ads-list-block__controls
  font-size: 12px
  padding: 10px 0px
  text-align: center

  label
    display: block
    margin: 5px 0