.lk

  .body-wrap
    min-width: 1000px
    min-height: 100%
    background: #e1e1e1

    .title-wrap
      height: 60px
      padding-top: 60px
      margin-bottom: -120px
      background: #efefef
      border-bottom: 1px solid #9a9b9b

      .center
        position: relative
        padding-top: 15px
        max-width: 1000px
        margin: 0 auto

        .title-inner
          font-size: 30px
          color: #676666
          font-family: 'PFDinTextCompPro-Medium'
          padding-left: 50px

    .body
      max-width: 878px
      margin: 0 auto
      padding-bottom: 60px
      padding-top: 130px

    .body_width-auto
      width: auto

  .footer-wrap
    min-width: 1000px
    height: 60px
    position: relative
    margin-top: -60px
    background: #23313d

    .footer
      width: 1000px
      margin: 0 auto
      padding-top: 25px

      .copyright-block
        padding-right: 5px
        padding-left: 62px
        color: #a8c3cb
        font-size: 12px
        font-family: 'Arial'

        a
          color: #a8c3cb
          text-decoration: none

        a:hover
          text-decoration: underline

/* BASE REFACTORING */


/********************************************************************************************************************/
/* Header */
/********************************************************************************************************************/
.header
  position: relative
  margin-bottom: -60px /* равно высоте header'a */
  min-width: 1000px

  background: #23313d

  &.__responsive
    min-width: 320px !important

.header_cnt
  height: 60px
  width: 1000px
  margin: 0 auto

  &.__responsive
    width: auto !important
    max-width: 1000px

.siom-logo-def
  float: left

  margin-left: 7px
  margin-top: 5px
  display: block

  text-decoration: none

/********************************************************************************************************************/
/* Body */
/********************************************************************************************************************/

/* TODO пока только в .sys потом сделать первого уровня и поменять dom во всём лк */
.sys

  .body
    min-width: 1000px
    min-height: 100%
    background: #e1e1e1

  .body__cnt
    width: 878px
    margin: 0 auto
    padding-bottom: 60px /* равно высоте footer'a */
    padding-top: 130px /* равно высоте header'a + title'a + 10px */

    &._responsible
      width: auto

  .title
    height: 60px
    padding-top: 60px
    margin-bottom: -120px
    background: #efefef
    border-bottom: 1px solid #9a9b9b

  .title-cnt
    position: relative

    width: 950px
    margin: 0 auto
    padding-top: 15px
    padding-left: 50px

    font-size: 30px
    color: #676666
    font-family: 'PFDinTextCompPro-Medium'


.body-wrap_responsive-mode
  min-width: 320px !important

.body_responsive-mode
  padding-left: 10px
  padding-right: 10px

.body_padding-top-80
  padding-top: 80px !important

.header-wrap_responsive-mode
  min-width: 320px !important

.header_responsive-mode
  width: auto !important
  max-width: 1000px

.footer-wrap_responsive-mode
  min-width: 320px !important

.footer_responsive-mode
  width: auto !important
  max-width: 1000px


/********************************************************************************************************************/
/* Всплывающие полосы в шапке */
/********************************************************************************************************************/
.status-bar
  position: absolute
  z-index: 3
  opacity: 0.8
  top: 60px
  left: 0

  width: 100%
  padding: 18px

  color: white
  font-family: 'PT Sans Narrow', 'sans-serif'
  text-align: center

  &.__bad
    background: #e23131

  &.__good
    background: #48ab38