.sm-note
  font-size: 12px
  padding: 10px 0px

.clear
  clear: both

.lk

  .logo-2
    text-decoration: none
    display: block
    width: 120px
    height: 124px
    margin: 0 auto 40px
    background: url('/assets/images/market/lk/logo-2.png') no-repeat

  .header-wrap
    background: #23313d
    position: relative
    margin-bottom: -90px
    min-width: 1200px

    .center
      height: 90px
      width: 1000px
      margin: 0 auto

      .logo
        padding-top: 5px
        display: block
        text-decoration: none
        float: left

      .auth
        float: right
        padding-top: 25px
        line-height: 14px

        .gray
          font-size: 14px
          color: #949494
          font-family: 'Arial'

        .user
          position: relative
          color: white
          font-size: 14px
          font-family: 'Arial'
          text-decoration: none
          .select-but
            position: absolute
            right: -20px
            top: 0
            padding: 2px 4px 3px
            height: 8px
            width: 8px
            display: block
            float: right
            background: url('/assets/images/market/lk/select-but.png') no-repeat
            background-position: 2px -56px
            border-top: 1px solid #23313d
            border-right: 1px solid #23313d
            border-left: 1px solid #23313d
            border-radius(2px 2px 0 0)
          ul
            display: none
        .user:hover
          cursor: default
          color: #949494
          .select-but
            padding: 5px 4px 4px
            background: url('/assets/images/market/lk/select-but.png') no-repeat 4px 3px #b5b8bb
            border-top: 1px solid white
            border-right: 1px solid white
            border-left: 1px solid white
            z-index: 1
          ul
            position: absolute
            display: block
            border-radius(2px 0 2px 2px)
            border: 1px solid white
            background: #b5b8bb
            right: -20px
            top: 17px
            li
              padding: 5px 20px
              border-top: 1px solid white
              a
                text-decoration: none
                font-size: 12px
                font-family: 'Arial'
                color: #676666
            li:first-child
              border-top: none
            li:hover
              color: #676666
              text-decoration: underline
  .body-wrap
    min-width: 1200px
    min-height: 100%
    background: #e1e1e1

    .title-wrap
      height: 80px
      padding-top: 90px
      margin-bottom: -170px
      background: #efefef
      border-bottom: 1px solid #9a9b9b

      .center
        padding-top: 20px
        width: 1000px
        margin: 0 auto

    .status-bar
      position: absolute
      z-index: 3
      width: 100%
      opacity: 0.8
      top: 170px
      left: 0
      color: white
      font-size: 24px
      font-family: 'PT Sans Narrow', 'sans-serif'
      text-align: center
      p
        margin: 5px 0
    .status-bar.bad
      background: #e23131
    .status-bar.good
      background: #48ab38

    .body
      width: 900px
      margin: 0 auto
      padding-bottom: 60px
      padding-top: 210px

  .footer-wrap
    min-width: 1200px
    height: 60px
    position: relative
    margin-top: -60px
    background: #23313d
    .footer
      width: 910px
      margin: 0 auto
      padding-left: 90px
      padding-top: 25px
      .copyright-block
        padding-right: 5px
        border-right: 1px solid #a8c3cb
        color: #a8c3cb
        font-size: 12px
        font-family: 'Arial'
      .socials
        float: right
        a
          display: inline-block
          line-height: 16px
          color: #a8c3cb
          font-size: 12px
          font-family: 'Arial'
          padding-left: 20px
          margin-left: 10px
          text-decoration: none
          background: url('/assets/images/market/lk/soc-footer.png') no-repeat
        a:hover
          text-decoration: underline
        .fb
          background-position: 0 0
        .tw
          background-position: 0 -65px
