.ovh
  overflow: hidden

.abs
  position: absolute
  top: 0
  left: 0

.f-left
  float: left

.f-right
  float: right

.border-line
  overflow: hidden
  width: 100%
  border-top: 1px solid #cbcbcb
  border-bottom: 1px solid #f8f8f8

.border-line-vertical
  margin-top: 5px
  border-left: 1px solid #cbcbcb
  border-right: 1px solid #f8f8f8