.lk

  .gray-but-wrap
    position: relative
    border: 1px solid #9a9b9b
    border-radius(6px)
    display: inline-block
    padding: 1px 0

    .white-border-top
      border-radius(6px)
      box-shadow(0 -1px 0 0 white)
      overflow: hidden

      .btn
        background: none
        border: none
        display: inline-block
        padding: 16px 18px
        color: #676666
        cursor: pointer
        font-size: 30px
        text-decoration: none
        text-align: center
        font-family: 'ParagNorCIta'
        box-shadow(0 1px 0 0 #B5B6B6)
        text-shadow(1px 1px 1px #F8F8F8)
  .gray-but-wrap:hover
    border: 1px solid #4f88a9
    .btn
      color: #4f88a9
  .gray-but-wrap:active
    border: 1px solid #9a9b9b
    box-shadow(inset 0 0 40px 0 #9a9b9b)

    .white-border-top
      box-shadow: none

      .btn
        color: #676666


  .green-but-small
    outline: 0
    display: inline-block
    float: right
    width: 100px
    padding: 13px 0
    color: white
    cursor: pointer
    text-align: center
    font-size: 14px
    line-height: 14px
    font-family: 'Arial'
    background: url('/assets/images/market/lk/green-but.small.png') no-repeat
    background-position: 0 -180px
  .green-but-small:hover
    background-position: 0 -90px
  .green-but-small:active
    color: #dcea8
    background-position: 0 0

  .blue-but-small
    outline: 0
    display: inline-block
    width: 122px
    color: white !important
    cursor: pointer
    font-size: 14px
    line-height: 14px
    text-align: center
    text-decoration: none
    padding: 13px 0
    font-family: 'Arial'
    background: url('/assets/images/market/lk/blue-but.small.png') no-repeat
    background-position: 0 -180px
  .blue-but-small:hover
    background-position: 0 -90px
  .blue-but-small:active
    color: #a8bdc9
    background-position: 0 0

  .red-but-small
    outline: 0
    display: inline-block
    width: 107px
    height: 14px
    padding: 13px 0
    color: white
    cursor: pointer
    font-size: 14px
    line-height: 14px
    text-align: center
    text-decoration: none
    font-family: 'Arial'
    background: url('/assets/images/market/lk/red-but.small.png') no-repeat
    background-position: 0 -180px
  .red-but-small:hover
    background-position: 0 -90px
  .red-but-small:active
    color: #dcea8
    background-position: 0 0
  input.red-but-small
    height: 40px
    padding: 0



  .billing-but
    margin-top: 7px
    margin-right: 20px
    display: inline-block
    border: 1px solid #646464
    border-radius(10px)
    font-size: 24px
    font-family: 'PT Sans Narrow','sans-serif'

    .white-border-top
      border-top: 1px solid #97b9cc
      border-radius(10px)
      background: #4f88a9
      padding: 10px 15px
      min-height: 14px

      a
        display: block
        height: 0
        color: white
        text-decoration: none

        span
          font-size: 12px
          font-family: 'Arial'

  .billing-but:hover
    .white-border-top

      a
        box-shadow(0 7px 20px 3px #FFFFFF)

  .billing-but:active
    .white-border-top
      border-color: #3e718f
      background: #3e718f



  .logout-but
    float: right
    display: inline-block
    width: 49px
    height: 49px
    cursor: pointer
    background: url('/assets/images/market/lk/logout-but.png') no-repeat
    background-position: 0 -198px
  .logout-but:hover
    background-position: 0 -99px
  .logout-but:active
    background-position: 0 0



  .gray-but-small
      outline: 0
      display: inline-block
      width: 121px
      height: 14px
      padding: 13px 0
      color: white
      cursor: pointer
      font-size: 14px
      line-height: 14px
      text-align: center
      text-decoration: none
      font-family: 'Arial'
      background: url('/assets/images/market/lk/gray-but.small.png') no-repeat
      background-position: 0 -180px
    .gray-but-small:hover
      background-position: 0 0
    .gray-but-small:active
      color: #dcea8
      background-position: 0 -90px
  input.gray-but-small
    height: 40px
    padding: 0

  .gray-but
    display: inline-block
    border: 1px solid #646464
    border-radius(6px)

    .white-border-top
      border-radius(6px)
      border-top: 1px solid #e5e6e6
      overflow: hidden
      padding: 10px 25px
      background: #9a9d9e

      a
        display: inline-block
        text-decoration: none
        color: white
        text-shadow(1px 1px 1px #435f6e)
        height: 0
        font-family: 'Arial'
        font-size: 14px
  .gray-but:hover

    .white-border-top

      a
        box-shadow(0 7px 20px 3px #FFFFFF)
  .gray-but:active

    .white-border-top
      border-top: 1px solid #7f8283
      background: #7f8283

      a
        box-shadow(none)
        opacity: 0.6


  .gray-but-smallest
    margin-left: 1px
    display: inline-block
    overflow: hidden
    border: 1px solid #b2b2b2
    border-radius(10px)
    box-shadow(1px 1px 0 0 #676767)

    .white-border-top
      display: inline-block
      border-top: 1px solid #fbfbfb
      border-radius(10px)
      padding: 4px 15px
      color: #959595
      text-decoration: none
      font-size: 12px
      font-family: 'Arial'

  .gray-but-smallest.inline
    display: inline

  @css {
    .gray-but-smallest .white-border-top {
        background: #eeeeee;
        background: -moz-linear-gradient(top, #eeeeee 0%, #d7d7d7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d7d7d7));
        background: -webkit-linear-gradient(top, #eeeeee 0%,#d7d7d7 100%);
        background: -o-linear-gradient(top, #eeeeee 0%,#d7d7d7 100%);
        background: -ms-linear-gradient(top, #eeeeee 0%,#d7d7d7 100%);
        background: linear-gradient(to bottom, #eeeeee 0%,#d7d7d7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d7d7d7',GradientType=0 );
    }

    .gray-but-smallest:hover .white-border-top {
      background: #f0f0f0
    }

    .gray-but-smallest:active .white-border-top  {
      background: #d7d7d7;
      background: -moz-linear-gradient(top, #d7d7d7 0%, #ebebeb 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d7d7), color-stop(100%,#ebebeb));
      background: -webkit-linear-gradient(top, #d7d7d7 0%,#ebebeb 100%);
      background: -o-linear-gradient(top, #d7d7d7 0%,#ebebeb 100%);
      background: -ms-linear-gradient(top, #d7d7d7 0%,#ebebeb 100%);
      background: linear-gradient(to bottom, #d7d7d7 0%,#ebebeb 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#ebebeb',GradientType=0 );
    }

  }


  .js-close-btn
    cursor: pointer
    width: 17px
    height: 17px
    text-decoration: none
    background: url('/assets/images/market/lk/close-icon.png') no-repeat
    background-position: 0 -67px
  .js-close-btn:hover
    background-position: 0 0
  .js-close-btn:active
    background-position: 0 1px