.cbca-select
  font-size: 12px
  line-height: 12px
  font-family: 'Arial'
  color: #959595
  position: absolute
  z-index: 2

  .selectbox
    display: inline-block
    cursor: pointer
    overflow: hidden
    background: #efefef
    border: 1px solid #cbcbcb
    box-shadow(1px 1px 2px 0px rgba(50, 50, 50, 0.75))

    .value
      letter-spacing: 1px
      float: left

      .selected
        border-right: 1px solid #cbcbcb
        padding: 5px 14px 5px 15px

      .dropdown
        margin-right: -23px

        .option
          cursor: pointer
          padding: 5px 38px 5px 15px

        .option.odd
          background: #e1e1e1

        .option.even
          background: #efefef

        .option:hover
          color: #5088aa
          background: #ccd6dc

    .triger
      cursor: pointer
      float: right
      background: url('/vassets/images/market/lk/triangle.png') no-repeat center center
      width: 22px
      height: 22px
      border-left: 1px solid white

    .triger:active
      background-position: center 9px

  .pre-span
    display: inline-block
    color: #676666
    float: left
    font-size: 24px
    line-height: 26px
    padding: 0 5px
