border-radius(v)
  -webkit-border-radius:v
  border-radius:v

box-shadow(v)
  -webkit-box-shadow: v
  -moz-box-shadow:    v
  box-shadow:         v

text-shadow(v)
  -webkit-text-shadow: v
  -moz-text-shadow:    v
  text-shadow:         v


transition(v)
  -webkit-transition: v
  transition: v

transform(v)
  -webkit-transform: v
  transform: v

.clear
  clear: both

@css {
  @import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700,400&subset=cyrillic-ext,latin-ext);

}

lk_sprite = url('/assets/images/market-lk-sprite.png') no-repeat left top

@font-face
    font-family: 'ParagNorCIta'
    src: url('/assets/fonts/market/DINCondensedC/PFDinTextCompPro-Medium.eot')
    src: url('/assets/fonts/market/DINCondensedC/PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/market/DINCondensedC/PFDinTextCompPro-Medium.woff') format('woff'),
         url('/assets/fonts/market/DINCondensedC/PFDinTextCompPro-Medium.ttf') format('truetype'),
         url('/assets/fonts/market/DINCondensedC/PFDinTextCompPro-Medium.svg#pf_din_text_comp_promedium') format('svg')
    font-weight: normal
    font-style: normal

.sm-note
  padding: 0px
  font-size: 12px
  color: #959595

.sm-note__link
  color: #5088aa

.superuser-link
  font-size: 10px
  color: #999

.lk
  .body
    font-size: 14px
    font-family: 'Arial'
    color: #676666

  .ovh
    overflow: hidden

  h5
    color: #676666
    font-size: 14px
    font-weight: bold
    font-family: 'Arial'
    margin: 25px 0

  strong
    font-weight: bold

  .font-12
    font-size: 12px
    font-family: 'Arial'

  .font-16
    font-size: 16px
    font-family: 'Arial'

  .gray
    color: #959595

  .f-left
    float: left

  .f-right
    float: right

  .border-line
    overflow: hidden
    width: 100%
    border-top: 1px solid #cbcbcb
    border-bottom: 1px solid #f8f8f8
  .border-line-vertical
    border-left: 1px solid #cbcbcb
    border-right: 1px solid #f8f8f8

  .input-wrap
    margin-top: 10px
    margin-bottom: 10px

    .left
      vertical-align: middle
      width: 120px

      label
        padding-right: 30px
        float: left
        font-size: 12px
        color: #959595
        font-family: 'Arial'
        text-shadow(1px 1px 1px #F8F8F8)

    .select-color
      vertical-align: middle
      font-size: 12px
      color: #959595
      font-family: 'Arial'
      padding-left: 20px
      width: 80px

      label
        float: left
        padding-right: 10px
        width: 50px

      .color
        margin-left: 10px
        display: inline-block
        width: 27px
        line-height: 27px
        border: 1px solid #b2b2b2
        border-radius(2px)

      .color.custom
        background: url('/assets/images/market/lk/custom-color.png') no-repeat
        background-size: 21px 21px
        background-position: 3px 3px

    .close
      margin-top: 5px
      margin-right: 10px
  .input-wrap.textarea
    .left
      vertical-align: top
      padding-top: 18px

  .input-wrap.big
    width: 100%

    .input-shadow

      input
        width: 98%

  .input-wrap.tinymce

    .tinymce_editor
      width: 615px

    .select-color
      width: auto
      vertical-align: top

  .input-wrap.small
    width: 260px
    float: left
    margin-right: 60px

    .input-shadow

      input
        width: 88%

  .input-wrap.hide-label
    .left
      display: none

  .input
    background: none repeat scroll 0 0 #FFFFFF
    border: 1px solid #B4B3B3
    padding: 1px

    .input-shadow
      overflow: hidden
      border-left: 1px solid #FBFBFB
      border-right: 1px solid #FBFBFB
      border-top: 1px solid #D2D3D3
      border-radius(4px)

      input
        outline: 0
        padding: 0 10px
        width: 80%
        height: 35px
        font-size: 16px
        color: #959595
        font-family: 'Arial'

      textarea
        width: 100%
        height: 170px
        padding: 10px
        resize: none
        font-size: 16px
        color: #959595
        font-family: 'Arial'
  .focus
    .input
      border: 1px solid #07a1ca !important
      .input-shadow
        input
          color: #07a1ca
        textarea
          color: #07a1ca
  .input.error
    border: 1px solid #e23131

    input
      background: #F3B0B0
      color: white

  .input-wrap.disabled
    input
      background: url('/assets/images/market/lk/lock.png') no-repeat 95% center #F0F0F0

  .input-wrap.big.disabled
    input
      background: url('/assets/images/market/lk/lock.png') no-repeat 99% center #F0F0F0
  .input-wrap.pass
    td
      padding: 5px 0
    .input
      width: 278px
    .pass-text
      vertical-align: middle
      font-size: 12px
      font-family: 'Arial'
      color: #b4b4b4
      width: 250px
      padding-left: 45px
  .mce-container
    font-size: 16px !important
    color: #959595 !important
    font-family: 'Arial' !important

  .green-but-big
    outline: 0
    display: block
    float: right
    width: 210px
    height: 14px
    color: white
    cursor: pointer
    font-size: 14px
    line-height: 14px
    text-decoration: none
    text-align: center
    padding: 13px 0
    font-family: 'Arial'
    background: url('/assets/images/market/lk/green-but.big.png') no-repeat
    background-position: 0 -180px
  .green-but-big:hover
    background-position: 0 -90px
  .green-but-big:active
    color: #dcea8
    background-position: 0 0


  .gray-but-wrap
    border: 1px solid #9a9b9b
    border-radius(6px)
    display: inline-block
    padding: 1px 0

    .white-border-top
      border-radius(6px)
      box-shadow(0 -1px 0 0 white)
      overflow: hidden

      .btn
        background: none
        border: none
        display: inline-block
        padding: 16px 18px
        color: #676666
        cursor: pointer
        font-size: 30px
        text-decoration: none
        text-align: center
        font-family: 'ParagNorCIta'
        box-shadow(0 1px 0 0 #B5B6B6)
        text-shadow(1px 1px 1px #F8F8F8)
  .gray-but-wrap:hover
    border: 1px solid #4f88a9
    .btn
      color: #4f88a9
  .gray-but-wrap:active
    border: 1px solid #9a9b9b
    box-shadow(inset 0 0 40px 0 #9a9b9b)

    .white-border-top
      box-shadow: none

      .btn
        color: #676666


  .green-but-small
    outline: 0
    display: inline-block
    float: right
    width: 100px
    padding: 13px 0
    color: white
    cursor: pointer
    text-align: center
    font-size: 14px
    line-height: 14px
    font-family: 'Arial'
    background: url('/assets/images/market/lk/green-but.small.png') no-repeat
    background-position: 0 -180px
  .green-but-small:hover
    background-position: 0 -90px
  .green-but-small:active
    color: #dcea8
    background-position: 0 0

  .blue-but-small
    outline: 0
    display: inline-block
    width: 122px
    color: white !important
    cursor: pointer
    font-size: 14px
    line-height: 14px
    text-align: center
    text-decoration: none
    padding: 13px 0
    font-family: 'Arial'
    background: url('/assets/images/market/lk/blue-but.small.png') no-repeat
    background-position: 0 -180px
  .blue-but-small:hover
    background-position: 0 -90px
  .blue-but-small:active
    color: #a8bdc9
    background-position: 0 0

  .red-but-small
    outline: 0
    display: inline-block
    width: 107px
    height: 14px
    padding: 13px 0
    color: white
    cursor: pointer
    font-size: 14px
    line-height: 14px
    text-align: center
    text-decoration: none
    font-family: 'Arial'
    background: url('/assets/images/market/lk/red-but.small.png') no-repeat
    background-position: 0 -180px
  .red-but-small:hover
    background-position: 0 -90px
  .red-but-small:active
    color: #dcea8
    background-position: 0 0
  input.red-but-small
    height: 40px
    padding: 0



  .billing-but
    margin-top: 7px
    margin-right: 20px
    display: inline-block
    border: 1px solid #646464
    border-radius(10px)
    font-size: 24px
    font-family: 'PT Sans Narrow','sans-serif'

    .white-border-top
      border-top: 1px solid #97b9cc
      border-radius(10px)
      background: #4f88a9
      padding: 10px 15px
      min-height: 14px

      a
        display: block
        height: 0
        color: white
        text-decoration: none

        span
          font-size: 12px
          font-family: 'Arial'

  .billing-but:hover
    .white-border-top

      a
        box-shadow(0 7px 20px 3px #FFFFFF)

  .billing-but:active
    .white-border-top
      border-color: #3e718f
      background: #3e718f



  .logout-but
    float: right
    display: inline-block
    width: 49px
    height: 49px
    cursor: pointer
    background: url('/assets/images/market/lk/logout-but.png') no-repeat
    background-position: 0 -198px
  .logout-but:hover
    background-position: 0 -99px
  .logout-but:active
    background-position: 0 0



  .gray-but-small
      outline: 0
      display: inline-block
      width: 121px
      height: 14px
      padding: 13px 0
      color: white
      cursor: pointer
      font-size: 14px
      line-height: 14px
      text-align: center
      text-decoration: none
      font-family: 'Arial'
      background: url('/assets/images/market/lk/gray-but.small.png') no-repeat
      background-position: 0 -180px
    .gray-but-small:hover
      background-position: 0 0
    .gray-but-small:active
      color: #dcea8
      background-position: 0 -90px

  .gray-but
    display: inline-block
    border: 1px solid #646464
    border-radius(6px)

    .white-border-top
      border-radius(6px)
      border-top: 1px solid #e5e6e6
      overflow: hidden
      padding: 10px 25px
      background: #9a9d9e

      a
        display: inline-block
        text-decoration: none
        color: white
        text-shadow(1px 1px 1px #435f6e)
        height: 0
        font-family: 'Arial'
        font-size: 14px
  .gray-but:hover

    .white-border-top

      a
        box-shadow(0 7px 20px 3px #FFFFFF)
  .gray-but:active

    .white-border-top
      border-top: 1px solid #7f8283
      background: #7f8283

      a
        box-shadow(none)
        opacity: 0.6


  .gray-but-smallest
    display: inline-block
    overflow: hidden
    border: 1px solid #b2b2b2
    border-radius(10px)
    box-shadow(1px 1px 1px 1px #676767)

    .white-border-top
      display: inline-block
      border-top: 1px solid #fbfbfb
      border-radius(10px)
      padding: 4px 15px
      color: #959595
      text-decoration: none
      font-size: 12px
      font-family: 'Arial'

  @css {
    .gray-but-smallest .white-border-top {
        background: #eeeeee;
        background: -moz-linear-gradient(top, #eeeeee 0%, #d7d7d7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d7d7d7));
        background: -webkit-linear-gradient(top, #eeeeee 0%,#d7d7d7 100%);
        background: -o-linear-gradient(top, #eeeeee 0%,#d7d7d7 100%);
        background: -ms-linear-gradient(top, #eeeeee 0%,#d7d7d7 100%);
        background: linear-gradient(to bottom, #eeeeee 0%,#d7d7d7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d7d7d7',GradientType=0 );
    }

    .gray-but-smallest:hover .white-border-top {
      background: #f0f0f0
    }

    .gray-but-smallest:active .white-border-top  {
      background: #d7d7d7;
      background: -moz-linear-gradient(top, #d7d7d7 0%, #ebebeb 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d7d7), color-stop(100%,#ebebeb));
      background: -webkit-linear-gradient(top, #d7d7d7 0%,#ebebeb 100%);
      background: -o-linear-gradient(top, #d7d7d7 0%,#ebebeb 100%);
      background: -ms-linear-gradient(top, #d7d7d7 0%,#ebebeb 100%);
      background: linear-gradient(to bottom, #d7d7d7 0%,#ebebeb 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#ebebeb',GradientType=0 );
    }

  }



  .select-file-wrap
    width: 300px
    float: left
    overflow: hidden
    .preview
      margin-top: 1px
      float: left
      img
        border: 1px solid #b2b2b2
    .selectbox
      width: 200px
      float: left
      padding-left: 20px
      .select-file
        position: relative
        height: 27px
        overflow: hidden
        input
          outline: 0
          position: absolute
          z-index: 2
          cursor: pointer
          top: 0
          left: 0
          display: block
          opacity: 0
          width: 188px
          height: 27px
        .bg
          padding-top: 6px
          position: absolute
          top: 0
          left: 0
          width: 188px
          height: 27px
          background: url('/assets/images/market/lk/gray-but.png') no-repeat
          background-position: 0 -154px
          font-size: 12px
          font-family: 'Arial'
          color: #959595
          text-align: center
      .select-file:hover
        .bg
          background-position: 0 -77px
      .select-file:active
         .bg
          background-position: 0 0
      .descr
        padding-top: 5px
        font-size: 12px
        font-family: 'Arial'
        color: #b4b4b4

  .body-wrap

    .title-wrap

      .center
        position: relative

        .adn-title-buttons
          position: absolute
          top: 3px
          right: 50px

          .gray-but-wrap

            a
              padding: 7px 15px 3px

        .title-inner
          font-size: 30px
          color: #676666
          font-family: 'ParagNorCIta'
          padding-left: 50px

        .back-but
          display: block
          margin-left: 11px
          margin-right: 15px
          width: 35px
          height: 35px
          float: left
          text-decoration: none
          background: url('/assets/images/market/lk/back-but.png') no-repeat
          background-position: 0 -85px
        .back-but:hover
          background-position: 0 0

  .error-label
    background: url('/assets/images/market/lk/error-icon.png') no-repeat left center
    padding-left: 50px
    height: 50px
    margin-bottom: 30px
    margin-left: -50px

  .close
    float: right
    width: 17px
    height: 17px
    text-decoration: none
    background: url('/assets/images/market/lk/close-icon.png') no-repeat
    background-position: 0 -67px
  .close:hover
    background-position: 0 0
  .close:active
    background-position: 0 1px

  .popup
    display: none
    position: absolute
    left: 50%
    top: 50%
    z-index: 20000
  .overlay
    display: none
    position: fixed
    top: 0
    left: 0
    z-index: 5
    width: 100%
    height: 100%
    background: black
    opacity: 0.5

  .submit-wrap
    overflow: hidden
    width: 100%

  .popup
    width: 488px
    margin-left: -249px
    background: #e1e1e1
    border-radius(10px)

    .hat
      background: #efefef
      border-bottom: 1px solid #9a9b9b
      border-radius(10px 10px 0 0)
      overflow: hidden
      padding: 10px

    .content
      padding: 25px

      .popup_title
        padding-bottom: 25px
        color: #676666
        font-size: 30px
        font-family: 'ParagNorCIta'
        text-align: center

      .ad-preview
        position: relative
        overflow: hidden
        width: 300px
        margin: 0px auto

        .sm-block
          position: relative
          margin: 0 auto

      .controls
        text-align: center
        padding-top: 50px

      .note
        color: #b4b4b4
        font-family: Arial
        font-size: 12px
        text-shadow: 1px #eaeaea solid
        padding: 13px 60px
        text-align: center

        .blue
          color: #6290ad
          font-weight: bold

      .textarea
        border: 1px #b2b2b2 solid
        background: #fff
        padding: 1px

        textarea
          width: 404px
          color: #959595
          font-family: Arial
          font-size: 14px
          padding: 12px 15px;height: 160px
          border-top: 1px #d3d3d3 solid
          box-shadow( inset 1px 1px 3px d3d3d3 )
          border-radius( 2px )
  .popup.another-nodes
    width: 768px

  .disable-shop
    .input-wrap
      .left
        display: none

  .disable-ad
    .descr
      text-align: center
      font-size: 12px
      font-family: 'Arial'
      color: #b4b4b4
    a
      color: #4f88a9
      text-decoration: none
    a:hover
      text-decoration: underline

  .hide-content
    display: none

  .err-msg
    padding-top: 5px
    color: #E23131
    font-size: 12px
    font-family: 'Arial'

  .white-board
    position: relative
    display: inline-block
    border-radius(6px)
    background: #efefef
    box-shadow(1px 1px 2px 0 #959595)

    .white-border-top
      border-radius(6px)
      box-shadow(0 -2px 0 0 white)
      overflow: hidden

      .gray-border-bottom
        overflow: hidden
        border-radius(6px)
        box-shadow(0 1px 0 0 gray)

  .triger-wrap
    text-align: center
    span
      font-family: 'Arial'
      font-size: 10px
    span:hover
      cursor: pointer
      color: #5088aa
    .disable-but
      color: #cbcbcb
    .triger
      position: relative
      display: inline-block
      width: 44px
      height: 6px
      background: url('/assets/images/market/lk/triger-bg.png') no-repeat center center
      .circle
        transition( -webkit-transform linear 0.1s )
        transition( transform linear 0.1s )
        position: absolute
        width: 20px
        height: 18px
        top: -6px
        transform( translate3d(-3px, 0, 0))
        background: url('/assets/images/market/lk/circle.png') no-repeat
        background-position: 0 -68px
      .circle:hover
        cursor: pointer
        background-position: 0 0
  .triger-wrap.enabled
    .circle
      transform( translate3d(27px, 0, 0))

  .login-page
    font-size: 14px
    font-family: "Arial"
    width: 600px
    margin: -70px auto 0

    p
      margin: 13px 0

    .lp-title
      font-size: 30px
      color: #676666
      font-family: 'ParagNorCIta'
      text-align: center
      padding: 20px 0 10px

    .block-480
      margin-left: 120px

    .recover-password
      color: #bebebe
      text-align: right
      font-size: 12px

      a
        color: #07a1ca
        text-decoration: none

      a:hover
        text-decoration: underline

    .login-but-wrap
      position: relative
      text-align: center
      margin-top: 25px

      .border-line
        position: absolute
        top: 50%

      .login-but
        position: relative
        z-index: 1
        background: #E1E1E1
        margin: 0 auto
        width: 152px

      input
        position: relative
        z-index: 2

  .lk-list
    .item
      font-family: 'Arial'
      display: block
      padding: 5px 10px
      margin: 2px 0
      text-decoration: none
      .number
        font-size: 12px
        color: #959595
      .name
        padding-left: 100px
        font-size: 24px
        color: #23313d
        font-weight: bold
        font-family: 'PT Sans Narrow'
      .mmart-name
        font-size: 16px
        color: #676666
    .item:hover
      background: #efefef


  /*
   *  Список дочерних элементов в кабинете супервайзера
   */
  .nodes
    margin-bottom: 50px

    .node
      padding: 10px
      background: #dad9d9

      .n-name,
      .n-city
        font-size: 14px
        color: #676666

      .n-expand
        float: right
        color: #959595
        font-size: 12px
        text-decoration: none

      .toggle
        float: right
        text-decoration: none
        display: inline-block
        font-size: 12px
        line-height: 14px
        font-family: 'Arial'
        color: #959595
        padding-right: 20px
        background: url('/assets/images/market/lk/angle.png') no-repeat
        background-position: right -115px
      .toggle:hover
        color: #5088aa
        background-position: right 3px
      .toggle:active
        margin-top: 1px

    .node.open
      background: #efefef

      .toggle
        background-position: right -176px
      .toggle:hover
        color: #5088aa
        background-position: right -58px

    .ads-list
      display: none

  .js-g-slide-toggle
    text-decoration: none
    display: inline-block
    font-size: 12px
    line-height: 14px
    font-family: 'Arial'
    color: #959595
    padding-right: 20px
    background: url('/assets/images/market/lk/angle.png') no-repeat
    background-position: right -115px
  .js-g-slide-toggle:hover
    color: #5088aa
    background-position: right 3px

  .js-g-slide-toggle.open
    background-position: right -176px
  .js-g-slide-toggle.open:hover
    color: #5088aa
    background-position: right -58px

  .js-g-slide-toggle.l-right
    float: right

  /*
   *  Список узлов с чередованием цветов
   */
  .nodes-list
    margin-top: 10px
    border: 1px solid #b2b2b2

    .hat
      padding: 12px
      background: #cbcbcb
      font-size: 12px
      line-height: 12px
      font-family: 'Arial'
      color: #efefef
      text-align: right

    .even,
    .odd
      overflow: hidden
      padding: 11px 12px

    .even
      background: #f5f5f5

    .odd
      background: white

    .left
      float: left

      a
        font-family: 'Arial'
        color: #959595
        font-weight: bold
        text-decoration: none
        font-size: 16px
      a:hover
        text-decoration: underline

      .type
        font-family: 'Arial'
        font-size: 16px
        color: #959595

    .right
      float: right

      span
        font-family: 'Arial'
        font-size: 10px

      span:hover
        cursor: pointer
        color: #5088aa

      .disable-but
        color: #cbcbcb

      .triger
        position: relative
        display: inline-block
        width: 44px
        height: 6px
        background: url('/assets/images/market/lk/triger-bg.png') no-repeat center center

        .circle
          transition( -webkit-transform linear 0.1s )
          transition( transform linear 0.1s )
          position: absolute
          width: 20px
          height: 18px
          top: -6px
          transform( translate3d(-3px, 0, 0))
          background: url('/assets/images/market/lk/circle.png') no-repeat
          background-position: 0 -68px
        .circle:hover
          cursor: pointer
          background-position: 0 0

    .enabled

      .left

        a
          color: #4f88a9

      .right

        .circle
          transform( translate3d(27px, 0, 0))

  /*
   *  Биллинг
   */
  .billing-page

    .top-info
      margin-bottom: 15px

      td
        vertical-align: middle

        .ovh
          display: inline-block
          padding: 10px 25px

        .gray
          display: inline-block
          width: 60px

        .vlaue
          font-size: 14px
          font-family: 'Arial'
          color: #676666

        .value.big
          font-size: 24px
          color: #23313d
          font-family: 'ParagNorCIta'

    .mid-info
      margin: 30px 0

      .f-left
        width: 100px

      .ovh
        color: #616161

    .transactions-history
      margin-top: 100px
      margin-bottom: 50px

      .title
        padding: 10px
        background: #dad9d9

        .toggle
          float: right
          text-decoration: none
          display: inline-block
          font-size: 12px
          line-height: 14px
          font-family: 'Arial'
          color: #959595
          padding-right: 20px
          background: url('/assets/images/market/lk/angle.png') no-repeat
          background-position: right -115px
        .toggle:hover
          color: #5088aa
          background-position: right 3px
        .toggle:active
          margin-top: 1px

      .title.open
        background: #efefef

        .toggle
          background-position: right -176px
        .toggle:hover
          color: #5088aa
          background-position: right -58px



      .transactions-list
        display: none

        .item
          padding: 15px 0px 15px 20px
          overflow: hidden

          .f-left
            width: 630px

    .gray-but-smallest
      margin-top: 25px
      margin-left: 1px


@import "../reset"
@import "base"
@import "main-page"
@import "new-shop"
@import "edit-mart"
@import "edit-shop"
@import "ads-list"
@import "cbca-select"


/* Разные окошки, которые нужно отображать поверх всего */
.lk-overlay-data
  display: none
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  z-index: 10000

.lk-overlay-data__window
  width: 700px
  margin-top: 50px
  background: #e1e1e1

/* Окошко для кадрирования картинок */
.market-crop-tool__container
  border: 1px #ccc solid
  overflow: hidden

/* Мелкая ссылка */
.lk-small-link
  font-size: 12px

.lk-small-link_gray
  color: #333

/* Инпут для загрузки картинки */
.lk-file-input
  position: relative
  height: 30px
  display: inline-block

.lk-file-input__div
  cursor: pointer
  position: absolute
  left: 0px
  top: 0px
  color: #959595
  font-size: 12px
  border: 1px #b2b2b2 solid
  border-radius( 20px )

.lk-file-input__div-inner
  cursor: pointer
  border-top: 1px #fff solid
  border-radius( 20px )
  padding: 4px 10px
  width: 160px
  text-align: center
  background: #e2e2e2

  background: -moz-linear-gradient(top,  #efefef 0%, #e2e2e2 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#e2e2e2));
  background: -webkit-linear-gradient(top,  #efefef 0%,#e2e2e2 100%)
  background: -o-linear-gradient(top,  #efefef 0%,#e2e2e2 100%)
  background: -ms-linear-gradient(top,  #efefef 0%,#e2e2e2 100%)
  background: linear-gradient(to bottom,  #efefef 0%,#e2e2e2 100%)

.lk-file-input:hover

  .lk-file-input__div-inner
    color: #2e2e2e
    background: #f6f6f6

.lk-file-input:active

  .lk-file-input__div-inner
    background: -moz-linear-gradient(bottom,  #efefef 0%, #e2e2e2 100%)
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#efefef), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(bottom,  #efefef 0%,#e2e2e2 100%)
    background: -o-linear-gradient(bottom,  #efefef 0%,#e2e2e2 100%)
    background: -ms-linear-gradient(bottom,  #efefef 0%,#e2e2e2 100%)
    background: linear-gradient(to top,  #efefef 0%,#e2e2e2 100%)

.lk-file-input__input
  opacity: 0
  cursor: pointer

/* Инструмент для установки выравнивания текста */
.align-editor
  width: 81px
  border-bottom: 1px #686868 solid

.align-editor__button
  background: #e0e0e0 url('/assets/images/align-editor-sprite.png') no-repeat 4px 6px
  width: 25px
  height: 23px
  float: left
  border-left: 1px #f5f5f5 solid
  border-right: 1px #cbcbcb solid
  cursor: pointer

.align-editor__button_active
  background-color: #d6d3d3

.align-editor__button_center
  background-position: -23px 6px

.align-editor__button_right
  background-position: -50px 6px

/* Поля ввода */
.lk-text-field
  border: 1px #b2b2b2 solid
  padding: 1px

  div
    border-top: 1px #d3d3d3 solid
    border-left: 1px #fbfbfb solid
    border-right: 1px #fbfbfb solid
    padding: 10px 15px
    background: #fff

    input,
    textarea
      width: 100%
      outline: none

.lk-color-select
  width: 100px

.lk-color-select__label,
.lk-color-select__color
  float: left

.lk-color-select__label
  padding-top: 6px
  width: 54px
  color: #959595
  font-size: 12px
  font-family: Arial

.lk-color-select__label_hidden
  display: none

.lk-color-select__color
  cursor: pointer
  position: relative
  width: 27px
  height: 27px
  border: 1px #b2b2b2 solid

.lk-color-select__color_custom
  div
    position: absolute
    left: 0px
    top: 0px
    width: 27px
    height: 27px
    background: lk_sprite
    background-position: left -190px

.lk-field-w-tools
  position: relative

.lk-field-w-tools__tools
  background: #dad9d9
  width: 100%
  height: 34px
  position: absolute
  left: 0px
  top: -33px

/* Field tools */

.js-mvbl
  cursor: move

.lk-field-tools__top-white-line
  background: #eaeaea
  height: 1px
  width: 100%

.lk-field-tools__inner
  border: 1px #b2b2b2 solid
  height: 32px

.lk-field-tools__editor
  float: left
  padding-top: 1px
  margin: 0px 7px
  color: #959595

  select
    font-size: 12px
    border: 1px #ccc solid
    margin-top: 5px
    color: #959595

.lk-field-tools__editor_align-editor
  padding-top: 4px

.lk-field-w-tools__field
  position: relative


.lk-field-w-colorpicker__left,
.lk-field-w-colorpicker__right 
  float: left

.lk-field-w-colorpicker__right
  padding-left: 20px

.lk-fieldeset_wide
  width: 360px

/* Общие стили */
.lk-edit-form__block
  margin-bottom: 10px

.lk-edit-form__block_title
  background: #dad9d9
  color: #676666
  font-weight: bold

  .js-g-slide-toggle
    margin: 7px 11px

.lk-edit-form__block_title_span
  display: inline-block
  padding: 7px 11px

.lk-edit-form__block_body
  background: #efefef
  border-radius(0 0 6px 6px)
  box-shadow(0px 1px 0px 0px #acadad)

.lk-edit-form__block_body_inner
  padding: 10px 22px
  overflow: hidden

.lk-h2
  color: #676666
  font-size: 14px
  font-weight: bold
  padding: 10px 0px

/* Список блоков в виде иконок */
.lk-edit-form__blocks-list-icons
  padding: 0px

.blocks-list-icons__single-icon
  float: left
  cursor: pointer
  background: #efefef
  width: 60px
  height: 60px
  margin-right: 10px
  margin-bottom: 15px
  border: 1px transparent solid
  background-image: url('/assets/images/block-icons-sprite.png?v=5')
  background-repeat: no-repeat

.blocks-list-icons__single-icon_active
  cursor: default
  border-color: #a2a2a2
  background-color: #e1e1e1
  box-shadow( inset 0px 2px 3px #a8acaf )

.block-list-icon-1
  background-position: left -959px

.block-list-icon-2,
.block-list-icon-7
  background-position: left -1039px

.block-list-icon-3
  background-position: left -879px

.block-list-icon-4
  background-position: left -1599px

.block-list-icon-5
  background-position: left -1359px

.block-list-icon-6
  background-position: left -1439px

.block-list-icon-8
  background-position: left -639px

.block-list-icon-9
  background-position: left -799px

.block-list-icon-10
  background-position: left -79px

.block-list-icon-11
  background-position: left -160px

.block-list-icon-12
  background-position: left -239px

.block-list-icon-13
  background-position: 0px -1519px

.block-list-icon-14
  background-position: 0px -1199px

.block-list-icon-15
  background-position: 0px -400px

.block-list-icon-16
  background-position: 0px -1680px

.block-list-icon-17
  background-position: left -1280px

.block-list-icon-18
  background-position: 0px -480px

.block-list-icon-19
  background-position: 0px -1120px

.block-list-icon-20
  background-position: 0px -1760px

.block-list-icon-21
  background-position: 0px -1840px

.block-list-icon-22
  background-position: 0px -2000px

.block-list-icon-23
  background-position: 0px -1919px

.block-list-icon-24
  background-position: 0px -558px

/* Блок с превьюшкой и редактором блока */
.lk-ad-block-edit-form__preview
  width: 340px
  min-height: 100px
  float: left

.lk-ad-block-edit-form__preview_container
  background: url('/assets/images/ld-ad-block-size-grid.png') no-repeat left top
  float: left
  min-height: 140px
  min-width: 140px
  padding-left: 23px
  padding-top: 24px

  .sio-mart__single-offer
    position: relative


.lk-ad-block-edit-form__editor
  width: 480px
  float: left

/* Блока редактора блока с полями ввода */
.ad-block-editor__fieldset
  margin: 20px 0px

.ad-block-editor__fieldset_label
  display: block
  padding: 5px 0px
  color: #838383
  font-family: Arial
  font-size: 12px
  font-weight: bold

/* Редактор высоты блока */
.block-height-editor
  height: 21px

.block-height-editor__button
  float: left
  border-top: 1px #c4c4c4 solid
  border-bottom: 1px #f7f7f7 solid
  margin-right: 8px

  div
    width: 22px
    height: 21px
    background: #efefef lk_sprite
    background-position: 4px -165px
    border: 1px #c4c4c4 solid
    border-top: 1px #f7f7f7 solid
    cursor: pointer

.block-height-editor__button:hover
  div
    background-position: -40px -165px

.block-height-editor__button_increase
  div
    background-position: -18px -165px

.block-height-editor__button_increase:hover
  div
    background-position: -62px -165px