retina = "only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)"

.ovh
  overflow: hidden

@font-face
    font-family: 'ParagNorCIta'
    src: url('/assets/fonts/market/DINCondensedC/PFDinTextCompPro-Medium.eot')
    src: url('/assets/fonts/market/DINCondensedC/PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/market/DINCondensedC/PFDinTextCompPro-Medium.woff') format('woff'),
         url('/assets/fonts/market/DINCondensedC/PFDinTextCompPro-Medium.ttf') format('truetype'),
         url('/assets/fonts/market/DINCondensedC/PFDinTextCompPro-Medium.svg#pf_din_text_comp_promedium') format('svg')
    font-weight: normal
    font-style: normal

@import "../reset"