border-radius(v)
  -webkit-border-radius:v
  border-radius:v

box-shadow(v)
  -webkit-box-shadow: v
  -moz-box-shadow:    v
  box-shadow:         v

text-shadow(v)
  -webkit-text-shadow: v
  -moz-text-shadow:    v
  text-shadow:         v


transition(v)
  -webkit-transition: v
  transition: v

transform(v)
  -webkit-transform: v
  transform: v

.clear
  clear: both

siomBlueColor = #07a1ca

screen1024 = 'screen and (max-width: 1024px)'
screen768 = 'screen and (max-width: 768px)'
lk_sprite = url('/assets/images/market-lk-sprite.png') no-repeat left top

.colorpicker
  z-index: 10000000!important


i
 font-style: italic

u
 text-decoration: underline

blockquote
 padding-left: 30px

ul
  padding-left: 30px

li
  list-style: disc

.ovh
  overflow: hidden

.lk
  font-size: 14px
  font-family: 'Arial'
  color: #676666



.input-w.__pass

  td
    padding: 5px 0

  .input
    width: 278px

  .pass-text
    vertical-align: middle
    font-size: 12px
    font-family: 'Arial'
    color: #b4b4b4
    width: 250px
    padding-left: 45px



@import "../reset"
@import "fonts"
@import "base"

@import "ads-list"
@import "cbca-select"
@import "buttons"


.sm-note
  position: relative
  padding: 10px 0px
  font-size: 12px
  color: #959595

.sm-note__q-mark
  color: #208bae
  font-family: Arial
  font-size: 13px
  padding: 0px
  cursor: help
  border-bottom: 1px #208bae solid

.sm-note__message
  display: none

.sm-note__link
  color: #5088aa

.sm-light-text
  color: #959595

.g-sm-strong
  font-size: 14px
  font-weight: bold

.superuser-link
  font-size: 10px
  color: #999

.g-price
  font-family: 'PT Sans Narrow','sans-serif'
  font-size: 24px
  color: #676666

.sm-large-button
  font-family: 'PFDinTextCompPro-Medium'
  border: 1px #9c9c9c solid
  color: #676666
  text-decoration: none
  font-size: 30px
  display: inline-block
  border-radius( 4px )

  span
    border-radius( 4px )
    padding: 4px 15px 0px 15px
    display: inline-block
    background: #e2e1e1
    border-bottom: 1px #cbcbcb solid
    border-top: 1px #f7f7f7 solid
    text-shadow( 1px 1px 1px #fff )


.sm-large-button:hover
  color: #4f88a9

.sm-large-button:active
  color: #676666

  span
    background: #cfcfcf
    box-shadow(inset 0px 0px 14px #a9a9a9)

.sm-large-button_disabled
  opacity: 0.5
  cursor: default

.sm-large-button_disabled:hover
  color: #676666

.sm-large-button_disabled:active
  color: #676666

  span
    background: #e2e1e1
    box-shadow: none


/* Разные окошки, которые нужно отображать поверх всего */
.lk-overlay-data
  display: none
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  z-index: 10000
  overflow-y: scroll
  background: rgba(0, 0, 0, 0.6)
  text-align: center

.lk-overlay-data__window
  width: 700px 
  margin-top: 50px
  margin-bottom: 50px
  background: #e1e1e1

/* Окошко для кадрирования картинок */
.market-crop-tool__container
  border: 1px #ccc solid
  overflow: hidden
  position: relative

/* Мелкая ссылка */
.lk-small-link
  font-size: 12px

.lk-small-link_gray
  color: #333

/* Инпут для загрузки картинки */
.lk-file-input
  position: relative
  height: 30px
  display: inline-block

.lk-file-input__div
  cursor: pointer
  position: absolute
  left: 0px
  top: 0px
  color: #959595
  font-size: 12px
  border: 1px #b2b2b2 solid
  border-radius( 20px )

.lk-file-input__div-inner
  cursor: pointer
  border-top: 1px #fff solid
  border-radius( 20px )
  padding: 4px 10px
  width: 160px
  text-align: center
  background: #e2e2e2

  background: -moz-linear-gradient(top,  #efefef 0%, #e2e2e2 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#e2e2e2));
  background: -webkit-linear-gradient(top,  #efefef 0%,#e2e2e2 100%)
  background: -o-linear-gradient(top,  #efefef 0%,#e2e2e2 100%)
  background: -ms-linear-gradient(top,  #efefef 0%,#e2e2e2 100%)
  background: linear-gradient(to bottom,  #efefef 0%,#e2e2e2 100%)

.lk-file-input:hover

  .lk-file-input__div-inner
    color: #2e2e2e
    background: #f6f6f6

.lk-file-input:active

  .lk-file-input__div-inner
    background: -moz-linear-gradient(bottom,  #efefef 0%, #e2e2e2 100%)
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#efefef), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(bottom,  #efefef 0%,#e2e2e2 100%)
    background: -o-linear-gradient(bottom,  #efefef 0%,#e2e2e2 100%)
    background: -ms-linear-gradient(bottom,  #efefef 0%,#e2e2e2 100%)
    background: linear-gradient(to top,  #efefef 0%,#e2e2e2 100%)

.lk-file-input__input
  opacity: 0
  cursor: pointer

/* Инструмент для установки выравнивания текста */
.align-editor
  width: 81px
  border-bottom: 1px #686868 solid

.align-editor__button
  background: #e0e0e0 url('/assets/images/align-editor-sprite.png') no-repeat 4px 6px
  width: 25px
  height: 23px
  float: left
  border-left: 1px #f5f5f5 solid
  border-right: 1px #cbcbcb solid
  cursor: pointer

.align-editor__button_active
  background-color: #d6d3d3

.align-editor__button_center
  background-position: -23px 6px

.align-editor__button_right
  background-position: -50px 6px

/* Поля ввода */
.lk-text-field
  border: 1px #b2b2b2 solid
  padding: 1px

  div
    border-top: 1px #d3d3d3 solid
    border-left: 1px #fbfbfb solid
    border-right: 1px #fbfbfb solid
    padding: 10px 15px
    background: #fff

    input,
    textarea
      width: 100%
      outline: none

.lk-color-select
  width: 100px

.lk-color-select__label,
.lk-color-select__color
  float: left

.lk-color-select__label
  padding-top: 6px
  width: 54px
  color: #959595
  font-size: 12px
  font-family: Arial

.lk-color-select__label_hidden
  display: none

.lk-color-select__color
  cursor: pointer
  position: relative
  width: 27px
  height: 27px
  border: 1px #b2b2b2 solid

.lk-color-select__color_custom
  div
    position: absolute
    left: 0px
    top: 0px
    width: 27px
    height: 27px
    background: lk_sprite
    background-position: left -190px

.lk-field-w-tools
  position: relative

.lk-field-w-tools__tools
  background: #dad9d9
  width: 100%
  height: 34px
  position: absolute
  left: 0px
  top: -33px

/* Field tools */

.js-mvbl
  cursor: move

.lk-field-tools__top-white-line
  background: #eaeaea
  height: 1px
  width: 100%

.lk-field-tools__inner
  border: 1px #b2b2b2 solid
  height: 32px

.lk-field-tools__editor
  float: left
  padding-top: 1px
  margin: 0px 7px
  color: #959595

  select
    font-size: 12px
    border: 1px #ccc solid
    margin-top: 5px
    color: #000

.lk-field-tools__editor.lk-color-select
  width: 30px

.lk-field-tools__editor_align-editor
  padding-top: 4px

.lk-field-w-tools__field
  position: relative


.lk-field-w-colorpicker__left,
.lk-field-w-colorpicker__right 
  float: left

.lk-field-w-colorpicker__right
  padding-left: 20px

.lk-fieldeset_wide
  width: 360px

/* Общие стили */
.lk-edit-form__block
  margin-bottom: 10px

.lk-edit-form__block_title
  background: #dad9d9
  color: #676666
  font-weight: bold

  .js-g-slide-toggle
    margin: 7px 11px

  .js-close-btn
    margin-top: 7px
    margin-right: 11px

.attention-icon
  display: block
  position: absolute
  left: -50px
  top: 0
  background-image: url('/assets/images/market/lk/attention-icon.png')
  background-repeat: no-repeat
  width: 31px
  height: 11px
  padding: 10px 0
  text-align: center
  text-shadow: none
  font-size: 12px
  line-height: 16px
  margin-top: -5px
  color: white

.lk-edit-form__block_title

  .attention-icon
    display: none

.lk-edit-form__block_title.attention
  position: relative
  background-color: #e24a4a
  color: white

  .attention-icon
    display: block

.lk-edit-form__block_title_span
  display: inline-block
  padding: 7px 11px

.lk-edit-form__block_body
  background: #efefef
  box-shadow(0px 1px 0px 0px #acadad)

  .lk-edit-form__block_body
    box-shadow: none

.lk-edit-form__block_body_inner
  padding: 10px 22px
  overflow: hidden

.lk-h2
  color: #676666
  font-size: 14px
  font-weight: bold
  padding: 10px 0px

/* Список блоков в виде иконок */
.lk-edit-form__blocks-list-icons
  padding: 0px

.blocks-list-icons__single-icon
  float: left
  cursor: pointer
  background: #efefef
  width: 60px
  height: 60px
  margin-right: 10px
  margin-bottom: 15px
  border: 1px transparent solid
  background-image: url('/assets/images/block-icons-sprite.png?v=5')
  background-repeat: no-repeat

.blocks-list-icons__single-icon_active
  cursor: default
  border-color: #a2a2a2
  background-color: #e1e1e1
  box-shadow( inset 0px 2px 3px #a8acaf )

.block-list-icon-1
  background-position: left -959px

.block-list-icon-2,
.block-list-icon-7
  background-position: left -1039px

.block-list-icon-3
  background-position: left -879px

.block-list-icon-4
  background-position: left -1599px

.block-list-icon-5
  background-position: left -1359px

.block-list-icon-6
  background-position: left -1439px

.block-list-icon-8
  background-position: left -639px

.block-list-icon-9
  background-position: left -799px

.block-list-icon-10
  background-position: left -79px

.block-list-icon-11
  background-position: left -160px

.block-list-icon-12
  background-position: left -239px

.block-list-icon-13
  background-position: 0px -1519px

.block-list-icon-14
  background-position: 0px -1199px

.block-list-icon-15
  background-position: 0px -400px

.block-list-icon-16
  background-position: 0px -1680px

.block-list-icon-17
  background-position: left -1280px

.block-list-icon-18
  background-position: 0px -480px

.block-list-icon-19
  background-position: 0px -1120px

.block-list-icon-20
  background-position: 0px -1760px

.block-list-icon-21
  background-position: 0px -1840px

.block-list-icon-22
  background-position: 0px -2000px

.block-list-icon-23
  background-position: 0px -1919px

.block-list-icon-24
  background-position: 0px -558px

/* Блок с превьюшкой и редактором блока */
.lk-ad-block-edit-form__preview
  width: 340px
  min-height: 100px
  float: left

.lk-ad-block-edit-form__preview_container
  background: url('/assets/images/ld-ad-block-size-grid.png') no-repeat left top
  float: left
  min-height: 140px
  min-width: 140px
  padding-left: 23px
  padding-top: 24px

  .sio-mart__single-offer
    position: relative


.lk-ad-block-edit-form__editor
  width: 480px
  float: left

/* Блока редактора блока с полями ввода */
.ad-block-editor__fieldset
  margin: 20px 0px

.ad-block-editor__fieldset_label
  display: block
  padding: 5px 0px 5px 0px
  color: #838383
  font-family: Arial
  font-size: 12px
  font-weight: bold

/* Редактор высоты блока */
.block-height-editor
  height: 21px

.block-height-editor__button
  float: left
  border-top: 1px #c4c4c4 solid
  border-bottom: 1px #f7f7f7 solid
  margin-right: 8px

  div
    width: 22px
    height: 21px
    background: #efefef lk_sprite
    background-position: 4px -165px
    border: 1px #c4c4c4 solid
    border-top: 1px #f7f7f7 solid
    cursor: pointer

.block-height-editor__button:hover
  div
    background-position: -40px -165px

.block-height-editor__button_increase
  div
    background-position: -18px -165px

.block-height-editor__button_increase:hover
  div
    background-position: -62px -165px

/***********************/
/* Размещение карточек */
/***********************/
.advs-info-block
  padding: 0px

.advs-info-block__section
  border-right: 1px #cccccb solid
  border-left: 1px #f8f8f8 solid
  float: left
  margin: 20px 0px
  font-size: 12px
  padding: 0px 20px

.advs-info-block__section_left
  border-left: 0px
  width: 242px
  padding-left: 30px

.advs-info-block__section_center
  width: 274px

.advs-info-block__section_right
  width: 160px
  border-right: 0px

.advs-info-block__price
  font-family: 'PT Sans Narrow','sans-serif'
  font-size: 24px
  color: #676666

.advs-form-block
  padding: 27px 30px

.advs-form-block__tabs
  border-bottom: 3px #208bae solid

.advs-form-block__tabs-single-tab
  cursor: pointer
  background: #dad9d9
  font-family: Arial
  font-size: 14px
  font-weight: bold
  padding: 17px 26px
  color: #676666
  display: block
  float: left
  margin-right: 5px

.advs-form-block__tabs-single-tab_active
  cursor: default
  background: #208bae
  color: #e1e1e1


/*************************/
/* Предпросмотр карточки */
/*************************/
.ad-full-preview
  position: relative
  width: 624px
  margin: 0px auto
  padding: 20px 0px

  .sio-mart-showcase
    position: relative

.ad-full-preview__close-cross
  position: absolute
  right: -40px
  top: 20px
  width: 24px
  height: 27px
  cursor: pointer
  background: url('/assets/images/market/ad-form-popup-close-cross.png')


/*********************************/
/* Статусы рассмотрения карточек */
/*********************************/
.advs-statuses__status
  position: relative
  padding: 5px 0px 5px 30px

.advs-statuses__status-icon
  position: absolute
  left: 0px
  top: 0px
  width: 30px
  height: 30px
  background: lk_sprite

.advs-statuses__status-icon_approved
  background-position: -340px 3px

.advs-statuses__status-icon_pending
  background-position: -340px -90px

.advs-statuses__status-icon_declined
  background-position: -340px -43px

.advs-statuses_in-popup
  padding-left: 30px
  color: #676666
  font-size: 12px

.advs-statuses__status_in-popup
  display: inline-block
  padding: 10px 0px 10px 30px

.advs-statuses__status__date
  color: #959595

.advs-statuses__transactions-btn
  margin: 20px 0

/* Блок с подтверждением размешения карточки */

.adv-submit-block
  text-align: center
  padding: 20px 0px
  font-size: 12px

.adv-submit-block__button
  margin: 20px auto

.adv-submit-block__price
  color: #000
  font-size: 30px
  padding: 10px 0px

/* Список источников / приемников */
.advs-nodes
  border: 1px #b2b2b2 solid

.advs-nodes__node
  position: relative
  padding: 12px 16px
  background: #fff
  border-bottom: 1px #cbcbcb solid

.advs-nodes__node:last-child
  border-bottom: none !important

.advs-nodes__node_even
  background: #f5f5f5

.advs-nodes__node_active
  background: #d6fecf

.advs-nodes_lk-mode
  margin: 25px 0

.advs-nodes__node-link
  font-family: Arial
  font-weight: bold
  color: #4f88a9
  text-decoration: none

.advs-nodes__node-link:hover
  text-decoration: underline

.advs-nodes__hat
  color: #efefef
  position: relative
  padding: 12px 16px
  background: #cbcbcb
  border-bottom: 1px #b2b2b2 solid

.advs-nodes__node-options
  position: absolute
  width: 200px
  right: 20px
  top: 12px
  font-size: 12px
  color: #676666
  padding-bottom: 20px

.advs-nodes__node-options_hidden
  display: none

.advs-nodes__node-dates
  color: #959595
  font-family: Arial
  font-size: 12px
  padding: 12px 0px 5px 6px

.advs-nodes__node-dates_hidden
  display: none

.advs-node-dates__elt
  float: left
  padding: 5px 10px
.advs-node-dates__input
  width: 70px
  border: 1px #b2b2b2 solid
  color: #676666

.lk-adv-reqs-count
  position: relative
  float: right
  left: auto
  right: 0
  top: 0
  margin-left: 10px


.advertising-management_td
  vertical-align: middle
  padding: 10px 25px

.advertising-requests_text
  float: left
  width: 150px
  padding-right: 50px

  p
    margin: 5px 0

.advertising-requests_items
  overflow: hidden

  .sm-block
    position: relative
    margin: 0 auto

.advertising-requests_item
  float: left
  margin-bottom: 20px
  margin-right: 40px

  .ads-list-block__link:hover
    background-color: black
    background-image: url('/assets/images/market/lk/info-icon.png')
    background-repeat: no-repeat
    background-position: 70px 50px

.line-gray
  height: 1px
  background: #9a9b9b

.adv-req-wind
  text-align: center

  &_price
    color: #23313d
    font-family: 'PT Sans Narrow','sans-serif'

.daily-mmps-window
  width: 908px !important
  margin-left: -454px !important


.login-page_content
  font-size: 14px
  font-family: "Arial"
  width: 275px
  margin: 0 auto
  text-align: center

.login-page__logo
  text-decoration: none
  display: block
  width: 65px
  height: 93px
  margin: 0 auto
  background: url('/assets/images/market/lk/logo-2.png') no-repeat
  background-size: 65px 93px

.wifi-icon
  display: inline-block
  background: url('/assets/images/market/lk/wifi-icon.png') no-repeat
  background-size: 50px 35px
  width: 50px
  height: 35px

.login-page__wifi_block
  position: absolute
  bottom: 70px
  left: 50%
  margin-left: -65px
  color: #23313d

.login-page__join-adv
  margin-top: 60px

.login-page__join-wifi
  margin-top: 10px

  .siom-ac-btn
    font-size: 18px !important

.login-page_enter_btn
  margin-right: 22px
  margin-top: 30px

.login-page__demo-btn
  margin-top: 85px

.login-popup__submit-wrap
  margin-top: 40px
  text-align: center

.login-popup__recover-password
  padding-left: 20px

.popup-title
  padding-bottom: 25px
  color: #676666
  font-size: 30px
  font-family: 'PFDinTextCompPro-Medium'
  text-align: center

.popup-title_without_padding
  padding: 0

.popup__back-btn
  display: block
  background: url('/assets/images/market/lk/popup-back.png') no-repeat
  background-position: 0 -67px
  width: 21px
  height: 17px

.popup__back-btn:hover
  background-position: 0 0

.popup__back-btn:active
  background-position: 0 1px

.lk-field
  margin-bottom: 10px

.lk-field__name
  font-family: 'Arial'
  font-size: 12px
  line-height: 12px
  color: #959595

.lk-error
  color: #e23131

.recover-popup
  font-family: 'Arial'
  font-size: 14px
  color: #959595

.recover-popup__submit-wrap
  margin-top: 50px
  text-align: center

.recover-failed-popup__content

  p
    margin-top: 18px
    margin-bottom: 18px
    margin-left: 70px

.error-label
  overflow: hidden

  &__icon
    float: left
    background: url('/assets/images/market/lk/error-icon.png') no-repeat left center
    width: 45px
    height: 46px

  &__title
    padding-top: 12px
    padding-left: 15px
    overflow: hidden
    font-family: 'Arial'
    font-size: 18px
    font-weight: bold
    color: #e24a4a
    text-shadow(1px 1px 1px white)

.success-label
  overflow: hidden

  &__icon
    float: left
    background: url('/assets/images/market/lk/ok.png') no-repeat left center
    width: 53px
    height: 49px

  &__title
    padding-top: 12px
    padding-left: 15px
    overflow: hidden
    font-family: 'Arial'
    font-size: 18px
    font-weight: bold
    color: #48ab38
    text-shadow(1px 1px 1px white)

  &__adn-invite-accept
    margin-left: -65px
    margin-top: 25px
    margin-bottom: 25px

.wifi-page

  &__left-column
    float: left
    width: 350px

  &__mid-column
    float: left
    width: 350px
    margin-left: 20px

  &__right-column
    float: left
    margin-left: 20px
    width: 350px

.visibility-hidden
  visibility: hidden

.hidden
  display: none

.quiz__td
  vertical-align: middle

.quiz__checkbox-wrap
  padding: 10px 20px

.js-quiz__checkbox
  margin-right: 15px

.join-success
  margin-top: 30px

.pargraph_join-success
  padding-left: 70px

.wave-pattern
  background: url('/assets/images/market/lk/wave-pattern.png') repeat !important

.blue-pattern
  background-color: #23313D !important
  background-image: url('/assets/images/market/lk/blue patern_retina.png') !important
  background-repeat: repeat
  background-size: 500px 333px !important


.about-page
  margin-bottom: 40px
  color: white
  font-family: "heliosthin"
  font-size: 24px
  line-height: 24px
  text-align: center

  &__title
    font-family: "aa_higherup-webfont"
    font-size: 42px
    line-height: 40px
    letter-spacing: 2px

  &__title__big-btn
    font-size: 48px
    line-height: 46px

  &__circle-wrap
    display: inline-block
    margin: 25px 0
    padding: 6px
    background-color: rgba( 107, 126, 133, 0.5)
    border-radius(50%)

  &__circle
    display: inline-block
    padding: 90px 20px 80px
    width: 232px
    height: 96px
    border-radius(50%)
    border: 1px solid white

.dot
  background: url('/assets/images/market/lk/dot.png') no-repeat
  width: 8px
  height: 8px

.bot-arrow
  background: url('/assets/images/market/lk/bot-arrow.png') no-repeat
  width: 19px
  height: 11px

.about-page__dot
  margin: 0 auto 10px

.about-page__bot-arrow
  margin: 10px auto 0

.about-page__under-btn
  font-family: 'Arial'
  color: #6b7e85
  font-size: 12px

.submit-wrap
  overflow: hidden
  width: 100%

.submit-wrap_padding10
  padding: 10px 0

.market-base
  position: relative
  min-height: 650px


.common-login
  width: 475px
  margin: 0 auto

.common-login__logo
  display: block
  margin: 0 auto
  background: url('/assets/images/market/lk/common_login_logo.png') no-repeat
  width: 120px
  height: 124px

.common-login__title
  font-family: 'PFDinTextCompPro-Medium'
  font-size: 30px
  line-height: 30px
  text-align: center
  color: #676666
  margin-bottom: 15px

.common-login__input
  margin-left: -120px
  width: 595px !important

.common-login__password-recover
  text-align: center
  padding-left: 0

.common-login__submit-wrap
  position: relative
  height: 34px

.common-login__submit
  position: relative
  display: inline-block
  margin: 0 auto
  padding: 0 15px
  z-index: 5

.common-login__submit__line
  position: absolute
  margin-top: -1px
  top: 50%
  left: 0

.contract_invite-form
  height: 400px
  padding: 15px
  overflow-y: scroll
  overflow-x: hidden

.contract-page
  overflow: hidden

.contract__h1
  margin: 15px 0
  font-size: 20px
  text-align: center

.contract-widget
  margin-bottom: 25px

.contract-widget__input
  margin-right: 10px
  margin-top: 10px
  margin-bottom: 10px

@media screen1024

  .about-page
    font-size: 16px

  .about-page__circle
    font-size: 24px

  .login-page_content
    width: 300px

  .login-page__join-adv
    padding-right: 50px

  .login-page__join-wifi
    padding-right: 50px

  .copyright-block
    padding-left: 10px !important

@media screen768

  .popup
    width: 100% !important
    margin-left: 0 !important
    left: 0 !important

    &_cnt
      padding: 20px 10px !important

  .title-wrap
    height: auto !important

    .center
      padding: 15px 0 10px !important

  .wifi-page__left-column
    width: 100%

  .quiz__checkbox-wrap
    padding: 10px

  .wifi-page__right-column
    margin-left: 0
    margin-bottom: 25px
    width: 100%

  .input-w

    tr
      display: block

    td
      display: block
      overflow: hidden
      width: 100% !important

  .captcha-table

    tr
      display: block

    .captcha-table_left
      display: block
      width: 100%


  .login-page__join-adv,
  .login-page__join-wifi
    position: relative
    padding-bottom: 50px
    padding-right: 0

  .index_help-btn
    position: absolute
    top: 50px
    left: 50%
    margin-left: -18px
    margin-right: 0




/********************************************************************************************************************/
/* refactoring to MCSS  TODO убрать все important, когда весь css будет написан по методологии */
/********************************************************************************************************************/

.color-error
  color: #e12d2d !important

.color-success
  color: #48ab38 !important

.color-strong
  color: #676666

.color-light-strong
  color: #959595

.color-link
  color: siomBlueColor

.blue-link
  color: siomBlueColor
  text-decoration: none
  border-bottom: 1px solid rgba(7, 161, 202, 0.3)
  transition(all 0.2s ease-in-out 0s)

  &:hover
    color: #276e98
    border-color: #c6c6c6


.submit-w
  overflow: hidden /* т.к. все внутренние блоки со свойством float */
  text-align: center

  &.__size-XS
    padding: 10px 20%

  &.__size-S
    padding: 25px 20%

  &.__size-M
    padding: 10px 0

  &.__size-L
    padding: 25px 0

  &.__size-XL
    padding: 50px 0

  &.__size-XXL
    width: 100%
    padding: 25px 0

  &.__invite-form
    width: 100%
    padding-left: 120px


.paragraph
  display: block

  &.__size-M
    margin: 13px 0

  &.__size-L
    margin: 20px 0

  &.__text-1
    text-align: center


.error-label
  overflow: hidden

  &_icon
    float: left
    width: 45px
    height: 46px
    background: url('/assets/images/market/lk/error-icon.png') no-repeat left center

  &_title
    padding-top: 12px /* чтобы однострочный текст был по середине иконки */
    padding-left: 60px

    font-family: 'Arial'
    font-size: 18px
    font-weight: bold
    color: #e24a4a
    text-shadow(1px 1px 1px white)

  &.__position-def
    margin-left: -60px

  &.__size-M
    padding: 25px 0


.captcha-table_left
  vertical-align: bottom
  width: 180px
  padding-right: 10px

.captcha-table_right
  vertical-align: bottom
  padding-bottom: 10px

.captcha-table_image
  float: left
  display: block

.captcha
  overflow: hidden

  .captcha-reload-btn
    margin-top: 13px


.lk-field_error-text
  display: none

  color: #e24a4a
  font-family: 'Arial'
  font-size: 12px
  line-height: 12px

.lk-field.__error

  .lk-field_error-text
    display: block

.required-icon
  color: #e23131

/********************************************************************************************************************/
/* Загрузка файлов */
/********************************************************************************************************************/
siomPreviewSize = 43

.add-file-w
  position: relative
  float: left
  margin-right: 15px

  &.__size-S
    width: (siomPreviewSize + 2) px
    height: (siomPreviewSize + 2) px

  &.__preview
    width: (siomPreviewSize + 2) px
    height: (siomPreviewSize + 2) px
    line-height: (siomPreviewSize + 2) px

    cursor: pointer
    text-align: center

  &_btn
    position: absolute
    top: 0
    left: 0
    cursor: pointer

  &_input
    position: absolute
    top: 0
    left: 0
    opacity: 0
    z-index: 2

    cursor: pointer
    display: block
    width: 100%
    height: 100%

  &_image
    margin: 0 auto
    vertical-align: middle
    max-width: siomPreviewSize px
    max-height:  siomPreviewSize px

/********************************************************************************************************************/
/* Разделительные линии */
/********************************************************************************************************************/
.border-line
  overflow: hidden
  width: 100%
  border-top: 1px solid #cbcbcb
  border-bottom: 1px solid #eeeeee

  &.__margin-M
    margin-top: 25px

  &.__vertical
    width: 0
    border-left: 1px solid #cbcbcb
    border-right: 1px solid #eeeeee

/********************************************************************************************************************/
/* Поля для ввода информации */
/********************************************************************************************************************/
.input-w
  margin-top: 10px
  margin-bottom: 10px

  &.__textarea

    .input-w_left
      vertical-align: top
      padding-top: 18px

  &.__size-L
    width: 100%

  &_left
    width: 120px
    vertical-align: middle

  .input-w_left.__text-top
    vertical-align: top

  &_tinymce-editor
    vertical-align: top
    width: 650px

  &_prop-name
    float: left

    color: #959595
    font-family: 'Arial'
    font-size: 12px
    text-shadow(1px 1px 1px #f8f8f8)

  .input-w_prop-name.__right
    padding-left: 10px

  &.__focus

    .input
      border-color: siomBlueColor

      input
        color: siomBlueColor

      textarea
        color: siomBlueColor


  &.__disabled

    input
      background: url('/assets/images/market/lk/lock.png') no-repeat 95% center #F0F0F0


.input
  background: none repeat scroll 0 0 #FFFFFF
  border: 1px solid #B4B3B3
  padding: 1px

  &_shadow
    overflow: hidden
    border-left: 1px solid #FBFBFB
    border-right: 1px solid #FBFBFB
    border-top: 1px solid #D2D3D3
    border-radius(4px)

    input
      outline: 0
      padding: 0 10px
      width: 100%
      height: 35px
      font-size: 16px
      color: #959595
      font-family: 'Arial'

    textarea
      outline: 0
      width: 100%
      height: 60px
      padding: 10px
      resize: none
      font-size: 16px
      color: #959595
      font-family: 'Arial'

  &.__error
    border: 1px solid #e23131

    input
      background: #F3B0B0
      color: white

    textarea
      background: #F3B0B0
      color: white

/********************************************************************************************************************/
/* Таблицы SioMarket */
/********************************************************************************************************************/
.siom-table

  &.__size-XL
    width: 100%

  &.__size-M
    margin: 10px 0

  &_vertical-cnt
    vertical-align: middle

  &_top-cnt
    vertical-align: top

.table-cell-cnt
  display: inline-block

  &.__size-XS
    padding: 10px

  &.__size-S
    padding: 5px 20px

  &.__size-M
    padding: 10px 20px

  &.__size-XL
    width: 100%
    padding: 10px 20px

  &.__centered
    text-align: center

th.__bg-head
  background-color: #dad9d9


/********************************************************************************************************************/
/* Стандартный блок SioMarket */
/********************************************************************************************************************/
.siom-block
  margin-bottom: 10px

  &_title
    background: #dad9d9
    padding: 7px 11px

  &_cnt-w
    background: #efefef
    box-shadow(0px 1px 0px 0px #acadad)


  &_cnt
    padding: 10px 22px
    overflow: hidden

  &_cnt.__innerVisible
    overflow: visible

.siom-block-child
  display: none
  margin-top: -10px

/********************************************************************************************************************/
/* Кнопка Свернуть/Развернуть */
/********************************************************************************************************************/
.slide-btn
  display: inline-block
  cursor: pointer
  padding-right: 20px

  background: url('/assets/images/market/lk/angle.png') no-repeat
  background-position: right -115px

  text-decoration: none
  font-size: 12px
  line-height: 14px
  font-family: 'Arial'
  color: #959595

  &:hover
    color: #5088aa
    background-position: right 3px

  &.__open
    background-position: right -176px

    &:hover
      background-position: right -58px


/********************************************************************************************************************/
/* Всплывающие окна SIoMarket */
/********************************************************************************************************************/
.popups-container
  position: fixed
  top: 0
  left: 0
  z-index: 40

  display: none
  width: 100%
  height: 100%
  overflow-y: scroll

  background-color: rgba(0,0,0,0.5)

  text-align: center

.overlay
  position: absolute
  top: 0
  left: 0
  z-index: 5
  opacity: 0.5

  display: none
  width: 100%

  background: black

.overlay
  position: absolute
  top: 0
  left: 0
  z-index: 5

  display: none
  width: 100%

  background-color: black
  opacity: 0.5

.popup
  position: relative
  top: 25px
  z-index: 20000
  display: inline-block
  background: #e1e1e1

  &.__join
    width: 500px

  &_header
    background: #efefef
    border-bottom: 1px solid #9a9b9b
    overflow: hidden
    padding: 10px

  &_cnt
    padding: 25px
    text-align: left

    .sio-mart-showcase
      position: relative !important
      height: auto !important
      max-width: 622px

  &_cnt.__with-label
    padding-left: 85px

  &_cnt.__preview
    width: 622px

  &_cnt.__text-center
    text-align: center

  &_t
    padding-bottom: 25px
    color: #676666
    ft(30px)
    font-family: 'PFDinTextCompPro-Medium'
    text-align: center

  &_t.__inner
    padding-top: 25px


/********************************************************************************************************************/
/*  Списки SIoMarket */
/********************************************************************************************************************/

.lst

  &_node
    display: block
    padding: 5px 10px
    margin: 2px 0
    text-decoration: none

    &:hover
      background: #efefef

  &_node-name
    padding-left: 100px
    color: #23313d
    font-family: 'PT Sans Narrow'



/********************************************************************************************************************/
/* Общие элементы */
/********************************************************************************************************************/

.abs
  position: absolute

.f-left
  float: left

.f-right
  float: right

.categories-select
  position: relative
  height: 24px

.invite-form_description
  padding-left: 120px

.node-name
  font-family: 'PT Sans Narrow','sans-serif'
  padding-right: 20px

.__with-place-icon
  display: inline-block
  line-height: 30px
  background: url('/assets/images/market/lk/location-icon.png') no-repeat left center
  padding-left: 30px

.install-script

  textarea
    height: 250px !important
    ft(12px !important)

.billing-prop-name
  width: 100px

.billing-prop-value
  color: #23313d
  font-family: 'PT_Sans-Narrow'

.close
  width: 17px
  height: 17px

  cursor: pointer
  background: url('/assets/images/market/lk/close-icon.png') no-repeat
  background-position: 0 -67px
  text-decoration: none

  &:hover
    background-position: 0 0

  &:active
    background-position: 0 1px

.adn-title-buttons
  position: absolute
  top: 4px
  right: 60px
