.lk
  .body-wrap
    .body
      .create-ad
        .categories
          height: 24px
          position: relative
        .block
          .hat
            padding: 15px
            background: #dad9d9
            .title
              display: inline-block
              font-size: 14px
              font-weight: bold
              font-family: 'Arial'
              color: #676666
            .toggle
              float: right
              text-decoration: none
              display: inline-block
              font-size: 12px
              line-height: 14px
              font-family: 'Arial'
              color: #959595
              padding-right: 20px
              background: url('/assets/images/market/lk/angle.png') no-repeat
            .toggle:active
              margin-top: 1px
            .toggle
              background-position: right -115px
            .toggle:hover
              color: #5088aa
              background-position: right 3px
        .block.open
          .hat
            .toggle
              background-position: right -176px
            .toggle:hover
              color: #5088aa
              background-position: right -58px