border-radius(v)
  -webkit-border-radius:v
  border-radius:v

.lk
  .body-wrap
    .body
      .create-ad
        padding-bottom: 60px
        .categories
          height: 24px
          position: relative
        .block
          position: relative
          overflow : visible!important
          .hat
            padding: 15px
            background: #dad9d9
            .title
              display: inline-block
              font-size: 14px
              font-weight: bold
              font-family: 'Arial'
              color: #676666
            .toggle
              float: right
              text-decoration: none
              display: inline-block
              font-size: 12px
              line-height: 14px
              font-family: 'Arial'
              color: #959595
              padding-right: 20px
              background: url('/assets/images/market/lk/angle.png') no-repeat
            .toggle:active
              margin-top: 1px
            .toggle.open
              background-position: right -176px
            .toggle.open:hover
              color: #5088aa
              background-position: right -58px
            .toggle
              background-position: right -115px
            .toggle:hover
              color: #5088aa
              background-position: right 3px
          .subhat
            padding:10px 15px
            background: #f0f0f0
            .title
              display: inline-block
              font-size: 12px
              font-weight: bold
              font-family: 'Arial'
              color: #959595
            .toggle
              float: right
              text-decoration: none
              display: inline-block
              font-size: 12px
              line-height: 14px
              font-family: 'Arial'
              color: #959595
              padding-right: 20px
              background: url('/assets/images/market/lk/angle.png') no-repeat
            .toggle:active
              margin-top: 1px
            .toggle.open
              background-position: right -176px
            .toggle.open:hover
              color: #5088aa
              background-position: right -58px
            .toggle
              background-position: right -115px
            .toggle:hover
              color: #5088aa
              background-position: right 3px
          .input-wrap
            margin: 30px 0
          .color-list
            margin: 30px 0
            .right
              vertical-align: middle
            .item
              padding-right: 30px
              float: left
              .color
                display: inline-block
                width: 27px
                line-height: 27px
                border: 1px solid #b2b2b2
                border-radius(2px)
              .color.custom
                background: url('/assets/images/market/lk/custom-color.png') no-repeat
                background-size: 21px 21px
                background-position: 3px 3px
          .img-with-preview
            .select-file-wrap
              width: auto
              .close
                float: right
                width: 17px
                height: 17px
                text-decoration: none
                background: url('/assets/images/market/lk/close-icon.png') no-repeat
                background-position: 0 -67px
              .close:hover
                background-position: 0 0
              .close:active
                margin-top: 1px
          .tabs
            position: absolute
            top: 4px
            padding-left: 120px
            .tab
              cursor: pointer
              display: inline-block
              line-height: 14px
              border-radius(4px 4px 0 0)
              color: #676666
              font-size: 14px
              font-family: 'Arial'
              font-weight: bold
              background: #f0f0f0
              padding: 13px 20px 20px
            .tab:hover
              color: #5088aa
            .tab.act
              color: #f0f0f0
              background: #5088aa
          .blue-line
            height: 3px
            background: #5088aa
          .select-iphone
            vertical-align: middle
            padding-right: 30px
            border-right: 1px solid #cbcbcb
            span
              display: inline-block
              color: #676666
              font-size: 12px
              font-family: 'Arial'
              padding-right: 20px
            .iphone-block
              display: inline-block
              width: 20px
              line-height: 34px
              border: 1px solid #b5b5b5
            .iphone-block:hover
              cursor: pointer
              border: 1px dotted #4f88a9
            .iphone-block.act
              background: white
              border: 1px dotted #4f88a9
          .select-ipad
            vertical-align: middle
            border-left: 1px solid #f8f8f8
            padding-left: 25px
            width: 210px
            span
              line-height: 44px
              padding-right: 20px
              display: inline-block
              color: #676666
              font-size: 12px
              font-family: 'Arial'
            .ipad-wrap
              float: right
              width: 160px
              .ipad-block
                float: left
                margin: 1px
                width: 17px
                height: 17px
                border: 1px solid #b5b5b5
              .ipad-block:hover
                cursor: pointer
                border: 1px dotted #4f88a9
              .ipad-block.act
                background: white
                border: 1px dotted #4f88a9
              span
                line-height: 21px
                padding-left: 20px
                padding-right: 0
        .green-but-small
          float: none
          margin: 0 auto
        .mask-list
          .item
            float: left
            width: 70px
            height: 5px
            text-align: center
            padding-top: 65px
            margin-left: 50px
            background: url('/assets/images/market/lk/frame_all.png') no-repeat
          .item:first-child
            margin-left: 0
          .item.mask-1
            background-position: 5px -280px
          .item.mask-2
            background-position: -65px -280px
          .item.mask-3
            background-position: -135px -280px
          .item.mask-4
            background-position: -205px -280px
          .item.mask-5
            background-position: -270px -280px
          .item.mask-6
            background-position: -345px -280px
        .gray
          font-size: 12px
          font-family: 'Arial'
          color: #959595
        .input-wrap
          .old-price
            display: none
        .submit-wrap
          text-align: center
          .green-but-small
            display: inline-block
            margin-right: 30px
          .red-but-small
            display: inline-block
        .ad-preview
          margin: 30px 0
          width: 100%
          .left
            width: 50%
            vertical-align: middle
            text-align: center
            span
              display: inline-block
              line-height: 65px
            .gray
              padding-right: 15px
              width: 60px
              text-align: left
            .device
              width: 80px
              line-height: 65px
              cursor: pointer
              background: url('/assets/images/market/lk/devices.png') no-repeat
            .iphone
              background-position: 31px -787px
            .iphone:hover
              background-position: 31px -711px
            .iphone:active, .iphone.selected
              background-position: 0 -616px
            .ipad
              background-position: 18px -511px
            .ipad:hover
              background-position: 18px -414px
            .ipad:active, .ipad.selected
              background-position: 0 -308px
            .desktop
              background-position: 8px -202px
            .desktop:hover
              background-position: 8px -105px
            .desktop:active, .desktop.selected
              background-position: 0 0
          .right
            vertical-align: middle
            height: 300px
            .preview
              position: relative
              overflow: hidden
    .popup.remove-ad
      form
        display: inline-block

#ad_offer_oldPrice_value
  text-decoration: line-through