.lk
  .title-wrap
    .center
      .market-logo
        display: block
        float: left
        padding-right: 20px
      .title
        overflow: hidden
        padding-left: 20px
        border-left: 1px solid #BABABA
        h1
          display: inline-block
          font-family: 'PT Sans Narrow', 'sans-serif'
          font-size: 24px
          font-weight: bold
          padding-right: 20px
        .edit
          font-size: 10px
          color: #959595
          font-family: 'Arial'
          text-decoration: none
          background: url('/assets/images/market/lk/main/edit-but.png') no-repeat
          background-position: 0 -64px
          padding-left: 15px
          padding-top: 5px
        .edit:hover
          background-position: 0 0
          color:#5088aa
        .descr
          font-size: 14px
          font-family: 'Arial'
          color: #959595
  .body-wrap
    .body
      .search
        display: block
        .submit
          width: 40px
          height: 40px
          display: block
          cursor: pointer
          background: url('/assets/images/market/lk/main/search-icon.png') no-repeat
          background-position: 10px -130px
        .submit:hover
          background-position: 10px -60px
        .submit:active
          background-position: 10px 10px
        .descr
          padding-top: 5px
          text-align: center
          font-size: 12px
          color: #b4b4b4
          font-family: 'Arial'
      .renters
        padding-top: 20px
        .title
          color: #676666
          font-family: 'ParagNorCIta'
          font-size: 30px
        .new-lk
          display: block
          cursor: pointer
          text-decoration: none
          float: right
          width: 210px
          height: 40px
          background: url('/assets/images/market/lk/main/new-lk-but.png') no-repeat
          background-position: 0 -180px
        .new-lk:hover
          background-position: 0 -90px
        .new-lk:active
          background-position: 0 0
        .renters-list
          margin-top: 10px
          border: 1px solid #b2b2b2
          .hat
            padding: 12px
            background: #cbcbcb
            font-size: 12px
            line-height: 12px
            font-family: 'Arial'
            color: #efefef
            text-align: right
          .even,
          .odd
            overflow: hidden
            padding: 11px 12px
          .even
            background: #f5f5f5
          .odd
            background: white
          .left
            float: left
            a
              font-family: 'Arial'
              color: #4f88a9
              font-weight: bold
              text-decoration: none
              font-size: 16px
            a:hover
              text-decoration: underline
            .type
              font-family: 'Arial'
              font-size: 16px
              color: #959595
          .right
            float: right
            span
              font-family: 'Arial'
              font-size: 10px
            span:hover
              cursor: pointer
              color: #5088aa
            .disable-but
              color: #cbcbcb
            .triger
              position: relative
              display: inline-block
              width: 44px
              height: 6px
              background: url('/assets/images/market/lk/main/triger-bg.png') no-repeat center center
              .circle
                transition( -webkit-transform linear 0.1s )
                transition( transform linear 0.1s )
                position: absolute
                width: 20px
                height: 18px
                top: -6px
                transform( translate3d(-3px, 0, 0))
                background: url('/assets/images/market/lk/main/circle.png') no-repeat
                background-position: 0 -68px
              .circle:hover
                cursor: pointer
                background-position: 0 0
          .enabled
            .right
              .circle
                transform( translate3d(27px, 0, 0))