.lk
  .title-wrap
    .center
      .market-logo
        display: block
        float: left
        padding-right: 20px
      .title
        overflow: hidden
        padding-left: 20px
        border-left: 1px solid #BABABA
        h1
          display: inline-block
          font-family: 'PT Sans Narrow', 'sans-serif'
          font-size: 24px
          font-weight: bold
          padding-right: 20px
        .edit
          font-size: 10px
          color: #959595
          font-family: 'Arial'
          text-decoration: none
          background: url('/assets/images/market/lk/edit-but.png') no-repeat
          background-position: 0 -64px
          padding-left: 15px
          padding-top: 5px
        .edit:hover
          background-position: 0 0
          color:#5088aa
        .descr
          font-size: 14px
          font-family: 'Arial'
          color: #959595
  .body-wrap
    .body
      .search
        display: block
        .submit
          width: 40px
          height: 40px
          display: block
          cursor: pointer
          background: url('/assets/images/market/lk/main/search-icon.png') no-repeat
          background-position: 10px -130px
        .submit:hover
          background-position: 10px -60px
        .submit:active
          background-position: 10px 10px
        .descr
          padding-top: 5px
          text-align: center
          font-size: 12px
          color: #b4b4b4
          font-family: 'Arial'

      .nodes-page
        padding-top: 20px

        .title
          color: #676666
          font-family: 'ParagNorCIta'
          font-size: 30px