.lk
  .body-wrap
    .body

      .market-info

        .name
          padding: 15px 0
          font-size: 24px
          font-family: 'PT_Sans-Narrow'

        .descr
          padding: 15px 0
          font-size: 14px
          color: #676666
          font-family: 'Arial'

      .form-wrap
        padding-top: 20px
        overflow: hidden

        .fields
          overflow: hidden
          padding-bottom: 20px

        .submit-wrap
          overflow: hidden
          padding-top: 20px

      .hello-message

        h2
          font-size: 24px
          font-family: 'PT_Sans-Narrow'
          margin-top: 40px

        .accept
          font-family: 'Arial'
          font-size: 18px
          font-weight: bold
          color: #48ab38
          text-shadow(1px 1px 1px #FFFFFF)
          margin-left: -50px;
          padding-bottom: 16px;
          padding-left: 50px;
          padding-top: 16px;
          background: url('/assets/images/market/lk/ok.png') no-repeat left center