strong
  font-weight: bold

.blue-text
  color: #07a1ca

.black-text
  color: #232323

.gray-text
  color: #979797

.blue-link
  color: #07a1ca
  text-decoration: none

.blue-link:hover
  text-decoration: underline

.font-12
  font-size: 12px
  font-family: 'Arial'

.font-16
  font-size: 16px
  font-family: 'Arial'

.font-24
  font-size: 24px
  line-height: 24px

.font-30
  font-size: 30px
  line-height: 24px

.gray
  color: #959595