@(args: msc.ScRenderArgs)(implicit ctx: Context)

@* Панель поиска: текстового, фасетного по категориям, по рекламодателям (правая панель). *@

@import ctx.messages
@import msc._
@import views.html.sc.stuff._
@import io.suggest.sc.ScConstants.Search


@* Дедубликация кода рендера одной кнопки вкладки. *@
@__tabBtn(idSrc: Search.ITab, searchTabListOpt: Option[Boolean], inactive: Boolean, i18nName: String, hand: MHand) = {
  @for(jsState <- args.jsStateOpt) {
    <a href="@args.syncUrl( jsState.copy(searchTabListOpt = searchTabListOpt) )">
  }
  <div class="sm-categories-screen_single-tab">
    <div class="sm-tab __rounded-@hand.name @if(inactive) {__inactive}" id="@idSrc.TAB_BTN_ID">
      @messages(i18nName).toUpperCase
    </div>
  </div>
  @if(args.jsStateOpt) {
    </a>
  }
}


<div class="sm-categories-screen __initial" id="smCategoriesScreen">

  <div class="sm-categories-screen_header">

    @ScHdrBtns.CatsIndexTransparent( args.hBtnArgs )

    <div class="sm-button sm-producer-header_btn __left-aligned abs" id="smCategoriesIndexButton">
    </div>

    @* Кнопка/ссылка закрытия этой поисковой панели. *@
    @args.jsStateOpt.map { jsState =>
      <a href="@args.syncUrl( jsState.toggleSearchScreen )">
    }
    @ScHdrBtns.CatsPanelClose( args.hBtnArgs )
    @if(args.jsStateOpt) {
      </a>
    }

  </div>

  @_ftsTpl( args, "smSearch")

  @defining( args.jsStateOpt.exists(_.isSearchTabList) ) { isListTab =>
    @* Панель с кнопками табов. *@
    <div class="sm-categories-screen_tabs" id="smNavLayerTabs">
      <div class="sm-categories-screen_tabs-wrapper">
        @__tabBtn(Search.Cats, None, isListTab, "Map", MHands.Left)
        @__tabBtn(Search.Nodes, Some(true), !isListTab, "List", MHands.Right)
        <div class="clear"></div>
      </div>
    </div>

    @if(!args.syncRender || !isListTab) {
      @_geoTpl( args )
    }
    @if(!args.syncRender || isListTab) {
      @_tagsTpl( args )
    }

  }

</div>
