@(nodes: Seq[MAdnNode])(implicit ctx: util.Context)

@import ctx._
@import controllers.MarketShowcase.DEMO_ADN_ID_OPT
@import controllers.MarketShowcase.SITE_BGCOLOR_DFLT


<div class="body __responsive index-page_cnt">

  <div class="body_cnt __responsive" id="centerContent">

    <a class="index-page_logo-link" href="@routes.Market.index" >
      <img class="index-page_logo-image" src='@routes.Assets.at("images/market/index/logo_retina.png")'/>
    </a>

    <div class="index-page_adv-btn">
      <a class="siom-new-btn __size-L __fill-1" href="@routes.MarketJoin.joinAdvRequest">
        Разместить рекламу
      </a>
    </div>

    <div class="index-page_login-btn">
      @*
        <!--Юзер залогинен. Нужно отобразить кнопку на его ЛК.-->
        <a class="siom-new-btn __size-L __color-1 __vertical-first" href="@routes.Ident.rdrUserSomewhere">
          @ctx.usernameOpt.getOrElse(Messages("username.unknown"))
        </a>
      *@

        <a class="siom-new-btn __size-L __color-1 __vertical-first js-card-btn"  >
          Локации для рекламы
        </a>

    </div>

    <div class="index-page_how-it-works-btn">
      <a class="siom-new-btn __size-L __color-1 __vertical-last" href="@routes.Market.marketBooklet" >
        Как это работает?
      </a>
    </div>

    @if(nodes.nonEmpty) {
      <div class="index-page_wifi-points" style="display: none;">
        <h2 class="wifi-points_title">Места для вашей рекламы</h2>

        <div class="wifi-points_lst" id="wifiPoints">
          @nodes.map { node =>
            <div class="wifi-points_i-w js-wifi-point">
              <a class="wifi-points_i js-card-btn" data-href="@routes.Market.adnNodePopup(node.id.get)" style="background-color: #@node.meta.color.getOrElse(SITE_BGCOLOR_DFLT);" title="@node.meta.name / @node.meta.town">
                <!--В nodes ожидаются только узлы с загруженными логотипами, поэтому проверок дополнительных не делаем:-->
                <img src='@node.logoImgOpt.map { img =>@routes.Img.getImg(img.filename)}' alt="@node.meta.name"/>
              </a>
            </div>
          }
        </div>
      </div>
    }


  </div>

</div>
