@()(implicit ctx: util.Context)

@marketBase("Как это работает"){



  <div class="header-wrap wave-pattern">

    <div class="center">

      <a class="back-but back-but_centered" href="@routes.MarketLk.lkIndex">&nbsp;</a>

    </div>

  </div>

  <div class="body-wrap blue-pattern">

    <div class="body">

      <div class="about-page">

        <div class="about-page__title">
          SioMarket
        </div>
        <div>
          Реклама в вашей сети Wi-Fi Free
        </div>

        <div class="about-page__circle-wrap">
          <span class="about-page__circle-wrap__left-text">Владелец сети Wi-Fi получает</span>
          <div class="about-page__circle">
            <span class="about-page__circle__price">70%</span>
            <br/>
            ДОХОДОВ
          </div>
          <span class="about-page__circle-wrap__right-text">от размещённой рекламы в своей сети.</span>
        </div>

        <p class="paragraph-13" style="font-size: 36px;">
          Как это работает?
        </p>

        <div class="paragraph-13">
          <div class="dot about-page__dot"></div>
          SioM запускается при подключении мобильного коммуникатора посетителя к сети Wi-Fi.
        </div>

        <div class="paragraph-13">
          <div class="dot about-page__dot"></div>
          На коммуникаторах выдаётся информация о товарах, скидках, акциях, хитах продаж рекламодателей.
          <div class="dot-arrow about-page__dot"></div>
        </div>

        <div class="paragraph-13">
          <a href="#" class="login-page__green-btn login-page__green-btn_width-auto">
            <span class="btn"></span>
            ДЕМО
          </a>
        </div>

        <p class="paragraph-13 about-page__under-btn">
          Откройте эту страницу на мобильном<br/>
          устройстве для теста, или компьютере
        </p>

        <p class="paragraph-13">
          Если возникли вопросы <a class="blue-link" href="#">свяжитесь с нами</a>
        </p>

      </div>

    </div>

  </div>

}