@()(implicit ctx: util.Context)

@import controllers.MarketShowcase.DEMO_ADN_ID_OPT

@marketBase("Как это работает") {

  <div class="header __responsive wave-pattern">

    <div class="header_cnt __responsive">

      <a class="back-btn __centered" href="@routes.Market.index()">&nbsp;</a>

    </div>

  </div>

  <div class="body __responsive blue-pattern">

    <div class="body_cnt __responsive __top-s">

      <div class="about-page">

        <div class="about-page__title">
          <span class="about-page__title__big-btn">S</span>io<span class="about-page__title__big-btn">M</span>arket
        </div>
        <div>
          Эффективная реклама<br/>
          в сетях WiFi Free
        </div>

        <div class="about-page__circle-wrap">
          <div class="about-page__circle">
            ВЫ ПОЛУЧАЕТЕ<br/>
            70% ОТ СТОИМОСТИ<br/>
            РАЗМЕЩЕНИЯ<br/>
            РЕКЛАМЫ.
          </div>
        </div>

        <p class="paragraph __size-M ft-XL">
          Как это работает?
        </p>

        <div class="paragraph __size-M">
          <div class="dot about-page__dot"></div>
          SioM запускается при подключении мобильного<br/>
          коммуникатора посетителя к вашей сети Wi-Fi.
        </div>

        <div class="paragraph __size-M">
          <div class="dot about-page__dot"></div>
          На экран коммуникатора сначала выводится ваша<br/>
          страница-приветствие, затем появляется рекламная<br/>
          информация ваших рекламодателей.
        </div>

        <div class="paragraph __size-M">
          <div class="dot about-page__dot"></div>
            Ваша реклама в вашей сети Wi-Fi<br/>
            размещается бесплатно.
        </div>


        <div class="paragraph __size-M about-page__under-btn">
          <div class="dot about-page__dot"></div>
          Как выглядит рекламная выдача?
          <div class="bot-arrow about-page__bot-arrow"></div>
        </div>

        <div class="paragraph __size-M">
          @DEMO_ADN_ID_OPT.map { demoAdnId =>
            <a href="@routes.MarketShowcase.demoWebSite(demoAdnId)" target="_blank" class="siom-ac-btn __color-1 __size-M __ft-L">
              ДЕМО
            </a>
          }
        </div>

        <p class="paragraph __size-M ft-S">
          Если возникли вопросы <a class="blue-link" href="mailto:support&#64;suggest.io">свяжитесь с нами</a>
        </p>

        <p class="paragraph __size-M ft-M">
          8&nbsp;(812)&nbsp;640-76-46
        </p>

      </div>

    </div>

  </div>

}
