@()(implicit ctx: util.Context)

@import play.api.Play.current

@marketBase("Как это работает"){



  <div class="header-wrap wave-pattern header-wrap_responsive-mode">

    <div class="center header_responsive-mode">

      <a class="back-but back-but_centered" href="@routes.MarketLk.lkIndex">&nbsp;</a>

    </div>

  </div>

  <div class="body-wrap blue-pattern body-wrap_responsive-mode">

    <div class="body body_responsive-mode body_padding-top-80">

      <div class="about-page">

        <div class="about-page__title">
          <span class="about-page__title__big-btn">S</span>io<span class="about-page__title__big-btn">M</span>arket
        </div>
        <div>
          Эффективная реклама<br/>
          в сетях WiFi Free
        </div>

        <div class="about-page__circle-wrap">
          <div class="about-page__circle">
            ВЫ ПОЛУЧАЕТЕ<br/>
            70% ОТ СТОИМОСТИ<br/>
            РАЗМЕЩЕНИЯ<br/>
            РЕКЛАМЫ.
          </div>
        </div>

        <p class="paragraph-13 font-XL">
          Как это работает?
        </p>

        <div class="paragraph-13">
          <div class="dot about-page__dot"></div>
          SioM запускается при подключении мобильного<br/>
          коммуникатора посетителя к вашей сети Wi-Fi.
        </div>

        <div class="paragraph-13">
          <div class="dot about-page__dot"></div>
          На экран коммуникатора сначала выводится ваша<br/>
          страница-приветствие, затем появляется рекламная<br/>
          информация ваших рекламодателей.
        </div>

        <div class="paragraph-13">
          <div class="dot about-page__dot"></div>
            Ваша реклама в вашей сети Wi-Fi<br/>
            размещается бесплатно.
        </div>


        <div class="paragraph-13 about-page__under-btn">
          <div class="dot about-page__dot"></div>
          Так может выглядеть реклама в вашей сети WiFi Free.
          <div class="bot-arrow about-page__bot-arrow"></div>
        </div>

        <div class="paragraph-13">
          @current.configuration.getString("market.demo.adn.id").map { demoAdnId =>
          <a href="@routes.Market.demoWebSite(demoAdnId)" target="_blank" class="siom-ac-btn __color-1 __size-M __ft-L">
            ДЕМО
          </a>
          }
        </div>

        <p class="paragraph-13 ft-S">
          Если возникли вопросы <a class="blue-link" href="mailto:support&#64;suggest.io">свяжитесь с нами</a>
        </p>

        <p class="paragraph-13 ft-M">
          8&nbsp;(812)&nbsp;640-76-46
        </p>

      </div>

    </div>

  </div>

}