@(lf: Option[Form[_]] = None)(implicit ctx: util.Context)

@import ctx._

@marketBase("Добро пожаловать", lf){

  <div class="header-wrap wave-pattern header-wrap_responsive-mode">

    <div class="center header_responsive-mode">

      @if(ctx.isAuth) {
        @* Юзер залогинен. Нужно отобразить кнопку на его ЛК. *@
        <a href="@routes.Ident.rdrUserSomewhere" class="simple-green-btn f-right login-page_enter_btn">
          @ctx.usernameOpt.getOrElse(Messages("username.unknown"))
        </a>
      } else {
        <a href="#emailPwLoginForm" class="simple-green-btn f-right login-page_enter_btn js-btn">Вход</a>
      }

    </div>

  </div>

  <div class="body-wrap wave-pattern body-wrap_responsive-mode">

    <div class="body wave-pattern body_responsive-mode">

      <div class="login-page_content">

        <a href="@routes.MarketLk.lkIndex" class="login-page__logo"></a>

        <a href="@routes.Market.aboutMarket" class="simple-green-btn simple-green-btn_logo-mode" style="margin-top: 30px;">
          <span class="btn"></span>
          Как это работает?
        </a>

        <div class="login-page__join-adv">
          <a href="@routes.MarketJoin.joinAdvRequest" class="siom-ac-btn _color-2 _size-XL _ft-L">
            РАЗМЕСТИТЬ РЕКЛАМУ
          </a>
        </div>

        <div class="login-page__join-wifi">
          <a href="@routes.MarketJoin.wifiJoinQuestionsForm()" class="siom-ac-btn _def-color _size-XL _ft-L">
            СТАТЬ УЧАСТНИКОМ СЕТИ
          </a>
        </div>

        <div class="login-page__wifi_block">

          <div class="wifi-icon"></div>
          <p>
            Новое рекламное пространство
          </p>

        </div>

      </div>

    </div>

  </div>

}