@(title: String, lf: Option[Form[_]] = None, popupContent: Option[Html] = None)(content: Html)(implicit ctx: Context)

@* Подложка для внешней (по отношению к ЛК) страниц sio-маркета. *@

@import ctx._
@import stuff._

<!DOCTYPE html>
<html>
<head>
  <title>@title | market | Suggest.io</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
  <meta name="format-detection" content="telephone=no">


  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("javascripts/lib/colorpicker/css/colorpicker.css")'/>

  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("svgfonts/icomoon/style.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/lk/common.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/lk_new-design/svg-icons.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/showcase.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/showcase_previews.css")'/>

  <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>

</head>


<body class="index-page">

  @content

  <div class="popups-container" id="popups">
    <div class="flex overflow-scrolling">
      <div class="flex @if(ctx.isIpad || ctx.isIphone){ overflow-scrolling }" >
        <div id="popupsContainer">
          @* Попап с формой логина *@
          @if(!ctx.isAuth) {

            <div class="popup __index def-transition js-hidden js-popup" id="emailPwLoginForm">

              <div class="popup_header __index">
                <a class="popup_close f-right icon-icomoon js-close-popup" href="#"></a>
              </div>

              @ident._emailPwLoginFormTpl(
                lf = lf getOrElse controllers.Ident.emailPwLoginFormM,
                submitCall = routes.MarketLk.emailPwLoginFormSubmit()
              )

            </div>
          }

          @popupContent

        </div>
      </div>

    </div>
  </div>


  <div class="slider-w">
    <div class="slider_window">
      <div class="slider_cnt" id="indexSlider"></div>
    </div>
    <div class="slider_controls">
      <a class="slider_control __left-arrow icon-icomoon"></a>
      <a class="slider_control __right-arrow icon-icomoon"></a>
    </div>
  </div>


  <div class="footer __responsive __fill-1">
    <div class="footer_cnt __index">

      <!--<div class="f-right footer_wifi">
        Эффективная реклама в сетях WiFi Free
      </div>-->

      <span class="copyright-block __color-1 f-right">
        @_copyrightTextTpl(withLink = false)
        @*&nbsp;|&nbsp;<a class="copyright-link" href="@routes.Market.contractOfferText("ru")">@Messages("Offer")</a>*@
      </span>

      <!--<div class="socials">
        <a class="fb" href="#">Facebook</a>
        <a class="tw" href="#">Twitter</a>
      </div>-->

    </div>
  </div>

  <script src="@routes.Assets.at("javascripts/lib/tinymce/js/tinymce/tinymce.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/lib/maskedinput/maskedInput.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/market/lk/mx_cof.js")"></script>
  <script src="@routes.Assets.at("javascripts/market/lk/mx_dev.js")"></script>
  <script src="@routes.Assets.at("javascripts/lib/colorpicker/js/colorpicker.js")"></script>
  <script src="@routes.Assets.at("javascripts/jquery-ui.custom.min.js")"></script>


</body>
</html>
