@(title: String, lf: Option[Form[_]] = None, popupContent: Option[Html] = None, headAfter: Option[Html] = None)(content: Html)(implicit ctx: Context)

@* Подложка для внешней (по отношению к ЛК) страниц sio-маркета. *@

@import ctx._
@import stuff._
@import util.cdn.CdnUtil

<!DOCTYPE html>
<html>
<head>
  <title>@title</title>
  <meta name="description" content="Система размещения таргетированной мобильной интернет-рекламы. Более 150 рекламных локаций в Москве и Санкт-Петербурге."/>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
  <meta name="format-detection" content="telephone=no">


  <link rel="stylesheet" type="text/css" href='@CdnUtil.asset("javascripts/lib/colorpicker/css/colorpicker.css")'/>

  <link rel="stylesheet" type="text/css" href='@CdnUtil.asset("svgfonts/icomoon/style.css")'/>
  <link rel="stylesheet" type="text/css" href='@CdnUtil.asset("stylesheets/market/lk/common.css")'/>
  <link rel="stylesheet" type="text/css" href='@CdnUtil.asset("stylesheets/market/lk_new-design/svg-icons.css")'/>
  <link rel="stylesheet" type="text/css" href='@CdnUtil.asset("stylesheets/market/showcase.css")'/>
  <link rel="stylesheet" type="text/css" href='@CdnUtil.asset("stylesheets/market/showcase_previews.css")'/>

  <script src='@CdnUtil.asset("javascripts/jquery.min.js")'></script>

  @static._faviconTpl()

  @headAfter
</head>


<body class="index-page">

  @content

  <div class="popups-container" id="popups">
    <div class="flex overflow-scrolling">
      <div class="flex @if(ctx.isIpad || ctx.isIphone){ overflow-scrolling }" >
        <div id="popupsContainer">
          @popupContent
        </div>
      </div>
    </div>
  </div>

  <div class="footer __responsive __fill-1">
    <div class="footer_cnt __index">

      <span class="copyright-block">
        @_copyrightTextTpl(withLink = false)

        @*&nbsp;|&nbsp;<a class="copyright-link" href="@routes.Market.contractOfferText("ru")">@Messages("Offer")</a>*@
      </span>

      <a class="auth-page_link" href="@ctx.SC_URL_PREFIX@routes.Market.marketBooklet">Как это работает?</a>

      <a class="auth-page_adv-link" href="@ctx.LK_URL_PREFIX@routes.MarketJoin.joinAdvRequest">Разместить рекламу</a>

    </div>
  </div>

  <script src="@CdnUtil.asset("javascripts/lib/maskedinput/maskedInput.min.js")"></script>
  <script src="@CdnUtil.asset("javascripts/market/lk/mx_cof.js")"></script>
  <script src="@CdnUtil.asset("javascripts/market/lk/mx_dev.js")"></script>
  <script src="@CdnUtil.asset("javascripts/lib/colorpicker/js/colorpicker.js")"></script>
  <script src="@CdnUtil.asset("javascripts/jquery-ui.custom.min.js")"></script>

</body>
</html>
