@()(implicit ctx: Context)

@* Страница с вертикальной презенташкой sio market. *@

<!DOCTYPE html>
<html>

  <head>
    <title>Приветствуем Вас в системе SioMarket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">


    <script src='@routes.Assets.at("javascripts/jquery.min.js")'></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='@routes.Assets.at("stylesheets/market/booklet.css")' rel="stylesheet" type="text/css" />

  </head>
  <body>

    <header class="header">
      <div class="header_cnt">
        <a class="header_logo link">
          <span class="color-attention def-transition">Sio</span><span class="color-light default-transition">Market</span>
        </a>

        <nav class="header_nav top-menu">
          <a class="top-menu_i link def-transition">О приложении</a>
          <a class="top-menu_i link def-transition">Как выглядит?</a>
          <a class="top-menu_i link def-transition">Как работает?</a>
          <a class="top-menu_i link def-transition">Преимущества</a>
          <a class="top-menu_i link def-transition">Партнерство</a>
        </nav>
      </div>
    </header><!-- header end -->

    <section class="section-sio-market paralax relative">
      <div class="bg-mask __dark"></div>

      <div class="section-sio-market_cnt">
        <h2 class="section-sio-market_title">
          <span class="color-attention">Sio</span>
          <span class="color-light">Market</span>
        </h2>

        <img class="section-sio-market_logo" src="@routes.Assets.at("images/market/booklet/section-1_logo.png")" />

        <div class="section-sio-market_text">
          <p class="ft-S">
            Это автоматизированая платформа для управления рекламой Sio/M.
          </p>
          <p class="w __margin-L ft-S">
            Мы предлагаем лучшее на сегодняшний день программное решение для монетизации<br/>
            трафика  пользователей сетей<br/>
            <span class="section-sio-market_wifi">WiFi Free</span>
          </p>
          <a class="start-work-btn __section-sio-market link def-transition">
            <span class="color-light default-transition">Начать работу с</span><span class="color-attention def-transition"> Sio</span>
          </a>
        </div>

      </div>

      <a class="section-sio-market_go-bottom-btn"></a>

    </section><!-- section-sio-market end -->

    <section class="section-about">
      <div class="section-about_cnt">
        <h2 class="section-about_title">
          <span class="color-attention">О</span> приложении
        </h2>

        <div class="section-about_wifi-title">
          <span class="color-attention">WiFi Free</span> - современный тренд.
        </div>
        <div class="section-about_wifi-text">
          Бесплатный доступ в Интернет сегодня есть едва ли не в каждом публичном месте,<br/>
          владельцы которого заинтересованы в привлечении посетителей.
        </div>

        <div class="section-about_icons-title">Мы предлагаем</div>
        <div class="section-about_offers">

          <div class="section-about-offer __offer-1">
            <div class="section-about-offer_icon __icon-1"></div>
            <div class="section-about-offer_text">
              Лучшее на сегодняшний день программное решение<br/>
              для монетизации трафика пользователей<br/>
              сетей WiFi Free
            </div>
          </div>

          <div class="section-about-offer __offer-2">
            <div class="section-about-offer_icon __icon-2"></div>
            <div class="section-about-offer_text">
              Это автоматизированая платформа<br/>
              для управления рекламой Sio/M.

            </div>
          </div>

          <div class="section-about-offer __offer-3">
            <div class="section-about-offer_icon __icon-3"></div>
            <div class="section-about-offer_text">
              Ни одно из них не соответствует тем возможностям,<br/>
              которые уже сегодня воплощены в Sio/M.
            </div>
          </div>

        </div>

        <div class="start-work-btn-w">
          <a class="start-work-btn __attention link def-transition">
            <span class="color-light __strong default-transition">Начать работу с</span><span class="color-attention __strong def-transition"> Sio</span>
          </a>
        </div>

        <div class="section-about_bottom-title">
          <span class="color-attention">Как</span> <span class="color-dark">выглядит?</span>
        </div>
      </div>
    </section><!-- section-about end -->

    <section class="section-start">
      
    </section>

  </body>
</html>