@(cf: Form[MNode], submitCall: Call, btnText: String)(implicit ctx: Context)

@* Форма создания/редактирования календаря. *@
@import helper._
@import ctx.{request, messages}
@import io.suggest.cal.m.MCalTypes

@form( CSRF(submitCall) ) {

  @inputText(
    cf("name"),
    Symbol("_label") -> "Название календаря",
    Symbol("size")   -> 80
  )

  @select(
    cf("type"),
    options = for (mct <- MCalTypes.values) yield {
      mct.value -> messages(mct.i18nCode)
    },
    Symbol("_label") -> "Отображаемый тип"
  )

  @textarea(
    cf("data"),
    Symbol("_label") -> "Содержимое календаря",
    Symbol("cols")   -> 120,
    Symbol("rows")   -> 50
  )

  <input type="submit" value="@btnText" />

}
