*
{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'pt_sans_narrowbold';
    src: url('/static/fonts/ptn77f-webfont.eot');
    src: url('/static/fonts/ptn77f-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/ptn77f-webfont.woff') format('woff'),
    url('/static/fonts/ptn77f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('/static/fonts/ptn57f_regular-webfont.eot');
    src: url('/static/fonts/ptn57f_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/ptn57f_regular-webfont.woff') format('woff'),
    url('/static/fonts/ptn57f_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

textarea
{
    resize:none;
}

body
{
    min-width: 980px;
    background: url('/static/images2/bg.png');
}
.logo
{
    display: block;
    width:165px;
    height:42px;
    position: absolute;
    z-index: 20000;
    left: 90px;
    top: 50px;
    background: url('/static/images2/sio-logo.png') no-repeat left top;
}
.slogo-en,
.slogo-ru
{
    background: url('/static/images2/sio-slogo-en.jpg') no-repeat left top;
    width: 419px;
    height: 135px;
    margin: 59px 0px 30px 52px;
}
.menu
{
    position: absolute;
    left: 280px;
    width: 500px;
    height: 30px;
    top: 67px;
}
.lang-menu
{
    display: none;
    left: auto;
    right: 133px;
    z-index: 20000;
}
.lang-menu a.disabled,
.lang-menu a.disabled:hover
{
    cursor: default;
    color: #c8c8c8;
    text-decoration: none;
}

.lang-menu .delimiter
{
    margin: 0px 15px;
}
.menu-en
{
    left: 260px;
}
.menu a,
.menu div,
.menu span
{
    float: left;
}
.menu span
{
    color: #c7c7c7!important;
    display: block;
}

.lang-menu a,
.lang-menu div
{
    float: right;
}

.menu a,
.menu span
{
    text-decoration: none;
    font-family: Arial;
    font-size: 13px!important;
    color: #969696;
    text-shadow: 0px 1px 1px #fff;
}
.menu a:hover
{
    color: #00718f;
    text-decoration: underline;
}
.menu div
{
    width: 1px;
    height: 15px;
    background: #ccc;
    -webkit-box-shadow: 0px 1px 1px #fff;
    margin: 0px 15px;
}
.slogo-ru
{
    background: url('/static/images2/sio-slogo-ru.jpg') no-repeat left top;
    width: 446px;
}

.main-layout
{
    padding: 50px 90px 0px 90px;
}

.page-wrapper
{
    position: relative;
    height: 100%;
    min-height: 650px;
}
.page-wrapper.full
{
    min-height: 720px;
    min-width: 1050px;
}

.crawl-monitor
{
    opacity: 0;
    height: 100%;
    overflow-x: hidden;
    min-height: 700px;
    background: #152d3b;
    position: absolute;
    right: 60px;
    width: 35px;
    top: 0px;
}
.crawl-border-left
{
    position: absolute;
    left: 0px;
    width: 2px;
    background: url('/static/images2/sio-crawl-border-left.png') repeat-y left top;
    height: 100%;
    top: 0px;
    z-index: 10001;
}
.crawl-border-right
{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10002;
    width: 35px;
    background: url('/static/images2/crawl-monitor-right.png?v=2') no-repeat left -107px;
    height: 100%;
}
.start-button
{
    top: 0px;
    cursor: pointer;
    right: 75px;
    top: 292px;
    position: absolute;
    width: 45px;
    height: 56px;
    z-index: 11000;
}
.start-button a
{
    cursor: default!important;
}
.start-button a.enabled
{
    cursor: pointer!important;
}
.start-button a
{
    display: block;
    width: 50px;
    height: 50px;
    background: url('/static/images2/sio-start-button.png') no-repeat left top;
}
.start-button a.enabled:hover
{
    background-position: -51px top;
}
.start-button a.enabled:active
{
    background-position: -102px top;
}
.crawl-monitor .monitor-c
{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.crawler-message,
.crawler-delimiter
{
    color: #e2e2e2;
    font-size: 11px;
    font-family: "Andale Mono", Courier, Monaco,Arial;
}
.crawler-message
{
    padding: 5px 0px;
}
.crawler-delimiter .gray
{
    color: #818383;
}
.crawler-delimiter .brown
{
    color: #c43619;
}
.crawler-delimiter .red,
.crawler-message .bad-link
{
    color: #ff390e;
}
.crawler-message a
{
    color: #15e900;
}

.input
{
    position: relative;
    border: 1px #b4b3b3 solid;
    padding: 1px;
    background: #fff;
    width: 420px;
}
.input,
.input .input-real input
{
    font-family: Arial;
    font-size: 16px;
}

.input .input-shadow
{
    border-left: 1px #fbfbfb solid;
    border-right: 1px #fbfbfb solid;
    border-top: 1px #d2d3d3 solid;
    -webkit-border-radius: 2px;
}
.input .http-prefix
{
    position: absolute;
    left: 0px;
    top: 2px;
    color: #969696;
    background: #fff;
    text-align: center;
    width: 50px;
}
.input .input-real,
.input textarea
{
    width: 368px;
    border: 0px;
    outline: none;
    color: #328fb0;
    padding-left: 0px!important;
}

.input-real input
{
    margin-left: 55px;
    background: none!important;
    line-height: 16px!important;
    height: 47px;
}

.input textarea
{
    width: 418px;
    height: 180px;
    font-family: Arial;
    font-size: 14px;
    padding: 14px 5px!important;
    color: #333;
}
.input .http-prefix
{
    padding-right: 0px!important;
}
.input .http-prefix,
.input .input-real input
{
    padding: 14px 5px;
}
.input .input-real input
{
    border: 0px;
    outline: none;
    color: #328fb0;
    width: 90%;
}

.clear
{
    clear: both;
}

.first-step,
.second-step
{
    /*background: url('/static/images2/digits.png') no-repeat left top;*/
    padding-left: 41px;	
}

.second-step
{
    position: relative;
}
.second-step .digit
{
    display: none;
    position: absolute;
    left: 0px;
    top: -1px;
    overflow: hidden;
    //left: -40px;
}
.second-step .digit,
.second-step .digit .unactive,
.second-step .digit .active
{
    width: 30px;
    height: 52px;
}
.second-step .digit .unactive,
.second-step .digit .active
{
    background: url('/static/images2/digits.png') no-repeat -54px -127px;
}
.second-step .digit .active
{
    background-position: -1px -127px;
}
.second-step
{
    background: none;
    margin-top: 20px;
    margin-left: 10px!important;
    padding-bottom: 40px;
}

.second-step .input
{
    margin-right: 35px;
}
.second-step .input,
.second-step .install-explanation
{
    display: none;
    float: left;
}

.second-step .install-explanation span
{
    display: block;
    color: #c5c5c5;
    margin-top: 0px;
    text-shadow: 0px 1px 1px #fff;
}

.second-step .install-explanation
{
    width: 400px;
    color: #00718f;
    text-shadow: 0px 1px 1px #fff;
    font-family: Arial;
    font-size: 14px;
    padding-top: 0px;
    line-height: 16px;
}
.first-step
{
    margin-top: 40px!important;
    padding-top: 7px;
    margin-left: 10px;
}
.first-step .input
{
    width: 90%;
    overflow-x: visible;
}
.first-step .input-real
{
    background: #f6f6f6;
    width: 100%;
}
.note,
.label,
.common-info,
.social
{
    color: #b1b1b1;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 6px;
    text-shadow: 0px 1px 1px #fbfbfb;
}
.note p { padding: 4px 0px; }
.blue-label
{
    color: #328fb0;
    font-size: 14px!important;
    max-width: 420px;
}
.note { padding-left: 0px!important; }
.retina-ready
{
    border-left: 1px #c8c8c8 solid;
    margin-left: 10px;
    padding-left: 30px;
    background: url('/static/images2/sio-retina-ready.png') no-repeat 10px 3px;
}
.label
{
    padding: 12px 0px 10px 0px!important;
    font-size: 16px;
}
.common-info,
.social
{
    position: absolute;
    z-index: 20000;
    left: 135px;
    bottom: 10px;
    font-size: 12px;
}

.social
{
    left: auto;
    right: 70px;
}

.common-info a,
.social a
{
    color: #9ec4cd;
    text-decoration: none;
}
.common-info a:hover,
.social a:hover
{
    text-decoration: underline;
}

.crawl-label
{
    color: #328fb0;
    text-shadow: none;
}
.crawl-container
{
    width: 320px;
    padding: 100px 40px 40px 40px;
}

.crawler-caption
{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url('/static/images2/sio-crawler-top.png') no-repeat center bottom;
    height: 120px;
    width: 360px;
}
.crawler-caption .crawl-label
{
    display: block;
    padding-left: 40px!important;
    padding-top: 60px!important;
}

.popup-container
{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10000;
    background: url('/static/images2/sio-index-bg-transp.png');
}
.about-layer .login
{
    display: none!important;
}
.about-layer .page-wrapper
{
    min-height: 710px;
}
.about-layer .popup-container
{
    display: block;
    min-width: 1000px;
}
.close-button
{
    position: absolute;
    top: 43px;
    right: 67px;
    z-index: 20000;
    background: none!important;
}
.close-button,
.close-button a
{
    display: block;
    width: 55px;
    height: 54px;
    background: url('/static/images2/sio-close-button.png') no-repeat left 3px;
}
.close-button a:hover
{
    background-position: -62px 3px;
}
.close-button a:active,
.close-button a.active
{
    background-position: -126px 3px;
}

.about-layer .first-step,
.about-layer .second-step,
.about-layer .lang-menu,
.about-layer .start-button,
.about-layer .crawl-monitor
{
    display: none!important;
}
.sio-about-success
{
    position: absolute;
    left: 50%;
    margin-left: -329px;
    top: 360px;
    background: url('/static/images2/sio-about-success-plate2.png?v=2') no-repeat center top;
    width: 658px;
    height: 47px;
    text-align: center;
    font-family: Arial;
    font-size: 13px;
    padding-top: 5px;
    color: #969696;
}

.about-images,
.feedback-form
{
    height: 200px;
    position: absolute;
    width: 100%;
    top: 300px;
}
.feedback-form.feedback-sent span,
.feedback-form.feedback-sent form,
.feedback-form.feedback-sent .feedback-message
{
    display: none;
}
.feedback-form.feedback-sent .feedback-sent,
.feedback-form.feedback-sent .feedback-sent span
{
    display: block;
    padding-top: 20px;
}
.feedback-sent-en,
.feedback-sent-ru
{
    display: none;
    margin-top: 20px;
    background: url('/static/images2/sio-message-sent-en.png') no-repeat left top;
    height: 30px;
}

.feedback-sent-ru
{
    background: url('/static/images2/message-sent-ru.png') no-repeat left top;
}

.about-images
{
    top: 245px;
}

.feedback-form
{
    display: none;
    top: 260px;
    left: 140px;
    margin-left: 0px;
}
.feedback-form a
{
    color: #328fb0;
}
.feedback-form a:hover
{
    text-decoration: none;
}
.feedback-message,
.feedback-form.feedback-sent .feedback-sent span
{
    font-size: 14px;
    font-family: Arial;
    color: #c8c8c8;

}
.feedback-form a
{
    text-decoration: none;
}
.feedback-form a:hover
{
    text-decoration: underline;
}

.feedback-message
{
    display: block;
    margin: 20px 0px;
    margin-bottom: 10px;
    width: 500px;
    padding-top: 40px;
    background: url('/static/images2/sio-send-message.png') no-repeat left top;
}
.feedback-message-ru
{
    background: url('/static/images2/sio-send-message-ru.png') no-repeat left top;
}

.feedback-form fieldset
{
    position: relative;
    border: 0px;
}
.feedback-form fieldset label
{
    position: absolute;
    color: #ccc;
    font-family: Arial;
    font-size: 13px!important;
    z-index: 100;
    left: 17px;
    top: 17px;
}
.feedback-form .input
{
    width: 520px;
    margin-bottom: 20px;
}
.feedback-form .input input
{
    height: 45px;
}
.feedback-form .input input,
.feedback-form .input textarea
{
    width: 520px;
    color: #999;
    padding: 14px 10px!important;
    font-size: 13px!important;
    font-family: Arial;
    outline: none;
    border-top: 1px #d2d3d3 solid;
    border-left: 1px #fbfbfb solid;
    border-right: 1px #fbfbfb solid;
    border-bottom: 0px;
    -webkit-border-radius: 2px;
}
.feedback-form .input textarea
{
    height: 160px;
}
.feedback-form
{
    width: 540px;
    position: relative;
}
.feedback-form .submit
{
    position: absolute;
    right: 5px;
    border: 0px;
    width: 137px;
    height: 56px;
    margin-top: -8px;
    background: url('/static/images2/sio-send-buttons.png') no-repeat left top;
}
.feedback-form .submit-en
{
    right: -8px!important;
    background: url('/static/images2/sio-submit-en.png') no-repeat left top!important;
}
.feedback-form .submit-en:hover
{
    background-position: left -59px!important;
}
.feedback-form .submit-en:active
{
    background-position: left -118px!important;
}

.feedback-form .submit.sent
{
    background: url('/static/images2/sio-send-buttons.png') no-repeat left top!important;
}
.feedback-form .submit:hover
{
    background-position: left -56px;
}
.feedback-form .submit:active,
.feedback-form .submit.active
{
    background-position: left -116px;
}
.about-images .image
{
    width: 260px;
    padding-top: 200px;
    position: absolute;
    left: 82px;
    top: 0px;
    background: url('/static/images2/sio-about-image-one.png?v=2') no-repeat center -20px;
}
.about-images .image .title-ru,
.about-images .image .title-en
{
    width: 146px;
    height: 28px;
    margin: 15px auto 10px auto;
    background: url('/static/images2/sio-step-titles-ru.png') no-repeat left top;
}
.about-images .image .title-en
{
    background: url('/static/images2/sio-step-titles-en.png') no-repeat left top;
}
.about-images .image .desc
{
    text-align: center;
    color: #969696;
    font-family: Arial;
    font-size: 14px;
}
.about-images .image-2
{
    left: 50%;
    width: 260px;
    margin-left: -130px;
    background: url('/static/images2/sio-about-image-two1.png') no-repeat center -20px;
}
.about-images .image-2 .title-ru
{
    width: 170px;
    height: 28px;
    background-position: left -30px;
}
.about-images .image-2 .title-en
{
    background-position: left -32px;
}
.about-images .image-3
{
    left: auto;
    right: 60px;
    width: 260px;
    background: url('/static/images2/sio-about-image-three1.png') no-repeat left top;
}
.about-images .image-3 .title-ru
{
    width: 212px;
    height: 28px;
    background-position: left -60px;
}
.about-images .image-3 .title-en
{
    background-position: left -62px;
}
.bad-url,
.bad-value
{
    background: #f6c6c6!important;
}
.bad-label
{
    color: #fff!important;
}
.login
{
    cursor: pointer;
    position: absolute;
    right: 72px;
    z-index: 20000;
    top: 46px;
}
.login,
.login a
{
    width: 46px;
    height: 46px;
}
.login a
{
    display: block;
    background: url('/static/images2/sio-login-button-png') no-repeat -2px -2px;
}
.login a:hover
{
    background-position: -2px -60px;
}
.login a:active
{
    background-position: -2px -118px;
}
.login.crawler a
{
    background-position: -67px -2px
}
.login.crawler a:hover { background-position: -67px -62px }
.login.crawler a:active { background-position: -67px -120px }

.sio-wip,
.sio-wip-right
{
    background: url('/static/images2/sio-wip-plate.png') no-repeat left top;
    height: 51px;
    position: absolute;
}
.sio-wip
{
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
}
.sio-wip-message
{
    position: absolute;
    color: #909090;
    font-family: Arial;
    font-size: 14px;
    left: 83px;
    top: 18px;
    text-shadow: 0px 1px 1px #fff;
}

.close-button
{
    position: fixed;
    top: 43px;
    right: 67px;
    z-index: 200000000000;
    background: none!important;
}
.close-button,
.close-button a
{
    display: block;
    width: 55px;
    height: 54px;
    background: url('/static/images2/sio-close-button.png') no-repeat left 3px;
}
.close-button a:hover
{
    background-position: -62px 3px;
}
.close-button a:active,
.close-button a.active
{
    background-position: -126px 3px;
}

.social a
{
    display: block;
    float: left;
    background: url('/static/images2/social-icons-png.png') no-repeat -5px -6px;
    padding-left: 20px;
    margin-right: 20px;
    text-shadow: 0px 1px 1px #fff;
}
.social .tw
{
    background-position: -5 -40px;
}


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .slogo-ru,
    .slogo-en {
	background: url('/static/images2/sio-slogo-ru-retina.jpg') no-repeat center center;
	background-size: 446px 135px;
    }
    .slogo-en {
	background: url('/static/images2/sio-slogo-en-retina.jpg') no-repeat center center;
	background-size: 418px 135px;
    }
    .logo
    {
	background: url('/static/images2/sio-logo-retina.png') no-repeat center center;
	background-size: 165px 42px;
    }
    .first-step,
    .second-step
    {
	background: url('/static/images2/digits-retina.png') no-repeat 3px 5px;
	background-size: 85px 179px;
    }
    .second-step
    {
	background: none;
    }
    .second-step .digit .unactive,
    .second-step .digit .active
    {
	background: url('/static/images2/digits-retina.png') no-repeat -50px -120px;
	background-size: 85px 179px;
    }
    .second-step .digit .active
    {
	background-position: -1px -120px;
    }
    .feedback-message
    {
	background: url('/static/images2/sio-send-message-retina.png') no-repeat left top;
	background-size: 146px 22px;
    }
    .feedback-message-ru
    {
	background: url('/static/images2/sio-send-message-ru-retina.png') no-repeat left top;
	background-size: 246px 26px;
    }
    .close-button
    {
	background: url('/static/images2/sio-close-retina.png') no-repeat left top;
	background-size: 55px 55px;
    }

    .feedback-form .submit
    {
	background: url('/static/images2/sio-send-buttons-retina.png') no-repeat left -8px;
	background-size: 140px 195px;
    }
    .feedback-form .submit:hover
    {
	background-position: left -68px;
    }
    .feedback-form .submit:active
    {
	background-position: left -134px;
    }

    .about-images .image
    {
	background: url('/static/images2/sio-about-image-one-retina.png') no-repeat -5px top;
	background-size: 246px 246px;
    }
    .about-images .image .title-ru
    {
	background: url('/static/images2/sio-step-titles-ru-retina.png') no-repeat left top;
	background-size: 213px 93px;
    }
    .about-images .image .title-en
    {
	background: url('/static/images2/sio-step-titles-en-retina.png') no-repeat left top;
	background-size: 138px 90px;
    }
    .about-images .image-2 .title-ru
    {
	background-position: left -33px;
	background-size: 213px 93px;
    }
    .about-images .image-2 .title-en
    {
	background-position: left -33px;
	background-size: 138px 90px;
    }
    .about-images .image-3 .title-ru
    {
	background-position: left -70px;
	background-size: 213px 93px;
    }
    .about-images .image-3 .title-en
    {
	background-position: left -66px;
	background-size: 138px 90px;
    }
    .about-images .image-2
    {
	background: url('/static/images2/sio-about-image-two-retina.png') no-repeat 0px top;
	background-size: 246px 246px;
    }
    .about-images .image-3
    {
	background: url('/static/images2/sio-about-image-three-retina.png') no-repeat 0px top;
	background-size: 246px 246px;
    }

    .close-button,
    .close-button a
    {
	background: url('/static/images2/sio-close-button-retina.png?v=3') no-repeat left 3px;
	background-size: 171px 51px;
    }
    .close-button a:hover
    {
	background-position: -59px 3px;
    }
    .close-button a:active
    {
	background-position: -116px 3px;
    }

    .retina-ready
    {
	background: url('/static/images2/sio-retina-ready-retina.png') no-repeat 10px 4px;
	background-size: 16px 7px;
    }
    .crawl-border-left
    {
	background: url('/static/images2/sio-crawl-border-left-retina.png') repeat-y left top;
	background-size: 2px 1px;
    }
    .crawl-border-right
    {
	background: url('/static/images2/crawl-monitor-right-retina.png?v=1') no-repeat left -61px;
	background-size: 35px 1500px;
    }

    .feedback-sent-en
    {
	background: url('/static/images2/sio-message-sent-retina.png') no-repeat left top;
	background-size: 145px 22px;
    }
    .feedback-sent-ru
    {
	background: url('/static/images2/sio-message-sent-ru-retina.png') no-repeat left top;
	background-size: 260px 24px;
    }
    .sio-about-success
    {
	background: url('/static/images2/sio-success-plate-retina-2.png') no-repeat center top;
	background-size: 655px 52px;
	padding-top: 7px;
    }
    .feedback-form .submit-en
    {
	right: -8px!important;
	background: url('/static/images2/sio-submit-en-retina.png?v=2') no-repeat left -7px!important;
	background-size: 129px 203px;
    }
    .feedback-form .submit-en:hover
    {
	background-position: left -68px!important;
    }
    .feedback-form .submit-en:active
    {
	background-position: left -134px!important;
    }

    .start-button a
    {
	background-image: url('/static/images2/sio-start-button-retina.png?v=3');
	background-size: 152px 50px;
    }

    .close-button
    {
	background: url('/static/images2/sio-close-retina.png') no-repeat left top;
	background-size: 55px 55px;
    }

    .close-button,
    .close-button a
    {
	background: url('/static/images2/sio-close-button-retina.png?v=3') no-repeat left 3px;
	background-size: 171px 51px;
    }
    .close-button a:hover
    {
	background-position: -59px 3px;
    }
    .close-button a:active
    {
	background-position: -116px 3px;
    }


    .social a
    {
	background-size: 24px 70px;
	background-position: -3px -32px;
	padding-bottom: 2px;
    }
    .social .tw
    {
	background-position: -3px -54px;
    }

}

.login,
.login a
{
    width: 46px;
    height: 46px;
}
.login a
{
    background-size: 130px 225px!important;
    background: url('/static/images2/sio-login-retina.png') no-repeat -6px -10px;
}
.login a:hover
{
    background-position: -6px -86px;
}
.login a:active
{
    background-position: -6px -168px;
}
.login.crawler a
{
    background-position: -72px -9px
}
.login.crawler a:hover { background-position: -72px -87px }
.login.crawler a:active { background-position: -73px -168px }

.short-block { max-width: 420px; }
.custom-solutions
{
    position: absolute;
    display: block;
    text-decoration: none;
    font-family: Arial;
    color: #706f6f;
    font-size: 14px;
    width: 86px;
    top: 108px;
    left: 600px;
    height: 56px;
    padding: 70px 10px 10px 10px;
    line-height: 14px;
    background: url('/static/images2/sio-custom-banner.png') no-repeat left top;
}
.custom-solutions:hover
{
    background-position: -106px top;
}

