*
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
html,
body
{
	width: 100%;
	height: 100%;
}
body
{
	background: #f0f0f0;
}

.logo
{
text-align: center;	
}

.login-screen-layout
{
	width: 450px;
	position: absolute;
	left: 50%; top: 50%;
	margin-left: -225px;
	margin-top: -220px;
}

form { margin-top: 30px; }
form fieldset
{
	position: relative;
	padding-left: 20px;
	background: url('/static/images/suggestio/input-shadow.jpg') no-repeat center 33px;
	padding-bottom: 32px;
}
.no-shadow { background: none; }
form label
{
	position: absolute;
	top: 0px;
	font-family: Arial;
	color: #cbcbcb;
	font-size: 16px;
	padding-left: 20px;
}
form .text-input
{
	width: 370px;
	padding: 18px 20px;
	font-family: Arial;
	color: #00718f;
	font-size: 18px;
	margin-top: -20px;
	border: 1px #d8d8d8 solid;
	-webkit-box-shadow: inset 0px 0px 2px #d8d8d8;
	-moz-box-shadow: inset 0px 0px 2px #d8d8d8;
	outline: navy;
}

.beta-note
{
	font-family: Arial;
	color: #c5c5c5;
	font-size: 14px;
	text-align: center;
	text-shadow: 0px 1px 1px #fff;
}

.submit-button
{
	width: 100px;
	margin-left: 155px;
	margin-top: 25px;
	color: #fff;
	text-shadow: 0px -1px 1px #0483a0;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	background: #057cad url('/static/images/suggestio/signin-button-bg.jpg') repeat-x left top;
	border-top: 1px #54d2e3 solid;
	padding: 10px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}