@(args: blk.IRenderArgs)(implicit ctx: Context)

@* Рендер тела открытой карточки: картинка, поля. *@

@import ctx.api.cdn

@* Может быть включено отображение в wide-bg. Тогда нужно отрендерить широкий bg здесь. *@
@args.wideBg.map { wideBg =>
  <img src="@cdn.maybeAbsUrl(args.apiVsn.forceAbsUrls)( cdn.forCall(wideBg.dynImgCall) )"
       class="bg __id-@{args.mad.id}"
       alt=""
       height="@wideBg.szCss.height" data-height="@wideBg.szCss.height"
       @* width пока не доступен, его придумывает imagemagic на лету. *@
  />

  @for(_ <- args.mad.meta.colors.pattern) {
    <div class="dotted-pattern __id-@{args.mad.id}"></div>
  }
}

<div class="focused-ad_offer">
  @_adNormalTpl(args, isWithAction = false)
</div>

