@(args: msc.ScRenderArgs)(implicit ctx: Context)

@import ctx.messages
@import views.html.sc.stuff._
@import io.suggest.sc.ScConstants.Search.Cats._

@_scrollableContainerTpl( "sm-categories", "smCategories",  style = Some(_bgcolor( args.bgColor, false ).toString + "height: 83%;") ){

  <div class="categories-list">
  @args.mmcats.zipWithIndex.map { case (mmcat, index) =>

    @if( index%2==0 && index!=0 ){ <div class="categories-list_horizontal-delimiter"></div> }

    @defining( !(args.catsStats contains mmcat.id.get) ) { isDisabled =>
      @if(!isDisabled) {
        @args.jsStateOpt.map { jsState =>
          <a href="@args.syncUrl( jsState.copy(tilesCatIdOpt = mmcat.id, searchScrOpenedOpt = None) )">
        }
      }
      <span class="categories-list_single-cat categorie @if(isDisabled) {__disabled} else {@ONE_CAT_LINK_CSS_CLASS}"
	    @ATTR_CAT_CLASS="@mmcat.cssClass"
	    @if(!isDisabled) {data-cat-id="@mmcat.id"}>

        <div class="categorie_icon __@mmcat.cssClass">
          @svg._catIconTpl( mmcat.cssClass, args.fgColor )
        </div>

        <div class="categorie_name" style="color: #@args.fgColor;">@messages(mmcat.name)</div>

      </span>
      @if(!isDisabled && args.jsStateOpt) {
        </a>
      }
    }

  }

  <div class="sm-clear"></div>
  </div>
}
