@(args: msc.ScRenderArgs)(implicit ctx: Context)

@import views.html.sc.stuff._

@_scrollableContainerTpl( "sm-close-screen", id = "smCloseScreen" ){

  <div class="sm-close-screen_cnt"  id="smCloseScreenContainer" style="@_bgcolor( args.bgColor )">

    <div class="sm-close-screen_message" style="color: #@args.fgColor">
      Вы покидаете Suggest.io,<br/>
      но всегда сможете вернуться
    </div>

    <div class="sm-close-screen_dm"></div>
    <span class="sm-flat-btn __centered __color-1 __rounded js-exit-button" data-url="@args.onCloseHref">ВЫЙТИ</span>
  </div>
}
