@(args: msc.IFocusedAdsTplArgs)(implicit ctx: Context)

@* Рендер под-выдачи для просмотра развёрных карточек.
   Появляется поверх при клике по какой-то карточке в общей плитке. *@

@import util.cdn.CdnUtil
@import msc._
@import views.html.sc.stuff._
@import io.suggest.sc.ScConstants.LOGO_HEIGHT_CSSPX
@import io.suggest.sc.ScConstants.Focused._

@* Список карточек указанного продюссера *@
<div class="sm-producer-header abs" style="@_bgcolor( args.bgColor )">

  @args.jsStateOpt.map { jsState =>
    <a href="@args.syncUrl( jsState.copy(fadOpenedIdOpt = None, fadsOffsetOpt = None) )">
  }
  @ScHdrBtns.CloseFocused( args.hBtnArgs )
  @if(args.jsStateOpt) {
    </a>
  }

  @args.producer.logoImgOpt.map { logoImg =>
    @* TODO Нужно ссылку на логотип генерить исходя из экрана клиента, а не с потолка. *@
    <img class="sm-producer-header_logo" height="@LOGO_HEIGHT_CSSPX" src="@CdnUtil.dynImg(logoImg.filename)"/>
  }

</div>


<div class="sm-focused-ads_arrow-label fad-arrow-label" id="@ARROW_ID" style="background-color: #@args.bgColor;">
  <div class="fad-arrow-label_left-arrow">@svg._backArrowLeft(args.fgColor)</div>
  <div class="fad-arrow-label_right-arrow">@svg._backArrowRight(args.fgColor)</div>
</div>


@* Контейнер с прокручивающимися офферами *@
<div class="sm-focused-ads_container __animated" id="@CONTAINER_ID" data-x-offset="0" data-ads-count="@args.adsCount">
  <span id="ads0">
    @_focusedAdTpl(args)
  </span>
  @if(!args.syncRender) {
    @_focusedAdLoaderTpl(args.bgColor)
  }
</div>
