@(bgColor:String)(implicit ctx: Context)

@stuff._scrollableContainerTpl( "focused-ad", "focusedAdLoader" ){
  <div>
    <div class="focused-ad_top-offset"></div>
    <div>
      <div>
        <div class="sm-block sm-focused-ads-loader" id="smFocusedAdsLoaderContent" data-width="300" data-height="300">
          <div class="sm-focused-ads-loader_content">
            <div class="sm-focused-ads-loader_icon">@svg._spinnerTpl(bgColor)</div>
            Загружаю карточки
          </div>
        </div>
      </div>
    </div>
    <div class="focused-ad_bottom-offset"></div>
  </div>
}
