@(args: msc.NodeListRenderArgs)(implicit ctx: Context)

@* Список узлов выдачи в левой колонке. *@

@import ctx._
@import args._
@import AdnShownTypes._
@import views.html.sc.stuff._
@import io.suggest.sc.ScConstants.NavPane._

@* Функция оборачивая верстки ноды в ссылку с версткой этой ноды, если используется синхронный режим работы. *@
@nodeSyncUrl(mnode: MAdnNode)(content: Html) = {
  @jsStateOpt.map { jsState =>
    <a href="@syncUrl( jsState.copy(
      adnId           = mnode.id,
      navScrOpenedOpt = None,
      fadOpenedIdOpt  = None,
      fadsOffsetOpt   = None,
      tilesCatIdOpt   = None,
      navNglsMap      = mnode.extras.adn.map(_.ngls.iterator.map(_ -> true).toMap).getOrElse(Map.empty)
    ))">
  }
  @content
  @if(jsStateOpt) {
    </a>
  }
}


<div class="geo-nodes-list" id="@GN_CONTAINER_ID" @GN_ATTR_LAYERS_COUNT="@nodeLayers.size"
     xmlns="http://www.w3.org/1999/html">

  @nodeLayers.iterator.zipWithIndex.map { case (nl, i) =>

    @* Если true, то рендерить селектор "районы", "города" и т.д. *@
    @if(nl.nameOpt.isDefined) {
      @defining( jsStateOpt.fold(args.apiVsn.nodeListLayersServerSideExpand && nl.expanded)(_.nglExpanded(nl)) ) { showExpanded =>
        @* Есть заголовок геослоя. Рендерим его: *@
        @jsStateOpt.map { jsState =>
          <a href="@syncUrl( jsState.copy(navNglsMap = jsState.navNglsMap + (nl.ngl -> !showExpanded)) )">
        }
        <div class="geo-nodes-list_layer @GNL_CAPTION_CSS_CLASS @if(showExpanded) {@GNL_ACTIVE_CSS_CLASS}"
             @GNL_ATTR_LAYER_ID_INDEX="@i" id="@GNL_CAPTION_DIV_ID_PREFIX@i">
          <div class="geo-nodes-list_layer-inner"><span class="geo-nodes-list_layer-icon">@svg._geoLayerArrowTpl()</span><span class="geo-nodes-list_layer-icon-right">@svg._geoLayerArrowRightTpl()</span>
            @nl.nameOpt
            <span class="geo-nodes-list_layer-counter">@nl.nodes.length</span>
          </div>
        </div>
        @if(jsStateOpt) {
          </a>
        }

        @* Рендер содержимого гео-слоя (узлы): *@
        @if(!jsStateOpt || showExpanded) {
          @_scrollableContainerTpl(
            className = (if(showExpanded) "" else GNL_BODY_HIDDEN_CSS_CLASS) + " " + GNL_BODY_CSS_CLASS,
            id = GNL_BODY_DIV_ID_PREFIX + i,
            GNL_ATTR_LAYER_ID_INDEX -> i.toString
          ) {
            @nl.nodes.iterator.zipWithIndex.map { case (mnode, si) =>
              @nodeSyncUrl(mnode) {
                <div class="geo-nodes-list_row @if( si+1 == nl.nodes.length ){__no-border}
                            @if(si%2 == 0){__odd}else{__even} @GN_NODE_CSS_CLASS
                            @if(args.apiVsn.geoNodeIdAsClass) {@GNL_NODE_ID_PREFIX@mnode.id"} else {" id="@GNL_NODE_ID_PREFIX@mnode.id"}
                     @GN_ATTR_NODE_ID="@mnode.id">
                  @mnode.meta.basic.nameShort
                </div>
              }
            }
          }
        }
      }

    } else {
      @* Нет заголовка гео-слоя. Рендерим его содержимое (узлы) напрямую. *@
      @nl.nodes.iterator.zipWithIndex.map { case (mnode, si) =>
        @nodeSyncUrl(mnode) {
          <div class="geo-nodes-list_layer js-gnlayer @if( i==0 ){ __bo-border }">
            <div class="geo-nodes-list_layer-inner @GN_NODE_CSS_CLASS" @GN_ATTR_NODE_ID="@mnode.id">
              @mnode.meta.basic.nameShort
            </div>
          </div>
        }
      }
    }

  } @* nodeLayers *@

</div>


@* TODO Нужно вынести футер отсюда в _navTpl. scrollable-список мешает, нужно пересчитать высоту. *@
@_leftFooterTpl()

