@(args: ScRenderArgs)(implicit ctx: Context)

@* Панель поиска: текстового, фасетного по категориям, по рекламодателям (правая панель). *@

@import util.TplDataFormatUtil._
@import ctx.messages

<div class="sm-categories-screen __initial" id="smCategoriesScreen" @if(args.jsStateOpt.exists(_.isSearchScrOpened)) {style="display: block; height: 100%;"} >

  <div class="sm-categories-screen_header">

    <div class="sm-button sm-producer-header_btn __left-aligned abs" id="smCategoriesIndexButton">
    </div>

    @* Кнопка/ссылка закрытия этой поисковой панели. *@
    @args.jsStateOpt.map { jsState =>
      <a href="@args.syncUrl( jsState.toggleSearchScreen )">
    }
    <div class="sm-button sm-producer-header_btn __right-aligned abs" id="smCategoriesScreenCloseButton">
      @svg._backArrowRight( args.fgColor )
    </div>
    @if(args.jsStateOpt) {
      </a>
    }

  </div>

  @_searchTextTpl( args, "smSearch")

  @defining( args.jsStateOpt.exists(_.isSearchTabList) ) { isListTab =>
    @* Панель с табами *@
    <div class="sm-categories-screen_tabs" id="smNavLayerTabs" style="@stuff._bgcolor( args.bgColor, true );">
      <div class="sm-categories-screen_tabs-wrapper">

        @* Табы *@
        @args.jsStateOpt.map { jsState =>
          <a href="@args.syncUrl( jsState.copy(searchTabListOpt = None) )">
        }
        <div class="sm-categories-screen_single-tab">
          <div class="sm-tab __rounded-left @if(isListTab) {__inactive}" id="smCategoriesTab"
               style="background: #@args.fgColor; border-color: #@args.fgColor; color: #@args.bgColor;">@messages("Categories").toUpperCase</div>
        </div>
        @if(args.jsStateOpt) {
          </a>
        }

        @args.jsStateOpt.map { jsState =>
          <a href="@args.syncUrl( jsState.copy(searchTabListOpt = Some(true)) )">
        }
        <div class="sm-categories-screen_single-tab">
          <div class="sm-tab __rounded-right @if(!isListTab) {__inactive}" id="smShopsTab"
               style="background: #@args.fgColor; border-color: #@args.fgColor; color: #@args.bgColor;">@messages("List").toUpperCase</div>
        </div>
        @if(args.jsStateOpt) {
          </a>
        }

        <div class="clear"></div>
      </div>
    </div>

    @if(!args.syncRender || !isListTab) {
      @_catsListTpl( args )
    }
    @if(!args.syncRender || isListTab) {
      @_shopsListTpl( args )
    }

  }

  @defining( colorRgb2Hsl(colorHex2rgb(args.bgColor)) ) { hslBgColor =>
  <style type="text/css">
    .sm-tab.__inactive {
      color: #@args.fgColor!important;
    }

    .sm-categories,
    .sm-shops {
      -webkit-box-shadow: inset 0px 10px 10px hsl( @{hslBgColor(0)}, @{hslBgColor(1)}%, @{hslBgColor(2)-10}% );
      box-shadow: inset 0px 5px 5px hsl( @{hslBgColor(0)}, @{hslBgColor(1)}%, @{hslBgColor(2)-6}% );
    }

    .shops-list_row,
    .categories-list_horizontal-delimiter   {
      border-color: rgba( @colorHex2rgb(args.fgColor).mkString(","), 0.5 );
    }

  </style>
  }

</div>
