@(args: msc.ScRenderArgs)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import views.html.sc.stuff._
@import io.suggest.sc.ScConstants.Search.Nodes._

@* Верстка нечетных css-классов. *@
@_mayOdd(i: Int) = {
  @if(i%2 == 0){__odd}
}

@_scrollableContainerTpl( "sm-shops", "smShops", "style" -> (_bgcolor( args.bgColor, false ).toString + "display: block;") ) {
<div id="@LIST_ID" class="shops-list">

  @* Список тегов рендерится по ws на клиенте, список узлов тоже. Поэтому вот этот код закомменчен тут.
  args.shopsLetterGrouped.iterator.zipWithIndex.map { case ((letter, mshops), i) =>
    @defining( _mayOdd(i) ) { mayOdd =>
      <div class="shops-list_row @mayOdd">
        <div class="shops-list_letter">@letter</div>
      </div>

      @* Рендер списка магазинов или иных рекламодателей. *@
      @mshops.map { mshop =>
        @args.jsStateOpt.map { jsState =>
          <a href="@args.syncUrl( jsState.copy(fadsProdIdOpt = mshop.id) )">
        }
        <div class="shops-list_row @mayOdd @ROW_DIV_CLASS" @ATTR_NODE_ID="@mshop.id">
          @mshop.meta.basic.name
        </div>
        @if( args.jsStateOpt ) {
          </a>
        }
      }
    }
  }*@


  @defining( colorRgb2Hsl(colorHex2rgb(args.bgColor)) ) { hslColor =>
  <style type="text/css">
.shops-list_row {
  color: #@args.fgColor;
  opacity: 0.8;
}
.shops-list_letter {
  border-color: #@args.fgColor;
}
.shops-list_row.__odd {
  background-color: hsl( @{hslColor(0)}, @{hslColor(1)}%, @{hslColor(2)-2}% );
}
  </style>
  }

</div>
}
