@(args: msc.ScRenderArgs)(implicit ctx: Context)

@* Рендер страницы приветствия, если таковая имеется.
   Она может отсутствовать, иметь фон цвета или фон картинки. *@

@import ctx.api.cdn
@import views.html.sc.stuff._
@import io.suggest.sc.ScConstants.Welcome._
@import io.suggest.sc.ScConstants.Logo
@import io.suggest.sc.ScConstants._

<div id="@ROOT_ID" class="sm-welcome-ad"
     @if(!args.welcomeOpt) {style="background: #@args.bgColor;"} >

  @args.welcomeOpt.fold {

    @* Нету карточки приветствия. *@
    <span class="sm-welcome-ad_helper"></span>
    <img height="@Logo.HEIGHT_CSSPX" class="sm-welcome-div_img"
         src="@args.logoImgOpt.fold( cdn.asset("images/market/showcase-logo.png") )( cdn.dynImg )"
         />

  } { wargs =>

    @* Есть приветствие.
       Рендерим фон приветствия: цвет узла или картинка. *@
    @wargs.bg match {
      case Left(color) => {
        @* Доступен только цвет фона. *@
        <style type="text/css">
          .sm-welcome-ad {
            background-color: @color;
          }
        </style>
      }

      case Right(bg) => {
        @* Доступно фоновое изображение. *@
        <img id="@BG_IMG_ID"
             class="sm-welcome-ad_bg-img"
             style="background-color: #@args.bgColor;"
             @WIDTH_ATTR="@bg.meta.width"
             @HEIGHT_ATTR="@bg.meta.height"
             src="@cdn.dynImg(bg.mimg)"/>
      }
    }

    @* Рендерим покрывающую картинку (svg/png) *@
    @wargs.fgImage.map { fgImage =>
      <span class="sm-welcome-ad_helper"></span>
      <img id="@FG_IMG_ID" class="sm-welcome-ad_fg-img"
           data-width="@fgImage.meta.width"
           data-height="@fgImage.meta.height"
           src="@cdn.dynImg(fgImage.mimg)"/>
    }

    @* Рендерим покрывающую картинку (svg/png) *@
    @wargs.fgText.map { fgText =>
      <div id="@FG_INFO_DIV_ID" class="sm-welcome-ad_fg-text">
        @_nodeNameTpl(args.fgColor) {
          @fgText
        }
      </div>
    }

  } @* fold *@
</div>
