@(args: msc.ScRenderArgs)(implicit ctx: Context)

@* Начальная страница для sio-market. Многочисленные аргументы передаются в контейнере для удобства передачи оных в подшаблоны. *@

@import util.TplDataFormatUtil._


@* Картинка-приветствие для первого экрана *@
@if(!args.syncRender) {
  @_welcomeScreenTpl(args)
}

@* Основной контейнер, шапка + карточки *@
<div class="sm-focused-ads" id="smFocusedAds" @if(args.focusedContent) {style="display: block;"}>
  @args.focusedContent
</div>

@* Полоса заголовка. *@
@_headerTpl(args)

@* Работа с сеткой карточек *@
@_gridAdsTpl(args)

@* Окно с выбором категорий *@
@if(!args.syncRender || args.jsStateOpt.exists(_.isSearchScrOpened)) {
  @_searchPanTpl(args)
}

@* Окно с предупреждением о выходе из Sio.Market *@
@if(!args.syncRender) {
  @_exitTpl(args)
}

@* Окно с версткой гео-меню *@
@if( !args.syncRender || args.jsStateOpt.exists(_.isNavScrOpened) ) {
  @_navPanTpl(args)
}

@if(!args.syncRender) {
  <div id="fsLoaded" class="fs-loader" style="background: rgba( @{colorHex2rgb( args.bgColor ).mkString(",")}, 0.3);">
    <div class="fs-loader_spinner">@svg._spinnerTpl(args.fgColor)</div>
  </div>
}

<div class="sm-loading" id="smLoading"></div>
