@(args: msc.ScRenderArgs)(implicit ctx: Context)

@* Начальная страница для sio-market. Многочисленные аргументы передаются в контейнере для удобства передачи оных в подшаблоны. *@

@import views.html.sc.stuff._

<style type="text/css">
  @indexCssTpl(args)
</style>

@* Картинка-приветствие для первого экрана *@
@if(!args.syncRender) {
  @wc._welcomeTpl(args)
}

@* Основной контейнер, шапка + карточки *@
@foc._outerTpl(args)

@* Полоса заголовка. *@
@hdr._headerTpl(args)

@* Работа с сеткой карточек *@
@grid._gridTpl(args)

@* Окно с выбором категорий *@
@if(!args.syncRender || args.jsStateOpt.exists(_.isSearchScrOpened)) {
  @search._searchPanTpl(args)
}

@* Окно с версткой гео-меню *@
@if( !args.syncRender || args.jsStateOpt.exists(_.isNavScrOpened) ) {
  @nav._navPanTpl(args)
}

@if(!args.syncRender) {
  @_fsLoaderTpl(args)
}

<div class="sm-loading" id="smLoading"></div>
