@(ads: Seq[MAdT], isIndex:Boolean=false, producer: MAdnNode)(implicit ctx: util.Context)

@if(!ads.isEmpty) {
  @ads.map { mad =>
    @_single_offer(
      mad = mad,
      isHidden = !isIndex && (mad != ads.head),
      isWithAction = isIndex
    )
  }

  @producer.logoImgOpt.map { logoImg =>
    @for(i <- 0 to 10) {
      <div class="sm-block-spacer" data-width="140" data-height="140" style="background: #@producer.meta.color; display: none; width: 140px; height: 140px; position: absolute;">
        <img class="sm-offer-logo" height="30" src="@ctx.myAudienceUrl@routes.Img.getImg(logoImg.filename)"/>
      </div>
    }
  }

}