@(mmcats: Seq[MMartCategory], mmart:MAdnNode)(implicit ctx:util.Context)

<div class="sm-categories-screen" style="background-color: #@mmart.meta.color" id="smCategoriesScreen">

  <div class="sm-categories-body-wrap">
    <div class="sm-categories-body">

      @* Поле ввода поиска *@
      <div class="search-bar">
        <div class="sb-back-icon" id="smCloseCategoriesButton"></div>
        <div class="sb-search-field">

          <div class="sb-sf-container">
            <input id="smSearchField" type="text" placeholder="ВОСПОЛЬЗУЙТЕСЬ ПОИСКОМ"/>
          </div>
        </div>
        <div class="sb-search-icon"></div>
      </div>

      <div class="sm-categories-list">
        @mmcats.map { mmcat =>
          <a class="sm-single-categorie sm-@mmcat.cssClass" onclick="siomart.offers.load_for_cat_id('@mmcat.id');">
            <div class="icon"></div>
            <div class="name">@mmcat.name</div>
          </a>
        }
      </div>

    </div>
  </div>

  <div class="sm-categories-footer">

    <div class="or-title" style="margin-top: 18px;">
      <span style="background-color: #@mmart.meta.color">ИЛИ</span>
    </div>

    <div style="text-align: center; margin-top: 18px;">
      <a href="#" class="white-border-btn" id="smShopListButton">
        ВЫБЕРИТЕ МАГАЗИН ИЗ СПИСКА
      </a>
    </div>

  </div>

</div>
