@(args: SMShowcaseRenderArgs)(implicit ctx: Context)

@import util.TplDataFormatUtil._

<div class="sm-categories-screen" id="smCategoriesScreen">

  <div class="sm-categories-screen_header">

    <div class="sm-button sm-producer-header_btn __right-aligned abs" id="smCategoriesScreenCloseButton">
      @svg._exitButtonTpl( args.fgColor )
    </div>

  </div>

  @_search_bar( args )

  <div class="sm-categories-screen_tabs" id="smNavLayerTabs" style="@stuff._bgcolor( args.bgColor )">
    <div class="sm-categories-screen_tabs-wrapper">

      <div class="sm-categories-screen_single-tab">
        <div class="sm-tab" id="smCategoriesTab" style="@stuff._bgcolor( args.bgColor, false ); color: #@args.fgColor;">Категории</div>
      </div>

      <div class="sm-categories-screen_single-tab">
        <div class="sm-tab __inactive" id="smShopsTab" style="@stuff._bgcolor( args.bgColor, false );  color: #@args.fgColor;">Список</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  @_categoriesListTpl( args )

  @_shopsListTpl( args )

</div>