@(args: ScRenderArgs)(implicit ctx: Context)

@import util.TplDataFormatUtil._

<div class="sm-categories-screen __initial" id="smCategoriesScreen" @if(args.jsStateOpt.exists(_.isSearchScrOpened)) {style="display: block; height: 100%;"} >

  <div class="sm-categories-screen_header">

    <div class="sm-button sm-producer-header_btn __left-aligned abs" id="smCategoriesIndexButton">
    </div>

    @* Кнопка/ссылка закрытия этой поисковой панели. *@
    @args.jsStateOpt.map { jsState =>
      <a href="@routes.MarketShowcase.syncGeoSite(jsState.toggleSearchScreen)">
    }
    <div class="sm-button sm-producer-header_btn __right-aligned abs" id="smCategoriesScreenCloseButton">
      @svg._backArrowRight( args.fgColor )
    </div>
    @if(args.jsStateOpt) {
      </a>
    }

  </div>

  @_search_bar( args, "smSearch", "Быстрый поиск по предложениям" )

  <div class="sm-categories-screen_tabs" id="smNavLayerTabs" style="@stuff._bgcolor( args.bgColor, true );">
    <div class="sm-categories-screen_tabs-wrapper">

      <div class="sm-categories-screen_single-tab">
        <div class="sm-tab __rounded-left" id="smCategoriesTab" style="background: #@args.fgColor; border-color: #@args.fgColor; color: #@args.bgColor;">КАТЕГОРИИ</div>
      </div>

      <div class="sm-categories-screen_single-tab">
        <div class="sm-tab __rounded-right __inactive" id="smShopsTab" style="background: #@args.fgColor; border-color: #@args.fgColor; color: #@args.bgColor;">СПИСОК</div>
      </div>

      <div class="clear"></div>
    </div>
  </div>

  @_categoriesListTpl( args )
  @_shopsListTpl( args )

  @defining( colorRgb2Hsl(colorHex2rgb(args.bgColor)) ) { hslBgColor =>
  <style type="text/css">
    .sm-tab.__inactive {
      color: #@args.fgColor!important;
    }

    .sm-categories,
    .sm-shops {
      -webkit-box-shadow: inset 0px 10px 10px hsl( @{hslBgColor(0)}, @{hslBgColor(1)}%, @{hslBgColor(2)-10}% );
      box-shadow: inset 0px 5px 5px hsl( @{hslBgColor(0)}, @{hslBgColor(1)}%, @{hslBgColor(2)-6}% );
    }

    .shops-list_row,
    .categories-list_horizontal-delimiter   {
      border-color: rgba( @colorHex2rgb(args.fgColor).mkString(","), 0.5 );
    }

  </style>
  }

</div>