@()(implicit ctx:util.Context)

<div class="sm-close-screen" id="smCloseScreen">
  <div class="es-container">
    Вы покидаете
    <strong>SIO.MARKET</strong>
    <p>ЕСЛИ ВЫ ДЕЙСТВИТЕЛЬНО ХОТИТЕ ВЫЙТИ, НАЖМИТЕ КНОПКУ &laquo;ВЫЙТИ&raquo;</p>
    <p>ВЕРНУТЬСЯ НАЗАД МОЖНО НАЖАВ КНОПКУ &laquo;ОТМЕНА&raquo;</p>
    <div class="buttons">
      <a id="smCloseConfirmedButton" class="sm-button sm-close-button" href="">ВЫЙТИ</a>
      <a id="smExitCloseScreenButton" class="sm-button" href="">ОТМЕНА</a>
    </div>
  </div>
</div>