@(args: ScRenderArgs)(implicit ctx:util.Context)

@stuff.scrollableContainerTpl( "sm-close-screen", "smCloseScreen" ){

  <div class="sm-close-screen_cnt"  id="smCloseScreenContainer" style="@stuff._bgcolor( args.bgColor )">

    <div class="sm-close-screen_message" style="color: #@args.fgColor">
      Вы покидаете Suggest.io,<br/>
      но всегда сможете вернуться
    </div>

    <div class="sm-close-screen_dm"></div>
    <span class="sm-flat-btn __centered __color-1 __rounded js-exit-button" data-url="@args.onCloseHref">ВЫЙТИ</span>
  </div>
}