@(oncloseHref: String)(implicit ctx:util.Context)

<div class="sm-close-screen" id="smCloseScreen">

  <div class="sm-close-screen_cnt"  id="smCloseScreenContainer">

    <div class="sm-button abs" id="smExitCloseScreenButton">
      @svg._exitButtonTpl("c5c5c5")
    </div>

    <div class="sm-close-screen_message">
      Вы покидаете SIO.Market,<br/>
      но всегда сможете вернуться
    </div>

    <div class="sm-close-screen_dm"></div>
    <a class="sm-flat-btn __centered __color-1 __rounded" href="@oncloseHref">ВЫЙТИ</a>
  </div>
</div>