@(mads: Seq[MAd], adSearch: AdSearch, producer: MAdnNode, bgColor: String, adsCount: Int, startIndex: Int = 0)(implicit ctx: util.Context)

@* Рендер под-выдачи для просмотра развёрных карточек.
Появляется поверх при клике по какой-то карточке в общей плитке. *@

@* Список карточек указанного продюссера *@
<div class="sio-mart__node-offers sio-mart-node-offers-window" id="sioMartNodeOffers">

  @_screen_nav_button("back","closeNodeOffersPopupButton")
  <div class="sio-mart__producer-header" style="@stuff._bgcolor( bgColor ); height: 30px!important;">
    @producer.logoImgOpt.map { logoImg =>
      <img class="sm-offer-logo" height="30" style="height: 30px!important" src="@ctx.myAudienceUrl@routes.Img.getImg(logoImg.filename)"/>
    }
  </div>

  @* Контейнер с прокручивающимися офферами *@
  <div class="sio-mart-node-offers-window__root-container" id="sioMartNodeOffersBlockContainer" data-ads-count="@adsCount">
    @mads.zipWithIndex.map { case (mad, index) =>
    <div id="ad_c_@index">
      @_focusedAdTpl(mad,  startIndex + index,  producer,  adsCount = adsCount)
    </div>
    }
  </div>

</div>