@(mads: Seq[MAd], adSearch: AdSearch, producer: MAdnNode, bgColor: String, adsCount: Int, startIndex: Int = 0)(implicit ctx: util.Context)

@* Рендер под-выдачи для просмотра развёрных карточек.
Появляется поверх при клике по какой-то карточке в общей плитке. *@

@* Список карточек указанного продюссера *@
<div class="sm-producer-header abs" style="@stuff._bgcolor( bgColor )">

  <div class="sm-producer-header_exit-button sm-button sm-producer-header_btn __left-aligned abs" id="closeFocusedAdsButton">
    @svg._exitButtonTpl()
  </div>

  @producer.logoImgOpt.map { logoImg =>
    <img class="sm-producer-header_logo" height="30" src="@ctx.myAudienceUrl@routes.Img.getImg(logoImg.filename)"/>
  }

</div>

@* Контейнер с прокручивающимися офферами *@
<div class="sm-focused-ads_container __animated" id="smFocusedAdsContainer" data-x-offset="0" data-ads-count="@adsCount" style="@stuff._bgcolor( bgColor )">
  <span id="ads0">
  @mads.zipWithIndex.map { case (mad, index) =>
    @_focusedAdTpl(mad,  startIndex + index,  producer,  adsCount = adsCount)
  }
  </span>
  @_focusedAdLoaderTpl()
</div>