@(mads: Seq[MAd], adSearch: AdSearch, producer: MAdnNode, bgColor: String, adsCount: Int, startIndex: Int = 0)(implicit ctx: util.Context)

@* Рендер под-выдачи для просмотра развёрных карточек.
Появляется поверх при клике по какой-то карточке в общей плитке. *@

@* Список карточек указанного продюссера *@
<div class="sm-producer-header abs" style="@stuff._bgcolor( bgColor )">
  @producer.logoImgOpt.map { logoImg =>
    <img class="sm-offer-logo" height="30" src="@ctx.myAudienceUrl@routes.Img.getImg(logoImg.filename)"/>
  }
</div>

@* Контейнер с прокручивающимися офферами *@
<div class="sm-focused-ads_container" id="sioMartNodeOffersBlockContainer" data-ads-count="@adsCount">
  @mads.zipWithIndex.map { case (mad, index) =>
    @_focusedAdTpl(mad,  startIndex + index,  producer,  adsCount = adsCount)
  }
</div>