@(args: NodeListRenderArgs)(implicit ctx: Context)

@* Список узлов выдачи в левой колонке. *@

@import ctx._
@import args._
@import AdnShownTypes._

@* Функция оборачивая верстки ноды в ссылку с версткой этой ноды, если используется синхронный режим работы. *@
@nodeSyncUrl(mnode: MAdnNode)(content: Html) = {
  @jsStateOpt.map { jsState =>
    <a href="@syncUrl( jsState.copy(
      adnId           = mnode.id,
      navScrOpenedOpt = None,
      fadOpenedIdOpt  = None,
      fadsOffsetOpt   = None,
      tilesCatIdOpt   = None,
      navNglsMap      = mnode.adn.ngls.map(_ -> true).toMap
    ))">
  }
  @content
  @if(jsStateOpt) {
    </a>
  }
}


<div class="geo-nodes-list" id="geoNodesListContainer" data-layers-count="@nodeLayers.iterator.length"
     xmlns="http://www.w3.org/1999/html">

  @nodeLayers.iterator.zipWithIndex.map { case (nl, i) =>

    @* Если true, то рендерить селектор "районы", "города" и т.д. *@
    @if(nl.nameOpt.isDefined) {
      @defining( jsStateOpt.fold(nl.expanded)(_.nglExpanded(nl)) ) { showExpanded =>
        @* Есть заголовок геослоя. Рендерим его: *@
        @jsStateOpt.map { jsState =>
          <a href="@syncUrl( jsState.copy(navNglsMap = jsState.navNglsMap + (nl.ngl -> !showExpanded)) )">
        }
        <div class="geo-nodes-list_layer js-gnlayer @if(showExpanded) {__active}" data-index="@i" id="geoLayer@i">
          <div class="geo-nodes-list_layer-inner"><span class="geo-nodes-list_layer-icon">@svg._geoLayerArrowTpl()</span><span class="geo-nodes-list_layer-icon-right">@svg._geoLayerArrowRightTpl()</span>
            @nl.nameOpt
            <span class="geo-nodes-list_layer-counter">@nl.nodes.length</span>
          </div>
        </div>
        @if(jsStateOpt) {
          </a>
        }

        @* Рендер содержимого гео-слоя (узлы): *@
        @if(!jsStateOpt || showExpanded) {
          @stuff.scrollableContainerTpl( (if(showExpanded) "" else "__hidden ") + "geo-nodes-list_rows", "geoLayerNodes" + i ) {
            @nl.nodes.iterator.zipWithIndex.map { case (mnode, si) =>
              @nodeSyncUrl(mnode) {
                <div class="geo-nodes-list_row @if( si+1 == nl.nodes.length ){__no-border} @if(si%2 == 0){__odd}else{__even} js-geo-node gn-@mnode.id" data-id="@mnode.id">
                  @mnode.meta.nameShort
                </div>
              }
            }
          }
        }
      }

    } else {
      @* Нет заголовка гео-слоя. Рендерим его содержимое (узлы) напрямую. *@
      @nl.nodes.iterator.zipWithIndex.map { case (mnode, si) =>
        @nodeSyncUrl(mnode) {
          <div class="geo-nodes-list_layer js-gnlayer @if( i==0 ){ __bo-border }">
            <div class="geo-nodes-list_layer-inner js-geo-node" data-id="@mnode.id">@mnode.meta.nameShort</div>
          </div>
        }
      }
    }

  } @* nodeLayers *@

</div>


<div class="geo-nodes-links">
  <div class="geo-nodes-links_inner">
    <a class="geo-nodes-links_link" href="@ctx.LK_URL_PREFIX@routes.Ident.mySioStartPage"><span class="geo-nodes-links_icon"></span><span class="geo-nodes-links_text">Вход в suggest.io</span></a>
    <a class="geo-nodes-links_link geo-nodes-links_right-aligned" href="@routes.Market.marketBooklet()"><span class="geo-nodes-links_icon geo-nodes-links_icon-info"></span><span class="geo-nodes-links_text">О проекте</span></a>
  </div>
</div>
