@(args: SMShowcaseRenderArgs)(implicit ctx:util.Context)

<div class="sm-geo-screen" id="smGeoScreen">

  <div class="sm-geo-screen_header"></div>

  @_search_bar( args, "smGeoSearch", "Быстрый поиск по местам" )

  <div class="sm-geo-screen_current-location" id="smGeoLocationButton" style="@stuff._bgcolor( args.bgColor, false );">
    <div class="sm-geo-screen_current-location-inner">
      <div class="sm-geo-screen_current-location-icon">@svg._geoButtonTpl("ffffff")</div><span id="smGeoLocationLabel">Определить местоположение</span>
    </div>
  </div>
  @stuff.scrollableContainerTpl( "sm-geo-nodes", "smGeoNodes", stuff._bgcolor( args.bgColor, false ).toString ){
  }

</div>