@(args: ScRenderArgs)(implicit ctx: Context)
@import util.TplDataFormatUtil._

@stuff.scrollableContainerTpl( "sm-grid-ads", "smGridAds" ){

  <div class="sm-grid-ads_container" id="smGridAdsContainer" data-index-offers-action="@routes.MarketShowcase.findAds(args.spsr)">
    @* Заинлайненные рекламные карточки при синхронном рендере. *@
    @for(tile <- args.inlineTiles) {
      @tile
    }
  </div>
  <div class="sm-grid-ads_loader hidden" id="smGridAdsLoader">
    <div class="sm-grid-ads_loader-spinner"><div class="sm-grid-ads_loader-spinner-inner">@svg._spinnerTpl(args.bgColor)</div></div>
  </div>

}

<code>

  .sm-grid-ads_loader {
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="10px" height="5px" viewBox="0 0 10 5" enable-background="new 0 0 10 5" xml:space="preserve"><polygon fill="#@args.bgColor" points="10,3.16 5,0 0,3.16 0,5 5,1.84 10,5 "/></svg>');
    background-repeat: repeat-x;
  }

  .sm-grid-ads,
  .sm-grid-ads_loader-spinner-inner{
    background-color: rgba(@{colorHex2rgb(args.bgColor).mkString(",")}, 0.2)!important;
  }

</code>