@(mmart: MAdnNode, ads: Seq[MAdT], shops: Map[String, MAdnNode], isNav:Boolean=false, isIndex:Boolean=false)(implicit ctx: util.Context)
@if(ads.isEmpty) {
  @* рекламы в ТЦ нет *@
} else {

  @ads.map { mad =>
    @if( isNav ){
      <a class="sm-offer-control @if( (mad eq ads.head) ){active}" href=""><span></span></a>
    } else {
      @if( isIndex ){
        @_single_index_offer(mad, shops.getOrElse(mad.producerId, mmart), fallbackLogo = mmart.logoImgOpt, isHidden = !(mad eq ads.head))
      }else{
        @_single_offer(mad, shops.getOrElse(mad.producerId, mmart), fallbackLogo = mmart.logoImgOpt, isHidden = !(mad eq ads.head))
      }
    }
  }
}
