@(is_first:Boolean=false)

@* Кнопка назад / выход *@
<div class="sm-back-close-button">
  <div class="sm-back-close-button__inner">
    @if( is_first ){
      <span class="sm-back-close-button__span sm-back-close-button__span_close" href="" id="smCloseButton"></span>
    }else{
      <span class="sm-back-close-button__span sm-back-close-button__span_back" href=""></span>
    }
  </div>
</div>

@* Кнопка вызова окошка с категориями, находится всегда справа сверху *@
<div class="categories-button">
  <span id="smCategoriesButton"></span>
</div>