@(is_first:Boolean=false)

@* Кнопка назад / выход *@
<div class="back-close-button">
  <div class="cb-i">
    @if( is_first ){
      <a class="close siomart-close-button" href="" id="smCloseButton"></a>
    }else{
      <a class="back siomart-back-button" href=""></a>
    }
  </div>
</div>

@* Кнопка вызова окошка с категориями, находится всегда справа сверху *@
<div class="categories-button">
  <a href="" id="smCategoriesButton" onclick="siomart.open_categories_screen(); return false;" ontouchend="siomart.open_categories_screen(); return false;"></a>
</div>