@(args: SMShowcaseRenderArgs, id:String="", placeholder:String="")(implicit ctx:util.Context)

@import util.TplDataFormatUtil._

<div class="sm-search-bar" id="@{id}Bar" style="@stuff._bgcolor( args.bgColor )">

  <div class="sm-search-bar_field" id="@{id}" style="@stuff._bgcolor( args.bgColor, true, 0.5 ); border-color: #@args.fgColor;">
    <div class="sm-search-bar_wrapper">
      <input class="sm-search-bar_input" id="@{id}Field" type="text" placeholder="@placeholder"/>
    </div>
    <div class="sm-search-bar_message" id="@{id}Em">Ничего не найдено</div>
  </div>

</div>

<style type="text/css">

  .sm-search-bar_input::-webkit-input-placeholder {
    color:    #@args.fgColor;
  }
  .sm-search-bar_input:-moz-placeholder {
    color:    #@args.fgColor;
    opacity:  1;
  }
  .sm-search-bar_input::-moz-placeholder {
    color:    #@args.fgColor;
    opacity:  1;
  }

  .sm-search-bar_field.__active {
    background: #@args.fgColor;
  }

  .sm-search-bar_field.__active .sm-search-bar_input
  {
    color:#@args.bgColor;
  }
  .sm-search-bar_field.__active .sm-search-bar_input::-webkit-input-placeholder {
    color:    #@args.bgColor;
  }
  .sm-search-bar_field.__active .sm-search-bar_input:-moz-placeholder {
    color:    #@args.bgColor;
  }
  .sm-search-bar_field.__active .sm-search-bar_input::-moz-placeholder {
    color:    #@args.bgColor;
  }


</style>