@(mshopMap: Map[String, MAdnNode], mmart:MAdnNode)(implicit ctx:util.Context)

<div class="sm-shopList-screen" id="smShopListScreen">

  <div class="sm-shops-list">
    @mshopMap.values.groupBy(_.meta.name.head.toUpper).mapValues(_.toSeq.sortBy(_.meta.name)).toSeq.sortBy(_._1).map { case (letter, mshops) =>

      <div class="item">
        <div class="letter">
          @letter
        </div>

        @mshops.map { mshop =>
          <a class="shop" onclick="siomart.load_for_shop_id('@mshop.id');" ontouchend="siomart.load_for_cat_id('@mshop.id');">
            @mshop.meta.name
          </a>
        }
      </div>

    }
  </div>

</div>