@(args: ScRenderArgs)(implicit ctx:util.Context)
@import util.TplDataFormatUtil._

@stuff.scrollableContainerTpl( "sm-shops", "smShops", stuff._bgcolor( args.bgColor, false ).toString ){
<div class="shops-list">
  @args.shopsLetterGrouped.map { case ((letter, mshops), i) =>

      <div class="shops-list_row @*if(i%2 == 0){__odd}*@" style="@stuff._bgcolor( args.bgColor ); opacity: 0.8; color: #@args.fgColor;">
        <div class="shops-list_letter" style="border-color: #@args.fgColor;">@letter</div>
      </div>

      @mshops.zipWithIndex.map { case (mshop,si) =>
      <div class="shops-list_row @if((si)%2 == 0){__odd} js-shop-link" data-producer-id="@mshop.id">
        @mshop.meta.name
      </div>
      }
  }

  <style type="text/css">
    @defining( colorRgb2Hsl(colorHex2rgb(args.bgColor)) ) { hslColor =>
    .shops-list_row {
      color:#@args.fgColor;
    }
    .shops-list_row.__odd {
      background-color: hsl( @{hslColor(0)}, @{hslColor(1)}%, @{hslColor(2)-2}% );
    }
    }
  </style>

</div>
}
