@(mshopMap: Map[String, MAdnNode], mmart:MAdnNode)(implicit ctx:util.Context)

<div class="sm-shopList-screen" id="smShopListScreen">

  <div class="sm-shops-list">
    @mshopMap.values.groupBy(_.meta.name.head.toUpper).mapValues(_.toSeq.sortBy(_.meta.name)).toIndexedSeq.sortBy(_._1).zipWithIndex.map { case ((letter, mshops), i) =>

    <div class="item">
      <div class="letter">
        @letter
      </div>

      @mshops.map { mshop =>
      <a class="shop" onclick="siomart.load_for_shop_id('@mshop.id');">
        @mshop.meta.name
      </a>
      }
    </div>

    @if( ((i+1) % 3) == 0 ){
    <div class="sm-shops-list__delimiter"></div>
    }

    }
  </div>

</div>