@(ad: MAdT, producer: MAdnNode, fallbackLogo: Option[MImgInfo] = None, isHidden: Boolean = false)(implicit ctx: util.Context)

@import util.TplDataFormatUtil._
@import AdNetMemberTypes.MART

<div class="sm-block sio-mart__single-offer sm-block-tpl1" data-width="300" data-height="300" style="width: 300px; height: 300px;" onclick="siomart.load_for_shop_id('@producer.id'); return false;" ontouchend="siomart.load_for_shop_id('@producer.id'); return false;">
  <div>
    <img src="/assets/images/block-ad-sample-image.jpg" width="285" height="285"/>
    <div>
      <div class="b-text-1">Opaque Naturel<br/>Корректирующее Платье</div>
      <div class="b-price">9999р.</div>
      <div class="b-price-new">10550р.</div>
    </div>
  </div>
</div>