@(mad: MAdT, isWithAction : Boolean = false, producer:MAdnNode, adIndex:Int=0, adsCount:Int=0)(implicit ctx: Context)

@defining( producer.meta.color.getOrElse("") ) { pBgColor =>
@defining( producer.meta.fgColor.getOrElse("ffffff") ) { pFgColor =>

<div class="focused-ad_offer">
  @_single_offer(mad, isWithAction = false, BlockRenderArgs.DOUBLE_SIZED_ARGS)
</div>

@* Информация о магазине *@
<div class="focused-ad_location" style="@if( producer.meta.color ){ @stuff._bgcolor( pBgColor )}; color: #@pFgColor">

  <div class="focused-ad_count" style="color: #@pFgColor; border-color: #@pFgColor;">
    <div>@adIndex/@adsCount</div>
  </div>

  <div class="focused-ad_location-icon">
    @svg._fadLocationIconTpl(pFgColor)
  </div>
  <div class="focused-ad_location-info">
    <span>@producer.meta.address.map { address => @address }</span>
    <div>@producer.meta.name</div>
  </div>
  <div class="sm-clear"></div>
</div>

@* Контейнер с описанием рекламной карточки *@
@mad.richDescrOpt.map { rd =>
<div class="focused-ad_descr" style="background-color: #@rd.bgColor;">
  @Html(rd.text)
</div>
}
}
}