@(ad: MMartAdT, mmart: MMart, mshopOpt: Option[MShop], isHidden: Boolean = false)(implicit ctx: util.Context)

<div class="sm-offer @if(isHidden){ sm-hidden-offer }">

  @ad.panel.map { panelSettings =>
  <div class="offer-header" style="background-color: #@panelSettings.color">
    @mshopOpt.flatMap(_.logoImgId).orElse(mmart.logoImgId).map { logoImgId =>
      <img class="sm-offer-logo" height="30" src="@routes.Img.getOrig(logoImgId)"/>
    }
  </div>
  }

  <div class="offer-details">
    <div class="od-inner discount">
      @ad.offers.map {

        case adProd: MMartAdProduct => {

          <div class="top-text">@adProd.vendor.value</div>

          @adProd.oldPrice.map { oldPrice =>
            <div class="old-price"><s>@oldPrice.value р</s></div>
          }
          <div class="new-price">@adProd.price.value р</div>

          @* Если магазин не указан, то значит это рекламная карточка ТЦ. *@
          @mshopOpt.map { mshop =>
            <div class="offer-location">
              @mshop.martFloor.map { martFloor =>
                Этаж @martFloor<br/>
              }
              @mshop.martSection.map { martSection =>
                Бутик @martSection<br/>
              }
              &laquo;@mshop.name&raquo;
            </div>
          }
        }

        case adDisco: MMartAdDiscount => {
          text1: @adDisco.text1.map { text1 =>
            @text1.value @text1.font.color
          }
          text2: @adDisco.text2.map { text2 =>
            @text2.value @text2.font.color
          }
          template: id=@adDisco.template.id color=@adDisco.template.color
          disco: @adDisco.discount.value % color=@adDisco.discount.font.color
        }

        case adText: MMartAdText => {
          text: @Html(adText.text.value)
          color: @adText.text.font.color
        }
      }


      <a class="sm-button" href="">ПРЕДЛОЖЕНИЯ МАГАЗИНА</a>

    </div>
  </div>

  <img class="poster-photo" data-width="1575" data-height="1181" src="@routes.Img.getOrig(ad.picture)"/>

</div>