@(isHidden:Boolean=false)(implicit ctx:util.Context)

<div class="sm-offer @if( isHidden == true ){ sm-hidden-offer }">

  <div class="offer-header">
    <img src="">
  </div>

  <div class="offer-details">
    <div class="discount">
      <div class="top-text">Франко Морелли</div>
      <div class="old-price"><s>9999 р</s></div>
      <div class="new-price">59999 р</div>
    </div>
  </div>

  <img class="poster-photo" data-width="1575" data-height="1181" src="http://www.peoples.ru/art/fashion/brands/frankie_morello/frankie_5.jpg">
</div>