@(mad: MAdT, isWithAction : Boolean = false, producer:MAdnNode, adIndex:Int=0, adsCount:Int=0,
  args: blk.RenderArgs = blk.RenderArgs.DOUBLE_SIZED_ARGS)(implicit ctx: Context)

@import util.blocks.BlocksUtil.IMG_BG_COLOR_FN

@* Может быть включено отображение в wide-bg. Тогда нужно отрендерить широкий bg здесь. *@
@args.wideBg.map { wideBg =>
  <img src="@wideBg.dynImgCall"
       class="bg" alt=""
       style="@mad.colors.get(IMG_BG_COLOR_FN).map { ibgCol =>background-color:#@ibgCol;}"
       data-width="@wideBg.width" data-height="@wideBg.height"
  />
}

<div class="focused-ad_offer">
  @_single_offer(mad, isWithAction = false, args)
</div>


@defining( producer.meta.color.getOrElse("") ) { pBgColor =>
@defining( producer.meta.fgColor.getOrElse("ffffff") ) { pFgColor =>

@* Информация о магазине *@
<div class="focused-ad_location" style="@if( producer.meta.color ){ @stuff._bgcolor( pBgColor )}; color: #@pFgColor">

  <div class="focused-ad_count" style="color: #@pFgColor; border-color: #@pFgColor;">
    <div>@adIndex/@adsCount</div>
  </div>

  <div class="focused-ad_location-icon">
    @svg._fadLocationIconTpl(pFgColor)
  </div>
  <div class="focused-ad_location-info">
    <span>@producer.meta.address.map { address => @address }</span>
    <div>@producer.meta.name</div>
  </div>
  <div class="sm-clear"></div>
</div>

@* Контейнер с описанием рекламной карточки *@
@mad.richDescrOpt.map { rd =>
  <div class="focused-ad_descr" style="background-color: #@rd.bgColor;">
    @Html(rd.text)
  </div>
}

}
}
