@(args: SMShowcaseRenderArgs)(implicit ctx: Context)

@* Рендер страницы приветствия, если таковая имеется.
   Она может отсутствовать, иметь фон цвета или фон картинки. *@

@args.welcomeOpt.fold {
  @* Нету карточки приветствия. *@
  <div id="smWelcomeDiv" class="sm-welcome-div" style="background: #@args.bgColor;">
      <span class="sm-welcome-div_helper"></span>
      <img height="60" class="sm-welcome-div_img" src="@args.logoImgUrl"/>
  </div>

} { wargs =>

  @* Есть приветствие. *@
  <div class="sm-welcome-ad">

    @* Рендерим фон приветствия: цвет узла или картинка. *@
    @wargs.bg match {
      case Left(color) => {
        @* Доступен только цвет фона. *@
        <span style="background-color: @color">тут фон</span>
      }

      case Right(imgInfo) => {
        @* Доступно фоновое изображение. *@
        <img style="background-color: #@args.bgColor;" id="smWelcomeAd" class="sm-welcome-ad__img js-index-welcome-ad"
             data-width="@imgInfo.meta.map(_.width)"
             data-height="@imgInfo.meta.map(_.height)"
             src="@ctx.myAudienceUrl@routes.Img.getImg(imgInfo.filename)"/>
      }
    }


    @* Рендерим покрывающую картинку (svg/png) *@
    @wargs.fgImage.map { fgImage =>
      <img style="background-color: #@args.bgColor;" id="smWelcomeAd" class="sm-welcome-ad__img js-index-welcome-ad"
           data-width="@fgImage.meta.map(_.width)"
           data-height="@fgImage.meta.map(_.height)"
           src="@ctx.myAudienceUrl@routes.Img.getImg(fgImage.filename)"/>
    }

  </div>
}
