@(args: SMShowcaseRenderArgs)(implicit ctx: Context)

@* Рендер страницы приветствия, если таковая имеется.
   Она может отсутствовать, иметь фон цвета или фон картинки. *@

@args.welcomeOpt.fold {
  @* Нету карточки приветствия. *@
  <div id="smWelcomeAd" class="sm-welcome-ad" style="background: #@args.bgColor;">
      <span class="sm-welcome-ad_helper"></span>
      <img height="30" class="sm-welcome-div_img" src="@args.logoImgUrl"/>
  </div>

} { wargs =>

  @* Есть приветствие. *@
  <div id="smWelcomeAd" class="sm-welcome-ad">

    @* Рендерим фон приветствия: цвет узла или картинка. *@
    @wargs.bg match {
      case Left(color) => {
        @* Доступен только цвет фона. *@
        <style type="text/css">
          .sm-welcome-ad {
            background-color: @color;
          }
        </style>
      }

      case Right(imgInfo) => {
        @* Доступно фоновое изображение. *@
        <img id="smWelcomeAdBgImage" style="background-color: #@args.bgColor;" class="sm-welcome-ad_bg-img"
             data-width="@imgInfo.meta.map(_.width)"
             data-height="@imgInfo.meta.map(_.height)"
             src="@ctx.myAudienceUrl@imgInfo.call"/>
      }
    }

    @* Рендерим покрывающую картинку (svg/png) *@
    @wargs.fgImage.map { fgImage =>
      <span class="sm-welcome-ad_helper"></span>
      <img id="smWelcomeAdfgImage" class="sm-welcome-ad_fg-img"
           data-width="@fgImage.meta.map(_.width)"
           data-height="@fgImage.meta.map(_.height)"
           src="@ctx.myAudienceUrl@routes.Img.getImg(fgImage.filename)"/>
    }

    @* Рендерим покрывающую картинку (svg/png) *@
    @wargs.fgText.map { fgText =>
      <div id="smWelcomeAdfgText" style="width: 100%; z-index: 100000000000; position: absolute; top: 50%;">
        <span class="sm-producer-header_txt-logo" style="color: #@args.fgColor; border-color: #@args.fgColor;">
          @fgText
          <span class="sm-producer-header_txt-logo-dot __left" style="background: #@args.fgColor;"></span>
          <span class="sm-producer-header_txt-logo-dot __right" style="background: #@args.fgColor;"></span>
        </span>
      </div>
    }

  </div>
}
