@(title: String="", headAfter:Option[Html] = None)(content: Html)(implicit ctx: util.Context)

@* Базовый шаблон для выдачи siomarket.
*@

<html>
<head>
  <title>@title</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/market/showcase.min.css")"/>
  @headAfter
</head>

<body>

@content

<script src="@routes.Assets.at("javascripts/market/showcase/showcase.min.js")"></script>

</body>

</html>
