@(args: SMDemoSiteArgs)(implicit ctx: Context)

@* Шаблон для рендеринга демо выдачи. Содержит предполагаемый сайт ТЦ, поверх которого рисуется Sio.Market *@
@import ctx._
@import util.cdn.CdnUtil
@import market.lk.adn._node._installScriptTpl

<html>
<head>
  <title>
      @args.title
      @if(args.title) { | }
      Suggest.io | Мобильная таргетированная реклама в Москве и СПБ, размещение рекламы в Интернете
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  @if(!ctx.isIpad) {
    <meta name="apple-mobile-web-app-capable" content="yes">
  }

  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=320,initial-scale=1,user-scalable=no,minimal-ui">

  <!--[if IE]>
  <link href="@CdnUtil.asset("images/icons/114.ico")" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <![endif]-->
  <link href="@CdnUtil.asset("images/icons/57.png")" rel="apple-touch-icon" sizes="57x57" type="image/png" />
  <link href="@CdnUtil.asset("images/icons/72.png")" rel="apple-touch-icon" sizes="72x72" type="image/png" />
  <link href="@CdnUtil.asset("images/icons/114.png")" rel="apple-touch-icon" sizes="114x114" type="image/png" />
  <link href="@CdnUtil.asset("images/icons/144.png")" rel="apple-touch-icon" sizes="144x144" type="image/png" />
  <link href="@CdnUtil.asset("images/icons/228.png")" rel="icon" sizes="228x228" type="image/png" />

  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link type="text/css" rel="stylesheet" media="screen" href="@CdnUtil.asset("stylesheets/market/showcase.css")"/>

</head>

<body class="sm-body">

<script type="text/javascript">
   @_installScriptTpl(args.adnId, mkPermanent = false);
   window.siomart_index = '@args.showcaseCall';
   window.with_geo = @args.withGeo;
</script>

</body>

</html>
