@(adnNode: MAdnNode, withIndexCall: Option[Call] = None)(implicit ctx: util.Context)

@* Шаблон для рендеринга демо выдачи. Содержит предполагаемый сайт ТЦ, поверх которого рисуется Sio.Market *@
@import ctx._

<html>
<head>
  <title>Sio.Market Demo Website</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <style type="text/css">

    html,
    body
    {
    width: 100%;
    height: 100%;
    }

    html,
    body,
    iframe {
    margin: 0px;
    padding: 0px;
    }
    iframe
    {
    width: 100%;
    height: 100%;
    border: 0px;
    background: #ccc;
    }
  </style>

</head>

<body style="background-color: #@adnNode.meta.color">
  <div class="sm-wifi-info" style="display: none" id="smWifiInfo">
    <div class="sm-wifi-info__data">
      Вы можете продолжать пользоваться интернетом. Для быстрого доступа к SioMarket — нажмите на логотип в левом верхнем углу.
      <a href="http://ya.ru/" target="_blank"><div class="sm-wifi-info__logo"></div></a>
    </div>
  </div>

  <script type="text/javascript">
    @market.lk.adn._node._installScriptTpl( adnNode , withIndexCall)
  </script>
</body>

</html>
