@(mmart: MMart, ads: Seq[MMartAdIndexed], shops: Map[ShopId_t, MShop], mmcats: Seq[MMartCategory])(implicit ctx: util.Context)

@* Начальная страница для sio-market. *@

@market.showcase.baseTpl() {

  @* Список офферов, подгружается динамически *@
  <div class="sm-offers" id="smOffers">
    @_offers_list(mmart, ads, shops)
  </div>

  @* Кнопочки-кружочки для перелистывания слайдов с офферами *@
  <div class="sm-offers-controller" id="smOffersController" style="width: @(ads.length*14)px">
    @_offers_list(mmart, ads, shops, isNav=true)
  </div>

}