@(mmart: MAdnNode, ads: Seq[MAd], shops: Map[String, MAdnNode], mmcats: Seq[MMartCategory], adSearch:util.qsb.AdSearch, adProducerOpt: Option[MAdnNode])(implicit ctx: util.Context)

@if( adSearch.producerIdOpt ){

  @adProducerOpt.map { producer =>

    @* Список карточек указанного продюссера *@
    <div class="sio-mart__node-offers" id="sioMartNodeOffers">
      @producer.logoImgOpt.map { logoImg =>
      <div class="sio-mart__producer-header" style="background-color: #@producer.meta.color;">
        <img class="sm-offer-logo" height="30" src="@ctx.myAudienceUrl@routes.Img.getImg(logoImg.id)"/>
        }
      </div>

      <div>
        <div>@producer.meta.name</div>
        <div>@producer.meta.floor</div>
      </div>

      <div class="sio-mart__node-offers__block_container" id="sioMartNodeOffersBlockContainer">
      @if(!ads.isEmpty) {
        @_block_offers_list(mmart, ads, shops, isDoubleSize=true)
      }
      </div>
    </div>

  }

}else{
  @* Вывести *@
}