@(args: SMShowcaseRenderArgs)(implicit ctx: Context)

@* Начальная страница для sio-market. Многочисленные аргументы передаются в контейнере для удобства передачи оных в подшаблоны. *@

@import util.img.WelcomeUtil.WELCOME_IMG_KEY

@* Картинка-приветствие для первого экрана *@
@args.welcomeAdOpt.flatMap(_.imgs.get(WELCOME_IMG_KEY)).map { welcomeAdImg =>
<div class="sm-welcome-ad">
  <img style="background-color: #@args.bgColor;" id="smWelcomeAd" class="sm-welcome-ad__img js-index-welcome-ad"
       data-width="@welcomeAdImg.meta.map(_.width)"
       data-height="@welcomeAdImg.meta.map(_.height)"
       src="@ctx.myAudienceUrl@routes.Img.getImg(welcomeAdImg.filename)"/>
</div>
}

@* Основной контейнер, шапка + карточки *@
<div class="sm-focused-ads" id="smFocusedAds"></div>

@* Хидер главного экрана *@
<div id="smRootProducerHeader" class="sm-producer-header abs" style="@stuff._bgcolor( args.bgColor )">
  <span id="smRootProducerHeaderButtons">

  <div class="sm-producer-header_exit-button sm-button sm-producer-header_btn __left-aligned abs" id="smExitButton">
    @svg._exitButtonTpl( args.fgColor )
  </div>

  <div class="sm-button sm-producer-header_btn __left-aligned abs hidden" id="smGeoScreenButton">
    @svg._geoButtonTpl( args.fgColor )
  </div>

  <div class="sm-producer-header_index-button sm-button sm-producer-header_btn __left-aligned abs" id="smIndexButton">
    @svg._indexAdsButtonTpl( args.fgColor )
  </div>

  @if( args.catsStats.nonEmpty ){
  <div class="sm-button sm-producer-header_btn __right-aligned abs"  id="smNavigationLayerButton">
    @svg._searchButtonTpl( args.fgColor )
  </div>
  }
  </span>

  <img class="sm-producer-header_logo" height="30" src="@ctx.myAudienceUrl@args.logoImgOpt.map { logoImg =>@routes.Img.getImg(logoImg.filename)}.getOrElse{@routes.Assets.at("images/market/showcase-logo.png")}"/>

  <div class="sm-producer-header_icon">
    @svg._catHeaderIcon( args.fgColor )
  </div>

</div>

@* Работа с сеткой карточек *@
@_gridAdsTpl(args)

@* Окно с выбором категорий *@
@if( args.catsStats.nonEmpty ){
  @_categories_w_search(args)
}

@* Окно с предупреждением о выходе из Sio.Market *@
@_exit_screen(args)

@_geo_screen(args)

<div class="sm-loading" id="smLoading"></div>