@()(implicit ctx:util.Context)

@market.showcase.baseTpl() {

  <div class="sm-screen">

    @* Кнопка назад / выход *@
    <div class="back-close-button">
      <a href=""></a>
    </div>

    @* Кнопка вызова окошка с категориями, находится всегда справа сверху *@
    <div class="categories-button">
      <a href=""></a>
    </div>

    @* Список офферов, подгружается динамически *@
    <div class="sm-offers">
      @* Тут выводим офферы списком *@
      @_single_offer()
      @_single_offer(isHidden=true)
    </div>

    <div class="sm-offers-controller">
      <a class="active"><span></span></a>
      <a class=""><span></span></a>
    </div>

    <div class="sm-navigation">
      <div class="sm-buttons">
        <a class="sm-button" href="">Я ЗНАЮ, ЧТО ИЩУ</a>
        <a class="sm-button" href="">ПОМОГИТЕ МНЕ С ВЫБОРОМ</a>
      </div>
    </div>

  </div>

}