@(english: Messages, lf: Form[Lang], isNowEnglish: Boolean, langs: Seq[Lang], nodeOpt: Option[MNode],
  rr: Option[String], langCode2msgs: Map[String, Messages])(implicit ctx: Context)

@* Страница с выбором языка для пользователя.
   Скрываем кнопку смены магазина, чтобы не сбивать людей. *@

@import lk._
@import ctx.{messages, request}
@import helper._
@import util.FC.langSelectFc
@import io.suggest.i18n.MsgCodes
@import io.suggest.i18n.I18nConst

@lkBaseLayout(
  title   = english("Select.your.lang") + (if(!isNowEnglish) {" | " + messages("Select.your.lang")} else ""),
  nodeOpt = nodeOpt,
  showSwitchNodeBtn = false
) {

  <div id="allLangsDiv">
    @form( CSRF(routes.LkLang.selectLangSubmit(async = false, r = rr)) ) {
      @* TODO Сделать автопереключение. Кнопку завернуть наверное в noscript-тег. *@
      @inputRadioGroup(
        lf( I18nConst.LANG_SUBMIT_FN ),
        options = langs.map( l =>
          l.code -> langCode2msgs.get(l.code).fold(l.code)(_.apply( MsgCodes.`__This.lang.name__` ))
        )
      )
      <br/>

      <div class="btn-w __size-M">
        <input class="btn __size-M1 __major" type="submit"
               value="@english("Save")@if(!isNowEnglish) { | @messages("Save")}" />
      </div>
    }
  </div>

}
