## Хосты с hbase-серверами
#hbase.quorum = "localhost"

###############################################################################
## Html Compressor
###############################################################################
#html.compress.global.preserve.line.breaks = isDev
#html.compress.global.remove.comments = isProd
#html.compress.global.remove.spaces.intertag = true
#html.compress.global.remove.proto.http = true
#html.compress.global.remove.proto.https = true


###############################################################################
## Logger
###############################################################################
# You can also configure logback (http://logback.qos.ch/), by providing a logger.xml file in the conf directory .
# Root logger:
logger.root=ERROR

# Logger used by the framework:
logger.play=INFO

# Logger provided to your application:
logger.application=TRACE

## Кастомные логгеры в конкретных классах попадают в root где срезаются. Переопределяем их.
logger.controllers=${logger.application}
logger.util=${logger.application}
logger.models=${logger.application}
## TODO Тут какая-то хрень: после второй точки всё как будто игнорируется, а elasticsearch не подхватывает logback.
#logger.org.elasticsearch=WARN

# Протокол, используемый при генерации ссылок на сайт suggest.io.
sio.proto.dflt = http


###############################################################################
## Storage
###############################################################################
# Используемое хранилище. Модели могут использовать "DFS" или "HBase". Регистр
# символов значения не имеет значение. [DFS]
storage = "HBASE"

# dfs address/path for DFS model backends. See util.SiobixFs. Not related to hbase backend.
siobix.dfs.dir=/home/user/projects/sio/2/bixo/dout


###############################################################################
## EMAIL
###############################################################################
smtp.host="192.168.101.9"
#smtp.port=465
##smtp.ssl=yes
smtp.user="no-reply@suggest.io"
smtp.password="BedCenEnakJidLilfEp"


###############################################################################
## Akka
###############################################################################
## TODO Use akka clustering instead of remoting in future.
akka {
 actor {
  provider = "akka.remote.RemoteActorRefProvider"
 }
 remote {
  enabled-transports = ["akka.remote.netty.tcp"]
  netty.tcp {
   hostname = "127.0.0.1"
   port = 2552
  }
 }
}


###############################################################################
## Общение с siobix-нодой.
###############################################################################
## akka url до супервизора кравлера. Меняется в зависимости от deployment'а.
siobix.akka.url.prefix="akka.tcp://siobix@127.0.0.1:2553"

## Используемый клиент к siobix. По умолчанию и почти всегда - akka, но можно использовать fake-клиенты
## AKKA  - Работает по-настоящему.
## FAKE+ - Отвечает всем, что всё ок. Подходит для отладки добавления сайтов без запущенного siobix.
#siobix.client = "FAKE+"

## Адрес top-level супервизора.
siobix.akka.sup.path="sup"

## akka путь до супервизора кравлеров.
siobix.akka.crawler.sup.path="sup/CrawlersSup"

## Сколько времени ждать ответа от кравлера по поводу добавления нового сайта. [2000]
siobix.akka.bootstrap.ask_timeout_ms = 2500


###############################################################################
## Domain Requester (подсистема валидации сайтов)
###############################################################################
## Set the maximum time in millisecond an AsyncHttpClient wait for a response. [15000]
domain.requester.http.request.timeout_ms = 15000

## Maximum time in millisecond an AsyncHttpClient will keep connection idle in pool. [5000]
domain.requester.pool.idle.timeout_ms = 5000

## Maximum number of connections per hosts an AsyncHttpClient can handle. [1]
domain.requester.pool.max_per_host = 1

## Maximum number of connections an AsyncHttpClient can handle. [5]
domain.requester.pool.max_size = 5


###############################################################################
## Mozilla Persona (Login)
###############################################################################
# Куда редиректить юзера после авторизации в persona. Обязательный параметр.
persona.audience.url = "http://localhost:9000"
#persona.audience.url = "https://suggest.io:443"

# Через какой сервис проверять сессию юзера. [https://verifier.login.persona.org/verify]
persona.verify.url = "https://verifier.login.persona.org/verify"


###############################################################################
## DomainQi
###############################################################################
# Сколько времени максимум можно парсить страницу, возвращенную сайтом. [5000]
domain.qi.parse.timeout_ms = 5000

# Длина qi-идентификатора. Следует менять только при острой необходимости и с осторожностью. [8]
#domain.qi.id.len = 8

# Для тестирования: в детекторе установленного js на сайтах можно использовать иной домен suggest.io. [["suggest.io"]]
#siojs.detector.hostnames = ["suggest.io"]
#siojs.detector.hostnames = ["suggest.io", "test.suggest.io:9000", "localhost:9000"]


###############################################################################
## Search
###############################################################################
# Название кластера, к которму должен коннктится ES-клиент. [o.es.cluster.ClusterName.DEFAULT]
es.cluster.name = "elasticsearch"

## Можно включить юникаст для es-клиента, указав хотя бы один хост.
#es.unicast.hosts = ["osm01", "localhost:9300"]

# Макс кол-во тегов, которое пользователь может указать к одному запросу. [5]
search.facet.invlink.request.tags.max = 5

# Если true, то перезаписывать существующие маппинги при старте
es.mapping.model.ignore_exist = false


###############################################################################
## Play framework
###############################################################################
# The secret key is used to secure cryptographics functions.
# If you deploy your application to several instances be sure to use the same key!
application.secret="t6]=<]3/5pf19dTae_K?_DemwXGVK12<:6tnlL^7vVV9q>ZW<]jhh8[pH]YIJY=8"

# The application languages
application.langs="ru,en"

#application.global=Global

# Эволюция схем БД как всегда не нужна.
evolutionplugin=disabled


session.username = "p"
session.cookieName = "s"
session.maxAge = 600000
session.httpOnly = true
#session.secure = true



# Переименовать длинный палевный "PLAY_LANG" в "l". Это скроет play.
application.lang.cookie = "l"


###############################################################################
## SQL DBMS
###############################################################################
db.default.driver = org.postgresql.Driver
db.default.url = "jdbc:postgresql://localhost/postgres?searchpath=sio2"
db.default.user = "sio2"
db.default.password = "Rjvfhjdj&"


###############################################################################
## Billing
###############################################################################
## Тарификацию по накопленным данных по stat-биллингу производить не чаще этого интервала времени.
billing.stat.queue.flush.interval.seconds = 10


market.demo.adn.id=aeq7hpDfTi6B8x5mJpi5KQ

market.join.request.notify.superusers.emails = ["support@suggest.io"]

