@(bf: BfInt, formField: Field, bc: BlockConf)(implicit ctx: Context)

@import ctx._

<div class="vertical-change-block">

  <div class="field-name">@Messages(bc.i18nLabelOf(bf.name))</div>
  <div class="vertical-change">
    <div id="blockHeightCells" class="value"></div>
    <div class="plus block-height-change-button" data-change-direction="increase"></div>
    <div class="minus bot block-height-change-button" data-change-direction="decrease"></div>
  </div>

  <input type="hidden" name="@formField.name" value="@formField.value.orElse(bf.defaultValue)" data-min-value="@bf.minValue" data-max-value="@bf.maxValue"/>

</div>
