@(bf: BfInt, bfNameBase: String, af: Form[_], bc: BlockConf)(implicit ctx: Context)

@import ctx._

<label class="ad-block-editor__fieldset_label">@Messages(bc.i18nLabelOf(bf.name))</label>

<div class="block-height-controller">

  <div class="block-height-controller__button" data-change-direction="decrease"><div></div></div>
  <div class="block-height-controller__button" data-change-direction="increase"><div></div></div>


  @defining( af("bfNameBase") ) { formField =>
  <input type="hidden" name="@formField.name" value="@formField.value.orElse(bf.defaultValue)" data-min-value="@bf.minValue" data-max-value="@bf.maxValue"/>
  }

</div>