@(bf: BfImage, bfNameBase: String, af: Form[_], bc: BlockConf)(implicit ctx: Context)

@import ctx._


@* Форма для загрузки картинки *@
<div class="lk-file-field">

  <div class="f-left" id="cardPhoto">
    <div class="image __size-L f-left js-image-upload" >
      <input type="file" class="add-file-input js-file-upload" data-preview-class="__size-M" data-name="ad.offer.bgImg" data-preview-root="#cardPhoto" data-related-field-id="blockImage@bf.name" data-w-block-preview="true" data-action="@routes.MarketAd.prepareBlockImg(bc.id, bf.name, Some(ctx.ctxIdStr))" name="picture"/>
      <a class="image_add-btn js-file-upload-btn" title="Загрузить файл">
        <span>Загрузить<br/>файл</span>
      </a>
    </div>
  </div>

  <div class="edit-ad_image-upload-helper">

    <div id="blockImage@bf.name">
      <input type="hidden" class="js-image-key" name="@bfNameBase" value="@af(bfNameBase).value"/>

      @* В аттрибутах data-width и data-height указываются размеры, до которых нужно отресайзить и обкропить исходное изображение *@
      <a class="btn __size-M __minor js-img-w-crop" data-width="140" data-height="300" data-marker="@bf.marker">Кадрирование</a>
    </div>

    <div class="sm-note">
      Обратите внимание, что на большинстве устройств в выдаче карточки могут увеличиваться в размерах вдвое. Поэтому, мы советуем выбираеть изображения, как минимум вдвое больших размеров, чем размер блока.
    </div>

  </div>

  <div class="lk-file-field_choose-color-pre-text">или</div>

  <div class="lk-file-field_choose-color-w">
    <div class="lk-file-field_choose-color-btn-w">
      <a class="btn __size-M __minor js-custom-color" style='background-color: @af("ad.bgColor");'>
        @* Фоновый цвет картинки. Это первый цвет из палитры, приходящей по WebSocket. *@
        <input id="adBgColor" type="hidden" name="ad.bgColor" value='@af("ad.bgColor")' />
        Выбрать цвет
      </a>
    </div>
    <div class="lk-file-field_choose-color-btn-t">Залейте однотонным цветом</div>
  </div>

</div>
