@(bf: BfImage, bfNameBase: String, af: Form[_], bc: BlockConf, isWithCropping: Boolean = false)(implicit ctx: Context)

@import ctx._

<label class="ad-block-editor__fieldset_label">@Messages(bc.i18nLabelOf(bf.name))</label>

@* Форма для загрузки картинки *@
<div class="lk-file-field">

  <input type="file" class="w-async-image-upload" data-w-block-preview="true" data-related-field-id="blockImage@bf.name" data-action="@routes.MarketAdPreview.prepareBlockImg(bc.id, bf.name)" name="picture"/>

  <div id="blockImage@bf.name">
    <input type="hidden" class="js-image-key" name="@bfNameBase" value="@af(bfNameBase).value"/>
  </div>

  @* При необходимости показать ссылку для вызова инструмента кадрирования *@
  @if( isWithCropping ){
    <div class="js-image-cropping-button">Кадрирование</div>
  }

</div>