@(bf: BlockAOValueFieldT, bc: BlockConf, bfNameBase: String, af: Form[_], colorWithLabel: Boolean = false)(content: Html)(implicit ctx: Context)

@* Поле для ввода текста: input или textarea в зависимости от обстоятельств. *@
@import ctx._
@import helper._

<label class="ad-block-editor__fieldset_label">@Messages(bc.i18nLabelOf(bf.name)) @bf.offerNopt.map(_ + 1)</label>

<div class="lk-field-w-tools">
  <div class="lk-field-w-tools__field">@content</div>

  @if( bf.withFontColor ) {
    <div class="lk-field-w-tools__tools lk-field-tools">
      <div class="lk-field-tools__inner">
        <div class="lk-field-tools__top-white-line"></div>

        @if( bf.withFontFamily ) {
          @defining( bfNameBase + ".font.family") { ffname =>
            <div class="lk-field-tools__editor">
            <select name="@ffname" class="js-custom-font-family-select">
            @List("pfdintextcomppro-medium-webfont","favoritlightcondcregular").zipWithIndex.map { case (vl, i) =>
              <option value="@vl" @if( vl == af(ffname).value ){selected="selected"}>Шрифт @i</option>
            }
            </select>
            </div>
          }
        }

        @if( bf.withFontSize ) {
          @_fontSizeSelectTpl(bf, bfNameBase, af)
        }
        <div style="display: none;">
          @* Выравнивание текста. Допустимые значения: l/left/r/right/j/justify/c/center. *@
          @if( bf.withTextAlign ) {
          @defining(bfNameBase + ".font.align") { aname =>
            @aname: <input type="text" name="@aname" value="@af(aname).value"/>
          }
          }
        </div>

        @_colorBtnTpl(
          colorField = af(bfNameBase + ".font.color"),
          default    = bf.defaultValue.map(_.font.color),
          withLabel  = false,
          className = "lk-field-tools__editor"
        )

        @* Скрытое поле *@
        @if( bf.withCoords ) {
          @defining( bfNameBase + ".coords.x" ) { xname =>
            <input type="hidden" name="@xname" value="@af(xname).value"/>
          }
          @defining( bfNameBase + ".coords.y" ) { yname =>
            <input type="hidden" name="@yname" value="@af(yname).value"/>
          }
        }
      </div>
    </div>
  }

</div>