@(args: mbill.ITfDailyTplArgs)(implicit ctx: Context)

@import ctx._
@import util.TplDataFormatUtil._
@import io.suggest.cal.m.{MCalTypes, MCalType}
@import io.suggest.model.n2.bill.tariff.daily.MTfDaily
@import io.suggest.i18n.MsgCodes

@* Общий код рендера строки с ценниками. *@
@__renderTfDaily(tf: MTfDaily) = {
  @defining( messages( MsgCodes.`day24h` ) ) { sutkiI18n =>

    @for( clause <- tf.clauses.valuesIterator) {
      <td class="td"></td>
      <td class="td tariff_info-value">
        @formatPrice(clause.amount, tf.currency)/@sutkiI18n
      </td>
    }
  } @* Частое слово "сутки" на текущем языке. *@
}


@* Далее -- основная вёрстка шаблона. *@
<div class="tariff_illustration-w">
  <div class="tariff_illustration"></div>
</div>

<div class="ovh">

  <table class="tariff_info">

    @* Строка-заголовок. *@
    <tr>
      <td colspan="2">&nbsp;</td>
      @for( clause <- args.tfDaily.clauses.valuesIterator) {
        @* Из-за "особенностей" верстки макса требуется добавлять пустые ячейки между столбцами. *@
        @if( !clause.eq( args.tfDaily.clauses.head._2 ) ) {
          <td></td>
        }
        <td class="td tariff_info-title">
          @* По календарю определить тип и слова для рендера. *@
          @defining( clause.calId.flatMap(args.calsMap.get).fold[MCalType](MCalTypes.WeekDay)(_.calType) ) { mct =>
            @messages(mct.i18nCode):
            @for(dayStart <- mct.dayStart; dayEnd <- mct.dayEnd) {
              @messages( MsgCodes.`dayOfW.N.`(dayStart) )-@messages( MsgCodes.`dayOfW.N.`(dayEnd) )
            }
          }
        </td>
      }
    </tr>

    @* Строка с ценами. *@
    <tr>
      <td class="td tariff_green ft-XS white">
        @Html( messages("Minimal.module", "&nbsp;") )
        <br/>
        (@Html( messages("scheme.left", "&nbsp;") ))
      </td>
      @__renderTfDaily(args.tfDaily)
    </tr>

    @* Если указана карточка, для которой нужно вывести тарифы, то отрендерить ещё одну строку. *@
    @for(madTf <- args.madTfOpt ) {
      <tr>
        <td class="td tariff_green ft-XS white">
          @messages("Current.ad")
          <br/>
          (@messages("N.modules", madTf.modulesCount))
        </td>
        @__renderTfDaily(madTf.tfDaily)
      </tr>
    }

    @* Строка-футер с малополезным пояснением. *@
    <tr>
      <td colspan="2"></td>
      <td class="td light-gray ft-XS" colspan="5">
        @* Рендер предложения "по соглашению с СВСА установлены тарифы.
           toString у года нужен, чтобы не было непонятного пробела после первой двойки. *@
        @messages(
          "Agreement.btw.CBCA.and.node.tariffs.for.year",
          messages( AdnShownTypes.node2val(args.mnode).singular ),
          args.mnode.meta.basic.name,
          ctx.now.getYear.toString
        )
      </td>
    </tr>

  </table>

</div>
