@(title: String, mnode: MNode, rightCurrEl: Option[BillingRightPanelLink] = None, rightAfter: Option[Html] = None
)(content: Html)(implicit ctx: Context)

@* Базовый шаблон для шаблонов биллинга в личном кабинете. *@

@import ctx._
@import BillingRightPanelLinks._
@import lk.right._
@import util.tpl.CssFormat._
@import io.suggest.common.html.HtmlConstants.{`(`, `)`, SPACE}

@rightBar = {
  @for(nodeId <- mnode.id) {
    @_navTpl() {

      @_navItemTpl(
        title = messages("Bill.account.and.tariffs"),
        href  = Some( routes.LkBill2.onNode(nodeId) ),
        css   = classesAct( rightCurrEl.contains(RPL_BILLING), "__node-billing")
      )()

      @_navItemTpl(
        title = messages("Cart") + ctx.data.cartItemsCount.fold("")( SPACE + `(` + _ + `)` ),
        href  = Some( routes.LkBill2.orderPage(nodeId) ),
        css   = classesAct( rightCurrEl.contains(RPL_CART), "__bill-cart" )
      )()

      @_navItemTpl(
        title = messages("Orders"),
        href  = Some( routes.LkBill2.orders(nodeId) ),
        css   = classesAct( rightCurrEl.contains(RPL_ORDERS), "__bill-orders" )
      )()

      @_navSysTpl(
        call  = routes.SysBilling.forNode(nodeId)
      )

    }
  }

  @rightAfter
}

@*
@headAfter1 = {
  @_bxSliderCssTpl()
}
*@

@lk.lkBaseLayout(
  title       = title,
  leftCurrEl  = Some(LkLeftPanelLinks.LPL_BILLING),
  nodeOpt     = Some(mnode),
  rightBar    = Some(rightBar)
)(content)
@* {
  @content
  @_bxSliderJsTpl()
}*@
