@(bf: BlockAOValueFieldT, bfNameBase: String, af: Form[_])(implicit ctx: Context)

@* Шаблон, где надо выбрать размер шрифта. *@

@import io.suggest.font.{MFontSizes, MFontSize}

@defining( bfNameBase + ".font.size" ) { fsName =>

  <div class="lk-field-tools__editor">
    <select class="js-custom-font-select" name="@fsName">
      @defining( af(fsName).value.filter(!_.isEmpty).map(_.toInt).orElse(bf.fontSizeDflt).flatMap(MFontSizes.withValueOpt).orElse(bf.defaultValue.flatMap(_.font.size)) ) { fsValueOpt: Option[MFontSize] =>
        @for(fsz <- MFontSizes.values) {
          <option value="@fsz.value" @if(fsValueOpt.contains(fsz)) {selected="selected"}>@fsz.value</option>
        }
      }
    </select>
  </div>

}
