@(prefix: String)(implicit ctx: Context)

@**
  * HTML для подключения к sjs-скрипта на страницах.
  *
  * 2017.sep.17 В связи с переездом на scalajs-bundler 0.8,
  * был выполнен переход использование режима libraryOnly,
  * который подразумевает разделение на либу, приложение и loader.
  *
  * @see [[https://scalacenter.github.io/scalajs-bundler/reference.html#bundling-mode-library-only Дока]]
  * @see [[https://github.com/scalacenter/scalajs-bundler/pull/149 scalajs-buidler PR#149]]
  * @see [[https://github.com/vmunier/scalajs-scripts Кое-что для информации]]
  *
  * Из-за [[https://github.com/scalacenter/scalajs-bundler/issues/178]] не получается нормально собрать
  * fullOptJS-билды для продакшена. Поэтому тут есть проверка, какой модуль скомпилен для скрипта.
  *@

@import ctx.api.cdn
@import io.suggest.sjs.SjsUtil


@* Нужно определить, что на руках: бандл или library? *@
@for( fileName <- SjsUtil.jsScripts("/public", prefix, ctx.api.isProd) ) {
  <script type="text/javascript" src="@cdn.asset( fileName )"></script>
}
