@(bid:Option[String],  aovf: AOValueField,  bf: BlockAOValueFieldT,  className: String = "",  xy: ICoords2D,  isMvbl: Boolean = true)
<code>
  @if( isMvbl == true ){
    .sm-block@bid .mvbl-@className
    {
      @_coordsStyleTpl(aovf, xy)
    }
      .sm-block@{bid}.double-size .mvbl-@className
    {
      @_coordsStyleTpl(aovf, xy, isDouble=true)
    }
  }
  .sm-block@bid .@{className} {
    @_aovfStyleTpl(aovf, bf, className)
  }
  .sm-block@{bid}.double-size .@{className} {
    @_aovfStyleTpl(aovf, bf, className, isDouble = true)
  }
</code>