@(mad: MAdT, isStandalone: Boolean, bc: CommonBlock4_9)(implicit ctx: util.Context)

@import util.TplDataFormatUtil._

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl@bc.id" data-width="@bc.blockWidth" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  <img class="bg" src="@mad.imgs.get(bc.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl4-bg.jpg"))" alt=""/>

  <div class="inner" style="border-color: #@mad.colors.getOrElse(bc.borderColorBf.name, bc.borderColorBf.anyDefaultValue);"></div>

  <div class="info" style="background: #@mad.colors.getOrElse(bc.bgColorBf.name, bc.bgColorBf.anyDefaultValue);">
    @mad.offers.headOption.map { offer =>
      @offer.text1.map { title =>
        <div class="title" style="@_aovfStyleTpl(title)">@title.value</div>
      }
      @offer.price.map { price =>
        <div class="price" style="@_aovfStyleTpl(price)">@formatPriceDigits(price.value)<span>@formatCurrency(price.currency)</span></div>
      }
      @offer.text2.map { descr =>
        <div class="descr" style="@_aovfStyleTpl(descr)">@descr.value</div>
      }
    }
  </div>

</div>
