@(bid:Option[String],  aovf: AOValueField,  bf: BlockAOValueFieldT,  args: BlockRenderArgs,  className: String,  xy: ICoords2D)

@* Генерация динамического стиля для одного блока. *@

<code>

@* _coordsStyleTpl заинлайнен сюда: *@
.sm-block@bid .mvbl-@className .__size-@{args.szMult} {
  position: absolute;
  @defining(aovf.coords getOrElse xy) { c =>
    left: @{c.x * args.szMult}px@if(args.szMult > 1) {!important};
    top:  @{c.y * args.szMult}px@if(args.szMult > 1) {!important};
  }
}


@* _aovfStyleTpl заинлайнен сюда: *@
.sm-block@bid .@{className} .__size-@{args.szMult} {
  color: #@aovf.font.color!important;
  @aovf.font.size.orElse(bf.fontSizeDflt).map {sz =>font-size: @{sz*args.szMult}px!important;}
  @aovf.font.lineHeight.orElse(bf.lineHeightDflt).orElse(aovf.font.size.map(_ - 10)).map {lh =>line-height: @{lh*args.szMult}px!important;}
  @aovf.font.family.map {ff =>font-family: @ff!important;}
  @aovf.font.align.map {ta =>text-align: @ta.cssName!important;}
}

</code>
