@(mad: MAdT, args: BlockRenderArgs, bc: util.blocks.BlocksConf.CommonBlock2T)(implicit ctx: Context)

@* Базовый шаблон тела block'ов версии 2.0. *@

@bgImgTpl(mad, bc, args,  cssClass = Some("bg") )

@mad.offers.map { offer =>
  <div class="info el-@{offer.n + 1}">
    @offer.text1.map { text1 =>
      <div class="@if(args.withEdit){js-mvbl }mvbl-title-@offer.n" @if(args.withEdit) {data-connected-input="ad.offer.offer[@{offer.n}].title"}>
        <div class="title title-@offer.n">
          @Html(text1.value)
        </div>
      </div>
      @_blockStyleTpl( mad.id, text1, bc.titleBf, args, "title-" + offer.n, xy = Coords2D(38, 70*( offer.n + 1 )) )
    }

    @offer.text2.map { text2 =>
      <div class="@if(args.withEdit){js-mvbl }mvbl-descr mvbl-descr-@offer.n" @if(args.withEdit) {data-connected-input="ad.offer.offer[@{offer.n}].descr"}>
        <div class="descr descr-@offer.n">
          @Html(text2.value)
        </div>
      </div>
      @_blockStyleTpl( mad.id, text2, bc.descrBf, args, "descr-" + offer.n, xy = Coords2D(38, 70*( offer.n + 1 )+25) )
    }
  </div>
}
