@(mad: MAdT, args: BlockRenderArgs, bc: util.blocks.BlocksConf.CommonBlock4_9)(implicit ctx: Context)

@import util.TplDataFormatUtil._

@blockBase(args, mad, bc) {

  @bgImgTpl(mad, bc, args, dfltImg = Some("images/market/blocks/tpl4-bg.jpg"), cssClass = Some("bg"))

  <div class="inner" style="border-color: #@mad.colors.getOrElse(bc.borderColorBf.name, bc.borderColorBf.anyDefaultValue);"></div>

  @defining( mad.colors.getOrElse(bc.bgColorBf.name, bc.bgColorBf.anyDefaultValue) ) { color =>
  <div class="info" style="background: rgba(@{colorHex2rgb(color).mkString(",")}, 0.7);">
    @mad.offers.headOption.map { offer =>
      @offer.text1.map { title =>
        <div class="title">@Html(title.value)</div>
        @_blockStyleTpl( mad.id, title, bc.titleBf, "title", left = 0, top = 0, isMvbl=false )
      }
      @offer.price.map { price =>
        <div class="price">@formatPriceDigits(price.value)@formatCurrency(price.currency)</div>
        @_blockStyleTpl( mad.id, price, bc.priceBf, "price", left = 0, top = 0, isMvbl=false )
      }
      @offer.text2.map { descr =>
        <div class="descr">@Html(descr.value)</div>
        @_blockStyleTpl( mad.id, descr, bc.descrBf, "descr", left = 0, top = 0, isMvbl=false )
      }
    }
  </div>
  }

}
