@(mad: MAdT,  bc: util.blocks.SaveBgImgI,  args: blk.RenderArgs,  cssClass: Option[String] = None,
  dfltImg: Option[String] = None,  alt: Option[String] = None,  style: Option[String] = None)(implicit ctx: Context)

@import models.blk.AdColorFns.IMG_BG_COLOR_FN.{toString => IMG_BG_COLOR_FN}

@* Код для рендера тега/тегов, относящихся к фоновой (основной) картинке блока. *@


@if(!args.wideBg) {

  @bc.getMadBgImg(mad).fold {
    @* Нету картинки в карточке. Рендерим заглушку: *@
    <div class="no-photo"></div>

  } { imgInfo =>
    @* Есть картинка в карточке. Рендерим img-тег: *@
    <img @cssClass.map { _cssClass => class="@_cssClass" }
      src="@bc.bgImgCallCdn(imgInfo, mad.blockMeta, args)"
      @defining( mad.colors.get(IMG_BG_COLOR_FN) ) { iBgColorOpt =>
        @if(iBgColorOpt.isDefined || style.isDefined) {
           style="@iBgColorOpt.map {ibgColor => background-color:#@ibgColor;}@style"
        }
      }
      alt="@alt" width="@(mad.blockMeta.width * args.szMult)" height="@(mad.blockMeta.height * args.szMult)"
    />
  }

}
