@(isStandalone: Boolean, mad: MAdT, bc: util.blocks.ValT, pageTitle: Option[String] = None, headAfter: Option[Html] = None, cssClass: Option[String] = None, style: Option[String] = None)(content: Html)(implicit ctx: Context)

@* База для шаблонов блоков. *@

@import util.cdn.CdnUtil

@if(isStandalone) {
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" style="overflow: hidden;">
<head>

  <title>@pageTitle.getOrElse("Suggest.io")</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <noscript><meta http-equiv="refresh" content="0; URL=/badbrowser"></noscript>

  <meta name="viewport" content="@if(ctx.isIpad) {width=640, initial-scale = 1} else {width=320,initial-scale = 1},user-scalable=no"/>

  @* Тут надо логотип узла рекламной сети? *@
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico">

  @headAfter
  <script src="@CdnUtil.asset("javascripts/jquery.min.js")"></script>

  <link rel="stylesheet" type="text/css" href='@CdnUtil.asset("stylesheets/market/showcase.css")'/>
  <script src="@CdnUtil.asset("javascripts/lib/tinymce/js/tinymce/tinymce.min.js")"></script>
  <script src="@CdnUtil.asset("javascripts/market/lk/mx_dev.js")"></script>
  <script src="@CdnUtil.asset("javascripts/market/lk/mx_cof.js")"></script>


</head>
<body style="position: relative; display: inline-block; margin: 0; overflow: hidden;">
}

@* Тут постоянный div блока выдачи. Сюда рендерится блок. *@
<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl@bc.id sm-block@mad.id @cssClass"
     data-width="@bc.blockWidth" data-height="@mad.blockMeta.height" data-mad-id="@mad.id"
     @style.map { _style => style="@_style" }>
  @content
</div>

@if(isStandalone) {
</body>
</html>
}
