@(imgId:String, width: Int, height: Int, markerOpt: Option[String], imeta: MImgSizeT, cropOpt: Option[ImgCrop])(implicit ctx: Context)

@import ctx._
@import helper._
@import util.img.DynImgUtil

<div class="popup __size-M js-popup" id="imgCropTool" data-width="@width" data-height="@height">

  <div class="popup_header">
    <a class="close f-right js-remove-popup"></a>
  </div>

  <h2 class="minor-title">Редактирование изображения</h2>

  <div class="popup_cnt">

    <div class="market-crop-tool__container js-crop-container" style="width: @width; height: @height;">

      @* Рендер превьшки, но с реальными размерами. *@
      <div>
        <img class="bg abs" data-width="@imeta.width" data-height="@imeta.height" src="@DynImgUtil.thumb256Call(imgId, fillArea = true)" />
      </div>

    </div>

    @form(routes.Img.imgCropSubmit) {
      <input type="hidden" name="imgId" value="@imgId"/>

      @* Запрошенные данные по кропу. Они переданы на сервер клиентом, когда тот запросил форму кропа. *@
      <input type="hidden" name="target.height" value="@height" />
      <input type="hidden" name="target.width" value="@width" />

      <input type="hidden" name="crop" value="@cropOpt.map(_.toCropStr)"/>

      @* TODO в value, судя по всему, нужно что-то добавить *@
      <input type="hidden" name="resize" value=""/>

      @markerOpt.map { marker =>
        <input type="hidden" name="marker" value="@marker"/>
      }

      <div class="block __margin-M">
        Передвигая изображения вверх вниз вы выделяете<br/>
        видимую область картинки
      </div>

      <div class="btn-w __size-M">
        <button class="btn __minor __size-M js-remove-image">Удалить</button>
        <button class="btn __major __size-M __list" type="submit">@Messages("Save")</button>
      </div>


  </div>

  }

</div>
