@(imgId:String, width: Int, height: Int, markerOpt: Option[String])(implicit ctx: util.Context)

@import ctx._
@import helper._

<div id="imgCropTool" data-width="@width" data-height="@height" class="lk-overlay-data__window market-crop-tool">
  <div class="market-crop-tool__container js-crop-container" style="width: @width; height: @height;">

    <div>
    @* Здесь у нас загружается исходное изображение, которое js-ом ресайзится до размеров родительского контейнера *@
    @* TODO: аттрибуты data-width и data-height надо заменить на реальные значения *@
    <img class="bg abs" data-width="600" data-height="399" src="@routes.Img.getImg(imgId)" />
    </div>

  </div>

  @form(routes.Img.imgCropSubmit) {
    <input type="hidden" name="imgId" value="@imgId"/>
    <input type="hidden" name="crop" value="0x0+10+10"/>
    @markerOpt.map { marker =>
      <input type="hidden" name="marker" value="@marker"/>
    }
    <input type="submit" value="@Messages("Save")"/>
  }

</div>