@(formState: String)(implicit ctx: Context)

@* Код вёрстки формы управления узлами, общий для всех режимов (подузлы, карточка на узлах, итд). *@

@import io.suggest.lk.nodes.LkNodesConst.FORM_CONT_ID
@import views.html.stuff.{_preLoaderLkTpl, jsTpl2HtmlTpl}
@import views.js.stuff.jsRevRouterTpl
@import lk.lkwdgts._formStateInputTpl
@import io.suggest.css.Css


@* Рендер сериализованных данных для начального состояния. *@
@_formStateInputTpl( formState )

@* Верстка контейнера формы. *@
<div class="@Css.Lk.Nodes.LKN" id="@FORM_CONT_ID">
  @_preLoaderLkTpl()
</div>


@* JS-роутер для команд из формы... *@
@jsTpl2HtmlTpl( withScriptTag = true )(
  jsRevRouterTpl( csrfAll = true )(
    routes.javascript.LkNodes.nodeInfo,
    routes.javascript.LkNodes.createSubNodeSubmit,
    routes.javascript.LkNodes.setNodeEnabled,
    routes.javascript.LkNodes.deleteNode,
    routes.javascript.LkNodes.editNode,
    routes.javascript.LkNodes.setAdv,
    routes.javascript.LkNodes.setTfDaily
  )
)
