@(cf: Form[_], submitCall: Call, btnText: String)(implicit ctx: Context)

@* Форма создания/редактирования календаря. *@
@import helper._
@import ctx.{request, messages}
@import io.suggest.cal.m.MCalTypes

@form( CSRF(submitCall) ) {

  @inputText(
    cf("name"),
    '_label -> "Название календаря",
    'size   -> 80
  )

  @select(
    cf("type"),
    options = for (mct <- MCalTypes.values) yield {
      mct.strId -> messages(mct.name)
    },
    '_label -> "Отображаемый тип"
  )

  @textarea(
    cf("data"),
    '_label -> "Содержимое календаря",
    'cols   -> 120,
    'rows   -> 50
  )

  <input type="submit" value="@btnText" />

}
