@(title: String, hPathAfter:Option[Html] = None, headAfter: Option[Html] = None)(content: Html)(implicit ctx: Context)

@import stuff._
@import ctx._
@import helper._

@* base-шаблон для системной панели suggest.io. *@
<!DOCTYPE html>
<html>

  <head>
    <title>@title | system | s.io</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/sys.css")'/>
    @static._faviconTpl()
    @headAfter
  </head>

  <body class="sys">

     <div class="header">

        <div class="header_cnt">
          <a class="siom-logo-def" href="@routes.Application.sysIndex()">
            <img src='@routes.Assets.versioned("images/market/sio-logo.png")' alt="logo" width="65" height="47"/>
          </a>
          @ctx.usernameOpt.map { username =>
            <a class="logout-btn" href="@CSRF(routes.Ident.logout())"></a>
          }
        </div>

      </div><!-- header-wrap end -->

     <div class="body">

        @* Рендер flash-нотификаций. *@
        @ctx.flashMap.map { case (flashStatus, flashMsg) =>
          <div style="display: none;" class="status-bar ft-L @if(flashStatus == "success") {__good} else {__bad}">
            <div class="status-bar_cnt">
              @flashMsg
            </div>
          </div>
        }

        <div class="page-title">
            <div class="page-title_cnt">
              <a class="blue-link" href="@routes.Application.sysIndex()">sys</a> @hPathAfter
            </div>
        </div>

        <div class="body_cnt">

          @content

        </div>

     </div>

    <div class="popups-container" id="popupsContainer">
      <div class="overlay" id="overlay"></div>
    </div>

    <div class="footer-wrap">

    </div>


    <script src="@routes.Assets.versioned("javascripts/market/lk/mx_cof.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/market/lk/mx_dev.js")"></script>


    </body>

</html>
