.sm-block-tpl2
  width: 300px

  .sale-icon
    background: white
    padding-bottom: 4px
    border-bottom: 1px dotted black

    .mask
      background: url('/assets/images/market/blocks/tpl2-mask.png') no-repeat
      background-size: 300px 195px
      position: absolute
      top: 0
      left: 0
      width: 300px
      height: 195px

    img
      display: block
      width: 300px
      height: 195px

  .info
    overflow: hidden
    background: white
    text-align: center
    border-bottom: 5px solid black

.sm-block-tpl2.double-size
  width: 600px

  .sale-icon
    padding-bottom: 8px
    border-bottom: 2px dotted black

    .mask
      background-size: 600px 390px
      width: 600px
      height: 390px

    img
      width: 600px
      height: 390px

  .info
    border-bottom: 10px solid black


.sm-block-tpl2.height-300
  height: 300px

  .info
    height: 95px

.sm-block-tpl2.height-300.double-size
  height: 600px

  .info
    height: 190px


.sm-block-tpl2.height-460
  height: 460px

  .info
    height: 255px

.sm-block-tpl2.height-460.double-size
  height: 920px

  .info
    height: 510px