.sm-block-tpl2
  width: 300px

  .sale-icon
    background: white
    padding-bottom: 4px
    border-bottom: 1px dotted black

    .mask
      position: absolute
      top: 0
      left: 0
      width: 300px
      height: 200px

    img
      display: block
      width: 299px
      height: 200px

  .info
    overflow: hidden
    background: white
    text-align: center
    border-bottom: 5px solid black

    h5
      font-weight: normal

.sm-block-tpl2.double-size
  width: 600px

  .sale-icon
    padding-bottom: 8px
    border-bottom: 2px dotted black

    .mask
      width: 600px
      height: 400px

    img
      width: 599px
      height: 400px

  .info
    border-bottom: 10px solid black


.sm-block-tpl2.height-300
  height: 300px

  .info
    height: 90px

.sm-block-tpl2.height-300.double-size
  height: 600px

  .info
    height: 180px


.sm-block-tpl2.height-460
  height: 460px

  .info
    height: 250px

.sm-block-tpl2.height-460.double-size
  height: 920px

  .info
    height: 500px