.sm-block-tpl4
  width: 292px
  padding: 4px

  .bg
    position: absolute
    top: 0
    left: 0
    width: 300px
    height: 300px

  .inner
    position: relative
    z-index: 1
    height: 290px
    width: 290px
    border: 1px solid #0f2841

  .info
    position: absolute
    overflow: hidden
    font-family: 'heliosthin'
    text-align: center
    color: white
    background: rgba(15, 40, 65, 0.9)
    padding: 5px 0
    margin-top: -55px
    width: 100%
    top: 50%
    left: 0

    .title
      margin: 0px auto
      width: 280px
      font-size: 25px
      line-height: 25px

    .price
      font-size: 50px
      line-height: 50px

      span
        font-size: 25px
        line-height: 25px

    .descr
      font-size: 18px
      line-height: 25px

.sm-block-tpl4.double-size
  width: 584px
  padding: 8px

  .bg
    width: 600px
    height: 600px

  .inner
    width: 580px
    height: 580px
    border: 2px solid #0f2841

  .info
    margin-top: -110px
    padding: 10px 0

    .title
      width: 560px
      font-size: 50px
      line-height: 50px

    .price
      font-size: 100px
      line-height: 100px

      span
        font-size: 50px
        line-height: 50px

    .descr
      font-size: 36px
      line-height: 50px


.sm-block-tpl4.height-300
  height: 292px

  .info
    max-height: 125px

.sm-block-tpl4.height-300.double-size
  height: 584px

  .info
    max-height: 250px