.sm-block-tpl3
  width: 300px
  background: white

  .triangle-border-top
    position: absolute
    top: 0
    left: 5px
    width: 290px
    height: 5px
    background: url('/assets/images/market/blocks/triangle.png') repeat-x
    background-position: 0 -47px
    background-size: 5px auto

  .triangle-border-right
    position: absolute
    top: 5px
    right: 0
    width: 3px
    height: 290px
    background: url('/assets/images/market/blocks/triangle.png') repeat-y
    background-position: 0 0
    background-size: 3px auto


.sm-block-tpl3.height-300
  height: 300px