.sm-block-tpl22
  width: 296px
  padding: 2px

  .logo-wrap
    width: 100%
    z-index: 2

    .logo
      display: block
      height: 50px
      margin: 0 auto

  .bg
    width: 100%
    height: 100%

  .outer-border
    position: relative
    z-index: 1
    width: 290px
    border: 2px solid white
    padding: 1px

    .inner
      position: relative
      border: 1px solid white
      width: 288px

      .info
        top: auto
        bottom: 0
        color: white

        .title
          text-align: center
          font-size: 25px
          line-height: 25px
          margin-bottom: 5px
          font-family: 'favoritcondcregular'

        .descr
          width: 278px
          padding: 5px
          font-size: 15px
          line-height: 18px
          font-family: 'favoritlightcondcregular'
          background-color: rgba(195,112,34,0.9)

.sm-block-tpl22.double-size
  width: 592px
  padding: 4px

  .logo-wrap

    .logo
      height: 100px

  .outer-border
    width: 580px
    border-width: 4px
    padding: 2px

    .inner
      border-width: 2px
      width: 576px

      .info

        .title
          margin-bottom: 10px
          font-size: 50px
          line-height: 50px

        .descr
          width: 556px
          padding: 10px
          font-size: 30px
          line-height: 36px


.sm-block-tpl22.height-300
  height: 296px

  .outer-border
    height: 290px

    .inner
      height: 288px

.sm-block-tpl22.height-300.double-size
  height: 592px

  .outer-border
    height: 580px

    .inner
      height: 576px