.sm-block-tpl5
  width: 300px

  .bg
    z-index: 1
    width: 300px

  .color-bg
    z-index: 2
    top: 3px
    left: 3px
    width: 290px
    border-left: 4px solid #bd2d4e
    border-bottom: 4px solid #bd2d4e

  .mask
    width: 100%
    z-index: 2
    background: url('/assets/images/market/blocks/tpl5-mask.png') no-repeat
    background-size: 300px 300px

  .info
    position: absolute
    bottom: 0
    z-index: 3
    color: black
    font-family: 'pfdintextcomppro-medium-webfont'

    .logo
      width: 56px

    .title
      font-size: 24px
      line-height: 24px

    .old-price
      font-size: 38px
      line-height: 38px
      text-decoration: line-throught

    .price
      color: #bd2d4e
      font-size: 85px
      line-height: 85px


.sm-block-tpl5.height-300
  height: 300px

  .bg
    height: 100%

  .color-bg
    height: 290px

  .mask
    height: 100%

  .info

    .logo
      height: 56px