.sm-block-tpl20
  width: 300px
  overflow-x: hidden

  .bg
    width: 100%
    height: 100%

  .info
    width: 330px
    position: absolute
    z-index: 1
    left: -20px
    top: -20px

    .title
      font-size: 25px
      line-height: 25px
      font-family: 'HeliosExtBlack'
      color: #42649c

    .descr
      margin-top: 15px
      font-family: 'heliosthin'
      font-size: 18px
      line-height: 18px

.sm-block-tpl20.double-size
  width: 600px

  .info
    width: 660px
    left: -40px
    top: -40px

    .title
      font-size: 50px
      line-height: 50px

    .descr
      margin-top: 30px
      font-size: 36px
      line-height: 36px

.sm-block-tpl20.height-140
  height: 140px

.sm-block-tpl20.height-140.double-size
  height: 280px

.sm-block-tpl20.height-300
  height: 300px

.sm-block-tpl20.height-300.double-size
  height: 600px


.sm-block-tpl20.height-460
  height: 460px

.sm-block-tpl20.height-460.double-size
  height: 920px


.sm-block-tpl20.height-620
  height: 620px

.sm-block-tpl20.height-620.double-size
  height: 1240px