.sm-block-tpl20
  overflow-x: hidden

  .bg
    width: 100%
    height: 100%

  .info
    width: 330px
    position: absolute
    z-index: 1
    left: -20px
    top: -20px

    .title
      font-size: 25px
      line-height: 25px
      font-family: 'HeliosExtBlack'
      color: #42649c

    .descr
      margin-top: 15px
      font-family: 'heliosthin'
      font-size: 18px
      line-height: 18px
