.sm-block-tpl3
  width: 290px
  padding: 5px

  .triangle-border-top
    position: absolute
    top: 0
    left: 5px
    width: 290px
    height: 5px
    background: url('/assets/images/market/blocks/triangle-vertical.png') repeat-x
    background-position: 0 0
    background-size: 5px auto

  .triangle-border-right
    position: absolute
    top: 5px
    right: 0
    width: 3px
    height: 290px
    background: url('/assets/images/market/blocks/triangle-gorizontal.png') repeat-y
    background-position: 0 0
    background-size: auto 5px

  .triangle-border-bottom
    position: absolute
    bottom: 0
    left: 5px
    width: 290px
    height: 5px
    background: url('/assets/images/market/blocks/triangle-vertical.png') repeat-x
    background-position: 0 -13px
    background-size: 5px auto

  .triangle-border-left
    position: absolute
    top: 5px
    left: 0
    width: 3px
    height: 290px
    background: url('/assets/images/market/blocks/triangle-gorizontal.png') repeat-y
    background-position: -15px 0
    background-size: auto 5px

  .inner
    border: 1px solid #1b1b1b
    padding: 4px

    img
      width: 280px
      height: 280px

    .items
      position: absolute
      top: 22px
      left: 17px
      z-index: 2

      .item
        padding: 10px 0
        border-bottom: 1px dotted black

        .title
          font-family: 'favoritlightcondcregular'
          font-size: 18px
          line-height: 18px

        .price
          font-size: 35px
          line-height: 35px
          color: #004a34
      .item:last-child
        border-bottom: none

.sm-block-tpl3.double-size
  width: 580px
  padding: 10px

  .triangle-border-top
    left: 10px
    height: 10px
    width: 580px
    background-size: 10px auto

  .triangle-border-right
    top: 10px
    width: 6px
    height: 580px
    background-size: auto 10px

  .triangle-border-bottom
    left: 10px
    height: 10px
    width: 580px
    background-size: 10px auto
    background-position: 0 -26px

  .triangle-border-left
    top: 10px
    width: 6px
    height: 580px
    background-size: auto 10px
    background-position: -30px 0

  .inner
    border: 2px solid #1b1b1b
    padding: 8px

    img
      width: 560px
      height: 560px

    .items
      top: 44px
      left: 34px

      .item
        padding: 20px 0
        border-bottom: 2px dotted black

        .title
          font-size: 36px
          line-height: 36px

        .price
          font-size: 70px
          line-height: 70px
      .item:last-child
        border-bottom: none


.sm-block-tpl3.height-300
  height: 290px


.sm-block-tpl3.height-300.double-size
  height: 580px