.sm-block-tpl19
  width: 300px

  .bg
    width: 320px
    height: 660px
    margin-left: -10px
    margin-top: -20px

  .substrate
    width: 270px
    padding: 5px
    position: absolute
    top: 10px
    left: 10px
    z-index: 1
    background: white

    .inner
      position: relative
      width: 260px
      padding: 2px
      border: 3px solid black

      .photo
        width: 100%
        height: 100%

      .info
        z-index: 2
        left: 10px

        .item
          font-family: 'heliosthin'

          .item_line
            display: inline-block
            width: 25px
            height: 5px
            background: white
            margin-bottom: 10px

          .item_title
            font-size: 25px
            line-height: 25px
            color: white

          .item_price
            font-size: 50px
            line-height: 50px
            color: #885c51

.sm-block-tpl19.double-size
  width: 600px

  .bg
    width: 640px
    height: 1320px
    margin-left: -20px
    margin-top: -40px

  .substrate
    width: 540px
    padding: 10px
    top: 20px
    left: 20px

    .inner
      width: 520px
      padding: 4px
      border-width: 6px

      .info
        left: 20px

        .item

          .item_line
            width: 50px
            height: 10px
            margin-bottom: 20px

          .item_title
            font-size: 50px
            line-height: 50px

          .item_price
            font-size: 100px
            line-height: 100px


.sm-block-tpl19.height-300
  height: 300px

  .substrate
    height: 270px

    .inner
      height: 260px

      .info
        top: 70px

.sm-block-tpl19.height-300.double-size
  height: 600px

  .substrate
    height: 540px

    .inner
      height: 520px

      .info
        top: 140px


.sm-block-tpl19.height-460
  height: 460px

  .substrate
    height: 430px

    .inner
      height: 420px

      .info
        top: 70px

.sm-block-tpl19.height-460.double-size
  height: 920px

  .substrate
    height: 860px

    .inner
      height: 840px

      .info
        top: 140px


.sm-block-tpl19.height-620
  height: 620px

  .substrate
    height: 590px

    .inner
      height: 580px

      .info
        top: 70px

.sm-block-tpl19.height-620.double-size
  height: 1240px

  .substrate
    height: 1180px

    .inner
      height: 1160px

      .info
        top: 140px