.sm-block-tpl20
  overflow-x: hidden

  .bg
    width: 100%
    height: 100%

  .info
    width: 330px
    position: absolute
    z-index: 1
    left: -20px
    top: -20px

    .title
      font-size: 25px
      line-height: 25px
      font-family: 'HeliosExtBlack'
      color: #42649c

    .descr
      margin-top: 15px
      font-family: 'heliosthin'
      font-size: 18px
      line-height: 18px

.sm-block-tpl20.__size-2

  .info
    width: 660px
    left: -40px
    top: -40px

    .title
      font-size: 50px
      line-height: 50px

    .descr
      margin-top: 30px
      font-size: 36px
      line-height: 36px

.sm-block-tpl20.__size-4

  .info
    left  -80px
    top   -80px

    width 1320px

    .title
      font-size   100px
      line-height 100px

    .descr
      margin-top  60px

      font-size   72px
      line-height 72px

/* изменение высоты блока */
.sm-block-tpl20.height-140
  height: 140px

.sm-block-tpl20.height-140.__size-2
  height: 280px

.sm-block-tpl20.height-140.__size-4
  height: 560px


.sm-block-tpl20.height-300
  height: 300px

.sm-block-tpl20.height-300.__size-2
  height: 600px

.sm-block-tpl20.height-300.__size-4
  height: 1200px


.sm-block-tpl20.height-460
  height: 460px

.sm-block-tpl20.height-460.__size-2
  height: 920px

.sm-block-tpl20.height-460.__size-4
  height: 1840px


.sm-block-tpl20.height-620
  height: 620px

.sm-block-tpl20.height-620.__size-2
  height: 1240px

.sm-block-tpl20.height-620.__size-4
  height: 2480px

/* изменение ширины блока */
.sm-block-tpl20.width-140
  width 140px

.sm-block-tpl20.width-140.__size-2
  width 280px

.sm-block-tpl20.width-140.__size-4
  width 560px


.sm-block-tpl20.width-300
  width 300px

.sm-block-tpl20.width-300.__size-2
  width 600px

.sm-block-tpl20.width-300.__size-4
  width 1200px
  