.sm-block-tpl6
  width: 300px

  .bg
    top: 5px
    width: 100%

  .left-border
    width: 27px
    z-index: 1
    background-size: 27px 300px

  .right-border
    width: 27px
    z-index: 1
    left: auto
    right: 0
    background-size: 27px 300px

  .info
    left: 150px
    top: 5px
    width: 140px
    height: 290px
    padding-left: 10px
    background: white
    opacity: 0.8

    .item
      padding: 10px 0
      border-top: 0px dotted black

      .title
        font-family: 'favoritlightcondcregular'
        line-height: 18px
        font-size: 18px

      .price
        color: #4c63b4
        font-family: 'favoritcondcregular'
        line-height: 35px
        font-size: 35px

    .item:first-child
      border-top: none

.sm-block-tpl6.double-size
  width: 600px

  .bg
    top: 10px

  .left-border
    width: 54px

  .right-border
    right: -1px
    width: 54px

  .info
    top: 10px
    height: 580px
    width: 300px
    padding-left: 20px
    left: 280px

    .item
      padding: 20px 0
      border-top: 2px dotted black

      .title
        font-size: 36px
        line-height: 36px

      .price
        font-size: 70px
        line-height: 70px

    .item:first-child
      border-top: none


.sm-block-tpl6.height-300
  height: 300px

  .bg
    height: 290px

  .left-border
    height: 300px

  .right-border
    height: 300px

.sm-block-tpl6.height-300.double-size
  height: 600px

  .bg
    height: 580px

  .left-border
    height: 600px

  .right-border
    height: 600px
