.sm-block-tpl26
  background: #9b9b9b
  width: 300px
  height: 300px
  overflow-x: hidden
  position: relative

  .info
    width: 330px
    position: absolute
    z-index: 1
    left: -20px
    top: -20px

.sm-block-tpl26_bg
  width: 100%
  height: 100%

.sm-block-tpl26.double-size
  width: 600px
  height: 600px

  .info
    width: 660px
    left: -40px
    top: -40px

.sm-block-tpl26.height-140
  height: 140px

.sm-block-tpl26.height-300
  height: 300px

.sm-block-tpl26.height-460
  height: 460px

.sm-block-tpl26.height-620
  height: 620px

.sm-block-tpl26.height-140.double-size
  height: 280px

.sm-block-tpl26.height-300.double-size
  height: 600px

.sm-block-tpl26.height-460.double-size
  height: 920px

.sm-block-tpl26.height-620.double-size
  height: 1240px