.sm-block-tpl11
  width: 140px
  border-top: 3px solid #ad9bd6
  border-bottom: 3px solid #ad9bd6

  .sale-mask
    width: 140px
    background: url('/assets/images/market/blocks/tpl2-mask.png') no-repeat 0 -3px
    background-size: 140px auto

  .color-bg
    background: #ad9bd6

  .photo
    padding: 5px
    width: 130px
    height: 130px
    border-bottom: 1px dotted black

  .info
    padding: 5px
    text-align: center
    font-family: 'Arial'

    .title
      font-weight: bold
      font-size: 12px
      line-height: 12px

    .slogan
      color: #b5abe0
      font-size: 12px
      line-height: 12px

.sm-block-tpl11.double-size
  width: 280px
  border-top: 6px solid #ad9bd6
  border-bottom: 6px solid #ad9bd6

  .sale-mask
    width: 280px
    background-size: 280px auto
    background-position: 0 -6px

  .photo
    width: 260px
    height: 260px
    padding: 10px
    border-bottom: 2px dotted black

  .info
    padding: 10px

    .title
      font-size: 24px
      line-height: 24px

    .slogan
      font-size: 24px
      line-height: 24px


.sm-block-tpl11.height-300
  height: 294px

  .sale-mask
    height: 95px

  .color-bg
    height: 95px

.sm-block-tpl11.height-300.double-size
  height: 588px

  .sale-mask
    height:192px

  .color-bg
    height: 192px