.sm-block-tpl19
  width: 300px

  .bg
    width: 320px
    height: 660px
    margin-left: -10px
    margin-top: -20px

  .inner
    padding: 5px
    position: absolute
    top: 10px
    left: 10px
    z-index: 1
    border: 3px solid black
    width: 264px
    background: white


.sm-block-tpl19.height-300
  height: 300px

  .inner
    height: 264px