.sm-block-tpl9
  width: 132px
  padding: 4px

  .bg
    position: absolute
    top: 0
    left: 0
    width: 140px
    height: 300px

  .inner
    position: relative
    z-index: 1
    height: 290px
    width: 130px
    border: 1px solid #0f2841

  .info
    position: absolute
    font-family: 'heliosthin'
    text-align: center
    color: white
    background: #0f2841
    padding: 5px 10px
    margin-top: -55px
    width: 120px
    top: 50%
    left: 0

    .title
      font-size: 20px
      line-height: 20px
      margin-bottom: 10px

    .price
      font-size: 25px
      line-height: 25px

      span
        font-size: 25px
        line-height: 15px

    .descr
      margin-top: 10px
      font-size: 15px
      line-height: 25px

.sm-block-tpl9.double-size
  width: 264px
  padding: 8px

  .bg
    width: 280px
    height: 600px

  .inner
    width: 260px
    height: 580px
    border: 2px solid #0f2841

  .info
    margin-top: -110px
    padding: 10px 20px
    width: 240px

    .title
      font-size: 40px
      line-height: 40px
      margin-bottom: 20px

    .price
      font-size: 50px
      line-height: 50px

      span
        font-size: 30px
        line-height: 30px

    .descr
      margin-top: 20px
      font-size: 30px
      line-height: 30px


.sm-block-tpl9.height-300
  height: 292px

.sm-block-tpl9.height-300.double-size
  height: 584px