.sm-block-tpl18
  width: 140px

  .bg
    width: 300px
    height: 460px

  .inner
    position: absolute
    top: 15px
    left: 10px
    width: 110px
    z-index: 1
    padding: 5px

    .photo
      width: 100%

    .title
      width: 120px
      margin-left: -5px
      text-align: center
      margin-top: 10px
      color: #493434
      font-size: 25px
      line-height: 25px
      font-family: 'PFDinTextCompPro-Medium'

  .svg
    position: absolute
    width: 140px
    height: 140px
    top: -30px
    left: 34px
    color: white
    z-index: 2

  .svg-mask
    position: absolute
    width: 136px
    height: 136px
    top: -28px
    left: 36px
    z-index: 2

  .sale
    position: absolute
    z-index: 3
    width: 60px
    left: 75px
    top: 22px
    color: white
    text-align: center
    font-size: 40px
    line-height: 40px
    font-family: 'PFDinTextCompPro-Medium'

    span
      font-size: 15px
      line-height: 15px

.sm-block-tpl18.double-size
  width: 280px

  .bg
    width: 600px
    height: 920px

  .inner
    top: 30px
    left: 20px
    width: 220px
    padding: 10px

    .title
      width: 240px
      margin-left: -10px
      margin-top: 20px
      font-size: 50px
      line-height: 50px

  .svg
    width: 280px
    height: 280px
    top: -60px
    left: 68px

  .svg-mask
    width: 272px
    height: 272px
    top: -56px
    left: 72px

  .sale
    width: 120px
    left: 150px
    top: 44px
    font-size: 80px
    line-height: 80px

    span
      font-size: 30px
      line-height: 30px


.sm-block-tpl18.height-300
  height: 300px

  .inner
    min-height: 180px
    max-height: 265px

    .photo
      max-height: 170px

.sm-block-tpl18.height-300.double-size
  height: 600px

  .inner
    min-height: 360px
    max-height: 530px

    .photo
      max-height: 340px