.sm-block-tpl5
  width: 300px

  .bg
    z-index: 1
    width: 300px

  .color-bg
    z-index: 2
    top: 3px
    left: 3px
    width: 290px
    border-left: 4px solid #bd2d4e
    border-bottom: 4px solid #bd2d4e

  .mask
    width: 100%
    z-index: 2
    background: url('/assets/images/market/blocks/tpl5-mask.png') no-repeat
    background-size: 300px 300px

  .info
    position: absolute
    bottom: 0
    left: 10px
    z-index: 3
    color: black
    font-family: 'pfdintextcomppro-medium-webfont'

    .logo
      width: 56px

    .title
      font-size: 20px
      line-height: 20px

    .old-price
      font-size: 34px
      line-height: 34px
      text-decoration: line-through

    .price
      color: #bd2d4e
      font-size: 74px
      line-height: 84px

.sm-block-tpl5.double-size
  width: 600px

  .bg
    width: 600px

  .color-bg
    top: 6px
    left: 6px
    border-left: 8px solid #bd2d4e
    border-bottom: 8px solid #bd2d4e
    width: 580px

  .mask
    background-size: 600px 600px

  .info
    left: 20px

    .logo
      width: 112px

    .title
      font-size: 40px
      line-height: 40px

    .old-price
      font-size: 68px
      line-height: 68px

    .price
      font-size: 148px
      line-height: 168px


.sm-block-tpl5.height-300
  height: 300px

  .bg
    height: 100%

  .color-bg
    height: 290px

  .mask
    height: 100%

  .info

    .logo
      height: 56px

.sm-block-tpl5.height-300.double-size
  height: 600px

  .color-bg
    height: 580px

  .info

    .logo
      height: 112px