.sm-block-tpl17
  width: 300px

  .bg
    width: 100%
    height: 460px

  .inner
    position: absolute
    top: 30px
    left: 40px
    width: 160px
    z-index: 1
    padding: 20px 30px

    .photo
      width: 100%

    .title
      width: 220px
      overflow: hidden
      margin-left: -30px
      text-align: center
      margin-top: 10px
      color: #493434
      font-size: 25px
      line-height: 25px
      font-family: 'pfdintextcomppro-medium-webfont'

  .svg
    position: absolute
    width: 200px
    height: 200px
    top: -45px
    left: 143px
    color: white
    z-index: 2

  .svg-mask
    position: absolute
    width: 196px
    height: 196px
    top: -43px
    left: 145px
    z-index: 2

  .sale
    position: absolute
    z-index: 3
    width: 100px
    left: 195px
    top: 25px
    color: white
    text-align: center
    font-size: 64px
    line-height: 64px
    font-family: 'pfdintextcomppro-medium-webfont'

    span
      font-size: 22px
      line-height: 22px

.sm-block-tpl17.double-size
  width: 600px

  .bg
    height: 920px

  .inner
    top: 60px
    left: 80px
    width: 320px
    padding: 40px 60px

    .title
      width: 440px
      margin-left: -60px
      margin-top: 20px
      font-size: 50px
      line-height: 50px

  .svg
    width: 400px
    height: 400px
    top: -90px
    left: 286px

  .svg-mask
    width: 392px
    height: 392px
    top: -86px
    left: 290px

  .sale
    width: 200px
    left: 390px
    top: 50px
    font-size: 128px
    line-height: 128px

    span
      font-size: 44px
      line-height: 44px


.sm-block-tpl17.height-300
  height: 300px

  .inner
    min-height: 180px
    max-height: 215px

    .photo
      max-height: 170px


.sm-block-tpl17.height-300.double-size
  height: 600px

  .inner
    min-height: 360px
    max-height: 430px

    .photo
      max-height: 340px


.sm-block-tpl17.height-460
  height: 460px

  .inner
    min-height: 340px
    max-height: 375px

    .photo
      max-height: 330px

.sm-block-tpl17.height-460.double-size
  height: 920px

  .inner
    min-height: 680px
    max-height: 750px

    .photo
      max-height: 660px