.sm-block-tpl1
  width: 282px
  padding: 8px
  border: 1px solid #515151
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFUlEQVQImWNggIJNmzb9x8FgYGAAALMZCUBv7a2oAAAAAElFTkSuQmCC') repeat
  color: black
  font-family: 'pfdintextcomppro-medium-webfont'

  .bg
    width: 100%
    height: 100%

  .info
    position: absolute
    left: 8px
    bottom: 8px
    padding: 15px

    .title
      font-size: 24px
      line-height: 24px

    .old-price
      font-size: 38px
      line-height: 38px
      text-decoration: line-through

    .price
      color: #bd2d4e
      font-size: 85px
      line-height: 70px

.sm-block-tpl1.double-size
  width: 564px
  padding: 16px
  border: 2px solid #515151

  .info
    left: 16px
    bottom: 16px
    padding: 30px

    .title
      font-size: 48px
      line-height: 48px

    .old-price
      font-size: 76px
      line-height: 76px

    .price
      font-size: 190px
      line-height: 140px

.sm-block-tpl1.height-300
  height: 282px

.sm-block-tpl1.height-300.double-size

  height: 564px