.sm-block-tpl13
  width: 300px

  .photo
    margin-top: 5px
    width: 100%

  .left-border
    width: 27px
    z-index: 1
    background: url('/assets/images/market/blocks/angle-border-left.png') no-repeat
    background-size: 27px 300px

  .right-border
    width: 27px
    z-index: 1
    left: auto
    right: 0
    background: url('/assets/images/market/blocks/angle-border-right.png') no-repeat
    background-size: 27px 300px

  .svg
    width: 100px
    height: 100px

  .info
    top: auto
    width: 100%
    bottom: 20px
    text-align: center
    font-family: 'pfdintextcomppro-medium-webfont'
    font-size: 25px
    line-height: 25px

.sm-block-tpl13.double-size
  width: 600px

  .photo
    margin-top: 10px

  .left-border
    width: 54px
    background-size: 54px 600px

  .right-border
    width: 54px
    background-size: 54px 600px

.sm-block-tpl13.height-300
  height: 300px

  .left-border
    height: 300px

  .right-border
    height: 300px

.sm-block-tpl13.height-300.double-size
  height: 600px

  .left-border
    height: 600px

  .right-border
    height: 600px
