.sm-block-tpl10
  width: 124px
  padding: 8px
  border: 1px solid #515151
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFUlEQVQImWNggIJNmzb9x8FgYGAAALMZCUBv7a2oAAAAAElFTkSuQmCC') repeat
  color: black
  font-family: 'pfdintextcomppro-medium-webfont'

  .bg
    width: 100%
    height: 100%

  .info
    position: absolute
    left: 8px
    bottom: 8px
    padding: 5px

    .title
      font-size: 20px
      line-height: 20px

    .old-price
      font-size: 36px
      line-height: 36px
      text-decoration: line-through

    .price
      color: #bd2d4e
      font-size: 50px
      line-height: 50px

.sm-block-tpl10.double-size
  width: 248px
  padding: 16px
  border: 2px solid #515151

  .info
    left: 16px
    bottom: 16px
    padding: 10px

    .title
      font-size: 40px
      line-height: 40px

    .old-price
      font-size: 72px
      line-height: 72px

    .price
      font-size: 100px
      line-height: 100px

.sm-block-tpl10.height-300
  height: 282px

.sm-block-tpl10.height-300.double-size

  height: 564px