.sm-block-tpl16
  width: 294px
  padding: 3px

  .inner
    padding: 20px
    border: 2px dashed white

    .info
      text-align: center
      font-family: 'pfdintextcomppro-medium-webfont'

      .title
        color: #6d65a6
        font-size: 65px
        line-height: 65px
        padding-bottom: 12px

      .descr
        color: #493434
        font-size: 36px
        line-height: 36px

      .price
        color: #bd2d4e
        font-size: 65px
        line-height: 65px

  .inner.without-border
    border: none
    padding: 22px

.sm-block-tpl16.double-size
  width: 588px
  padding: 6px

  .inner
    padding: 40px
    border: 4px dashed white

    .info

      .title
        font-size: 130px
        line-height: 130px

      .descr
        font-size: 72px
        line-height: 72px

      .price
        font-size: 130px
        line-height: 130px


.sm-block-tpl16.height-300
  height: 294px

  .inner
    height: 250px

.sm-block-tpl16.height-300.double-size
  height: 588px

  .inner
    height: 500px


.sm-block-tpl16.height-460
  height: 454px

  .inner
    height: 410px

.sm-block-tpl16.height-460.double-size
  height: 908px

  .inner
    height: 820px


.sm-block-tpl16.height-620
  height: 614px

  .inner
    height: 570px

.sm-block-tpl16.height-620.double-size
  height: 1228px

  .inner
    height: 1140px