.sm-block-tpl13
  width: 300px

  .photo
    margin-top: 5px
    width: 100%

  .left-border
    width: 27px
    z-index: 1
    background: url('/assets/images/market/blocks/angle-border-left.png') no-repeat
    background-size: 27px 300px

  .right-border
    width: 27px
    z-index: 1
    left: auto
    right: 0
    background: url('/assets/images/market/blocks/angle-border-right.png') no-repeat
    background-size: 27px 300px

  .sale
    position: absolute
    z-index: 2
    width: 100px
    left: 50%
    margin-left: -50px
    color: white
    text-align: center
    font-size: 64px
    line-height: 64px
    font-family: 'pfdintextcomppro-medium-webfont'

    span
      font-size: 22px
      line-height: 22px

  .svg
    position: absolute
    width: 200px
    height: 200px
    left: 50%
    margin-left: -100px
    color: white

  .svg-mask
    position: absolute
    width: 196px
    height: 196px
    left: 50%
    margin-left: -98px


  .left-line,
  .right-line
    height: 2px
    width: 90px
    background: #828fa0
    margin-top: 5px

  .left-line
    float: left

  .right-line
    float: right

  .info
    top: auto
    width: 100%
    bottom: 20px
    text-align: center
    font-family: 'pfdintextcomppro-medium-webfont'
    font-size: 25px
    line-height: 25px

.sm-block-tpl13.double-size
  width: 600px

  .photo
    margin-top: 10px

  .left-border
    width: 54px
    background-size: 54px 600px

  .right-border
    width: 54px
    background-size: 54px 600px

  .sale
    width: 200px
    margin-left: -100px
    font-size: 128px
    line-height: 128px

    span
      font-size: 44px
      line-height: 44px

  .svg
    width: 400px
    height: 400px
    margin-left: -200px

  .svg-mask
    width: 392px
    height: 392px
    margin-left: -196px

  .left-line,
  .right-line
    width: 180px
    height: 4px
    margin-top: 10px

  .info
    bottom: 40px
    font-size: 50px
    line-height: 50px


.sm-block-tpl13.height-300
  height: 300px

  .left-border,
  .right-border
    height: 300px

  .photo
    height: 170px

  .svg
    top: 80px

  .svg-mask
    top: 82px

  .sale
    top: 150px

.sm-block-tpl13.height-300.double-size
  height: 600px

  .left-border,
  .right-border
    height: 600px

  .photo
    height: 340px

  .sale
    top: 300px

  .svg
    top: 160px

  .svg-mask
    top: 164px


.sm-block-tpl13.height-460
  height: 460px

  .left-border,
  .right-border
    height: 460px
    background-size: 27px 460px

  .photo
    height: 340px

  .svg
    top: 245px

  .svg-mask
    top: 247px

  .sale
    top: 315px

.sm-block-tpl13.height-460.double-size
  height: 920px

  .left-border,
  .right-border
    height: 920px
    background-size: 54px 920px

  .photo
    height: 680px

  .svg
    top: 490px

  .svg-mask
    top: 494px

  .sale
    top: 630px