.sm-block-tpl23
  width: 300px

  .bg
    height: 100%
    width: 100%

  .mask
    z-index: 1
    width: 300px
    height: 300px

  .info
    top: 5px
    z-index: 2
    font-family: 'futurfutc-webfont'

    p
      padding: 0 5px
      display: inline
      background: white
      margin: 0

    .title
      margin-bottom: 10px
      font-size: 20px
      line-height: 24px

    .descr
      font-size: 16px
      line-height: 20px

    .price
      font-size: 40px
      line-height: 50px
      color: #498504

.sm-block-tpl23.double-size
  width: 600px

  .mask
    width: 600px
    height: 600px

  .info
    top: 10px

    p
      padding: 0 10px

    .title
      margin-bottom: 20px
      font-size: 40px
      line-height: 48px

    .descr
      font-size: 32px
      line-height: 40px

    .price
      font-size: 80px
      line-height: 100px


.sm-block-tpl23.height-300
  height: 300px

.sm-block-tpl23.height-300.double-size
  height: 600px