.sm-block-tpl14
  width: 300px

  .svg-bottom,
  .svg-top
    width: 316px

  .svg-bottom
    height: 422px
    margin-left: -8px
    margin-top: -98px
    position: relative
    z-index: 3

  .svg-top
    margin-left: -9px
    margin-top: -24px
    height: 211px
    background: #b35151

  .bottom-bg
    top: auto
    bottom: 0
    width: 100%
    background: #b35151
    z-index: 1

  .logo
    width: 56px
    left: 50%
    margin-left: -28px
    top: 10px
    z-index: 2

  .info
    width: 100%
    z-index: 4
    top: auto
    text-align: center

    .title
      color: white
      font-family: 'heliosthin'
      font-size: 25px
      line-height: 30px

    .descr
      display: inline-block
      padding: 0 5px
      background: white
      font-family: 'favoritlightcondcregular'
      font-size: 18px
      line-height: 25px

.sm-block-tpl14.double-size
  width: 600px

  .svg-bottom,
  .svg-top
    width: 632px

  .svg-bottom
    margin-left: -16px
    height: 844px
    margin-top: -196px

  .svg-top
    margin-left: -18px
    height: 422px
    margin-top: -48px

  .logo
    width: 112px
    margin-left: -56px
    top: 20px

  .info

    .title
      font-size: 50px
      line-height: 60px

    .descr
      padding: 0 10px
      font-size: 36px
      line-height: 50px


.sm-block-tpl14.height-300
  height: 300px

  .bottom-bg
    height: 120px

  .info
    bottom: 10px

.sm-block-tpl14.height-300.double-size
  height: 600px

  .bottom-bg
    height: 240px

  .info
    bottom: 20px


.sm-block-tpl14.height-460
  height: 460px

  .bottom-bg
    height: 280px

  .info
    bottom: 40px

.sm-block-tpl14.height-460.double-size
  height: 920px

  .bottom-bg
    height: 560px

  .info
    bottom: 80px