.sm-block-tpl8
  width: 140px

  .bg
    top: 5px
    width: 140px

  .left-border
    width: 27px
    z-index: 1
    background: url('/assets/images/market/blocks/angle-border-left.png') no-repeat
    background-size: 27px 300px

  .right-border
    width: 27px
    z-index: 1
    left: auto
    right: 0
    background: url('/assets/images/market/blocks/angle-border-right.png') no-repeat
    background-size: 27px 300px

  .info
    color: white
    top: auto
    left: 10px
    bottom: 25px

    .title
      font-family: 'favoritlightcondcregular'
      line-height: 18px
      font-size: 18px

    .price
      font-family: 'favoritcondcregular'
      line-height: 35px
      font-size: 35px

.sm-block-tpl8.double-size
  width: 280px

  .bg
    top: 10px
    width: 280px

  .left-border
    width: 54px
    background-size: 54px 600px

  .right-border
    width: 54px
    background-size: 54px 600px


.sm-block-tpl8.height-300
  height: 300px

  .bg
    height: 290px

  .left-border
    height: 300px

  .right-border
    height: 300px

.sm-block-tpl8.height-300.double-size
  height: 600px

  .bg
    height: 580px

  .left-border
    height: 600px

  .right-border
    height: 600px