@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import common._
@import util.blocks.BlocksConf.Block7

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl7 sm-block@mad.id" @mad.colors.get(Block7.saleMaskColorBf.name).map { saleColor => style="border-color: #@saleColor"} data-width="300" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  <div class="color-bg"@mad.colors.get(Block7.saleMaskColorBf.name).map { saleColor => style="background: #@saleColor"}></div>
  <div class="sale-mask abs"@mad.colors.get(Block7.saleMaskColorBf.name).map { saleColor => style="color: #@saleColor"}></div>

  @mad.offers.headOption.map { offer =>

    <div @offer.discount.map { discount => @_aovfStyleTpl(discount, Block7.discountBf, "sale-icon")}>
      @formatPercentRaw(offer.discount.map(_.value).getOrElse(0F))<span>%</span>
    </div>

    <div class="info">
      @offer.text1.map { text1 =>
        <div class="js-mvbl mvbl-title" data-connected-input="ad.offer.title">
        <div class="title">
          @Html(text1.value)
        </div>
        </div>
        @_blockStyleTpl( mad.id, text1, Block7.titleBf, "title", left = 18, top = 24  )
      }
      @offer.price.map { price =>
        <div class="js-mvbl mvbl-price" data-connected-input="ad.offer.price">
        <div class="price">
          @formatPrice(price.value, price.currency)
        </div>
        </div>
        @_blockStyleTpl( mad.id, price, Block7.priceBf, "price", left = 18, top = 54  )
      }
    </div>

  }

</div>
