@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import common._
@import svg._

@defining( mad.colors.getOrElse(Block19.fillColorBf.name, Block19.fillColorBf.anyDefaultValue) ) { fillColor =>
<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl19 sm-block@mad.id" style="background: #@fillColor" data-width="300" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  @_bg19Tpl(
    cssClass = "bg",
    fillColor = mad.colors.getOrElse(Block19.bgColorBf.name, Block19.bgColorBf.anyDefaultValue)
  )

  <div class="substrate" style="background: #@fillColor">

    <div class="inner" style="border-color: #@mad.colors.getOrElse(Block19.borderColorBf.name, Block19.borderColorBf.anyDefaultValue)">
      <img class="photo" src="@ctx.myAudienceUrl@mad.imgs.get(Block19.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl19-bg.jpg"))" />

      <div class="info">

        @mad.offers.map { offer =>
          <div class="item">
            <span class="item_line" style="background: #@offer.text1.map {title =>@title.font.color}"></span>

            @offer.text1.map { text1 =>
              <div class="js-mvbl mvbl-item_title-@offer.n" data-connected-input="ad.offer.offer[@{offer.n}].title">
              <div class="item_title item_title-@offer.n">
                @Html(text1.value)
              </div>
              </div>
              @_blockStyleTpl( mad.id, text1, Block19.titleBf, "item_title-" + offer.n, left = 22, top = (offer.n)*80+30 )
            }

            @offer.price.map { price =>
              <div class="js-mvbl mvbl-item_price-@offer.n" data-connected-input="ad.offer.offer[@{offer.n}].price">
              <div class="item_price item_price-@offer.n">
                @formatPrice(price.value, price.currency)
              </div>
              </div>
              @_blockStyleTpl( mad.id, price, Block19.priceBf, "item_price-" + offer.n, left = 22, top = (offer.n)*80+60 )
            }
          </div>
        }

      </div>

    </div>

  </div>

</div>
}
