@(mad: MAdT, args: BlockRenderArgs)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import svg._
@import common._
@import util.blocks.BlocksConf.{Block5 => bc}
@import BSvgColorNames._


@blockBase(args, mad, bc) {

  @bgImgTpl(mad, bc, args,
    dfltImg = Some("images/market/blocks/tpl5-bg.jpg"),
    cssClass = Some("bg abs")
  )

  @defining( mad.colors.getOrElse(bc.maskColorBf.name, bc.maskColorBf.anyDefaultValue) ) { fillColor =>
  @defining( Map(Fill -> fillColor) ) { colorsMap =>
    <img class="mask abs" src="@routes.MarketShowcase.blockSvg(BlocksSvg.mask5, colorsMap)" alt="" />
    <img class="mask-460 abs" src="@routes.MarketShowcase.blockSvg(BlocksSvg.mask5_460, colorsMap)" alt="" />
    <img class="mask-620 abs" src="@routes.MarketShowcase.blockSvg(BlocksSvg.mask5_620, colorsMap)" alt="" />
  }
  }

  <div class="info">
    @bc.logoImgCdnCall(mad).map { logoImgCall =>
      <img class="logo" src="logoImgCall" alt=""/>
    }

    @mad.offers.headOption.map { offer =>
      @offer.text1.map { text1 =>
        <div class="js-mvbl mvbl-title" data-connected-input="ad.offer.title">
        <div class="title">
          @Html(text1.value)
        </div>
        </div>
        @_blockStyleTpl( mad.id, text1, bc.titleBf, "title", left = 11, top = 150  )
      }

      @offer.oldPrice.map { oldPrice =>
        <div class="js-mvbl mvbl-old-price" data-connected-input="ad.offer.oldPrice">
        <div class="old-price">
          @formatPrice(oldPrice.value, oldPrice.currency)
        </div>
        </div>
        @_blockStyleTpl( mad.id, oldPrice, bc.oldPriceBf, "old-price", left = 11, top = 180  )
      }

      @offer.price.map { price =>
        <div class="js-mvbl mvbl-price" data-connected-input="ad.offer.price">
        <div class="price">
          @formatPrice(price.value, price.currency)
        </div>
        </div>
        @_blockStyleTpl( mad.id, price, bc.priceBf, "price", left = 11, top = 220  )
      }
    }
  </div>

}
