@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import common._
@import svg._
@import util.blocks.BlocksConf.{Block6 => bc}
@import BSvgColorNames._

@defining( mad.colors.getOrElse(bc.fillColorBf.name, bc.fillColorBf.anyDefaultValue) ) { fillColor =>
@defining( mad.colors.getOrElse(bc.borderColorBf.name, bc.borderColorBf.anyDefaultValue) ) { borderColor =>

  @blockBase(isStandalone, mad, bc, style = Some(s"background: #$fillColor;")) {

    @defining( Map(Fill -> "ffffff", Border -> borderColor) ) { colorsMap =>
      <img class="left-border abs" alt=""
           src="@routes.MarketShowcase.blockSvg(BlocksSvg.block6LeftBorder, colorsMap)" />

      <img class="right-border abs" alt=""
           src="@routes.MarketShowcase.blockSvg(BlocksSvg.block6RightBorder, colorsMap)" />
    }

    @bgImgTpl(mad, bc,
      dfltImg  = Some("images/market/blocks/tpl6-bg.jpg"),
      cssClass = Some("bg abs")
    )

    <div class="info abs" style="background-color: #@borderColor;">
      @mad.offers.map { offer =>
        <div class="item">
          @offer.text1.map { text1 =>
            <div class="js-mvbl mvbl-title-@offer.n" data-connected-input="ad.offer.offer[@{offer.n}].title">
            <div class="title title-@offer.n">
              @Html(text1.value)
            </div>
            </div>
            @_blockStyleTpl( mad.id, text1, bc.titleBf, "title-" + offer.n, left = 22, top = (offer.n)*80+30 )
          }
          @offer.price.map { price =>
            <div class="js-mvbl mvbl-price-@offer.n" data-connected-input="ad.offer.offer[@{offer.n}].price">
            <div class="price price-@offer.n">
              @formatPrice(price.value, price.currency)
            </div>
            </div>
            @_blockStyleTpl( mad.id, price, bc.priceBf, "price-" + offer.n, left = 22, top = (offer.n)*80+65 )
          }
        </div>
      }

    </div>

  }
}
}
