@(mad: MAdT, args: BlockRenderArgs)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import common._
@import util.blocks.BlocksConf.{Block7 => bc}

@blockBase(args, mad, bc,
  style = mad.colors.get(bc.saleMaskColorBf.name).map(bgc => s"border-color: #$bgc;")
) {

  <div class="color-bg"@mad.colors.get(bc.saleMaskColorBf.name).map { saleColor => style="background: #@saleColor"}></div>
  <div class="sale-mask abs"@mad.colors.get(bc.saleMaskColorBf.name).map { saleColor => style="color: #@saleColor"}></div>

  @mad.offers.headOption.map { offer =>

    <div @offer.discount.map { discount => @_aovfStyleTpl(discount, bc.discountBf, "sale-icon")}>
      @formatPercentRaw(offer.discount.map(_.value).getOrElse(0F))<span>%</span>
    </div>

    <div class="info">
      @offer.text1.map { text1 =>
        <div class="js-mvbl mvbl-title" data-connected-input="ad.offer.title">
        <div class="title">
          @Html(text1.value)
        </div>
        </div>
        @_blockStyleTpl( mad.id, text1, bc.titleBf, "title", left = 18, top = 24  )
      }
      @offer.price.map { price =>
        <div class="js-mvbl mvbl-price" data-connected-input="ad.offer.price">
        <div class="price">
          @formatPrice(price.value, price.currency)
        </div>
        </div>
        @_blockStyleTpl( mad.id, price, bc.priceBf, "price", left = 18, top = 54  )
      }
    </div>

  }

}
