@(mad: MAdT, isStandalone: Boolean)(implicit ctx: util.Context)

@import util.blocks.BlocksConf.Block10
@import util.TplDataFormatUtil._

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl10" data-width="140" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  @mad.imgs.get(Block10.BG_IMG_FN).map { img =>
    <img class="bg" src="@routes.Img.getImg(img.id)" />
  }

  @mad.offers.headOption.map { offer =>
    <div class="info">
      @offer.text1.map { text1 =>
        <div class="title" style="@text1.font.color">@Html(text1.value)</div>
      }
      @offer.oldPrice.map { oldPrice =>
        <div class="old-price" style="@oldPrice.font.color">@formatPrice(oldPrice.value, oldPrice.currency)</div>
      }
      @offer.price.map { price =>
        <div class="price" style="@price.font.color">@formatPrice(price.value, price.currency)</div>
      }
    </div>
  }

</div>