@(mad: MAdT, args: BlockRenderArgs)(implicit ctx: Context)

@* Первый блок верстки. *@
@import ctx._
@import util.blocks.BlocksUtil._
@import util.TplDataFormatUtil._
@import common._
@import util.blocks.BlocksConf.{Block1 => bc}

@blockBase(args, mad, bc) {
  @bgImgTpl(
    mad      = mad,
    bc       = bc,
    dfltImg  = Some("images/block-ad-sample-image.jpg"),
    cssClass = Some("bg"),
    alt      = Some("SALE")
  )

  @mad.offers.headOption.map { offer =>
    @offer.text1.map { title =>
      <div class="js-mvbl mvbl-title" data-connected-input="ad.offer.title">
        <div class="title">@Html(title.value)</div>
      </div>
      @_blockStyleTpl( mad.id, title, bc.titleBf, "title", left = 18, top = 24  )
    }

    @offer.text2.map { descr =>
      <div class="js-mvbl mvbl-description" data-connected-input="ad.offer.descr" style="">
        <div class="description">@Html(descr.value)</div>
      </div>
      @_blockStyleTpl( mad.id, descr, bc.descrBf, "description", left = 18, top = 52 )
    }

    @offer.oldPrice.map { oldPrice =>
      <div class="js-mvbl mvbl-old-price" data-connected-input="ad.offer.oldPrice">
        <div class="old-price">@formatPrice(oldPrice.value, oldPrice.currency)</div>
      </div>
      @_blockStyleTpl( mad.id, oldPrice, bc.oldPriceBf, "old-price", left = 18, top = 164 )
    }

    @offer.price.map { price =>
      <div class="js-mvbl mvbl-price" data-connected-input="ad.offer.price">
        <div class="price">@formatPrice(price.value, price.currency)</div>
      </div>
      @_blockStyleTpl( mad.id, price, bc.priceBf, "price", left = 14, top = 226 )
    }
  }

}
