@(mad: MAdT, isStandalone: Boolean)(implicit ctx: util.Context)

@import ctx._
@import util.blocks.BlocksUtil._

@blockBase(isStandalone) {
  <div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl2" data-width="300" data-height="@mad.blockMeta.height" >

    <div class="sale-icon">
      <div class="mask"></div>
      <img class="bg" src="@routes.Assets.at("images/market/blocks/tpl2-bg.jpg")"/>
    </div>

    <div class="info">
      @mad.offers.headOption.map { offer =>
        <h5>@offer.text1.map(_.value)</h5>

        <div class="text">
          <p>@offer.text2.map(_.value)</p>
        </div>
      }
    </div>

  </div>
}