@(mad: MAdT, isStandalone: Boolean)(implicit ctx: util.Context)

@import common._

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl20" data-width="300" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  <img class="bg" src="@mad.imgs.get(Block20.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl20-bg.jpg"))" />

  @mad.offers.headOption.map { offer =>
    <div class="info abs">
    @offer.text1.map { text1 =>
      <div @_aovfStyleTpl(text1, "title")>
        @Html(text1.value)
      </div>
    }
    @offer.text2.map { text2 =>
      <div @_aovfStyleTpl(text2, "descr")>
        @Html(text2.value)
      </div>
    }
    </div>
  }

</div>
