@(mad: MAdT, isStandalone: Boolean)(implicit ctx: util.Context)

@import util.blocks.BlocksConf.Block8
@import util.TplDataFormatUtil._

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl8" data-width="140" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  <div class="left-border abs"></div>
  <div class="right-border abs"></div>

  @mad.imgs.get(Block8.BG_IMG_FN).map { img =>
    <img class="bg abs" src="@routes.Img.getImg(img.id)" />
  }

  <div class="info abs">
    @mad.offers.headOption.map { offer =>
      @offer.text1.map { text1 =>
        <div class="title" style="color: #@text1.font.color">
          @Html(text1.value)
        </div>
      }
      @offer.price.map { price =>
        <div class="price" style="color: #@price.font.color">
          @formatPrice(price.value, price.currency)
        </div>
      }
    }

  </div>

</div>
