@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import common._

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl10" data-width="140" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">


  <img class="bg" src="@mad.imgs.get(Block10.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/block-ad-sample-image.jpg"))" />


  @mad.offers.headOption.map { offer =>
    <div class="info">
      @offer.text1.map { text1 =>
        <div @_aovfStyleTpl(text1, Block10.titleBf, "title")>@Html(text1.value)</div>
      }
      @offer.oldPrice.map { oldPrice =>
        <div @_aovfStyleTpl(oldPrice, Block10.oldPriceBf, "old-price")>@formatPrice(oldPrice.value, oldPrice.currency)</div>
      }
      @offer.price.map { price =>
        <div @_aovfStyleTpl(price, Block10.priceBf, "price")>@formatPrice(price.value, price.currency)</div>
      }
    </div>
  }

</div>
