@(mad: MAdT, isStandalone: Boolean)(implicit ctx: util.Context)

@import util.TplDataFormatUtil._
@import util.blocks.BlocksConf.Block12

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl12"@mad.colors.get(Block12.saleMaskColorBf.name).map { saleColor => style="border-color: #@saleColor"} data-width="140" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  <div class="color-bg"@mad.colors.get(Block12.saleMaskColorBf.name).map { saleColor => style="background: #@saleColor"}></div>
  <div class="sale-mask abs"@mad.colors.get(Block12.saleMaskColorBf.name).map { saleColor => style="color: #@saleColor"}></div>


  @mad.offers.headOption.map { offer =>

    <div class="icon" @offer.discount.map { discount => style="color: #@discount.font.color"} >
      @formatPercentRaw(offer.discount.map(_.value).getOrElse(0F))<span>%</span>
    </div>

    <div class="info">
    @offer.text1.map { text1 =>
      <div class="title" style="color: #@text1.font.color">
        @Html(text1.value)
      </div>
    }
    @offer.text2.map { text2 =>
      <div class="slogan" style="color: #@text2.font.color">
        @Html(text2.value)
      </div>
    }
    </div>
  }

</div>
