@*Блок предлагается к удалениею, временно закоменчен*@
@*(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import svg._
@import common._
@import util.TplDataFormatUtil._

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl24" data-width="140" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  <img class="bg abs" src="@mad.imgs.get(Block24.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl5-bg.jpg"))" />

  @_mask24(
    cssClass = "mask abs",
    fillColor = mad.colors.getOrElse(Block24.fillColorBf.name, Block24.fillColorBf.anyDefaultValue)
  )

  <div class="info">
    <img class="logo" src="@mad.imgs.get(Block24.LOGO_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl5-logo.jpg"))" />
    @mad.offers.headOption.map { offer =>
      @offer.text1.map { text1 =>
        <div @_aovfStyleTpl(text1, Block24.titleBf, "title")>
          @Html(text1.value)
        </div>
      }
      @offer.oldPrice.map { oldPrice =>
        <div @_aovfStyleTpl(oldPrice, Block24.oldPriceBf, "old-price")>
          @formatPrice(oldPrice.value, oldPrice.currency)
        </div>
      }
      @offer.price.map { price =>
        <div @_aovfStyleTpl(price, Block24.priceBf, "price")>
          @formatPrice(price.value, price.currency)
        </div>
      }
    }
  </div>

</div>
*@