@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@* Блок-ссылка, появилась для нужд саморекламы sioM. При щелчке открывает ссылку в новой вкладке. *@

@img = {
  @mad.imgs.get(Block26.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).map { imgCall =>
   <img class="bg" src="@ctx.myAudienceUrl@imgCall" />
  }
}

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl26 sm-block@mad.id" data-width="@Block26.blockWidth" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  @* Картинка рендерится в пределах ссылки оффера, если та существует.
     Если оффера нет, то чтобы избежать неотображения картинки, картинка будет отрендерена вне блока. *@
  @mad.offers.headOption.fold {
    @img
  } { offer =>
    @offer.href.map { href =>
      <a href="@href" target="_blank">
    }
    @img
    @if(offer.href.isDefined) {
      </a>
    }
  }

</div>
