@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import svg._
@import common._


<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl5" data-width="300" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  <img class="bg abs" src="@mad.imgs.get(Block5.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl5-bg.jpg"))" />

  -@mad.blockMeta-

  @defining( mad.colors.getOrElse(Block5.maskColorBf.name, Block5.maskColorBf.anyDefaultValue) ) { fillColor =>
  @_mask5(
    cssClass = "mask abs",
    fillColor = fillColor
  )

  @_mask5_460(
    cssClass = "mask-460 abs",
    fillColor = fillColor
  )

  @_mask5_620(
    cssClass = "mask-620 abs",
    fillColor = fillColor
  )
  }


  <div class="info">
    @mad.imgs.get(Block5.LOGO_IMG_FN).map { logoImg =>
      <img class="logo" src="@routes.Img.getImg(logoImg.filename)" />
    }

    @mad.offers.headOption.map { offer =>
      @offer.text1.map { text1 =>
        <div class="js-mvbl" data-connected-input="ad.offer.title" style="@_coordsStyleTpl(text1, left = 11, top = 173)">
        <div @_aovfStyleTpl(text1, Block5.titleBf, "title")>
          @Html(text1.value)
        </div>
        </div>
      }

      @offer.oldPrice.map { oldPrice =>
        <div class="js-mvbl" data-connected-input="ad.offer.oldPrice" style="@_coordsStyleTpl(oldPrice, left = 11, top = 231)">
        <div @_aovfStyleTpl(oldPrice, Block5.oldPriceBf, "old-price")>
          @formatPrice(oldPrice.value, oldPrice.currency)
        </div>
        </div>
      }

      @offer.price.map { price =>
        <div class="js-mvbl" data-connected-input="ad.offer.price" style="@_coordsStyleTpl(price, left = 11, top = 260)">
        <div @_aovfStyleTpl(price, Block5.priceBf, "price")>
          @formatPrice(price.value, price.currency)
        </div>
        </div>
      }
    }
  </div>

</div>
