@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import ctx._
@import common._

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl3 sm-block@mad.id" data-width="300" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  <div class="triangle-border-top"></div>
  <div class="triangle-border-left"></div>
  <div class="triangle-border-right"></div>
  <div class="triangle-border-bottom"></div>

  <div class="inner">

    <img src="@mad.imgs.get(Block3.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl3-bg.jpg"))" />

    <div class="items">

      @mad.offers.map { offer =>
        <div class="item el-@{offer.n + 1}">
          @offer.text1.map { title =>
          <div class="js-mvbl mvbl-title-@offer.n" data-connected-input="ad.offer.offer[@{offer.n}].title">
          <div class="title title-@offer.n">
            @Html(title.value)
          </div>
          </div>
          @_blockStyleTpl( mad.id, title, Block3.titleBf, "title-" + offer.n, left = 22, top = (offer.n)*80+30 )
          }
          @offer.price.map { price =>
          <div class="js-mvbl mvbl-price-@offer.n" data-connected-input="ad.offer.offer[@{offer.n}].price">
          <div class="price price-@offer.n">
            @formatPrice(price.value, price.currency)
          </div>
          </div>
          @_blockStyleTpl( mad.id, price, Block3.priceBf, "price-" + offer.n, left = 22, top = (offer.n)*80+50)
          }
        </div>
      }

    </div><!-- .items end -->
  </div>

</div>
