@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import svg._
@import util.TplDataFormatUtil._
@import util.blocks.BlocksConf.{Block16 => bc}
@import common._

@blockBase(isStandalone, mad, bc,
  style = Some(s"background: #${mad.colors.getOrElse(bc.bgColorBf.name, bc.bgColorBf.anyDefaultValue)};")
) {

  <div class="inner" style="border-color: #@mad.colors.getOrElse(bc.borderColorBf.name, bc.borderColorBf.anyDefaultValue);">
      <div class="info">
        @mad.offers.headOption.map { offer =>
          @offer.text1.map { text1 =>
            <div class="js-mvbl mvbl-title" data-connected-input="ad.offer.title">
            <div class="title">
              @Html(text1.value)
            </div>
            </div>
            @_blockStyleTpl( mad.id, text1, bc.titleBf, "title", left = 12, top = 24 )
          }
          @offer.text2.map { text2 =>
            <div class="js-mvbl mvbl-descr" data-connected-input="ad.offer.descr">
            <div class="descr">
              @Html(text2.value)
            </div>
            </div>
            @_blockStyleTpl( mad.id, text2, bc.descrBf, "descr", left = 12, top = 78 )
          }
          @offer.price.map { price =>
            <div class="js-mvbl mvbl-price" data-connected-input="ad.offer.price">
            <div class="price">
              @formatPrice(price.value, price.currency)
            </div>
            </div>
            @_blockStyleTpl( mad.id, price, bc.priceBf, "price", left = 12, top = 120 )
          }
        }

    </div>

  </div>

}
