@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import common._
@import svg._
@import util.blocks.BlocksConf.Block6


@defining( mad.colors.getOrElse(Block6.fillColorBf.name, Block6.fillColorBf.anyDefaultValue) ) { fillColor =>

  <div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl6 sm-block@mad.id" style="background: #@fillColor;" data-width="300" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">


    @_block6_left_border(
      cssClass = "left-border abs",
      fillColor = fillColor,
      borderColor = mad.colors.getOrElse(Block6.borderColorBf.name, Block6.borderColorBf.anyDefaultValue)
    )

    @_block6_right_border(
      cssClass = "right-border abs",
      fillColor = fillColor,
      borderColor = mad.colors.getOrElse(Block6.borderColorBf.name, Block6.borderColorBf.anyDefaultValue)
    )

    <img class="bg abs" src="@ctx.myAudienceUrl@mad.imgs.get(Block6.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl6-bg.jpg"))" />

    <div class="info abs" style="background-color: #@mad.colors.getOrElse(Block6.borderColorBf.name, Block6.borderColorBf.anyDefaultValue);">
      @mad.offers.map { offer =>
        <div class="item">
          @offer.text1.map { text1 =>
            <div class="js-mvbl mvbl-title-@offer.n" data-connected-input="ad.offer.offer[@{offer.n}].title">
            <div class="title title-@offer.n">
              @Html(text1.value)
            </div>
            </div>
            @_blockStyleTpl( mad.id, text1, Block6.titleBf, "title-" + offer.n, left = 22, top = (offer.n)*80+30 )
          }
          @offer.price.map { price =>
            <div class="js-mvbl mvbl-price-@offer.n" data-connected-input="ad.offer.offer[@{offer.n}].price">
            <div class="price price-@offer.n">
              @formatPrice(price.value, price.currency)
            </div>
            </div>
            @_blockStyleTpl( mad.id, price, Block6.priceBf, "price-" + offer.n, left = 22, top = (offer.n)*80+65 )
          }
        </div>
      }

    </div>

  </div>

}