@(mad: MAdT, isStandalone: Boolean)(implicit ctx: util.Context)

@import util.TplDataFormatUtil._
@import util.blocks.BlocksConf.Block3
@import ctx._


<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl3" data-width="300" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  <div class="triangle-border-top"></div>
  <div class="triangle-border-left"></div>
  <div class="triangle-border-right"></div>
  <div class="triangle-border-bottom"></div>

  <div class="inner">
    @mad.imgs.get(Block3.BG_IMG_FN).map { img =>
      <img src="@routes.Img.getImg(img.id)" alt=""/>
    }

    <div class="items">

      @mad.offers.map { offer =>
        <div class="item el-@offer.n">
          @offer.text1.map { title =>
          <div class="title" style="color: #@title.font.color;">
            @Html(title.value)
          </div>
          }
          @offer.price.map { price =>
          <div class="price" style="color: #@price.font.color;">
            @formatPrice(price.value, price.currency)
          </div>
          }
        </div>
      }

    </div><!-- .items end -->
  </div>

</div>
