@(mad: MAdT, args: BlockRenderArgs)(implicit ctx: Context)

@import svg._
@import util.blocks.BlocksConf.{Block13 => bc}
@import util.TplDataFormatUtil._
@import common._
@import BSvgColorNames._

@blockBase(args, mad, bc) {
@defining(bc.discoBorderColorBf) { smcbf =>
@defining( mad.colors.getOrElse(smcbf.name, smcbf.anyDefaultValue) ) { borderColor =>

  @defining( Map(Fill -> "ffffff", Border -> borderColor) ) { colorsMap =>
    <img class="left-border abs" alt=""
         src="@routes.MarketShowcase.blockSvg(BlocksSvg.block6LeftBorder, colorsMap)" />

    <img class="right-border abs" alt=""
         src="@routes.MarketShowcase.blockSvg(BlocksSvg.block6RightBorder, colorsMap)" />
  }


  <div class="photo" style="overflow:hidden;">
    @bgImgTpl(mad, bc,
      dfltImg = Some("images/market/blocks/tpl13-bg.jpg")
    )
  </div>


  @defining(mad.colors.getOrElse(bc.discoIconColorBf.name, bc.discoIconColorBf.anyDefaultValue)) { discoIconColor =>


    <div class="left-line" style="background: #@discoIconColor"></div>
    <div class="right-line" style="background: #@discoIconColor"></div>

    @mad.offers.headOption.map { offer =>

      @offer.discount.map { discount =>
        <div class="sale" style="color: #@discount.font.color;">
          @formatPercentRaw(offer.discount.map(_.value).getOrElse(0F))<span>%</span>
        </div>
      }

      <img class="svg" alt="" src="@routes.MarketShowcase.blockSvg(BlocksSvg.saleIcon13, Map(Fill -> discoIconColor))" />
      <img class="svg-mask" alt="" src="@routes.MarketShowcase.blockSvg(BlocksSvg.saleIconMask13, Map(Fill -> borderColor))" />

      @offer.text1.map { text1 =>
        <div class="js-mvbl mvbl-title" data-connected-input="ad.offer.title">
        <div class="title">
          @Html(text1.value)
        </div>
        </div>
        @_blockStyleTpl( mad.id, text1, bc.descrBf, "title", left = 12, top = 210 )

      }

      @offer.text2.map { text2 =>
        <div class="js-mvbl mvbl-info" data-connected-input="ad.offer.descr">
        <div class="info">
          @Html(text2.value)
        </div>
        </div>
        @_blockStyleTpl( mad.id, text2, bc.descrBf, "info", left = 12, top = 250 )
      }
    }

  }

}
}
}
