@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import common._
@import svg._

@defining( mad.colors.getOrElse(Block19.fillColorBf.name, Block19.fillColorBf.anyDefaultValue) ) { fillColor =>
<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl19" style="background: #@fillColor" data-width="300" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  @_bg19Tpl(
    cssClass = "bg",
    fillColor = mad.colors.getOrElse(Block19.bgColorBf.name, Block19.bgColorBf.anyDefaultValue)
  )

  <div class="substrate" style="background: #@fillColor">

    <div class="inner" style="border-color: #@mad.colors.getOrElse(Block19.borderColorBf.name, Block19.borderColorBf.anyDefaultValue)">
      <img class="photo" src="@mad.imgs.get(Block19.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl19-bg.jpg"))" />

      <div class="info abs">

        @mad.offers.map { offer =>
          <div class="item">
            <span class="item_line" style="background: #@offer.text1.map {title =>@title.font.color}"></span>

            @offer.text1.map { text1 =>
              <div @_aovfStyleTpl(text1, "item_title")>
                @Html(text1.value)
              </div>
            }

            @offer.price.map { price =>
              <div @_aovfStyleTpl(price, "item_price")>
                @formatPrice(price.value, price.currency)
              </div>
            }
          </div>
        }

      </div>

    </div>

  </div>

</div>
}
