@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import common._
@import svg._
@import util.blocks.BlocksConf.{Block19 => bc}
@import BSvgColorNames._

@defining( mad.colors.getOrElse(bc.fillColorBf.name, bc.fillColorBf.anyDefaultValue) ) { fillColor =>
@blockBase(isStandalone, mad, bc,
  style = Some(s"background: #$fillColor")
) {

  @defining( mad.colors.getOrElse(bc.bgColorBf.name, bc.bgColorBf.anyDefaultValue) ) { fillColor =>
    <img class="bg" src="@routes.MarketShowcase.blockSvg(BlocksSvg.bg19, Map(Fill -> fillColor))" alt="" />
  }

  <div class="substrate" style="background: #@fillColor">

    <div class="inner" style="border-color: #@mad.colors.getOrElse(bc.borderColorBf.name, bc.borderColorBf.anyDefaultValue)">
      @bgImgTpl(mad, bc,
        cssClass = Some("photo"),
        dfltImg = Some("images/market/blocks/tpl19-bg.jpg")
      )

      <div class="info">

        @mad.offers.map { offer =>
          <div class="item">
            <span class="item_line" style="background: #@offer.text1.map {title =>@title.font.color}"></span>

            @offer.text1.map { text1 =>
              <div class="js-mvbl mvbl-item_title-@offer.n" data-connected-input="ad.offer.offer[@{offer.n}].title">
              <div class="item_title item_title-@offer.n">
                @Html(text1.value)
              </div>
              </div>
              @_blockStyleTpl( mad.id, text1, bc.titleBf, "item_title-" + offer.n, left = 22, top = (offer.n)*80+30 )
            }

            @offer.price.map { price =>
              <div class="js-mvbl mvbl-item_price-@offer.n" data-connected-input="ad.offer.offer[@{offer.n}].price">
              <div class="item_price item_price-@offer.n">
                @formatPrice(price.value, price.currency)
              </div>
              </div>
              @_blockStyleTpl( mad.id, price, bc.priceBf, "item_price-" + offer.n, left = 22, top = (offer.n)*80+60 )
            }
          </div>
        }

      </div>

    </div>

  </div>

}
}
