@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import svg._
@import util.blocks.BlocksConf.Block13
@import util.TplDataFormatUtil._
@import common._


@blockBase(isStandalone) {
<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl13 sm-block@mad.id" data-width="300" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  @defining(Block13.discoBorderColorBf) { smcbf =>
  @_block6_left_border(
    cssClass = "left-border abs",
    fillColor = "ffffff",
    borderColor = mad.colors.getOrElse(smcbf.name, smcbf.anyDefaultValue)
  )

  @_block6_right_border(
    cssClass = "right-border abs",
    fillColor = "ffffff",
    borderColor = mad.colors.getOrElse(smcbf.name, smcbf.anyDefaultValue)
  )
  }

  <div class="photo" style="overflow:hidden;">
    <img src="@ctx.myAudienceUrl@mad.imgs.get(Block13.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl13-bg.jpg"))" />
  </div>


  @defining(mad.colors.getOrElse(Block13.discoIconColorBf.name, Block13.discoIconColorBf.anyDefaultValue)) { discoIconColor =>


    <div class="left-line" style="background: #@discoIconColor"></div>
    <div class="right-line" style="background: #@discoIconColor"></div>

    @mad.offers.headOption.map { offer =>

      @offer.discount.map { discount =>
      <div class="sale" style="color: #@discount.font.color;">
        @formatPercentRaw(offer.discount.map(_.value).getOrElse(0F))<span>%</span>
      </div>
      }


      @_saleIcon13Tpl(
        cssClass = "svg",
        fillColor = discoIconColor
      )

      @defining(Block13.discoBorderColorBf) { smcbf =>
        @_saleIconMask13Tpl(
          cssClass = "svg-mask",
          fillColor = mad.colors.getOrElse(smcbf.name, smcbf.anyDefaultValue)
        )
      }

      @offer.text1.map { text1 =>
        <div class="js-mvbl mvbl-title" data-connected-input="ad.offer.title">
        <div class="title">
          @Html(text1.value)
        </div>
        </div>
        @_blockStyleTpl( mad.id, text1, Block13.descrBf, "title", left = 12, top = 210 )

      }

      @offer.text2.map { text2 =>
        <div class="js-mvbl mvbl-info" data-connected-input="ad.offer.descr">
        <div class="info">
          @Html(text2.value)
        </div>
        </div>
        @_blockStyleTpl( mad.id, text2, Block13.descrBf, "info", left = 12, top = 250 )
      }
    }

  }

</div>
}
