@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import svg._
@import common._
@import util.TplDataFormatUtil._

<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl23" data-width="300" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  @_mask23(
    cssClass  = "mask abs",
    fillColor = mad.colors.getOrElse(Block23.fillColorBf.name, Block23.fillColorBf.anyDefaultValue)
  )

  <img class="bg abs" src="@mad.imgs.get(Block23.BG_IMG_FN).map(_.filename).map(routes.Img.getImg).getOrElse(routes.Assets.at("images/market/blocks/tpl23-bg.jpg"))" />

  <div class="info abs">
    @mad.offers.headOption.map { offer =>
      @offer.text1.map { text1 =>
        <div @_aovfStyleTpl(text1, "title")>
          <p>@Html(text1.value)</p>
        </div>
      }

      @offer.text2.map { text2 =>
        <div @_aovfStyleTpl(text2, "descr")>
          <p>@Html(text2.value)</p>
        </div>
      }

      @offer.price.map { price =>
        <div class="price">
          <p>@formatPrice(price.value, price.currency)</p>
        </div>
      }
    }
  </div>

</div>
