@(mad: MAdT, args: BlockRenderArgs)(implicit ctx: util.Context)

@import ctx._
@import util.blocks.BlocksUtil._
@import util.TplDataFormatUtil._
@import common._
@import svg._
@import util.blocks.BlocksConf.{Block2 => bc}
@import BSvgColorNames._

@blockBase(args, mad, bc) {

  @mad.offers.headOption.map { offer =>
    @offer.discount.map { discount =>
      <div class="sale-icon" style="color: #@discount.font.color;">
        @formatPercentRaw(offer.discount.map(_.value).getOrElse(0F))<span>%</span>
      </div>
    }
  }

  @defining( mad.colors.getOrElse(bc.fillColorBf.name, bc.fillColorBf.anyDefaultValue) ) { fillColor =>
  @defining( mad.colors.getOrElse(bc.borderColorBf.name, bc.borderColorBf.anyDefaultValue) ) { borderColor =>

    <div class="sale-mask-wrap" style="background: #@fillColor; border-color: #@borderColor">

      <img class="mask" src="@routes.MarketShowcase.blockSvg(BlocksSvg.mask2, Map(Fill -> fillColor))" alt="" />

      <!--<div class="mask"></div>-->
      <div class="bg">
        @bgImgTpl(mad,  bc,  args,  dfltImg = Some("images/market/blocks/tpl2-bg.jpg"),  style = Some("height: auto;"))
      </div>
    </div>

    <div class="info" style="background: #@fillColor; border-color: #@borderColor">
      @mad.offers.headOption.map { offer =>
        @offer.text1.map { title =>
          <div class="js-mvbl mvbl-title" data-connected-input="ad.offer.title" style="@_coordsStyleTpl(title, left = 22, top = 219)">
            <h5 class="title">@Html(title.value)</h5>
          </div>
          @_blockStyleTpl( mad.id, title, bc.titleBf, "title", left = 22, top = 219 )
        }

        @offer.text2.map { descr =>
          <div class="js-mvbl mvbl-descr" data-connected-input="ad.offer.descr" style="@_coordsStyleTpl(descr, left = 22, top = 249)">
            <div class="descr">
              <p>@Html(descr.value)</p>
            </div>
          </div>
          @_blockStyleTpl( mad.id, descr, bc.descrBf, "descr", left = 22, top = 249 )
        }

      }
    </div>
  }
  }

}
