@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import svg._
@import common._
@import util.TplDataFormatUtil._
@import util.blocks.BlocksConf.{Block23 => bc}

@blockBase(isStandalone) {
<div class="sm-block height-@mad.blockMeta.height sio-mart__single-offer sm-block-tpl23 sm-block@mad.id" data-width="@bc.blockWidth" data-height="@mad.blockMeta.height" data-mad-id="@mad.id">

  @_mask23(
    cssClass  = "mask abs",
    fillColor = "#ffffff"
  )

  @bgImgTpl(mad, bc,
    cssClass = Some("bg abs"),
    dfltImg = Some("images/market/blocks/tpl23-bg.jpg")
  )

  <div class="info abs">
    @mad.offers.headOption.map { offer =>
      @offer.text1.map { text1 =>
        <div class="js-mvbl mvbl-title" data-connected-input="ad.offer.title">
        <div class="title">
          <p>@Html(text1.value)</p>
        </div>
        </div>
        @_blockStyleTpl( mad.id, text1, bc.titleBf, "title", left = 18, top = 24  )
      }

      @offer.text2.map { text2 =>
        <div class="js-mvbl mvbl-descr" data-connected-input="ad.offer.descr">
        <div class="descr">
          <p>@Html(text2.value)</p>
        </div>
        </div>
        @_blockStyleTpl( mad.id, text2, bc.descrBf, "descr", left = 18, top = 65  )
      }

      @offer.price.map { price =>
        <div class="js-mvbl mvbl-price" data-connected-input="ad.offer.price">
        <div class="price">
          <p>@formatPrice(price.value, price.currency)</p>
        </div>
        </div>
        @_blockStyleTpl( mad.id, price, bc.priceBf, "price", left = 12, top = 105  )
      }
    }
  </div>

</div>
}
