@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import util.TplDataFormatUtil._
@import common._
@import svg._
@import util.blocks.BlocksConf.{Block12 => bc}
@import BSvgColorNames._

@defining( mad.colors.getOrElse(bc.fillColorBf.name, bc.fillColorBf.anyDefaultValue) ) { fillColor =>
@defining( mad.colors.get(bc.saleMaskColorBf.name) ) { saleColorOpt =>
@blockBase(isStandalone, mad, bc,
  style = Some(s"background: #$fillColor; ${saleColorOpt.map(sc => "border-color: #@sc;")}")
) {
    <div class="color-bg"@mad.colors.get(bc.saleMaskColorBf.name).map { saleColor => style="background: #@saleColor"}></div>
    <!--<div class="sale-mask abs"></div>-->

    <img class="sale-mask abs" src="@routes.MarketShowcase.blockSvg(BlocksSvg.mask2, Map(Fill -> fillColor))" alt="" />

    @mad.offers.headOption.map { offer =>

      <div @offer.discount.map { discount =>@_aovfStyleTpl(discount, bc.discountBf, "icon")} >
        @formatPercentRaw(offer.discount.map(_.value).getOrElse(0F))<span>%</span>
      </div>

      <div class="info">
      @offer.text1.map { text1 =>
        <div @_aovfStyleTpl(text1, bc.titleBf, "title")>
          @Html(text1.value)
        </div>
      }
      @offer.text2.map { text2 =>
        <div @_aovfStyleTpl(text2, bc.descrBf, "slogan")>
          @Html(text2.value)
        </div>
      }
      </div>
    }

}
}
}
