@(mad: MAdT, isStandalone: Boolean)(implicit ctx: Context)

@import common._
@import util.blocks.BlocksConf.{Block21 => bc}

@blockBase(isStandalone, mad, bc,
  style = Some("border-color: #${mad.colors.getOrElse(bc.borderColorBf.name, bc.borderColorBf.anyDefaultValue)};")
) {

  @bgImgTpl(mad, bc,
    cssClass = Some("bg"),
    dfltImg = Some("images/market/blocks/tpl21-bg.jpg")
  )

  @mad.offers.headOption.map { offer =>
    <div class="info">

      @offer.text1.map { text1 =>
        <div class="js-mvbl mvbl-title" data-connected-input="ad.offer.title">
        <div class="title">
          @Html(text1.value)
        </div>
        </div>
        @_blockStyleTpl( mad.id, text1, bc.titleBf, "title", left = 18, top = 24  )
      }
      @offer.text2.map { text2 =>
        <div class="js-mvbl mvbl-descr" data-connected-input="ad.offer.descr">
        <div class="descr">
          @Html(text2.value)
        </div>
        </div>
        @_blockStyleTpl( mad.id, text2, bc.descrBf, "descr", left = 18, top = 50 )
      }

    </div>
  }

}
