@()(implicit ctx: util.Context)

@import ctx._

<div class="sio-footer-container">
<div class="container">
 
  <div class="row sio-footer-row">
    
    <div class="col-sm-8 common-info">
      © @ctx.now.getYear Suggest.io. @Messages("all_rights_reserved")
      <span class="delimiter">|</span>
      <span class="retina-ready">
      Retina-ready
      <span class="delimiter">|</span>
      </span>
      <a @if(langStr == "ru"){ class="active" } href="/change_locale/ru">Ru</a>  @* TODO выставить ссылку routes *@
      <a @if(langStr == "en"){ class="active" } href="/change_locale/en">En</a>  @* TODO выставить ссылку routes *@
      
    </div>
    
    <div class="col-sm-4 relative">
      @_social()
    </div>
    
  </div>
  
</div>
</div>
