@(isFixed:Boolean=false,activeLink:String=null)(implicit ctx:util.Context)
@import stuff._
@import ctx._

@if(isFixed){
<div class="sio-fixed-top-container">
<div class="container">
}

<div class="row sio-first-row">
  
  <div class="col-sm-12">
  
    <a href="/" class="logo">
      <img src="https://suggest.io/static/images2/sio-logo.png">
    </a>
    
    @if(isFixed){
      <div class="sio-glow"></div>
    }
  
  <div class="hidden-xs">
  @_topMenuTpl(activeLink)
  </div>
  
  <div class="visible-xs mobile-menu">
    <a id="mobileMenuButton" href="" class="mobile-menu-button"></a>
    @_topMenuTpl(activeLink)
  </div>
  
  </div>
  
  
</div>

@if(isFixed){
</div>
</div>

<div class="sio-top-glow"></div>

<script type="text/javascript">
	
	$('#mobileMenuButton').bind("click", function()
	{
  	$('.mobile-menu .menu').show();
  	$(this).addClass('active');
  	return false;
	});
	
	$(window).bind("scroll", function()
	{
		var st = $(window).scrollTop();
		
		var to = 0;
		
		if( st > 100 )
		{
			to = 1
		}else
		{
			to = st / 100
		}
		
		$('.sio-glow, .sio-top-glow').css({'opacity' : to});
		
	});
</script>

}