@(activeLink:String = null)(implicit c:util.Context)

@import c.lang
<div class="menu">
	<div class="menu-inner">
	
	@defining(Messages("stuff.menu.ABOUT")) { about_msg =>
		@if(activeLink == "about") {
		<span class="active-link">@about_msg</span>
		} else {
			<a class="menu-link" href="@routes.Static.about">@about_msg</a>
		}
	}

	<div class="delimiter"></div>

	@defining(Messages("stuff.menu.HELP")) { help_msg =>
		@if(activeLink == "help") {
		<span class="active-link">@help_msg</span>
		} else {
		<a class="menu-link" href="@routes.Static.help">@help_msg</a>
		}
	}

	<div class="delimiter"></div>

	@defining(Messages("stuff.menu.LIVE")) { live_msg =>
		@if(activeLink == "showcase") {
			<span class="active-link">@live_msg</span>
		} else {
			<a class="menu-link" href="@routes.Static.showcase">@live_msg</a>
		}
	}

	<div class="delimiter"></div>
	
	@defining(Messages("stuff.menu.CONTACTS")) { contacts_msg =>
		@if(activeLink == "contacts") {
			<span class="active-link">@contacts_msg</span>
		} else {
			<a class="menu-link" href="@routes.Feedback.feedbackForm()">@contacts_msg</a>
		}
	}
	
	</div>
</div>
