@(call: Call, fieldName: String, multiple: Boolean = false, previewRoot: String = "", previewClass: String = "",
  editBtnClass: String = "", whOpt: Option[MImgSizeT] = None)(implicit ctx: Context)

@* Рендер field type=input для отправки картинки на сервер для её кадрирования. *@
@import ctx._
@import helper._
@import io.suggest.js.UploadConstants._

<input type="file" class="add-file-input @JS_FILE_UPLOAD_CLASS"
       data-edit-btn="@editBtnClass"
       data-action="@call"
       name="picture"
       data-preview-class="@previewClass"
       data-preview-root="@previewRoot"
       data-name="@fieldName"
       @whOpt.map { wh => data-width="@wh.width" data-height="@wh.height" }
       @if(multiple) {data-multiple="multiple"}
/>
