@()(implicit ctx: Context)

@import io.suggest.init.routed.JsInitConstants.RI_ATTR_NAME

@* Этот шаблон рендерит routedInit-аттрибуты для тега body. По факту сейчас только один аттрибут.
   data-ri -- это аттрибут для sjs InitRouter. Он содержит данные для запуска направленной js-инициализации.
   Синтаксис изначально был таким:
     data-ri="controller1:action1,action2; controller2:action3; controller3:; controller4:action4, action5"
   Потом стал таким:
     data-ri="a,b,c"
*@

@defining( ctx.jsInitTargets ) { itgs =>
  @if(itgs.nonEmpty) {
    @RI_ATTR_NAME="@itgs.iterator.map(_.strId).mkString(";")"
  }
}
