@(img: im.MImg, metaOpt: Option[MUserImgMeta2])(implicit ctx: Context)

@* Отображение данных и ссылок навигации/управления для одной указанной картинке. *@

@import datetime._
@import ctx._
@import stuff._
@import util.img.DynImgUtil._
@import sys1.stuff.proptable._

@sysImgBase(
  title = "(" + (if(img.isOriginal) "оригинал" else "дериватив") + ")",
  mimgOpt = Some(img)
) {

  @* Рендер разных метаданных о картинке. *@
  @_ptableTpl() {
    @_ptableRowTpl("rowKey", title = Some("rowKey UUID: " + img.rowKey)) {
      @img.rowKeyStr
    }

    @_ptableRowTpl("make", title = Some("Оформить проивольный рендер картинки")) {
      <a href="@routes.SysImg.makeForm(img)">
        Запросить make...
      </a>
    }

    @if(!img.isOriginal) {
      @_ptableRowTpl("original") {
        <a href="@routes.SysImg.showOne(img.original)">К оригиналу...</a>
      }
    }

    @metaOpt.map { meta =>
      @_ptableRowTpl("meta.map") {
        @meta.md.mkString(", ")
      }
      @_ptableRowTpl("meta.q", title = Some("Column qualifier")) {
        @meta.q
      }
      @_ptableRowTpl("timestamp") {
        @_prettyDate(meta.timestamp, withSpan = true)
      }
    }

    @if(img.hasImgOps) {
      @_ptableRowTpl("img ops") {
        @img.dynImgOps.iterator.map { op =>
          <strong title="@op.opCode">@messages("im.op." + op.opCode.strId)</strong>:
          @op.unwrappedValue  @op.i18nValueCode.map(messages(_))  (@op.qsValue)
          <br/>
        }
      }
    }

  }


  @* Рендер самой картинки. *@
  <img src="@imgCall(img)" alt="Текущая картинка" />

  @* Отрендерить кнопку удаления. *@
  @_deleteSmthFormBtnTpl( routes.SysImg.deleteOneSubmit(img) )

}
