@(pushRefFormM: Form[_], withResult: Option[Boolean] = None)(implicit ctx: util.Context)

@import helper._

@* Отправить в MainCrawler новый referrer. *@

@sysSiobixBase("HTTP Referrers") {
  @withResult.map {
    case true  => { Отправлено. }
    case false => { Не удалось отправить referrer. }
  }

  <h3>Отправить новый referrer в MainCrawler</h3>
  @form(routes.Sys.pushReferrerFormSubmit) {
    <p>
      <label for="refUrlInput">Referrer (URL):</label>
      @inputText(pushRefFormM("refUrl"), 'id -> "refUrlInput", 'placeholder -> "http://")
    </p>

    <br/>

    <p>
      <input type="checkbox" id="isHiPrioCheckbox" name="isHiPrio" checked value="true"/>
      <label for="isHiPrioCheckbox">Hi-prio</label>
    </p>

    <input type="submit" value="Send"/>
  }
}
