@(args: blk.IRenderArgs)(implicit ctx: Context)

@import common._
@import util.blocks.BlocksConf.{Block20 => bc}

@blockBase(args, bc) {

  @* Картинка рендерится в пределах ссылки оффера, если та существует.
     Если оффера нет, то чтобы избежать неотображения картинки, картинка будет отрендерена вне блока.
     TODO актуален ли этот костыль сейчас? *@

  @if(args.mad.ad.entities.isEmpty) {
    @_block2BodyCommonTpl(args, bc)

  } else {
    @args.mad.meta.business.siteUrl.map { href =>
      <a href="@href" target="_blank">
    }

    @_block2BodyCommonTpl(args, bc)

    @if( args.mad.meta.business.siteUrl ) {
      </a>
    }
  }
}
