@(rargs: event.RenderArgs)(implicit ctx: Context)

@* Уведомление: какой-то узел запрашивает размещение своей рекламы у меня. *@

@import ctx._
@import AdnShownTypes._
@import datetime._

@_oneEvtBase(rargs, Some("__bg-1 __icon-7 __with-preview-ad")) {

  <div class="event_t">
    @rargs.adnNodeOpt.map { mnode =>
      @Messages(mnode.adn.singular)
      <strong>@mnode.meta.name @if(mnode.meta.town) { / @mnode.meta.town}</strong>
    }
  </div>

  запрашивает размещение.
  @rargs.advReqOpt.map { advReq =>
    @_prettyDate(advReq.dateStatus)
  }

  <div class="event_ad-preview">
    @_advAdFrameTpl(rargs)
  </div>

}
