@(evts: Seq[Html])(implicit ctx: Context)

@* Рендер списка отрендеренных событий. *@

@evts

<div class="event __bg-1 __icon-1">
  <a class="event_close close js-close-event"></a>
  <div class="event_t">
    Начните свою работу с простого и удобного менеджера создания рекламных
    карточек.
  </div>
</div>

<div class="event __bg-2 __icon-2">
  <a class="event_close close js-close-event"></a>
  <div class="event_t">
    Используя кнопку “Добавить магазин” Вы можете создавать разные рекламные выдачи
    для разных магазинов и эффективно ими управлять. Кнопка “Сменить магазин” станет
    доступной после создания дополнительного магазина.
  </div>
</div>

<div class="event __bg-3 __icon-3">
  <a class="event_close close js-close-event"></a>
  <div class="event_t">
    Геотаргетированная реклама
  </div>
  Вы всегда сможете создать геотаргетированную рекламную область и размещать свою рекламу в ней абсолютно бесплатно.
  Также возможно принимать рекламу в свою область согласно установленным тарифам.
  Для создания области свяжитесь с персональным  менеджером использую ССЫЛКУ
</div>

