@(evts: Seq[Html])(implicit ctx: Context)

@* Рендер списка отрендеренных событий. *@

@evts

<div class="event __bg-1 __icon-1">
  <input class="event_close close" type="submit" value=""/>
  <div class="event_t">
    Начните свою работу с простого и удобного менеджера создания рекламных
    карточек.
  </div>
</div>

<div class="event __bg-2 __icon-2">
  <a class="event_close close"></a>
  <div class="event_t">
    Используя кнопку “Добавить магазин” Вы можете создавать разные рекламные выдачи
    для разных магазинов и эффективно ими управлять. Кнопка “Сменить магазин” станет
    доступной после создания дополнительного магазина.
  </div>
</div>

<div class="event __bg-3 __icon-3">
  <a class="event_close close"></a>
  <div class="event_t">
    Геотаргетированная реклама
  </div>
  Вы всегда сможете создать геотаргетированную рекламную область и размещать свою рекламу в ней абсолютно бесплатно.
  Также возможно принимать рекламу в свою область согласно установленным тарифам.
  Для создания области свяжитесь с персональным  менеджером использую ССЫЛКУ
</div>

<div class="event __bg-1 __icon-4 __with-ad-preview">
  <a class="event_close close"></a>
  <div class="event_ad-preview"></div>
  <div class="event_t">Ресторан <strong>Джесольмино / Москва</strong></div>
  одобрил размещение. 22 мая 2014 в 18:56
</div>

<div class="event __bg-4 __icon-5 __with-ad-preview">
  <a class="event_close close"></a>
  <div class="event_ad-preview"></div>
  <div class="event_t">
    Ресторан <strong>Боно / Москва</strong>
  </div>
  отказал в размещение. / <span class="event_err-text">причина: чо за херню залепили?</span> / 22 мая 2014 в 19:56
</div>

<div class="event __bg-1 __icon-6">
  <a class="event_close close"></a>
  <div class="event_t">
    Статус: в процессе
  </div>
</div>
