@(rargs: event.RenderArgs)(implicit ctx: Context)

@* Уведомление: Какой-то узел отказал мне в размещении моей рекламной карточки. *@

@import ctx._
@import AdnShownTypes._
@import datetime._

@_oneEvtBase(rargs, Some("__bg-4 __icon-5 __with-ad-preview")) {

  <div class="event_t">
    @rargs.adnNodeOpt.map { mnode =>
      @Messages(mnode.adn.singular)
      <strong>@mnode.meta.name @if(mnode.meta.town) { / @mnode.meta.town}</strong>
    }
  </div>

  отказал в размещении.
  @rargs.advRefuseOpt.map { advRef =>
    <span class="event_err-text">
      @advRef.reason
      /
      @_prettyDate(advRef.dateStatus)
    </span>
  }

  <div class="event_ad-preview">
    @_advAdFrameTpl(rargs)
  </div>
}
