@(english: Lang, lf: Form[Lang], isNowEnglish: Boolean, langs: Seq[Lang], nodeOpt: Option[MAdnNode],
  rr: Option[String])(implicit ctx: Context)

@* Страница с выбором языка для пользователя.
   Скрываем кнопку смены магазина, чтобы не сбивать людей. *@

@import lk._
@import ctx.{lang => currLang, request}
@import helper._
@import util.FC.langSelectFc

@lkBaseLayout(
  title   = Messages("Select.your.lang")(english) + (if(!isNowEnglish) {" | " + Messages("Select.your.lang")} else ""),
  nodeOpt = nodeOpt,
  showSwitchNodeBtn = false
) {

  <div id="allLangsDiv">
    @form( CSRF(routes.LkLang.selectLangSubmit(rr)) ) {
      @* TODO Сделать автопереключение. Кнопку завернуть наверное в noscript-тег. *@
      @inputRadioGroup(
        lf("lang"),
        options = langs.map { l => l.code -> Messages("This.lang")(l) }
      )
      <br/>

      <div class="btn-w __size-M">
        <input class="btn __size-M1 __major" type="submit" value="Save@if(!isNowEnglish) { | @Messages("Save")}" />
      </div>
    }
  </div>

}
