@()(implicit c:util.Context)
@import c.lang

@lcc ={
<h1>@Messages("s.a.install")</h1>
<div>
  <p>@Messages("s.a.install_desc_first_line")</p>
  <p>@Messages("s.a.install_desc_second_line")</p>
</div>
}

@rcc = {
  <img class="img-responsive" src="/assets/images/sio_new_about_second_slide.png"/>

  <div class="more-trigger">
    <div class="static"></div>
    <div class="active"></div>
    <div class="description-plate">
      Скопируйте код из поля и вставьте этот код в шаблоны страниц вашего сайта
      непосредственно перед закрывающим
      тэгом.
    </div>
  </div>

}

@aboutRowTpl( lcc, rcc, "hidden-right", "aboutInstall" )