@()

@lcc ={
}

@ccc = {
  <h1>УСТАНОВКА</h1>
  
  <p>
    Один клик и вы в поисковой системе!
    Suggest.io автоматически сгенерирует код для установки
    на ваш сайт и сразу начнет его индексацию.
  </p>
  <p>
    Инсталяция поиска занимает несколько минут и не
    требует специальных навыков.
  </p>
  <p>
    <a href="">Пошаговое руководство →</a>
  </p>
}

@rcc = {
  <img class="img-responsive" src="/assets/images/sio-about-install.jpg">
}

@aboutRowTpl( lcc, ccc, rcc, "sio-about-install" )
