@()

@lcc ={
<h1>ПОДДЕРЖКА И РАЗВИТИЕ</h1>
<div><p>Поиск Suggest.io не требует поддержки со стороны администратора сайта. Вся информация для работы поиска собирается и обрабатывается системой автоматически.</p><p>Над развитием Suggest.io работает команда специалистов в технологиях поиска, маркетинге, дизайне, алгоритмах социальных веб-сервисов, в  аспектах поведения и мотивации аудитории Интернета и других смежных направлений которые необходимы при развитие такого сложного проекта.</p></div>
}

@rcc = {
<img class="img-responsive" src="/assets/images/sio_new_about_fifth_slide.png"/>
}

@aboutRowTpl( lcc, rcc, "hidden-right", "aboutSupport" )