@()

@lcc ={
  <img src="/assets/images/sio-about-preferences.jpg">
}

@ccc = {
  <h1>НАСТРОЙКА</h1>
  
  <p>
    Набор инструментов Suggest.io позволяет настроить внешний вид поисковых элементов в соответствии с дизайном вашего сайта.
  </p>
  <p>
    Администратор сайта, на котором установлен поиск Suggest.io, может выбирать:
  </p>
}

@rcc = {
  <p>
    <ul>
      <li><span>Шаблон поискового поля.</span></li>
      <li><span>Шаблон окна поисковой выдачи.</span></li>
      <li><span>Размеры и расположение поискового окна на странице.</span></li>
      <li><span>Цвета элементов списка поисковой выдачи.</span></li>
    </ul>
  </p>
}

@aboutRowTpl( lcc, ccc, rcc, "sio-about-preferences" )
