@()

@lcc ={
}

@ccc = {
  <h1>НАСТРОЙКА</h1>
  
  <p>
    Набор инструментов Suggest.io позволяет настроить внешний вид поисковых элементов в соответствии с дизайном вашего сайта.
  </p>
  <p>
    Администратор сайта, на котором установлен поиск Suggest.io, может выбирать:
  </p>
}

@rcc = {
  <p>
    <ul>
      <li>Шаблон поискового поля.</li>
      <li>Шаблон окна поисковой выдачи.</li>
      <li>Размеры и расположение поискового окна на странице.</li>
      <li>Цвета элементов списка поисковой выдачи.</li>
    </ul>
  </p>
}

@aboutRowTpl( lcc, ccc, rcc, "sio-about-preferences" )
