@()(implicit c:util.Context)

@import c.lang
@import stuff._
@import crawl._
@import share._

@headAfter = {
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/static_about.css")"/>
}

@main(title = Messages("s.a.about"), headAfter=Some(headAfter)) {
  
  @_mainHeaderTpl( true )

  @* Слайды *@

  <div class="slideable-container sio-top-margin">
  @* Живой поиск — первый слайд *@
  @_aboutLiveSearchTpl()

  @* Простая установка — второй слайд *@
  @_aboutInstallTpl()

  @* Настройки дизайна — третий слайд *@
  @_aboutPreferencesTpl()

  @* Личный кабинет — четвертый слайд *@
  @_aboutAdminTpl()

  @* Настройки дизайна — третий слайд *@
  @_aboutSupportTpl()

  </div>

  <div class="about-controls" id="aboutControls">
    <div>
      <span data-slide-index="1" data-slide="aboutLiveSearch" class="active"></span>
      <span data-slide-index="2" data-slide="aboutInstall"></span>
      <span data-slide-index="3" data-slide="aboutPreferences"></span>
      <span data-slide-index="4" data-slide="aboutAdmin"></span>
      <span data-slide-index="5" data-slide="aboutSupport" class="no-margin"></span>
    </div>
  </div>

  <script src="@routes.Assets.versioned("javascripts/about.js")"></script>

}
