@()(implicit c:util.Context)

@* Страница "О проекте".
   TODO: нужно её перевести на анлийский язык.
*@

@import c.lang
@import stuff._
@import crawl._

@head_after = {
   <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/static_about.min.css")"/>
}

@main(title = Messages("s.a.about"), head_after=head_after) {
<div class="page-wrapper" id="pageWrapper">
	
	<div class="main-layout">
		<a class="logo" href="/"></a>
	</div>
	@_topMenuTpl(activeLink = "about")
	<div class="razduv-top" id="razduvTop"></div>
	
	<div class="about-layout">
		
		<div class="title-row row">
			
		</div>
		
		<div class="livesearch-row white-row row">
			<div class="row-container parallax-enabled" data-basepoint="0" data-division-index="5">
			<h1>Живой поиск</h1>
			<div class="row-content">
				<p>Пользователи сайта, на котором установлен Suggest.io, увидят результаты поиска уже после ввода первой буквы поискового запроса.</p>
			</div>
			
			<div class="livesearch-demo">
				<input type="text"/>
				<div class="box"></div>
			</div>
			
			</div>
		</div>
		
		<div class="qi-row row">
			<h1>Простая установка</h1>
			<div class="row-content">
				<p>Установка поиска не требует специальных навыков и занимает несколько минут.</p>
			</div>
		</div>
		
		<div class="design-row white-row row" style="position: relative;">
			<div class="row-container parallax-enabled" style="position: absolute; z-index: 1000; left: 100px; top: 0px;" data-basepoint="60" data-division-index="6">
			<div class="design-plates" id="design-plates"></div>
			<h1>Настройка дизайна</h1>
			<div class="row-content">
				<p>Набор инструментов Suggest.io позволяет настроить внешний вид поисковых элементов в соответствии с дизайном вашего сайта.</p>
				<p>Администратор сайта, на котором установлен поиск Suggest.io, может выбирать:</p>
				<p>
					<ul>
						<li class="design-plates-button active" data-plate="search-field-template"><span>Шаблон поискового поля.</span></li>
						<li class="design-plates-button" data-plate="search-template"><span>Шаблон окна поисковой выдачи.</span></li>
						<li class="design-plates-button" data-plate="search-dimensions"><span>Размеры и расположение поискового окна на странице.</span></li>
						<li class="design-plates-button" data-plate="search-colors"><span>Цвета элементов списка поисковой выдачи.</span></li>
					</ul>
				</p>
			</div>
			</div>
		</div>
		
		<div class="search-preferences-row row" style="height: 360px; position: relative;">
			<div class="row-container">
			<h1>Настройка поисковой выдачи</h1>
			<div class="row-content">
				<p>Инструменты пользователя системы позволяют 
					<ul>
						<li>включить/выключить картинки в результатах поиска</li>
						<li>показать/скрыть заголовок или описание страниц</li>
						<li>исключить  любые страницы вашего сайта из индекса Suggest.io</li>
					</ul>
				</p>
			</div>
			</div>
		</div>
		
		<div class="indexation-row row">
			<div class="row-container parallax-enabled"  data-basepoint="300" data-division-index="5">
				<div class="row-content">
				<h1>Индексация</h1>
				<p>Поиск Suggest.io не требует поддержки со стороны администратора сайта. Вся информация для работы поиска собирается и обрабатывается системой автоматически.</p>
				<p>Ход индексации отображается в личном кабинете.Время полной индексации нового сайта зависит от объемов контента, от скорости работы сайта и степени загрузки системы.</p>
				</div>
			</div>
		</div>
		
		<div class="multilang-row row">
			<div class="row-container">
			<h1>Поддержка основных языков</h1>
			<div class="row-content">
				<p>Suggest.io поддерживает локализованный поиск по большинству языков.</p>
				<p>Администратор сайта может выбрать язык поискового виджета.</p>
			</div>
			</div>
		</div>
		
		<div class="support-row row">
			<div class="row-container">
			<h1>Поддержка и развитие</h1>
			<div class="row-content">
				<p>Над развитием Suggest.io работает команда специалистов в технологиях поиска, маркетинге, дизайне, алгоритмах социальных веб-сервисов, в  аспектах поведения и мотивации аудитории Интернета и других смежных направлений которые необходимы при развитие такого сложного проекта.</p>
			</div>
			</div>
		</div>
		
		<div class="welcome-row row">
			<div id="welcomeRow" class="parallax-enabled row-container" style="position: absolute; z-index: 1000; left: 100px; top: 0px;" data-basepoint="930" data-division-index="2"></div>
			<div class="welcome-bottom-line"></div>
		</div>
		
	</div>
	
</div>

<script type="text/javascript">
	$(window).bind('scroll', function()
	{
		var _scroll_top = $(window).scrollTop();
		
		var _abs_scroll_bottom = $(document).height() - _scroll_top - $(window).height();
		
		var _opacity = _scroll_top/300;
		$('#razduvTop').css({'opacity':_opacity});
		
		$('.parallax-enabled').each(function()
		{
			var _base_point = $(this).data('basepoint');
			var _division_index = $(this).data('division-index');
			
			if( $(this).attr('id') == 'welcomeRow' )
			{
				var _margin = _abs_scroll_bottom / 2;
				console.log( _margin );
			}
			else
			{
				var _margin = _base_point - _scroll_top/_division_index;
			}
			
			$(this).css({'margin-top': _margin + 'px' });
			
		});
		
	});
	
	$('.design-plates-button').bind('click', function()
	{
		var _plate =  $(this).attr('data-plate');
		$('.design-plates-button').removeClass('active');
		$(this).addClass('active');
		$('#design-plates').attr('class','design-plates ' + _plate);
	});
	
</script>
}
