@()(implicit c:util.Context)

@* Сообщение о проблеме с браузером (js отключен) *@

@import c.lang

@headAfter = {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/badbrowser.min.css")"/>
}

@browserCheck = {
<script type="text/javascript">
	window.location = '/';
</script>
}


@main(title=" | " + Messages("s.bb.title"), headAfter=Some(headAfter), browserCheck=Some(browserCheck)) {
<div class="bad-browser-message">
	<div class="logo"><a href=""></a></div>
	<div class="message">
	</div>
</div>
}
