@(args: msc.ScRenderArgs)(implicit ctx: Context)

@* Динамический css панели навигации. *@

@import util.TplDataFormatUtil._


.shops-list_row {
  color:#@args.fgColor;
}

.geo-nodes-list_rows {
  background: #@args.bgColor;
}

.geo-nodes-list_layer,
.geo-nodes-list_row {
  color: #@args.fgColor;
}

#smGeoLocationLabel {
  color: #@args.fgColor;
}

@defining( colorRgb2Hsl(colorHex2rgb(args.bgColor)).toIndexedSeq ) { bgHslColor =>
  .geo-nodes-list_rows {
    -webkit-box-shadow: inset 0px 5px 5px hsl( @{bgHslColor(0)}, @{bgHslColor(1)}%, @{bgHslColor(2)-6}% );
    box-shadow: inset 0px 5px 5px hsl( @{bgHslColor(0)}, @{bgHslColor(1)}%, @{bgHslColor(2)-6}% );
  }

  .geo-nodes-list_row.__even {
    background-color: hsl( @{bgHslColor(0)}, @{bgHslColor(1)}%, @{bgHslColor(2)-3}%);
  }
}

@* Обычно тут была прозрачность: formatRgbHexColorCss(args.bgColor, Some(0.8F)) *@
@defining( formatRgbHexColorCss(args.bgColor) ) { bgColorCode =>
  .sm-geo-nodes {
    background-color: @bgColorCode;
    height: 83%;
  }

  .sm-geo-screen_current-location {
    background-color: @bgColorCode;
  }
}

@defining( colorHex2rgb(args.fgColor).mkString(",") ) { fgColorBody =>
  .geo-nodes-list_layer {
    border-color: rgba( @fgColorBody, 0.5 );
  }

  .geo-nodes-list_layer-icon path,
  .geo-nodes-list_layer-icon-right path{
    fill:     #@args.fgColor;
  }


  .geo-nodes-list_row,
  .sm-geo-screen_current-location-inner {
    border-color: rgba( @fgColorBody, 0.5 );
  }

  .geo-nodes-links {
    color: rgba( @fgColorBody, 0.5 );
  }
}

@if(args.jsStateOpt.exists(_.isNavScrOpened)) {
  .sm-geo-screen {
    display: block;
    height: 83%;
  }
}
