@(dkey: String)(implicit ctx:util.Context)

@* Поиск данных в домене для админов. *@

@import ctx._
@import stuff._

@dkeyBase(titleOpt=Some("Поиск"), dkey=dkey) {

    <div class="row">

        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <form>
                <input id="searchDomainField" type="hidden" name="domain"/>
                <fieldset>
                    <label>IsDebug</label>
                    <input id="isDebugField" type="checkbox">
                <fieldset>
                <fieldset>
                    <label>Поисковый запрос</label>
                    <input type="text" id="searchRequestField" name="search_request"/>
                </fieldset>
            </form>

        </div>
        <div class="col-sm-1"></div>

    </div>

    <script src="@routes.Assets.at("javascripts/search.min.js")"></script>

}
