@(titleOpt:Option[String], dkey:String, headAfter:Html = Html.empty)(content: Html)(implicit ctx:util.Context)

@* Base-шаблон для dkey-страниц (страниц в рамках домена).
   В v1 это было шаблон db/dkey_base.html.
*@

@sysBase(title=titleOpt.map(_ + " | ").getOrElse("") + dkey, headAfter=headAfter) {
<h1>
  / <a href="@routes.Sys.index">system</a>
  / <a href="@routes.Sys.dkeysListAll">sites</a>
  / <a href="@routes.Sys.dkeyShow(dkey)">@dkey</a>
  @if(titleOpt.isDefined) {/} @titleOpt
</h1>

  @content
}
