@(domain: MDomain, authzList:Seq[MPersonDomainAuthz])(implicit c:util.Context)
@import stuff._

@* Отобразить страницу с резюме по домену. Тут в основном ссылки на другие странице и минимум инфы. *@

@dkeyBase(titleOpt=None, dkey=domain.dkey) {
<a target="_blank" href="http://{{ d.id }}">Go to site</a>


@* Список владельцев домена. Тут должны быть ссылки на них *@
<h3>Владельцы домена @domain.dkey</h3>
@if(authzList.isEmpty) {
  У данного домена пока нет зарегистрированных пользователей, доказавших свою принадлежность к домену.
} else {
  @authzList.sortBy(_.is_verified).map { az =>
    @if(!az.is_verified) {<strike>}
    @* TODO когда будет страница для юзера, перевести это в ссылку. *@
    @az.person_id 
    @if(!az.is_verified) {</strike>}
  }
}


<hr/>

Домен добавлен в индексацию @domain.addedAt (@domain.addedBy)

@* Ссылка на удаление. Пока удаление в кравлере не поддерживается, тут закомменчено. *@
@*<a id="deleteButton@domain.dkey" target="_blank" class="confirm-link" style="color: red;" href="{% url controller="db" action="dkey_delete" %}" data-dkey="@domain.dkey}}">DELETE</a>*@


<script type="text/javascript">
@*// Запрашивать подтверждение при удалении сайта и делать POST при щелчке по ссылке удаления. *@
$('.confirm-link').bind('click', function()
	{
	var url = $(this).attr('href');
	var dkey = $(this).attr('data-dkey');

	if( confirm( 'Уверены ( ' + dkey + ' )?' ) ){

	$.post(url, { "dkey" : dkey }, function(data) {
	    alert( dkey + ' deleted' );
	    //$('#dkey' + dkey).remove();
	    });

	}
	return false;
	});
</script>
}
