@()(implicit ctx: Context)


@* Подшаблон генерации квадратной кнопки. *@
@btn(href: Call, paddingPx: Int)(btnText: Html) = {
  <div class="i __btn">

    <a class="siom-link-btn __color-5 __size-XL __ft-XM" href="@href" style="padding: @{paddingPx}px 0;">
      @btnText
    </a>
  </div>
}


@sysBase("index") {

  <div class="page-cnt">

    <div class="i-list">

      @btn(routes.SysMarket.index(), 52) { МАРКЕТ }
      @btn(routes.SysGallery.showList(), 52) { ГАЛЕРЕИ }
      @btn(routes.SysAi.index(), 52) { AI }
      @btn(routes.SysImg.index(), 52) { КАРТИНКИ }

    </div>

  </div>

}
