@()(implicit ctx:util.Context)


@* Подшаблон генерации квадратной кнопки. *@
@btn(href: Call, paddingPx: Int)(btnText: Html) = {
  <div class="i __btn">

    <a class="siom-link-btn __color-5 __size-XL __ft-XM" href="@href" style="padding: @{paddingPx}px 0;">
      @btnText
    </a>
  </div>
}


@sysBase("index") {

  <div class="page-cnt">

    <div class="i-list">

      @btn(routes.Sys.dkeysListAll(), 40) { ОБЗОР<br/>САЙТОВ }
      @btn(routes.Sys.siobixIndex(), 52) { КРАВЛЕР }
      @btn(routes.Sys.indicesIndex(), 52) { ИНДЕКСЫ }

      @btn(routes.SysMarket.index(), 52) { МАРКЕТ }
      @btn(routes.SysGallery.showList(), 52) { ГАЛЕРЕИ }

    </div>

  </div>

}
