@(title: String, hPathAfter:Option[Html] = None, headAfter: Option[Html] = None)(content: Html)(implicit ctx: util.Context)
@import stuff._

@* base-шаблон для системной панели suggest.io. *@
<!DOCTYPE html>
<html>

  <head>
    <title>@title | system | s.io</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/sys.min.css")'/>
    @headAfter
  </head>

  <body class="sys">

     <div class="header">

        <div class="header__cnt">
          <a class="siom-logo-def" href="@routes.Sys.index">
            <img src='@routes.Assets.at("images/market/lk/logo.png")' alt="logo" width="105" height="50"/>
          </a>
          @ctx.usernameOpt.map { username =>
            <div class="auth">

              <a class="logout-but" href="@routes.Ident.logout"></a>

            </div>
          }
        </div>

      </div><!-- header-wrap end -->

     <div class="body">

        @* Рендер flash-нотификаций. *@
        @ctx.flashMap.map { case (flashStatus, flashMsg) =>
          <p>@flashStatus: @flashMsg</p>
        }

        <div class="title">
            <div class="title-cnt">
              <a class="blue-link" href="@routes.Sys.index">sys</a> @hPathAfter
            </div>
        </div>

        <div class="body__cnt">

          @content

        </div>

     </div>

    <div class="footer-wrap">

    </div>

  </body>

</html>
