@(mad: MAd, producer: MAdnNode, banFormM: Form[_])(implicit ctx: Context)

@* Страница отображает карточку в полный рост для полномасштабной визуальной оценки,
   и содержит формы для одобрения и бана бесплатного размещения. *@

@import ctx._
@import market.showcase._
@import helper._
@import util.FC.divFc

<div class="popup js-hidden" id="advReqWind">

  <div class="popup_header">
    <a class="close f-right js-close-popup"></a>
  </div>

  <div class="popup_cnt">


    @* Отобразить карточку целиком (задействовать другую колонку) *@
    <div class="ad-full-preview">
      <div class="sio-mart-showcase __relative">
        @_single_offer_w_description(mad, producer = producer)
      </div>
    </div>


    @* Отрендерить управление модерацией в одной колонке. *@
    @* Одобрить размещение: *@
    @form(routes.SysMdr.freeAdvMdrAccept(mad.id.get), 'id -> "advReqAccept") {

      <div class="btn-w __size-S">

        <a class="siom-ac-btn __color-4 __size-M __ft-XM f-left" id="advReqRefuseShow">
          Отменить размещение
        </a>

        <a class="siom-ac-btn __color-1 __size-M __ft-XM js-submit-btn f-right">Одобрить</a>

      </div>
    }

    @* Запретить размещение с указание причины. *@
    @form(routes.SysMdr.freeAdvMdrBan(mad.id.get), 'id -> "advReqRefuse", 'class -> "js-hidden") {

      @textarea(banFormM("reason"), '_label -> "", 'placeholder -> "Напишите причину")

      <div class="btn-w __size-S">

        <a class="siom-ac-btn __color-3 __size-M __ft-XM f-left" id="advReqAcceptShow">
          Отменить
        </a>

        <a class="siom-ac-btn __color-4 __size-M __ft-XM f-right js-submit-btn">
          Отклонить
        </a>

      </div>
    }

  </div>

</div>



