@()(implicit ctx: Context)

@hPathAfter = {
  @* Ничего не отображаем, т.к. корневая ссылка из base-шаблона полностью устраивает. *@
}

@mdrBase("Модерация", hPathAfter = Some(hPathAfter)) {

  <h2>Модерация бесплатного размещения рекламных карточек</h2>
  <p>
    <a href="@routes.SysMdr.freeAdvs()">Очередь на модерацию</a> /
    <a href="@routes.SysMdr.freeAdvs(MdrSearchArgs(freeAdvIsAllowed = Some(true)))">Одобренные</a> /
    <a href="@routes.SysMdr.freeAdvs(MdrSearchArgs(freeAdvIsAllowed = Some(false)))">Отклонённые</a>
  </p>

}
