@(args: mlk.INodeShowArgs)(implicit ctx: Context)

@* Заглавная страница узла рекламной сети в личных кабинетах.
   Если isMyNode, то идёт рендер управляемого узла, и povAdnIdOpt игнорируется.
   Если !isMyNode, то юзер смотрит чужой нередактируемый узел. *@

@import ctx._
@import node._
@import util.img.GalleryUtil
@import util.img.DynImgUtil
@import io.suggest.vlines.VLines
@import args._

@headAfter1 = {
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("javascripts/lib/bxslider/jquery.bxslider.css")'/>
}

@nodeBaseTpl(
  title         = mnode.meta.name + " | " + messages("Profile"),
  isMyNode      = isMyNode,
  node          = mnode,
  rightCurrEl   = NodeRightPanelLinks.RPL_NODE,
  povAdnIdOpt   = povAdnIdOpt,
  headAfter	    = Some(headAfter1)
) {

  <div class="profile_logo-bar">
    @if(mnode.meta.color.isDefined) {
      @args.logoImgOpt.map { img =>
        <div class="image __size-L" style="background-color: #@mnode.meta.color;">
          <img class="image_src" src="@DynImgUtil.imgCall(img)" alt="@mnode.meta.name"/>
        </div>
      }
    }
  </div>

  <div class="profile_info-bar">
    <hr class="delimiter __light"/>

    @lk.lkProp() { @messages("Name") } { @mnode.meta.name }

    @if(mnode.meta.town.isDefined) {
      @lk.lkProp(){ @messages("Address") } { @mnode.meta.town@if(mnode.meta.address.isDefined) {, @mnode.meta.address} }
    }

    @if(mnode.meta.siteUrl.isDefined) {
      @lk.lkProp(){ @messages("Site") } { <a class="link" href="@mnode.meta.siteUrl" target="_blank">@mnode.meta.siteUrl</a> }
    }

    @if(mnode.meta.info.isDefined) {
      @lk.lkProp(){ @messages("Info.about.prods.and.svcs") } { @mnode.meta.info  }
    }


    @if(mnode.adn.isReceiver) {
      <hr class="delimiter __light"/>
      @lk.lkProp(){ @messages("Daily.people.traffic") } { @mnode.meta.humanTrafficAvg  }
      @lk.lkProp(){ @messages("Audience.descr") } { @mnode.meta.audienceDescr  }

      @* TODO добавить вывод картинки приветствия *@

      <hr class="delimiter __light"/>
      <div class="prop">
        <p class="prop_name __block">@messages("Node.photos"):</p>
        <div class="profile_photo-lst">
          <div class="js-photo-slider">
            @mnode.gallery.map { imgId =>
              <img class="profile_photo-i" src="@GalleryUtil.dynLkBigCall(imgId)" />
            }
          </div>
        </div>
      </div>
    }

    <hr class="delimiter __light"/>

    <table class="prop">
      <tr>
        <td class="prop_name td">
          @messages("Bg.color.of.sc.hint")
        </td>
        <td class="td __color-title">
	        <span class="dark-gray ft-S">@Html( messages("Main.color", "<br/>") )</span>
        </td>
        <td class="td __padding-S">
          <div class="color" style="background-color: #@args.bgColor;"></div>
        </td>
        <td class="td __padding-S">
          <div class="delimiter __light __vertical @VLines.JSVL_CLASS"></div>
        </td>
        <td class="td __padding-S prop_name">
          @messages("Fg.color.of.sc.hint")
        </td>
        <td class="td __color-title">
	        <span class="dark-gray ft-S">@Html( messages("Content.color", "<br/>") )</span>
        </td>
        <td class="td __padding-S dark-gray">
          <div class="color" style="background-color: #@args.fgColor;"></div>
        </td>
      </tr>
    </table>

  </div>

  @* Какая-то примитивная ротация галереи была реализована максом через левый костыль. *@
  <script src="@routes.Assets.versioned("javascripts/lib/bxslider/jquery.bxslider.min.js")"></script>

}

