@(node: MAdnNode, mf: Form[_], welcomeAdOpt: Option[MAdT])(implicit ctx: Context)

@* Рендер страницы редактирования узла, имеющего высокий статус, т.е. супервизора или ресивера. *@
@import ctx._
@import edit._

@popupContent = {
  <div class="popup js-hidden js-popup" id="editHelp">
    <div class="popup_header">
      <a class="close f-right js-close-popup"></a>
    </div>
    <h2 class="colors-help_t">
      Информация о выборе<br/>
      цветового решения
    </h2>
    <div class="colors-help_cnt">
      <span class="colors-help_icons-text">Цвет текста<br/>и иконок</span>
      <span class="colors-help_background-text">Цвет фона<br/>и шапки</span>
    </div>
    <p class="colors-help_descr">
      Для более высокой читабельночти вашего контента<br/>
      выбирайте цвета контрастные друг от друга
    </p>
  </div>
}

@rightBarAfter = {
  <div class="right-bar_bottom">
    <a class="btn __size-M __major js-submit-btn" data-for="#profileEdit">Сохранить</a>
  </div>
}

@content = {

  @_leaderNodeFormTpl(
    adnId = node.id.get,
    btnText = Messages("Save"),
    mf = mf,
    submitCall = routes.MarketLkAdnEdit.editAdnNodeSubmit(node.id.get),
    welcomeAdOpt = welcomeAdOpt,
    nodeInfo = node.adn
  )

}

@nodeBaseTpl(
  title     = "Ваш профиль",
  node      = node,
  isMyNode  = true,
  rightCurrEl   = NodeRightPanelLinks.RPL_NODE_EDIT,
  rightBarAfter = Some(rightBarAfter),
  popupContent = Some(popupContent)
)(content)
