@(mnode: MAdnNode, mode: MNodeAdsMode, mads: Seq[MAd], isMyNode: Boolean, povAdnIdOpt: Option[String], canAdv: Boolean, ad2advMap: Map[String, MAdvI])(implicit ctx: Context)

@* Страница в ЛК, которая отображает карточки узла. *@
@import ctx._
@import node._
@import controllers.adn.AdnShowTypes._

@rightBar = {
  <nav class="right-bar_menu">
    <a class="right-bar_menu-i __all-cards __act" >
      <span>@Messages("Ads.all")</span>
    </a>
    <hr class="delimiter"/>
    <a class="right-bar_menu-i __in-process">
      <span>@Messages("Ads.on.review")</span>
    </a>
    <hr class="delimiter"/>
    <a class="right-bar_menu-i __active-cards">
      <span>@Messages("Ads.published")</span>
    </a>
    <hr class="delimiter"/>
  </nav>
}


@lk.lkBaseLayout(
  title         = Messages("Ad.cards"),
  nodeOpt       = Some(mnode),
  leftCurrEl    = Some(LkLeftPanelLinks.LPL_ADS),
  rightBar      = Some(rightBar),
  povAdnId      = povAdnIdOpt
) {

  @if(mnode.adn.isProducer) {
    @if(isMyNode) {
      @_myAdsTpl(mnode, mads, canAdv, ad2advMap)
    } else {
      @_readOnlyAdsListTpl(mads, povAdnIdOpt, ad2advMap)
    }

    @* Ссылка на demo web site. *@
    @if(isMyNode) {
      <div class="sm-note">
        @mnode.adn.memberType.nodeAdmSiteCall(mnode).map { siteCall =>
          @Messages("You.can.look.on.ads.in")
          <a class="blue-link" target="_blank" href="@siteCall">@Messages("_ad.showcase.link")</a>.
        }
      </div>
    }
  }

}
