@(title: String, node: MAdnNode, isMyNode: Boolean, rightCurrEl: NodeRightPanelLink, povAdnIdOpt: Option[String] = None,
  popupContent:Option[Html] = None, rightBarAfter: Option[Html] = None)(content: Html)(implicit ctx: Context)


@import lk.adn.node._
@import ctx._
@import NodeRightPanelLinks._

@rightBar1 = {
  <nav class="right-bar_menu">
    <a class="right-bar_menu-i __show-profile@if(rightCurrEl == RPL_NODE){ __act}" href="@routes.MarketLkAdn.showAdnNode(node.id.get)">
      <span>Профиль</span>
    </a>
    <hr class="delimiter"/>
    @if(isMyNode) {
      <a class="right-bar_menu-i __edit-profile@if(rightCurrEl == RPL_NODE_EDIT){ __act}" href="@routes.MarketLkAdnEdit.editAdnNode(node.id.get)">
        <span>Редактировать профиль</span>
      </a>
      <hr class="delimiter"/>
      <a class="right-bar_menu-i __change-pass@if(rightCurrEl == RPL_USER_EDIT){ __act}" href="@routes.MarketLkAdn.userProfileEdit(node.id.get, r = ctx.r)">
        <span>@Messages("Password.change")</span>
      </a>
      <hr class="delimiter"/>

      @if(node.adn.isReceiver) {
        <a class="right-bar_menu-i" href="@routes.MarketAdv.showNodeAdvs(node.id.get)">
          <span>Рекламодатели</span>
        </a>
        <hr class="delimiter"/>
      }

      @if(isSuperuser) {
        <a class="right-bar_menu-i" href="@routes.SysMarket.showAdnNode(node.id.get)">
          <span>System</span>
        </a>
        <hr class="delimiter"/>
      }
    }

  </nav>

  @rightBarAfter
}


@lk.lkBaseLayout(
  title         = title,
  leftCurrEl    = Some(LkLeftPanelLinks.LPL_NODE),
  nodeOpt       = Some(node),
  rightBar      = Some(rightBar1),
  povAdnId      = povAdnIdOpt,
  popupContent  = popupContent
)(content)
