@(mnode: MAdnNode, mode: MNodeAdsMode, mads: Seq[MAd], isMyNode: Boolean, povAdnIdOpt: Option[String], canAdv: Boolean,
  ad2advMap: Map[String, MAdvI])(implicit ctx: Context)

@* Страница в ЛК, которая отображает карточки узла. *@
@import ctx._
@import node._
@import controllers.adn.AdnShowTypes._
@import lk.right._

@rightBar = {
  @_navTpl( sysCall = mnode.id.map(routes.SysMarket.showAdnNode) ) {
    @_navItemTpl(
      title = Messages("Ads.all"),
      css   = Seq("__all-cards", "__act")
    )

    @_navItemTpl(
      title = Messages("Ads.on.review"),
      css   = Seq("__in-process")
    )

    @_navItemTpl(
      title = Messages("Ads.published"),
      css   = Seq("__active-cards")
    )
  }
}


@lk.lkBaseLayout(
  title         = Messages("Ad.cards"),
  nodeOpt       = Some(mnode),
  leftCurrEl    = Some(LkLeftPanelLinks.LPL_ADS),
  rightBar      = Some(rightBar),
  povAdnId      = povAdnIdOpt
) {

  @if(mnode.adn.isProducer) {
    @if(isMyNode) {
      @_myAdsTpl(mnode, mads, canAdv, ad2advMap)
    } else {
      @_readOnlyAdsListTpl(mads, povAdnIdOpt, ad2advMap)
    }

    @* Ссылка на demo web site. *@
    @if(isMyNode) {
      <div class="sm-note">
        @mnode.adn.memberType.nodeAdmSiteCall(mnode).map { siteCall =>
          @Messages("You.can.look.on.ads.in")
          <a class="blue-link" target="_blank" href="@siteCall">@Messages("_ad.showcase.link")</a>.
        }
      </div>
    }
  }

}
