@(title: String, node: MAdnNode, isMyNode: Boolean, rightCurrEl: NodeRightPanelLink, povAdnIdOpt: Option[String] = None,
  popupContent:Option[Html] = None, rightBarAfter: Option[Html] = None)(content: Html)(implicit ctx: Context)


@import lk.adn.node._
@import ctx._
@import NodeRightPanelLinks._
@import lk.right._
@import util.tpl.CssFormat._

@rightBarBody(adnId: String) = {
  @_navItemTpl(
    title = Messages("Profile"),
    href  = Some( routes.MarketLkAdn.showAdnNode(adnId) ),
    css   = classesAct(rightCurrEl == RPL_NODE, "__show-profile")
  )

  @if(isMyNode) {
    @_navItemTpl(
      title = Messages("Edit.profile"),
      href  = Some( routes.MarketLkAdnEdit.editAdnNode(adnId) ),
      css   = classesAct(rightCurrEl == RPL_NODE_EDIT, "__edit-profile")
    )

    @_navItemTpl(
      title = Messages("Password.change"),
      href  = Some( routes.MarketLkAdn.userProfileEdit(adnId, r = ctx.r) ),
      css   = classesAct(rightCurrEl == RPL_USER_EDIT, "__change-pass")
    )

    @if(node.adn.isReceiver) {
      @_navItemTpl(
        title = Messages("Advertisers"),
        href  = Some( routes.MarketAdv.showNodeAdvs(adnId) ),
        css   = classesAct(rightCurrEl == RPL_ADVERTISERS)
      )
    }
  }
}

@* Билдим содержимое правой панели. *@
@rightBar1 = {
  @node.id.map { adnId =>
    @_navTpl( Some(routes.SysMarket.showAdnNode(adnId)) ) {
      @rightBarBody(adnId)
    }
  }

  @rightBarAfter
}


@lk.lkBaseLayout(
  title         = title,
  leftCurrEl    = Some(LkLeftPanelLinks.LPL_NODE),
  nodeOpt       = Some(node),
  rightBar      = Some(rightBar1),
  povAdnId      = povAdnIdOpt,
  popupContent  = popupContent
)(content)
