@(title: String, node: MAdnNode, rightCurrEl: BillingRightPanelLink)(content: Html)(implicit ctx: Context)

@* Базовый шаблон для шаблонов биллинга в личном кабинете. *@

@import ctx._
@import BillingRightPanelLinks._
@import lk.right._
@import util.tpl.CssFormat._

@rightBar = {
  @node.id.map { adnId =>
    @_navTpl(sysCall = Some(routes.SysMarketBilling.billingFor(adnId)) ) {

      @_navItemTpl(
        title = Messages("Bill.account.and.tariffs"),
        href  = Some( routes.MarketLkBilling.showAdnNodeBilling(adnId) ),
        css   = classesAct(rightCurrEl == RPL_BILLING, "__node-billing")
      )

      @_navItemTpl(
        title = Messages("Transactions.history"),
        href  = Some( routes.MarketLkBilling._txnsList(adnId) ),
        css   = classesAct(rightCurrEl == RPL_TRANSACTIONS, "__transactions-history")
      )

      @_navItemTpl(
        title = Messages("Add.funds"),
        href  = Some( routes.MarketLkBilling.paymentRequsites(adnId) ),
        css   = classesAct(rightCurrEl == RPL_REQUISITES, "__requisites")
      )

    }
  }
}


@lk.lkBaseLayout(
  title       = title,
  leftCurrEl  = Some(LkLeftPanelLinks.LPL_BILLING),
  nodeOpt     = Some(node),
  rightBar    = Some(rightBar)
)(content)
