@(title: String, mnode: MNode, rightCurrEl: BillingRightPanelLink)(content: Html)(implicit ctx: Context)

@* Базовый шаблон для шаблонов биллинга в личном кабинете. *@

@import ctx._
@import BillingRightPanelLinks._
@import lk.right._
@import util.tpl.CssFormat._

@rightBar = {
  @mnode.id.map { adnId =>
    @_navTpl(sysCall = Some(routes.SysMarketBilling.billingFor(adnId)) ) {

      @_navItemTpl(
        title = messages("Bill.account.and.tariffs"),
        href  = Some( routes.MarketLkBilling.showAdnNodeBilling(adnId) ),
        css   = classesAct(rightCurrEl == RPL_BILLING, "__node-billing")
      )

      @_navItemTpl(
        title = messages("Transactions.history"),
        href  = Some( routes.MarketLkBilling.txnsList(adnId, inline = false) ),
        css   = classesAct(rightCurrEl == RPL_TRANSACTIONS, "__transactions-history")
      )

      @_navItemTpl(
        title = messages("Add.funds"),
        href  = Some( routes.MarketLkBilling.paymentRequsites(adnId) ),
        css   = classesAct(rightCurrEl == RPL_REQUISITES, "__requisites")
      )

    }
  }
}

@headAfter1 = {
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("javascripts/lib/bxslider/jquery.bxslider.css")'/>
}


@lk.lkBaseLayout(
  title       = title,
  leftCurrEl  = Some(LkLeftPanelLinks.LPL_BILLING),
  nodeOpt     = Some(mnode),
  rightBar    = Some(rightBar),
  headAfter   = Some(headAfter1)
) {
  @content

  <script src="@routes.Assets.versioned("javascripts/lib/bxslider/jquery.bxslider.min.js")"></script>
}
