@(adnNode: MAdnNode, txns: Seq[MBillTxn], currPage: Int, txnsPerPage: Int)(implicit ctx: Context)

@* Страница с историей транзакций. *@

@import ctx._
@import util.TplDataFormatUtil._
@import datetime._
@import io.suggest.bill.TxnsListConstants._

@billingBaseTpl(
  title         = messages("Transactions.history"),
  node          = adnNode,
  rightCurrEl   = BillingRightPanelLinks.RPL_TRANSACTIONS
) {

  @if(txns.size > 0) {
    <table class="table __width-XL" id="@TXNS_CONTAINER_ID">
      <tr>
        <td class="td __gray __size-M __radial-first">
          @messages("Bill.id")
        </td>
        <td class="td __gray __size-M">
          @messages("Bill.details")
        </td>
        <td class="td __gray __size-M">
          @messages("Date")
        </td>
        <td class="td __gray __size-M __radial-last">
          @messages("Amount._money")
        </td>
      </tr>

      @_txnsListTpl(txns)

    </table>

    @if(txns.size >= txnsPerPage) {
      <div class="btn-w __size-M">
        <a class="btn __size-S __radial-major" id="@GET_MORE_TXNS_BTN_ID"
           href="@routes.MarketLkBilling.txnsList(adnNode.id.get, page = currPage + 1, inline = true)">@messages("Show.more")</a>
      </div>
    }

  } else {
    @messages("No.records").
  }

  <input type="hidden" id="@ADN_ID_INPUT_ID" value="@adnNode.id"/>
  <input type="hidden" id="@CURR_PAGE_NUM_INPUT_ID" value="@currPage"/>

  @helper.javascriptRouter("jsRoutes")( 
    routes.javascript.MarketLkBilling.txnsList
  )

}
