@(args: msys.ISysNodeDomainFormTplArgs, submitCall: Call, btnText: String)(implicit ctx: Context)

@* Страница с формой связанных с узлом доменов. *@

@import helper._
@import ctx.{messages, request}
@import io.suggest.model.n2.extra.domain.MDomainModes

@form( CSRF(submitCall) ) {

  @inputText(
    args.form("dkey"),
    '_label -> "Ключ домена",
    'title  -> "Нормализованное доменное имя, без www вначале, маленькими латинскими буквами."
  )

  @select(
    args.form("mode"),
    options = MDomainModes.values.iterator.map(m => m.value -> messages(m.i18nCode)).toSeq
  )

  <input type="submit" value="@messages(btnText)"/>

}
