@(args: msys.MSysNodeDomainEditFormTplArgs)(implicit ctx: Context)

@* Страница с формой редактирования домена для узла. *@

@import helper._
@import views.html.stuff._
@import ctx.request

@base(
  title     = "Редактирование домена узла",
  mnodeOpt  = Some( args.mnode )
) {

  @defining(args.mnode.id.get) { mnodeId =>

    @* Кнопка для удаления текущего домена. *@
    @_deleteSmthFormBtnTpl( CSRF(routes.SysNodeDomains.deleteNodeDomainFormSubmit( mnodeId, dkey = args.mdx.dkey )) )

    @_nodeDomainFormTpl(
      args        = args,
      submitCall  = routes.SysNodeDomains.editNodeDomainFormSubmit(mnodeId, dkey = args.mdx.dkey),
      btnText     = "Save"
    )

  }

}
