@(args: AdvFormTplArgs)(implicit ctx: Context)

@* Форма для размещения рекламы (ADVertising) на узлах-получателях рекламной сети.
   Отображается на странице управления рекламной карточкой.
   TODO form unapply не работает из-за использования list mapping. *@

@import ctx._
@import helper._
@import util.FC.tdFc
@import util.DateTimePrettyPrinter._
@import args._
@import AdnShownTypes._


@* sink show level checkbox - базовая верстка чекбокса уровней отображения по любому из измерений. *@
@sslCheckbox(maybeBusyAdv: Option[MAdvI], midOpt: Option[Int], fnSuffix: String, label: String, showLevel: Option[String] = None)(busyAttrs: => Html) = {
  <label class="block">
    <input type="checkbox"
      @if(showLevel){data-show-level="@showLevel"}
      @maybeBusyAdv.fold {
        @* Рендер аттрибутов инпута когда существующего размещения ещё нет (т.е. всё можно размещать). *@
        name="node[@midOpt].@fnSuffix"
        value="false"
      } { busyAdv =>
        @* Рендер атрибутов инпута, если размещение уже было сделано ранее. *@
        value="true"
        disabled="disabled" @busyAttrs
      }
    /><span class="checkbox_title">@label</span>
  </label>
}

@* Генератор чекбоксов, задающих/с заданными уровнями отображения. *@
@slCheckbox(maybeBusyAdv: Option[MAdvI], midOpt: Option[Int], fnSuffix: String, sl: AdShowLevel, label: String, showLevel: String) = {
  @* TODO Генерить label на основе sl. *@
  @sslCheckbox(maybeBusyAdv, midOpt, fnSuffix, label, Some(showLevel)) {
    @if(maybeBusyAdv.exists(_ hasOnAdSl sl)) {checked="checked"}
  }
}


<hr class="delimiter __light"/>

<div class="adv-management" id="advsFormBlock">

@* Глобальная ошибка в форме проявляется, если например недостаточно денег на счете. *@
@af.globalError.map { ge =>
  <p>@messages("Problem.occured"): @messages(ge.message, ge.args : _*)</p>
}

@form( CSRF(routes.MarketAdv.advFormSubmit(adId)), 'id->"advsForm", 'class->"adv-management_main-form") {
@*form(routes.MarketAdv.getAdvPriceSubmit(adId)) *@   @* Сабмит для получения стоимости текущей конфигурации размещения. *@
  <input type="hidden" value="@routes.MarketAdv.getAdvPriceSubmit(adId)" id="advsPriceUpdateUrl">

  @* Суперюзерам доступно беплатное размещение на любом узле. *@
  @if(ctx.isSuperuser) {
    <div style="padding: 20px 0px;padding: 20px 17px; font-weight: bold; background: #f5f5f5; margin-bottom: 10px; -webkit-border-radius: 10px;">
      <label>
        <input type="checkbox" name="@af("freeAdv").name" value="true" />
        <span class="styled-checkbox"></span>
        Размещать бесплатно, без подтверждения?
      </label>
    </div>
  }

  <div class="adv-management_left-bar">
    <h2 class="minor-title">Выбор города/ места</h2>

      @* Список городов. *@
      @lk.lkBlockNewDesign( open = false ) {
        <div class="js-city">
          <span class="checkbox_title __major __no-input">@messages("Select.town")</span>
        </div>
      } {
        @args.cities.map { city =>
          <div class="adv-management_city-i js-select-city" data-value="@city.i">@city.node.meta.name</div>
        }
      }

      @* Списки-вкладки категорий в городах. *@
      @args.cities.map { city =>
        <div class="select-tab_lst js-select-type_w" data-city="@city.i">
          <div class="select-tab_i js-select-type" data-value="-1">
            <label><input type="checkbox"/><span class="styled-checkbox"></span></label>
            <span class="select-tab_i-title">@messages("All.places")</span>
          </div>
          @city.cats.map { cat =>
            <div class="select-tab_i js-select-type" data-value="@cat.i">
              <label><input type="checkbox"/><span class="styled-checkbox"></span></label>
              <span class="select-tab_i-title">@cat.name</span>
              <span class="js-active-nodes-count"></span>
            </div>
          }
        </div>
      }

      @* Рендер списков узлов в городах. *@
      @args.cities.map { city =>
        @city.cats.map { cat =>
          <div class="select-tab_lst js-select-node_w" data-city="@city.i" data-type="@cat.i">
            <h3 class="adv-management_cat-title">@cat.name</h3>
            @cat.nodes.map { an =>
              @defining( an.node.id.get ) { adnId =>
              @defining( args.adnId2formIndex.get(adnId) ) { midOpt =>
              @defining( args.busyAdvs get adnId ) { maybeBusyAdv =>
                @if(maybeBusyAdv.isEmpty) {
                  @lk.lkBlockNewDesign( open = false ) {
                    <label>
                      <input type="checkbox" name="@{NODES_KM}[@midOpt].advertise" value="false"/>
                      <span class="styled-checkbox"></span>
                    </label>
                    <input type="hidden" name="@{NODES_KM}[@midOpt].adnId" value="@adnId"/>
                    <span class="checkbox_title __major">
                      @an.node.meta.name
                    </span>
                    <a class="slide-block_info-btn js-btn" href="@routes.MarketLkBilling._renderNodeMbmdsWindow(adnId)">i</a>
                  } {
                    <div class="advm-node_block">
                      <div class="advm-node_left">
                        <p class="block">@messages("Adv.levels")</p>
                        <div class="block __margin-XS">
                          <hr class="delimiter __light"/>
                        </div>
                        @* Галочки уровней отображения. *@
                        @slCheckbox(maybeBusyAdv, midOpt, "showLevel.onStartPage", AdShowLevels.LVL_START_PAGE, messages("Main.screen"), "onStartPage")
                        @slCheckbox(maybeBusyAdv, midOpt, "showLevel.onRcvrCat", AdShowLevels.LVL_CATS, messages("Product.categories"), "onRcvrCat")
                        <div class="block __margin-XS"><hr class="delimiter __light"/></div>
                        <label class="block">
                          <input type="checkbox" disabled="disabled" checked="checked"/><span class="checkbox_title __disabled">@messages("Catalog")</span>
                        </label>
                      </div>
                    </div>
                  }
                } else {
                  <div class="slide-block_title">
                    <span class="checkbox_title __major">
                      <a href="#" class="link">@an.node.meta.name</a>
                    </span>
                    <span class="ft-S light-gray"> (@messages("advertised"))</span>
                  </div>
                }
              } @* lkBlockNewDesign cnt *@
              } @* mid *@
              } @* adnId *@
            } @* node in cat *@
          </div>
        } @* cat in city *@
      } @* city *@

    </div> @* adv-management_left-bar *@


    <div class="adv-management_right-bar">
      <h2 class="minor-title">@messages("Date.choosing")</h2>

      <div class="date-widget">

        <div class="date-widget_options">
          <table class="prop">
            <td class="prop_name">@messages("Advertising.period")</td>
            <td class="prop_value">
              <div class="input __size-S" >
                <select data-interval="true" data-widget-id="advManagementDateWidget" name="period.period">
                  @defining( args.af("period.period").value ) { currPeriod =>
                    @args.advPeriodsAvail.map { case (v, msg) =>
                      <option value="@v" @if(currPeriod.exists(_ equalsIgnoreCase v)) {selected="selected"}>@msg</option>
                    }
                  }
                </select>
              </div>
            </td>
          </table>
          <table class="prop" id="advManagementDateStart">
            <td class="prop_name">@messages("Date.start")</td>
            <td class="prop_value">
              <div class="input __size-S">
                <input class="js-datepicker" type="text" data-start="true" data-widget-id="advManagementDateWidget" name="period.date.start" value="@args.af("period.start").value"/>
              </div>
            </td>
          </table>
          <table class="prop" id="advManagementDateEnd">
            <td class="prop_name">@messages("Date.end")</td>
            <td class="prop_value">
              <div class="input __size-S">
                <input class="js-datepicker" type="text" data-end="true" data-widget-id="advManagementDateWidget" name="period.date.end" value="@args.af("period.start").value"/>
              </div>
            </td>
          </table>
        </div>

        <div class="date-widget_result">
          <div class="block __margin-S">
            @messages("Your.ad.will.adv")
          </div>
          <div class="date-widget_result-value">
            @messages("from._date")&nbsp;<span id="advManagementDateStartValue"></span>&nbsp;@messages("till._date")&nbsp;<span id="advManagementDateEndValue"></span>
          </div>
        </div>

      </div>

      <aside class="levels-widget" id="levelsWidget">
        <h2 class="levels-widget_t">@messages("Adv.levels")</h2>
        <ul class="levels-widget_lst">
          <li class="levels-widget_i">
            <label class="block">
              <input type="checkbox" data-show-level="onStartPage"><span class="checkbox_title">@messages("Main.screen")</span>
            </label>
            <div class="levels-widget_i-descr">
              @messages("Your.ad.will.see.all.sio.users.in.geolocs")
            </div>
          </li>
          <li class="levels-widget_i">
            <label class="block">
              <input type="checkbox" data-show-level="onRcvrCat"><span class="checkbox_title">@messages("Categories")</span>
            </label>
            <div class="levels-widget_i-descr">
              @messages("Ad.will.seen.by.interested.in.cats.users")
            </div>
          </li>
          <li class="levels-widget_i">
            <label class="block">
              <input type="checkbox" disabled="disabled" checked="checked"><span class="checkbox_title">@messages("Catalog")</span>
            </label>
            <div class="levels-widget_i-descr">
              @messages("Catalog.ads.will.be.seen.by.walkers")
            </div>
          </li>
        </ul>
      </aside>

  </div>
}
</div>

