@(mad: MAd, adProducer: MAdnNode, advOk: MAdvOk, goBackTo: Option[String] = None)(implicit ctx: Context)

@* Отображение полноразмерной превьюшки, где внизу написано, что карточка одобрена. *@

@import ctx._
@import util.TplDataFormatUtil._
@import datetime._

@_advWndFullTpl(mad, adProducer, goBackTo) {
  @* Тут раньше была цена за вычетом комиссии. Потом комиссия на уровне adv была выпилена, а ресиверы ушли на второй план. *@
  <p>@formatPrice(advOk.amount, advOk.currency)</p>
  [x] Предложение одобрено @_prettyDate(advOk.dateStatus).
}
