@(args: adv.geo.IWndFullArgs)(content: Html)(implicit ctx: Context)

@* Подложка для шаблона окошка и полноразмерной превьюшкой карточки. *@

@import ctx._
@import views.html.sc._
@import lk.popup._

@_popupTpl(
  id        = Some("advReqWind"),
  hidden    = false,
  jsPopup   = true,
  closeHref = args.goBackTo
) {

  <div class="popup_cnt __preview">
    <div class="sio-mart-showcase">
      @_adFullTpl(
        producer = args.adProducer,
        args     = args.brArgs,
        adIndex  = 1,
        adsCount = 1
      )
    </div>

    @content
  </div>

}
