@(madId: String, curr: Option[LkAdvRightLink] = None)(implicit ctx: Context)

@import LkAdvRightLinks._

<nav class="right-bar_menu">
  <a class="right-bar_menu-i __social@if(curr contains LARL_EXT){ __act}" href="@routes.LkAdvExt.forAd(madId)">
    <span>Разместить в соц.сети</span>
  </a>
  <hr class="delimiter"/>
  <a class="right-bar_menu-i __geo@if(curr contains LARL_GEO){ __act}" href="@routes.MarketAdv.advForAd(madId)">
    <span>Разместить в геолокации</span>
  </a>
  <a class="right-bar_menu-i __history@if(curr contains LARL_HISTORY){ __act}" href="@routes.MarketAdv.advHistory(madId)">
    <span>История размещений</span>
  </a>
  <hr class="delimiter"/>
</nav>
