@(title: String, mad: MAd, producer: MAdnNode, rightLink: LkAdvRightLink, rightAfter: Option[Html] = None,
  headAfter: Option[Html] = None)(content: Html)(implicit ctx: Context)

@* Базовый шаблон для adv-раздела ЛК. *@

@rightBar1 = {
  @mad.id.map(madId => _rightNavTpl(madId, Some(rightLink)))
  @rightAfter
}

@market.lk.lkBaseLayout(
  title         = title,
  nodeOpt       = Some(producer),
  backHref      = Some(routes.MarketLkAdn.showNodeAds(mad.producerId).url),
  rightBar      = Some(rightBar1),
  leftCurrEl    = Some(LkLeftPanelLinks.LPL_ADS),
  headAfter     = headAfter
)(content)
