@(mad: MAd, producer: MAdnNode, formArgs: AdvFormTplArgs)(implicit ctx: Context)

@* Страница управления размещением рекламной карточки. *@

@import ctx._
@import util.TplDataFormatUtil._

@rightBarAfter = {
  <div class="right-bar-price-widget">
    <div class="right-bar-price-widget_cnt">
      <h2 class="right-bar-price-widget_title">
        @Messages("Total.amount._money")
      </h2>
      <p class="right-bar-price-widget_price-value js-pre-price">
        @formatPrice(0F, CurrencyCodeDflt.currency)
      </p>
      <button class="right-bar-price-widget_request-btn btn __major __size-L js-submit-btn" data-for="#advsForm">@Messages("Send.request")</button>
    </div>
  </div>
}


@headAfter = {
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("javascripts/lib/datetimepicker-master/jquery.datetimepicker.css")'/>
}


@advBase(
  title         = Messages("Geo.adv"),
  mad           = mad,
  producer      = producer,
  rightLink     = LkAdvRightLinks.LARL_GEO,
  rightAfter    = Some(rightBarAfter),
  headAfter     = Some(headAfter)
) {

  @_advFormTpl(formArgs)

  <script src='@routes.Assets.versioned("javascripts/lib/datetimepicker-master/jquery.datetimepicker.js")'></script>

}
