@(adnNode: MAdnNode, advsWithAds: Seq[(MAdvReq, MAd)])(implicit ctx: Context)

@* Страница, которая появляется при нажатии на кнопку "рекламодатели". *@
@import ctx._
@import views.html.lk._
@import views.html.sc._

@lkBaseLayout(
  title         = "Рекламодатели",
  nodeOpt       = Some(adnNode),
  backHref      = adnNode.id.map(adnId => routes.MarketLkAdn.showAdnNode(adnId).url),
  leftCurrEl    = Some(LkLeftPanelLinks.LPL_NODE)
) {

  @lk.lkBlock("На рассмотрении") {
    <div class="advertising-requests">

      <div class="advertising-requests_text">
        <p class="color-light-strong ft-XS">В этом разделе
          появляются запросы
          на размещение
          рекламных карточек.
          Расценки на размещение
          прописаны в договоре
          с компанией cbca.
        </p>
        <p class="color-light-strong ft-XS">
          Нажмите на карточку
          для детального просмотра
          и утверждения, либо
          отклонения.
        </p>
      </div>

      <div class="advertising-requests_items">
        @advsWithAds.map { case (advReq, mad) =>

          <div class="advertising-requests_item">
            <div class="ads-list-block__preview">
              <div class="ads-list-block__preview-container">
                @_adTpl(mad)
              </div>
              <div class="ads-list-block__zigzag-mask"></div>
              <a href="@routes.MarketAdv.advFullWnd(advReq.adId, povAdnId = adnNode.id, advId = advReq.id, r = ctx.r)"
                 class="ads-list-block__link js-btn">
                Нажмите для<br/>
                просмотра<br/>
                информации
              </a>
            </div>
          </div>
        }
      </div>

    </div>
  }

}
