@(lf: Form[_], submitCall: Call)(implicit ctx: util.Context)

@* Форма для логина по email и паролю. *@
@import ctx._
@import helper._

@import util.FC.tdFc


@form(submitCall) {

  @lf.globalError.map { ge =>
    <p class="lk-error">Ошибка: @Messages(ge.message)</p>
  }

  <table class="input-w __size-L common-login__input">
    @inputText(
      lf("email"),
      '_label -> "E-mail:"
    )
  </table>

  <table class="input-w __size-L common-login__input">
    @inputPassword(
      lf("password"),
      '_label -> "Пароль:"
    )
  </table>

  <div class="login-popup__recover-password common-login__password-recover">
    <a class="blue-link ft-XS js-btn" href="@routes.Ident.recoverPwForm">Восстановить пароль</a>
  </div>

  <div class="login-popup__submit-wrap common-login__submit-wrap">

    <div class="common-login__submit wave-pattern">

      <a class="siom-ac-btn __color-2 __size-M __ft-XM js-submit-btn">
        Войти
      </a>

    </div>

    <div class="border-line common-login__submit__line"></div>

  </div>

}