@(lf: Form[_], submitCall: Call)(implicit ctx: util.Context)

@* Форма для логина по email и паролю. *@
@import ctx._
@import helper._

@import util.FC.radialFc


@form(submitCall) {

  <div class="popup_cnt __index">

    <h2 class="popup_t __index">
      Вход в личный кабинет
    </h2>

    @lf.globalError.map { ge =>
      <p class="lk-error">Ошибка: @Messages(ge.message)</p>
    }


    @inputText(
      lf("email"),
      '_label -> "E-mail:",
      'placeholder -> "E-mail"
    )


    @inputPassword(
      lf("password"),
      '_label -> "Пароль:",
      'placeholder -> "Пароль"
    )

    <a class="login-popup__recover-password js-btn" href="@routes.Ident.recoverPwForm">Восстановить пароль</a>

  </div>

  <div class="popup_footer __index">

    <div class="btn-w __size-M">
      <input class="siom-new-btn __size-XS __fill-1" type="submit" value="Войти"/>
    </div>

  </div>

}