@(lf: Form[_], submitCall: Call)(implicit ctx: util.Context)

@* Форма для логина по email и паролю. *@
@import ctx._
@import helper._

@import util.FormHelpersNew._


<div class="popup login-popup" id="emailPwLoginForm">

  <div class="hat">
    <a class="close" href="#">&nbsp;</a>
  </div>

  <div class="content">

    <div class="popup-title popup-title_without_padding">
      ВХОД
    </div>

    @form(submitCall) {

      @lf.globalError.map { ge =>
        <p class="lk-error">Ошибка: @Messages(ge.message)</p>
      }


      @inputText(
        lf("email"),
        '_label -> "E-mail:"
      )


      @inputPassword(
        lf("password"),
        '_label -> "Пароль:"
      )

      <div class="login-popup__recover-password">
        У вас проблемы?&nbsp;<a class="js-btn" href="@routes.Ident.recoverPwForm">Восстановить пароль?</a>
      </div>

      <div class="login-popup__submit-wrap">

        <div class="blue-btn-new">
          <span class="btn"></span>
          <input type="submit" value="Войти"/>
        </div>

      </div>

    }

  </div>

</div>