@(lf: Form[_])(implicit ctx: util.Context)

@* Форма для логина по email и паролю. *@
@import ctx._
@import helper._

@import util.FormHelpers._

@form(routes.Ident.emailPwLoginFormSubmit) {

  @lf.globalError.map { ge =>
    Ошибка: @Messages(ge.message)
  }

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputText(
    lf("email"),
    '_label -> "E-mail:")
  </table>

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputPassword(
    lf("password"),
    '_label -> "Пароль:")
  </table>

  <div class="ovh">
    <a href="#" class="recover-password">Восстановить пароль</a>
  </div>

  <div class="block-480" style="text-align: center; padding-top: 25px;">
    <input class="blue-but-small but-w-line" type="submit" value="Войти"/>
  </div>

}