@(pf: Form[_])(implicit ctx: Context)

@* Страница с формой смены пароля.
   Содержит поле для ввода старого пароля, и поля ввода и подтверждения нового пароля. *@
@import helper._
@import ctx._

<h1>@Messages("Password.change")</h1>
<div>
  @form(routes.Ident.changePasswordSubmit()) {
    @inputPassword(
      pf("old"),
      '_label -> Messages("Type.current.password")
    )

    @inputPassword(
      pf("new.pw1"),
      '_label -> Messages("Type.new.password")
    )

    @inputPassword(
      pf("new.pw2"),
      '_label -> Messages("Confirm.new.password")
    )

    <input type="submit" value="@Messages("Save")" />
  }
</div>




