@()(implicit c:util.Context)

@import c.lang
@import stuff._


@headAfter = {
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/person_complete_install.min.css")"/>
}

@main(title=Messages("i.ci.login"), headAfter=Some(headAfter)) {
<div class="page-wrapper" id="pageWrapper">
	<div class="razduv-top" id="razduvTop"></div>
	@_topMenuTpl()
	
	<div class="header"></div>
	
	<div class="main-layout">
		<a class="logo" href="/"></a>
		
		<div class="complete-install-layout">
			@* Регистрация и вход в личный кабинет *@
			<h1>@Messages("i.ci.register_and_private_office")</h1>

			@* Чтобы иметь постоянный доступ к настройкам нужно зарегаться *@
			<p>@Messages("i.ci.to_access_settings_register")<br/>


			@* Ваш сайт будет автоматически добавлен в личный кабинет. *@
			@Messages("i.ci.your_site_will_be_added_to_priv_office")</p>

			@* Для простой и безопасной аутентификации пользователей мы используем Mozilla Persona. *@
			<p>@Messages("i.ci.we_are_using_mozilla_persona")</p>

			@* Войти на сайт *@
			<p><a href="" id="signin" class="persona-complete">@Messages("i.ci.login_into")</a></p>
			
		</div>
		
	</div>

	@_copyright()
	@_social()
</div>

}
