@(lf: Form[_], r: Option[String])(implicit ctx: util.Context)


@* Страница с формой логина. *@
@market.marketBase("Добро пожаловать"){

  <div class="body __responsive wave-pattern">

    <div class="body_cnt __responsive">

      <div class="common-login">

        <a class="common-login__logo" href="@MAIN_PAGE_CALL"></a>

        <div class="common-login__title">
          ВХОД В СИСТЕМУ
        </div>

        <div class="border-line"></div>

        @_emailPwLoginFormTdTpl(
          lf = lf,
          submitCall = routes.Ident.emailPwLoginFormSubmit(r)
        )

      </div>

    </div>

  </div>

}
