@(email: String)(implicit ctx: Context)

@* Колонка с версткой сообщения об успехе при отправке сообщения восстановления пароля. *@

@import ctx.messages

<p class="email-success_t">
  @Html(messages(
    "To.addr.msg.sent.with.recover.link",
    s"""<a class="link" href="mailto:$email">$email</a>""",
    "<br/>"
  ))
  <br/>
  @messages("Check.your.mailbox")
</p>

<div class="btn-w __size-M">
  <a class="btn __size-M1 __minor" href="@routes.Ident.mySioStartPage()">@messages("Go.back")</a>
</div>
