@(prf: PwResetForm_t, ea: usr.EmailActivation)(implicit ctx: Context)

@import ctx._
@import helper._
@import util.FC.authFc


@form(CSRF(routes.Ident.pwResetSubmit(ea.id.get)), 'id -> "pwResetPasswordForm") {

  @prf.globalError.map { ge =>
    <p class="error-msg">@messages("Error"): @messages(ge.message)</p>
  }

  @defining( messages("Type.new.password") ) { msg =>
    @inputPassword(
      prf("pw1"),
      '_label       -> msg,
      'placeholder  -> msg
    )
  }

  @defining( messages("Confirm.new.password") ) { msg =>
    @inputPassword(
      prf("pw2"),
      '_label       -> msg,
      'placeholder  -> msg
    )
  }

  <div class="btn-w __size-M">
    <input class="btn __size-M1 __major" type="submit" value='@messages("Save")'/>
  </div>

}
