@(reason: Option[String] = None)(implicit ctx: Context)

@* Верстка страницы, которая отображает проблемы при восстановлении пароля. *@

@import ctx.messages
@import views.html.ident._
@import io.suggest.popup.PopupConstants

@html = {
  <div class="auth-page_column">

    <h2 class="auth-page_column-t __color-2">@messages("Error")</h2>

    <div class="error-icon popup_error-icon"></div>

    <p class="block __margin-M __text-C">
      @messages("Recovery.key.expired")<br/>@messages("or.used.cannot.recover.pw")
    </p>

    <p class="block __margin-M __text-C">
      <a class="link" href="@routes.Ident.recoverPwForm()">@messages("Recover.password")</a>
    </p>

  </div>
}

@mySioStartTpl(
  title   = messages("Password.recovery"),
  columns = Seq(html)
)
