@(reason: Option[String] = None)(implicit ctx: Context)

@* Верстка страницы, которая отображает проблемы при восстановлении пароля. *@

@import ctx.lang
@import views.html.ident._

@html = {
  <div class="popup js-popup __index" id="newPasswordForm">

    <div class="popup_header __index">
      <a class="popup_close f-right icon-icomoon js-close-popup"></a>
    </div>

    <div class="popup_cnt __index-fix">

      <div class="popup_t __index">
        @Messages("Error")
      </div>

      <div class="error-icon popup_error-icon"></div>

      <p class="block __margin-M __text-C">
        @Messages("Recovery.key.expired")<br/>@Messages("or.used.cannot.recover.pw")
      </p>

      <p class="block __margin-M __text-C">
        <a class="js-btn link" href="@routes.Ident.recoverPwForm">@Messages("Recover.password")</a>
      </p>

    </div>

  </div>
}

@mySioStartTpl(
  title   = Messages("Password.recovery"),
  columns = Seq(html)
)
