@(args: blk.IRenderArgs, bc: util.blocks.BlocksConf.CommonBlock2T)(implicit ctx: Context)

@* Базовый шаблон тела block'ов версии 2.0. *@

@import views.txt.blocks.common._
@import io.suggest.ad.form.AdFormConstants._
@import io.suggest.sc.ScConstants.Block.Text.{FIELD_TEXT_NAME, fieldTextId}

@defining( args.inlineStyles || args.mad.id.isEmpty ) { isStylesInline =>

  @bgImgTpl(bc, args,  cssClass = Some("bg") )

  @if(isStylesInline) {
    <style>@Html(_blockCss(args).toString.trim)</style>
  }


  @defining( FIELD_TEXT_NAME ) { fid =>

    @for( offer <- args.mad.ad.entities.valuesIterator) {

      @* Рендер текстового поля. *@
      @for(aosf <- offer.text) {
        <div class="@if(args.withEdit){js-mvbl} mvbl-@fid mvbl-@fid-@offer.id"
             @if(args.withEdit) {data-connected-input="@(OFFER_K).offer[@offer.id]"}>
          <div class="@fid @fieldTextId(offer.id)">@Html(aosf.value)</div>
        </div>
      }

      @if(isStylesInline) {
        <style>
          @Html(_textCss(blk.FieldCssRenderArgs(
            bf      = bc.titleBf,
            brArgs  = args,
            entity  = offer,
            yoff    = 0,
            cssClasses = args.cssClasses,
            isFocused  = args.isFocused
          )).toString.trim)
        </style>
      }

    }

  }

}
