@(title: String, adnIdOpt: Option[String] = None, headAfter:Option[Html] = None, backHref: Option[String] = None,
  rightMenu:Option[Html] = None, povAdnId: Option[String] = None)(content: Html)(implicit ctx: util.Context)

@lkBase(title = title, adnIdOpt = adnIdOpt, headAfter = headAfter, povAdnId = povAdnId) {

  <aside class="right-bar">
    <nav class="right-bar_menu">
      @rightMenu
    </nav>
  </aside>

  <div class="viewport">

    <article class="page_cnt">
      <h1 class="page_title">
        @title
      </h1>
      @content
    </article>

  </div>

}