@(title: String, adnIdOpt: Option[String] = None, headAfter:Option[Html] = None, backHref: Option[Call] = None)(content: Html)(implicit ctx: util.Context)

@lkBase(title = title, adnIdOpt = adnIdOpt, headAfter = headAfter) {
<div class="title-wrap">
  <div class="center">
    @backHref.map { bh =>
      <a class="back-but" href="@bh" title="Вернуться назад">&nbsp;</a>
    }
    <div class="title-inner">
      Управление рекламной
    </div>
  </div>
</div>

<div class="body">
  <div class="create-ad">
    @content
  </div>
</div>
}