@(title: String, headAfter:Option[Html] = None)(content: Html)(implicit ctx: util.Context)

@* Базовый шаблон для личного кабинета sio-маркета (не важно: ТЦ или магазин).
   - Параметр headAfter содержит дополнения к телу тега head.
*@

@* TODO Нужно сделать тут верстку для личного кабинета, а не использовать служебный sysBase. *@

@* sys1.sysBase(title=title, headAfter=headAfter)(content) *@

<html>
<head>
  <title>@title | market | Suggest.io</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/market/lk/mx_dev.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/market/lk/mx_cof.min.js")"></script>

  <script src="@routes.Assets.at("javascripts/lib/colorpicker/js/colorpicker.js")"></script>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("javascripts/lib/colorpicker/css/colorpicker.css")'/>


	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/lk/common.min.css")'/>
	<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/lk/create-ad.min.css")'/>
  @headAfter
</head>

<body class="lk">

  <div class="header-wrap">

    <div class="center">
      <a class="logo" href="#">
        <img src='@routes.Assets.at("images/market/lk/logo.png")' alt="logo" />
      </a>
      <div class="auth">
        <span class="gray">Welcome,</span>&nbsp;
        <span class="user hover">
          Константинопольский&nbsp;Константин<span class="select-but">&nbsp;</span>
          <ul class="drop-menu">
            <li>
              <a href="#">Мой профиль</a>
            </li>
            <li>
              <a href="#">Выйти</a>
            </li>
          </ul>
        </span>
      </div>
    </div>

  </div><!-- header-wrap end -->

  <div class="body-wrap">

      @content


  </div>

  <div class="footer-wrap">
    <div class="footer">

      <span class="copyright-block">
        © 2011-2014 Suggest.io. Все права защищены
      </span>

      <div class="socials">
        <a class="fb" href="#">Facebook</a>
        <a class="tw" href="#">Twitter</a>
      </div>

    </div>
  </div>

  <div class="overlay" id="overlay"></div>

  <script src="@routes.Assets.at("javascripts/market/lk/common.min.js")"></script>
</body>
</html>
