@(blockTitle: String, slideBtnHref: Call=Call("", ""), cntSubClass: String = "")(blockContent: Html)(implicit ctx: util.Context)

<div class="siom-block js-slide-w">
  <div class="border-line"></div>

  <div class="siom-block_title">
    <strong class="color-strong ft-S">
      @blockTitle
    </strong>
    @if(slideBtnHref.toString) {
      <a class="slide-btn f-right js-slide-btn " href="@slideBtnHref">Развернуть</a>
    } else {
      <a class="slide-btn __open f-right js-slide-btn ">Свернуть</a>
    }
  </div>

  <div class="border-line"></div>

  <div class="siom-block_cnt-w js-slide-cnt"  @if(slideBtnHref.toString) { style="display: none;" }>

    <div class="siom-block_cnt @cntSubClass">
      @blockContent
    </div>

  </div>

</div>