@(blockTitle: String, titleSubClass: String = "")(blockContent: Html)(implicit ctx: util.Context)

<div class="lk-edit-form__block js-slide-wrap">

  <div class="lk-edit-form__block_title @if(!titleSubClass.isEmpty) { @titleSubClass }">
    <div class="attention-icon"></div>
    <div class="border-line"></div>
      <span class="lk-edit-form__block_title_span">
        @blockTitle
      </span>
    <a class="js-g-slide-toggle open f-right">Свернуть</a>
    <div class="border-line"></div>
  </div>

  <div class="lk-edit-form__block_body js-slide-content">

    <div class="lk-edit-form__block_body_inner">
      @blockContent
    </div>

  </div>

</div>