@(lf: Form[_])(implicit ctx: util.Context)

@* Страница, которая отображается незалогиненному юзеру, который зашел в маркет.
   Тут небольшое описание и поля для логина. *@

<!DOCTYPE html>
<html>
<head>
  <title>Добро пожаловать! | market | Suggest.io</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("javascripts/lib/colorpicker/css/colorpicker.css")'/>

  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/lk/common.min.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/lk/create-ad.min.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/showcase.min.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/lk/edit-shop.min.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/market/showcase_previews.min.css")'/>

  <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>

</head>


<body class="lk login-page">


  <div class="header-wrap header-wrap_login-page">

    <div class="center">

      <a href="#" class="simple-green-btn f-right login-page_enter_btn">Вход</a>

    </div>

  </div>

  <div class="body-wrap body-wrap_login-page">

    <div class="body">

      <div class="login-page_content">


          <a href="#" class="login-page__logo"></a>

          <a href="@routes.MarketJoin.joinAdvRequest" class="login-page__blue-btn">
            <span>РАЗМЕСТИТЬ РЕКЛАМУ</span>
          </a>

          <a href="@routes.MarketJoin.wifiJoinQuestionsForm()" class="login-page__green-btn">
            <span>СТАТЬ УЧАСТНИКОМ СЕТИ</span>
          </a>

          <div class="login-page__wifi_block">

            <div class="wifi-icon"></div>
            <p>
              У вас есть Wi-Fi?
            </p>

            <a href="#" class="login-page__gray-btn">
              <span>ПРОЙДИТЕ ОПРОС</span>
            </a>

          </div>

          <!--<div class="lp-title">ВХОД</div>
          <div class="border-line"></div>-->

        @* Рендерим форму логина прямо здесь. *@
        @*ident._emailPwLoginFormTpl(
          lf = lf,
          submitCall = routes.MarketLk.emailPwLoginFormSubmit
        )*@

      </div>

    </div>

  </div>

  <div class="footer-wrap">
    <div class="footer">

      <span class="copyright-block">
        © 2011-2014 Suggest.io. Все права защищены
      </span>

      <div class="socials">
        <a class="fb" href="#">Facebook</a>
        <a class="tw" href="#">Twitter</a>
      </div>

    </div>
  </div>


  <script src="@routes.Assets.at("javascripts/market/lk/mx_cof.js")"></script>
  <script src="@routes.Assets.at("javascripts/market/lk/mx_dev.js")"></script>
  <script src="@routes.Assets.at("javascripts/lib/colorpicker/js/colorpicker.js")"></script>
  <script src="@routes.Assets.at("javascripts/jquery-ui.custom.min.js")"></script>

</body>
</html>

