@(lf: Form[_])(implicit ctx: util.Context)

@* Страница, которая отображается незалогиненному юзеру, который зашел в маркет.
   Тут небольшое описание и поля для логина. *@


@lkBase("Маркет") {


  <div class="body">

    <div class="login-page">
      <div class="block-480">
        <p>
          Уважаемые дамы и господа! Мы рады приветствовать Вас на сайте SIOMarket. Это не простой маркет в прямом
          понимании обывателя XXI века. Это Маркет огого, да, да именно с большой буквы.
        </p>
        <p>
          Если вам посчастливилось получить заветное письмо от вашего ТЦ и у вас есть личный кабинет,
          входите и не стесняйтесь. Остальные же пошли прочь!
        </p>

        <div class="lp-title">ВХОД</div>
        <div class="border-line"></div>
      </div>
      @* Рендерим форму логина прямо здесь. *@
      @ident._emailPwLoginFormTpl(lf)
    </div>

  </div>

}

