@(mnodes: Seq[MAdnNode], currAdnId: Option[String])(implicit ctx: Context)

@* Список узлов (личных кабинетов) юзера. *@

@lkBase("Моя рекламная сеть") {

  <div class="viewport">
    <article class="page_cnt">

      <h1 class="page_title">Выбор магазина</h1>

      <div class="node-list">
        @mnodes.map { mnode =>
          <div class="node-list_i">
            @* TODO текущему магазину добавлять класс __current для .node-list_i-link *@
            <a class="node-list_i-link @if(currAdnId == mnode.id){__current}"
               href="@routes.MarketLkAdn.showAdnNode(mnode.id.get)">@mnode.meta.name</a>
          </div>
        }
      </div>

      @* Кнопка создания магазина. *@
      <a class="btn __size-M __helper-green node-list_add-btn" href="@routes.MarketLkAdn.createNode()">Добавить магазин</a>

    </article>
  </div>

}
