@(personsCnt: Long, identsCnt: Long, suCnt: Int)(implicit ctx: Context)

@* Заглавная страница раздела про юзеров s.io. *@

@import sys1.stuff.proptable._

@hPathAfter1 = {}

@sysPersonBase(
  title = "index",
  hPathAfter = Some(hPathAfter1)
) {

  @_ptableTpl() {
    @_ptableRowTpl("Пользователей") {
      @personsCnt юзеров
    }
    @_ptableRowTpl("Иденты") {
      <a href="@routes.SysPerson.allIdents()">
        @identsCnt узлов содержат иденты
      </a>
    }
    @_ptableRowTpl("Суперпользователи") {
      @suCnt юзеров
    }
  }

  <br/>
  <br/>
  Показать:
  <a href="@routes.SysPerson.showRegEmail()">email-сообщение регистрации</a>.

}
