@(color:String = "fff")

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="116px" height="116px" viewBox="0 0 116 116" enable-background="new 0 0 116 116" xml:space="preserve">
<path fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M95,86.8c0,3.977-3.224,7.2-7.2,7.2H30.2c-3.977,0-7.2-3.224-7.2-7.2V29.2c0-3.977,3.224-7.2,7.2-7.2h57.6
	c3.977,0,7.2,3.224,7.2,7.2V86.8z"/>
<circle fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="59.9" cy="58.9" r="8.056"/>
<circle fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="59.9" cy="58.9" r="18.633"/>
<line fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="55.602" y1="51.976" x2="51.729" y2="43.852"/>
<line fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="77.873" y1="59.209" x2="67.982" y2="58.525"/>
<line fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="48.82" y1="73.061" x2="54.52" y2="64.943"/>
</svg>
