@(color:String = "fff")
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="116px" height="116px" viewBox="0 0 116 116" enable-background="new 0 0 116 116" xml:space="preserve">
<path fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M104,78.801c0,3.752-1.788,7.199-5.222,7.199H19.5c-3.432,0-6.5-3.447-6.5-7.199v-40.76C13,34.288,16.068,32,19.5,32h79.278
	c3.434,0,5.222,2.288,5.222,6.041V78.801z"/>
<circle fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="75.699" cy="58.846" r="17.408"/>
<path fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M28,66.912C28,70.664,26.045,75,22.608,75H19.5c-3.432,0-6.5-4.336-6.5-8.088V49.93c0-3.752,3.068-6.93,6.5-6.93h3.108
	C26.045,43,28,46.178,28,49.93V66.912z"/>
<circle fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="44.279" cy="44.41" r="5.521"/>
</svg>
