@(color:String = "fff")

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="116px" height="116px" viewBox="0 0 116 116" enable-background="new 0 0 116 116" xml:space="preserve">
<circle fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="59.478" cy="57.695" r="36.695"/>
<path fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M57.229,21.073c0,0,18.328,42.417,0,73.293"/>
<path fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M22.782,55.323c0,0,48.215,21.754,72.829-3.998"/>
<path fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M33.481,31.8c3.365,3.136,35.312,30.312,50.764-1.176"/>
<path fill="none" stroke="#@color" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	M37.006,86.697c0,0,35.365-21.275,42.114,1.99"/>
</svg>
