@(nodeOpt: Option[MNode])(implicit ctx: Context)

@* Шаблон страницы "О компании". *@

@import io.suggest.css.Css
@import io.suggest.i18n.MsgCodes
@import mhelp.MRightLinks

@supportBase(
  title     = ctx.messages( MsgCodes.`Company.about` ),
  rightLink = MRightLinks.CompanyAbout,
  nodeOpt   = nodeOpt,
) {

  <table class="@Css.Table.TABLE @Css.Table.Width.XL">
    @static.company._companyLegalMetaTpl(
      cellCss  = Css.Table.Td.TD + " " + Css.Size.M,
      keyCss   = Css.Table.Td.GRAY,
      valueCss = Css.Table.Td.WHITE,
    )
  </table>

}
