@(nodeOpt: Option[MNode], sf: Form[_], r: Option[String])(implicit ctx: Context)

@import helper._
@import ctx.{messages, request}
@import util.FC.tdFc
@import io.suggest.vlines.VLines._
@import io.suggest.i18n.MsgCodes
@import mhelp.MRightLinks
@import io.suggest.css.Css


@supportBase(
  title     = messages( MsgCodes.`Support.service` ),
  rightLink = MRightLinks.Support,
  nodeOpt   = nodeOpt
) {

  @form(CSRF( nodeOpt.flatMap(_.id).fold( routes.LkHelp.supportFormSubmit(r) )(routes.LkHelp.supportFormNodeSubmit(_, r)) )) {

    <table class="input-w __size-L">
      @inputText(
        sf("name"),
        '_label -> (messages( MsgCodes.`Your.name` ) + ":")
      )
    </table>

    <table class="input-w __size-L">
      @inputText(
        sf("phone"),
        '_label -> (messages( MsgCodes.`Phone` ) + ":")
      )
    </table>

    <table class="input-w __size-L">
      @inputText(
        sf("email"),
        '_label -> "E-mail:"
      )
    </table>

    <table class="input-w __size-L">
      @textarea(
        sf("msg"),
         '_label -> (messages( MsgCodes.`Describe.problem` ) + ":")
      )
    </table>

    <div class="btn-w __size-M __align-by-inputs">
      <a class="siom-ac-btn __color-2 __size-M __ft-XM f-left js-submit-btn">@messages( MsgCodes.`Send` )</a>

      @for( email <- ctx.api.supportUtil.FEEDBACK_RCVR_EMAILS.headOption ) {
        <div class="border-line __vertical-light __separator f-left @JSVL_CLASS" @INHERNIT_HEIGHT_ATTR="@INHERNIT_HEIGHT_ENABLED"></div>
        <div class="color-strong f-left feedback_phone-text">
        @messages( MsgCodes.`Or.contact.us.via.email` ):
          <br/>
          <strong class="ft-M">
            <a class="@Css.Lk.BLUE_LINK" href="mailto:@email">
              @email
            </a>
          </strong>
        </div>
      }

    </div>
  }

}
