@this(jsRoutesUtil: util.tpl.JsRoutesUtil)
@()(implicit ctx: Context)

@* Страница с react-формой логина. *@

@import ctx.messages
@import views.html.stuff.jsTpl2HtmlTpl
@import views.js.stuff.jsRevRouterTpl
@import io.suggest.i18n.MsgCodes

@lk.lkBase(
  title     = messages( MsgCodes.`Login.page.title` ),
  nodeOpt   = None,
  showSwitchNodeBtn = false,
) {

  @* JS-роутер. *@
  @jsTpl2HtmlTpl( withScriptTag = true )(
    jsRevRouterTpl( csrfAll = true, cdn = true )(
      jsRoutesUtil.loginRoutes(): _*
    )
  )

}
