@(adnNode: MAdnNode)(implicit ctx: Context)

<div class="popup __index card js-hidden js-popup" id="popup@adnNode.id">
  <div class="popup_header __index">
    <a class="popup_close f-left js-close-popup"></a>
  </div>

  <div class="card_photo-w">
    <img class="card_photo" src='@routes.Assets.at("images/market/index/obj-photo_retina.jpg")' />
    <a class="card_logo">
      <img src='@routes.Assets.at("images/market/index/wifi-points_morvokzal.jpg")' />
    </a>
  </div>

  <h2 class="popup_t __index">@adnNode.meta.name</h2>

  <div class="card_prop">
    <span class="card_prop-name">Посетителей в день</span>
    <span class="card_prop-value">1&nbsp;200&nbsp;+</span>
  </div>

  <div class="card_prop __last">
    <span class="card_prop-name">Сфера услуг</span>
    <span class="card_prop-value">@Messages("amt.of.type." + adnNode.adn.shownTypeIdOpt.getOrElse(adnNode.adn.memberType.name))</span>
  </div>

  <div class="btn-w __size-M">
    <a class="siom-new-btn __size-XS __fill-1">Разместить рекламу</a>
  </div>
</div>
