@(crf: Form[_], btnClass: String, submitCall: Call, isWifi: Boolean)(implicit ctx: Context)

@import ctx._
@import helper._
@import util.FC.radialFc
@import controllers.MarketJoin.{CAPTCHA_ID_FN, CAPTCHA_TYPED_FN}
@import io.suggest.util.StringUtil.randomId
@import controllers.Captcha.DIGITS_CAPTCHA_LEN

@form(CSRF(submitCall), 'class -> "adv-req-page_call-back-form") {

    @inputText(
      crf("name"),
      '_class -> "__transparent",
      'placeholder -> "Имя"
    )

    @inputText(
      crf("phone"),
      '_class -> "__transparent",
      'type -> "tel",
      'mask -> "tel",
      'placeholder -> "Телефон"
    )

    <div class="adv-req-page_call-time">
      <div class="adv-req-page_call-time-t">Время звонка</div>
      @defining( CallBackReqCallTimes.values.toSeq.sortBy(_.id) ) { cbrts =>
      @defining( crf("callTime").value.getOrElse(cbrts.head.formatTime) ) { cbrctV =>
        <div class="adv-req-page_call-time-btn-lst">
          @cbrts.map { cbrct =>
            @defining(cbrct.formatTime) { cbrctFmt =>
              <a class="adv-req-page_call-time-btn js-input-btn @if(cbrctFmt == cbrctV) {__js-act}" data-value="@cbrctFmt" data-for="#callTime">
                @cbrct.formatTimeStart&nbsp;-&nbsp;@cbrct.formatTimeEnd
              </a>
            }
          }
        </div>
        <input id="callTime" type="hidden" name="callTime" value="@cbrctV"/>
      }
      }
    </div>

    <div class="captcha">
      @defining( crf(CAPTCHA_ID_FN).value.filter(!_.isEmpty).getOrElse(randomId(6, ctx.PRNG)) ) { captchaId =>
        <input id="captchaId" type="hidden" name="captchaId" value="@captchaId"/>
        <div class="captcha_img" id="captchaImageCallbackForm" style="background: url( @routes.Captcha.getDigitalCaptcha(captchaId) );" ></div>
        <a class="captcha_reload-btn" id="captchaReload" data-for="#captchaImageCallbackForm" href=""></a>
      }
    </div>

    @inputText(
      crf(CAPTCHA_TYPED_FN),
      '_class -> "__transparent",
      'type -> "tel",
      'placeholder -> s"Введите $DIGITS_CAPTCHA_LEN цифр, изображенных на картинке"
    )

    <div class="btn-w __size-M">
      <input class="siom-new-btn __size-M __fill-1" type="submit" value="Заказать" />
    </div>

}