@(jf: Form[_], btnClass: String, submitCall: Call, isWifi: Boolean)(implicit ctx: Context)

@import ctx._
@import helper._
@import util.FC.tdFc
@import controllers.MarketJoin.{CAPTCHA_ID_FN, CAPTCHA_TYPED_FN}
@import io.suggest.util.StringUtil.randomId

@form(submitCall) {

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputText(jf("company"), '_label -> (Messages("Company") + ":"))
  </table>

  <table class="input-w __big">
    <tr>

      <td class="input-w_left">
        <label class="input-w_prop-name">Логотип:</label>
        <span class="required-icon">*</span>
      </td>

      <td>

        <div class="add-file-w __size-S"  >
          @stuff._fileUploadTpl(routes.MarketLkAdnEdit.handleTempLogo(), fieldName = "util.img.ImgFormUtil.LOGO_IMG_ID_K")
          <a class="add-file-w_btn siom-add-image-btn js-file-upload-btn" title="Загрузить файл"></a>
        </div>

      </td>

    </tr>
  </table>

  @if( isWifi ) {
    <table cellpadding="0" cellspacing="0" class="input-wrap big">
      @inputText(jf("audienceDescr"), '_label -> (Messages("Audience.descr") + ":"))
    </table>

    <table cellpadding="0" cellspacing="0" class="input-wrap big">
      @inputText(jf("humanTrafficAvg"), '_label -> (Messages("Daily.people.traffic") + ":"))
    </table>
  }

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputText(jf("town"), '_label -> (Messages("Town") + ":"))
  </table>

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @textarea(jf("address"), '_label -> (Messages("Address") + ":"))
  </table>


  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputText(jf("siteUrl"), '_label -> (Messages("Site") + ":"))
  </table>

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputText(jf("email"), '_label -> (Messages("constraint.email") + ":"))
  </table>

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputText(jf("phone"), '_label -> (Messages("Office.phone.number") + ":"))
  </table>

  @if( isWifi ) {
    <table class="input-w __big">
      <tr>

        <td class="input-w_left">
          <label class="input-w_prop-name">Картинка<br/>приветствия:</label>
          <span class="required-icon">*</span>
        </td>

        <td>

          <div class="add-file-w __size-S"  >
            @stuff._fileUploadTpl(routes.Img.handleTempImg, fieldName = "welcomeImgId")
            <a class="add-file-w_btn siom-add-image-btn js-file-upload-btn" title="Загрузить файл"></a>
          </div>

        </td>

      </tr>
    </table>

    <table cellpadding="0" cellspacing="0" class="input-wrap big">

      <tr>
        <td class="left">
          <label for="logoImgInput">Фотографии<br/>объекта:</label>
        </td>

        <td class="right">

          <div class="add-file-w __size-S" >
            @stuff._fileUploadTpl(routes.Img.handleTempImg, fieldName = "gallery", multiple = true)
            <a class="add-file-w_btn siom-add-image-btn js-file-upload-btn" title="Загрузить файл"></a>
          </div>

        </td>
      </tr>

    </table>
  } else {
    <table cellpadding="0" cellspacing="0" class="input-wrap big">
      @textarea(jf("info"), '_label -> "Описание товаров или услуг:")
    </table>
  }

  <table class="input-wrap big">
    <td class="left">
      <label for="meta_color">Основной цвет:</label>
      <span class="required-icon">*</span>
    </td>
    <td class="right">
      <div class="lk-color-select__color lk-color-select__color_custom js-custom-color" style="background: #@jf("color").value;">
      <div></div>
      <input id="meta_color" type="hidden" name="color" value="@jf("color").value"/>
      </div>
    </td>
  </table>


  @if( isWifi ) {

    <div class="border-line"></div>

    <table cellpadding="0" cellspacing="0" class="input-wrap big textarea">
      @textarea(jf("payReqs"), '_label -> (Messages("requisites") + ":"))
    </table>

  }


  <div class="border-line"></div>


  @* Капча *@
  <table cellpadding="0" cellspacing="0" class="input-wrap">
    <tr>
      <td class="left"></td>
      <td class="right" style="height: 55px;">
        @defining( jf(CAPTCHA_ID_FN).value.filter(!_.isEmpty).getOrElse(randomId(6, ctx.PRNG)) ) { captchaId =>
          <input id="captchaId" type="hidden" name="captchaId" value="@captchaId"/>
          <img id="captchaImage" src="@routes.Captcha.getCaptcha(captchaId)" alt=""/>
          <a id="captchaReload" class="captcha-reload-btn" href=""></a>
        }
      </td>
    </tr>
  </table>


  <table cellpadding="0" cellspacing="0" class="input-wrap">
    @inputText(
      jf(CAPTCHA_TYPED_FN),
      '_label -> Messages("Input.text.from.picture")
    )
  </table>



  <div class="border-line"></div>


  <div class="submit-wrap submit-wrap_padding10">

    <a class="siom-ac-btn __color-2 __size-M __ft-XM f-right js-submit-btn">
      @Messages("Request.invite")
    </a>

  </div>

}
