@(withCallTo: Boolean = true)(content: Html)(implicit ctx: Context)

@* Обрамляющая верстка в /m, отображаемая только на телефоне. *@

@import util.cdn.CdnUtil

<a class="index-page_logo-link" href="/" >
  <img class="index-page_logo-image" src='@CdnUtil.asset("images/market/index/logo_retina.png")'/>
</a>

@content

@if(withCallTo) {
  <div class="adv-req-page_or-text">или<br/>позвоните сейчас</div>

  <div class="ovh">
    <a class="adv-req-page_call-btn" href="tel:88126407646"></a>
  </div>
}

<!--<div class="adv-req-page_how-it-works">
  <a class="siom-new-btn __size-L __color-1" href="@routes.Market.marketBooklet"> Как это работает? </a>
</div>-->
