@(jf: Form[_], btnClass: String, submitCall: Call, isWifi: Boolean)(implicit ctx: Context)

@import ctx._
@import helper._
@import util.FC.tdFc

@form(submitCall) {

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputText(jf("company"), '_label -> (Messages("Company") + ":"))
  </table>

  @if( isWifi ) {
    <table cellpadding="0" cellspacing="0" class="input-wrap big">
      @textarea(jf("audienceDescr"), '_label -> (Messages("Audience.descr") + ":"))
    </table>

    <table cellpadding="0" cellspacing="0" class="input-wrap big">
      @inputText(jf("humanTraffic"), '_label -> (Messages("Daily.people.traffic") + ":"))
    </table>
  } else {
    <table cellpadding="0" cellspacing="0" class="input-wrap big">
      @inputText(jf("info"), '_label -> (Messages("Address") + ":"))
    </table>
  }

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputText(jf("address"), '_label -> (Messages("Address") + ":"))
  </table>

  @if( !isWifi ) {
    <table cellpadding="0" cellspacing="0" class="input-wrap big">
      @inputText(jf("floor"), '_label -> (Messages("Floor.number") + ":"))
    </table>

    <table cellpadding="0" cellspacing="0" class="input-wrap big">
      @inputText(jf("section"), '_label -> (Messages("Section.number") + ":"))
    </table>
  }

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputText(jf("siteUrl"), '_label -> (Messages("Site") + ":"))
  </table>

  <table cellpadding="0" cellspacing="0" class="input-wrap big">
    @inputText(jf("phone"), '_label -> (Messages("Office.phone.number") + ":"))
  </table>

  <table cellpadding="0" cellspacing="0" class="input-wrap big textarea">
    @textarea(jf("info"), '_label -> (Messages("Information") + ":"))
  </table>

  <div class="border-line"></div>

  <div class="blue-btn-new js-submit-wrap f-right" style="margin-top: 10px;">
    <span class="btn"></span>
    <input type="submit" class="@btnClass" value="@Messages("Request.invite")"/>
  </div>

}
