@()(implicit ctx: Context)

@import controllers.MarketShowcase.DEMO_ADN_ID_OPT
@import util.cdn.CdnUtil

@* Статическая success-страничка, которая сообщает юзеру, что его запрос принят к рассмотрению. *@

@joinBase("Запрос на подключение принят") {


  <div class="body __responsive index-page_cnt">

    <div class="body_cnt __responsive" id="centerContent">

        <a href="@routes.Market.index()" class="index-page_logo-link">
          <img src="@CdnUtil.asset("images/market/index/logo_retina.png")" class="index-page_logo-image">
        </a>


        <div class="mail-icon __white join-success_mail"></div>


        <div class="join-success_text">
          <p class="block __margin-M">
            После того как администраторы рассмотрят ваш запрос мы<br/> с вами свяжемся.
          </p>

          <p class="block __margin-M">
            Пока можно посмотреть выдачу всех рекламных карточек<br/> на нашем сайте. Это бета версия.
            <br/>
            @DEMO_ADN_ID_OPT.map { demoAdnId =>
              <a class="link" target="_blank" href="@routes.MarketShowcase.demoShowcase()">Смотреть →</a>
            }
          </p>
        </div>



    </div>

  </div>
}
