@(jf: Form[_])(implicit ctx: Context)

@* Страница, отображающая форму для запроса инвайта в качестве рекламодателя. *@


@joinBase("Разместить рекламу") {


  <div class="header __responsive">

    <div class="header_cnt __responsive">

      <a class="siom-logo-def" href="/m/lk">
        <img src='@routes.Assets.at("images/market/lk/logo.png")' alt="logo" width="105" height="50"/>
      </a>

    </div>

  </div>

  <div class="body-wrap wave-pattern body-wrap_responsive-mode">

    <div class="title-wrap wave-pattern">

      <div class="center">
        <a class="back-but" href="@routes.MarketLk.lkIndex">&nbsp;</a>
        <div class="title-inner">
          РАЗМЕСТИТЬ РЕКЛАМУ
        </div>
      </div>

    </div>


    <div class="body body_responsive-mode">

      <div class="ovh">

        @_joinReqFormTpl(
          jf = jf,
          btnClass = "blue",
          submitCall = routes.MarketJoin.joinAdvRequestSubmit,
          isWifi = false
        )

      </div>

    </div>

  </div>

}