@(jf: Form[_])(implicit ctx: Context)

@* Страница, отображающая форму для запроса инвайта в качестве рекламодателя. *@

@import controllers.MarketJoin.{CAPTCHA_ID_FN, CAPTCHA_TYPED_FN}
@import io.suggest.util.StringUtil.randomId
@import util.cdn.CdnUtil

@joinBase("Suggest.io: мобильная таргетированная реклама в Москве и СПБ,  размещение рекламы в Интернете.") {

  <div class="body __responsive index-page_cnt">

    <div class="body_cnt __responsive adv-req-page">

      <div class="phone-visible">

        @_joinPhoneOuterTpl() {
          <div class="adv-req-page_call-back-btn">
            <a class="siom-new-btn __size-L __fill-1" href="@routes.MarketJoin.callbackRequest()">Запросить обратный звонок</a>
          </div>
        }

      </div>


      <div class="phone-hidden">

        <div class="adv-req-page_right">
          @*_joinReqFormTpl(
            jf = jf,
            btnClass = "blue",
            submitCall = routes.MarketJoin.joinAdvRequestSubmit,
            isWifi = false
          )*@

          <div class="adv-req-form_text">
            <h3>Что такое Suggest.io?</h3>

            <p class="block __margin-M __text-C">
              Suggest.io – поиск по рекламным предложениям<br/> и система размещения таргетированой<br/> мобильной рекламы в Интернете.
            </p>

            <h3>Эффективная<br/>мобильная реклама</h3>

            <p class="block __margin-M __text-justify" >
              Рекламная выдача Suggest.io выводится непосредственно <strong>на экран мобильного коммуникатора</strong>. <br>Преимущество системы в том, что рекламный баннер автоматически трансформируется под размер экрана и занимает весь экран. Баннер отлично читается. Баннер выглядит лучше и ярче, чем в других системах <strong>мобильной рекламы</strong>.
              Поэтому мобильная реклама в Suggest.io работает более эффективно.
            </p>

            <h3>Таргетированная реклама</h3>

            <p class="block __margin-M __text-justify">
              В настоящее время <strong>таргетированная рекламная выдача</strong> Suggest.io формируется по 150 отдельным локациям в <strong>Москве и Санкт-Петербурге</strong>. В список локаций <strong>таргетированой рекламы</strong> входят крупнейшие торговые комплексы, высшие учебные заведения, аэропорты, административные округа Москвы и районы Санкт-Петербурга. Список локаций расширяется. Suggest.io обеспечивает очень высокое <strong>таргетирование рекламы</strong>.
              Например, можно заказать мобильную рекламу с показами на территории отдельного торгового центра или отдельного университета.
            </p>

            <h3>Размещение рекламы<br/>в Интернете</h3>

            <p class="block __margin-M __text-C" style="margin-bottom: 50px;"> Заказы на <strong>размещение таргетированной мобильной интернет-рекламы</strong>
              в Suggest.io принимаются по тел. 8&nbsp;(812)&nbsp;640-76-46. Прайсы на размещение &ndash; очень гибкие. Стоимость размещения
              <strong>тартетированной рекламы<br>в Москве и Санкт-Петербурге</strong><br> начинается от 100-400 руб. в месяц.<br>
              Для рекламных агентств предусмотрены<br> очень выгодные скидки.<br> Есть скидки на <strong>размещение интернет-рекламы</strong>
              <br>для прямых рекламодателей &ndash; <br>в зависимости от объемов заказа.<br> Более подробная информация о системе &ndash;<br>
              на <a href="/market/booklet" class="link">https://suggest.io/market/booklet</a>.
            </p>

          </div>

        </div>

        <div class="adv-req-page_left">
          <a class="index-page_logo-link" href="@routes.Ident.mySioStartPage()" >
            <img class="index-page_logo-image" src='@CdnUtil.asset("images/market/index/logo_retina.png")'/>
          </a>


          <p class="adv-req-page_text">
            Для размещения рекламы<br/>свяжитесь с нашими специалистами
          </p>

          <div class="adv-req-page_btn-lst">
            <div class="adv-req-page_btn-w">
              <a class="phone-btn adv-req-page_phone" href="tel:88126407646">
                8&nbsp;812&nbsp;640&nbsp;76&nbsp;46
              </a>
            </div>
            <div class="adv-req-page_btn-w">
              <a class="adv-req-page_mail" href="mailto:ads@@suggest.io">
                ads@@suggest.io
              </a>
            </div>
          </div>


        </div>

      </div>

    </div>

  </div>

}
