@(smja: util.qsb.SMJoinAnswers, jf: Form[_])(implicit ctx: Context)

@* Форма для ввода данных запроса регистрации рекламного узла. *@

@import ctx._
@import helper._
@import util.FC.tdFc

@joinBase("Стать участником сети") {

  <div class="header-wrap">

    <div class="center">

      <a class="logo" href="/m/lk">
        <img src='@routes.Assets.at("images/market/lk/logo.png")' alt="logo" width="105" height="50"/>
      </a>

    </div>

  </div>

  <div class="body-wrap body-wrap_login-page">

    <div class="title-wrap">

      <div class="center">
        <a class="back-but" href="@routes.MarketJoin.wifiJoinQuestionsForm(Option(smja))">&nbsp;</a>
        <div class="title-inner">
          РАЗМЕСТИТЬ РЕКЛАМУ
        </div>
      </div>

    </div>

    <div class="body">

      @_joinReqFormTpl(
        jf = jf,
        btnClass = "green",
        submitCall = routes.MarketJoin.wifiJoinFormSubmit(smja),
        isWifi = true
      )

    </div>

  </div>

}
