@(smja: SMJoinAnswers, jf: Form[_])(implicit ctx: Context)

@* Форма для ввода данных запроса регистрации рекламного узла. *@

@import ctx._
@import helper._
@import util.FC.tdFc

@joinBase("Стать участником сети") {

  <div class="header __responsive">

    <div class="header_cnt __responsive">

      <a class="siom-logo-def" href="/m/lk">
        <img src='@routes.Assets.at("images/market/lk/logo.png")' alt="logo" width="105" height="50"/>
      </a>

    </div>

  </div>

  <div class="body __responsive wave-pattern">

    <div class="page-title wave-pattern">

      <div class="page-title_cnt">
        <a class="back-btn" href="@routes.MarketJoin.wifiJoinQuestionsForm(Option(smja))">&nbsp;</a>
        СТАТЬ УЧАСТНИКОМ СЕТИ
      </div>

    </div>

    <div class="body_cnt __responsive">

      <div class="ovh">

        @_joinReqFormTpl(
          jf = jf,
          btnClass = "green",
          submitCall = routes.MarketJoin.wifiJoinFormSubmit(smja),
          isWifi = true
        )

      </div>

    </div>

  </div>

}
