@(qf: Form[_])(implicit ctx: Context)

@* Анкета для запроса подключения в качестве ресивера рекламных карточек. *@
@import helper._
@import ctx._

@* Фунция-генератор для блока с вопросом и ответами, передаваемыми в аргументе content. *@
@qsn(fn: String, index: Integer)(content: Html) = {


  <div class="lk-edit-form__block js-slide-wrap js-quiz__element @if(index > 0){hidden}" id="@fn" data-index="@index" >

    <div class="lk-edit-form__block_title ovh">
      <div class="attention-icon">!</div>
      <div class="border-line"></div>
        <span class="lk-edit-form__block_title_span">
          @Messages("join.qsn." + fn)
        </span>
      <div class="border-line"></div>
    </div>

    <div class="lk-edit-form__block_body js-slide-content">

      <div class="lk-edit-form__block_body_inner">
        @content
      </div>

    </div>

  </div>

}

@* Функция, которая должна генерить блок с заголовком и чекбоксами "да/нет" для ответа на вопрос, заданный в заголовке.
   На сервер должно приходить "true", "false" или пустое/отсутсвующее поле для значения "не знаю". *@
@yesNoInputs(fn: String, yesId: String, noId: String, index: Int) = {
  @qsn(fn, index) {
    @defining( qf(fn).value.map(_.toBoolean) ) { fv =>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td class="quiz__td">
            <div class="quiz__checkbox-wrap ovh">
              <label>
                <input class="js-one-checkbox js-quiz__checkbox" data-next="@yesId" type="checkbox" data-name="@fn" name="@fn" value="true"@if(fv.isDefined && fv.get) { checked}/>@Messages("Yes")
              </label>
            </div>
          </td>
          <td class="quiz__td">
            <div class="border-line-vertical f-left"></div>
          </td>
          <td>
            <div class="quiz__checkbox-wrap ovh">
              <label>
                <input class="js-one-checkbox js-quiz__checkbox" data-next="@noId" type="checkbox" data-name="@fn" name="@fn" value="false"@if(fv.isDefined && !fv.get) { checked}/>@Messages("No")
              </label>
            </div>
          </td>
        </tr>
      </table>
    }
  }
}

@joinBase("Готова ли ваша wi-fi сеть к SIO-Market") {


  <div class="header __responsive">

    <div class="header_cnt __responsive">

      <a class="siom-logo-def" href="/m/lk">
        <img src='@routes.Assets.at("images/market/lk/logo.png")' alt="logo" width="105" height="50"/>
      </a>

    </div>

  </div>

  <div class="body __responsive wave-pattern">

    <div class="page-title wave-pattern">

      <div class="page-title_cnt">
        <a class="back-btn" href="@routes.MarketLk.lkIndex">&nbsp;</a>
        ГОТОВА ЛИ ВАША Wi-Fi СЕТЬ К SIO MARKET?
      </div>

    </div>


    <div class="body_cnt __responsive">

      <div class="ovh">

        @form(routes.MarketJoin.wifiJoinQuestionsFormSubmit, 'id -> "wifiJoinForm") {
          @* Любое поле может сабмиттить на сервер пустое/отсутсвующее значение, обозначающее "не знаю". *@

          <div class="wifi-page__left-column">
            @* Левая половина ответов (в дизайне). *@
            @yesNoInputs("haveWifi", "#fullCoverage", "#landlineInet", 0)
            @yesNoInputs("fullCoverage", "#knownEquipment", "#text2", 1)
            @yesNoInputs("knownEquipment", "#altFw", "#text2", 2)
            @yesNoInputs("altFw", "#isWrtFw", "#text2", 3)
            @yesNoInputs("isWrtFw", "#text3", "#text2", 4)


            @* Правая половина ответов. *@
            @yesNoInputs("landlineInet", "#smallRoom", "#text2", 1)
            @yesNoInputs("smallRoom" , "#audienceSz", "#text2", 2)

            @defining( "audienceSz" ) { fn =>
              @qsn(fn, 3) {
                @defining( qf(fn).value ) { auSzopt =>
                  <table cellspacing="0" cellpadding="0">
                    <tr>
                      @AudienceSizes.values.zipWithIndex.map { case(auSzVariant, i) =>
                        <td class="quiz__td">
                          <div class="quiz__checkbox-wrap ovh">
                            <label>
                             <input class="js-quiz__checkbox js-one-checkbox" data-next="#text@i" type="checkbox" data-name="@fn" name="@fn" value="@auSzVariant"/>
                              @Messages(s"join.qsn.$fn.$auSzVariant")
                            </label>
                          </div>
                        </td>

                        @if(i < 2) {
                          <td class="quiz__td">
                            <div class="border-line-vertical f-left"></div>
                          </td>
                        }

                      }
                    </tr>
                  </table>
                }
              }
            }



          </div>

          <div class="wifi-page__right-column">

            <div id="text0" class="js-quiz__result hidden" style="padding-top: 122px;">
              <img src="/assets/images/market/lk/router1.png" style="margin-left: 30px;" />
              <p class="paragraph __size-M">
                <strong>
                  Беспроводной маршрутизатор
                </strong>
                <br/>
                <strong class="font-16">
                  Microtik RB951Ui-2HnD
                </strong>
              </p>
              <p class="paragraph __size-M">
                <strong>Купить и настроить маршрутизатор
                  можно как в нашей компании,
                  так и самостоятельно. В варианте
                  покупки в нашей компании вы
                  получаете уже настроенный
                  маршрутизатор.</strong> (Стоимость
                устройства с настройкой – 9500 руб.)
              </p>
              <p class="paragraph __size-M">
                <strong>
                  Если вы приобретаете и
                  настраиваете устройство
                  самостоятельно, высылается
                  бесплатная инструкция по
                  настройке.
                </strong>
              </p>
            </div>

            <div id="text1" class="js-quiz__result hidden">
              <img src="/assets/images/market/lk/router2.png" style="margin-left: -25px;"/>
              <p class="paragraph __size-M">
                <strong>
                  Беспроводной маршрутизатор
                </strong>
                <br/>
                <strong class="font-16">
                  Microtik RB2011UiAS-2HnD-IN
                </strong>
              </p>
              <p class="paragraph __size-M">
                <strong>Купить и настроить маршрутизатор
                  можно как в нашей компании,
                  так и самостоятельно. В варианте
                  покупки в нашей компании вы
                  получаете уже настроенный
                  маршрутизатор.</strong> (Стоимость
                устройства с настройкой – 12500 руб.)
              </p>
              <p class="paragraph __size-M">
                <strong>
                  Если вы приобретаете и
                  настраиваете устройство
                  самостоятельно, высылается
                  бесплатная инструкция по
                  настройке.
                </strong>
              </p>
            </div>

            <div id="text3" class="hidden js-quiz__result">
              <p class="color-link paragraph __size-M">
                После небольшой подготовительной
                работы нашими специалистами у вас
                будет полноценная Free Wi-Fi зона.
              </p>

              <a class="siom-ac-btn __color-2 __size-M __ft-L js-submit-btn">
                @Messages("WRITE")
              </a>
            </div>

            <div id="text2" class="hidden js-quiz__result">
              <p class="color-link">
                Обратитесь к нашим
                специалистам для
                детальной проработки
                сети Wi-Fi.
              </p>
              <p class="paragraph __size-M">
                Проработаем покрытие,
                подберём оборудование,
                произведём настройку.
              </p>

              <a class="siom-ac-btn __color-2 __size-M __ft-L js-submit-btn">
                @Messages("WRITE")
              </a>

            </div>



          </div>


        }

      </div>

    </div>

  </div>
}
