@(qf: Form[_])(implicit ctx: Context)

@* Анкета для запроса подключения в качестве ресивера рекламных карточек. *@
@import helper._
@import ctx._

@* Фунция-генератор для блока с вопросом и ответами, передаваемыми в аргументе content. *@
@qsn(fn: String)(content: Html) = {
  <div>
    <h3>@Messages("join.qsn." + fn)</h3>
    @content
  </div>
}

@* Функция, которая должна генерить блок с заголовком и чекбоксами "да/нет" для ответа на вопрос, заданный в заголовке.
   На сервер должно приходить "true", "false" или пустое/отсутсвующее поле для значения "не знаю". *@
@yesNoInputs(fn: String) = {
  @qsn(fn) {
    @defining( qf(fn).value.map(_.toBoolean) ) { fv =>
      <input type="checkbox" name="@fn" value="true"@if(fv.isDefined && fv.get) { checked}/>@Messages("Yes")<br/>
      <input type="checkbox" name="@fn" value="false"@if(fv.isDefined && !fv.get) { checked}/>@Messages("No")<br/>
    }
  }
}

@joinBase("Готова ли ваша wi-fi сеть к SIO-Market") {
  <h1>Готова ли ваша сеть?</h1>

  @form(routes.MarketJoin.joinQuestionsFormSubmit) {
    @* Любое поле может сабмиттить на сервер пустое/отсутсвующее значение, обозначающее "не знаю". *@

    @yesNoInputs("haveWifi")

    @* Левая половина ответов (в дизайне). *@
    @yesNoInputs("fullCoverage")
    @yesNoInputs("knownEquipment")
    @yesNoInputs("altFw")
    @yesNoInputs("isWrtFw")

    @* Правая половина ответов. *@
    @yesNoInputs("landlineInet")
    @yesNoInputs("smallRoom")

    @defining( "audienceSz" ) { fn =>
      @qsn(fn) {
        @defining( qf(fn).value ) { auSzopt =>
          @AudienceSizes.values.map { auSzVariant =>
            <label>
              <input type="checkbox" name="@fn" value="@auSzVariant"/>
              @Messages(s"join.qsn.$fn.$auSzVariant")
            </label>
          }
        }
      }
    }
    <input type="submit" value="Написать"/>
  }
}
