@(cats: Seq[MMartCategory], af: AdFormM)(implicit ctx: Context)

@* Механизм задания/изменения категории рекламной карточки. *@

@import helper._
@import ctx.messages

@defining( af("ad.catId") ) { rootField =>

@* Input для id выбранной категории. *@
<div class="categories-select" id="cat-select">
  @defining( rootField.indexes.flatMap { i => af(s"ad.catId[$i]").value }.toSet ) { catIds =>
    @cats.iterator.zipWithIndex.map { case (mmcat, i) =>
      <label class="edit-ad_category-checkbox-w">
        <input type="checkbox" name="ad.catId[@i]" value="@mmcat.id"
               @if(catIds contains mmcat.id.get) {checked="checked"} />
        <span class="styled-checkbox edit-ad_category-checkbox-title">@messages(mmcat.name)</span>
      </label>
    }
    <div class="triger"></div>
  }
</div>

@rootField.error.map { error =>
  <div style="color: #E23131; font-size: 12px; font-family: 'Arial'; padding: 5px;">
    @messages(error.message, error.args : _*)
  </div>
}

} @* defining rootField *@
