@(af: AdFormM, call: Call, mmcats: Seq[MMartCategory], withBC: Option[BlockConf], adnNode: MAdnNode)(implicit ctx: Context)

@* Рендер формы редактирования произвольной рекламы.
 * offerType - предпочитаемый тип оффера, когда он неизвестен. *@

@import ctx._
@import helper._
@import AdOfferTypes._
@import util.blocks._
@import util.FC.checkboxFc


@helper.javascriptRouter("jsRoutes")(
  routes.javascript.MarketCategory.directSubcatsOf,
  routes.javascript.MarketAd.newTextField
)

@* Определяем текущий тип оффера (тип формы). Используем данные формы и аргумент offerType как fallback. *@
@form(CSRF(call), 'id -> "promoOfferForm") {

  @* Бывает, что у формы задана ошибка верхнего уровня. TODO А такое теперь возможно вообще?
    @af.globalError
  *@

  @lk.lkBlockNewDesign( cssClass = "__ad-editor" ) {
    @Messages("Choose.category")
  } {
    @_adFormCatSelectorsTpl(mmcats, af)
  }


  @* Для блока : превьюшка + редактор *@
  @lk.lkBlockNewDesign( cssClass = "__ad-editor" ) {
    @Messages("Ad.layout")
  } {

    @* Форма редактирования блока *@
    <div class="lk-ad-block-edit-form">

      @* Отображение превьюшки *@
      <div class="lk-ad-block-edit-form__preview">

        <input class="js-ad-block-preview-action" type="hidden" value="@CSRF(routes.MarketAd.adFormPreviewSubmit(adnNode.id.get, isFull = false))"/>
        <input class="js-ad-block-full-preview-action" type="hidden" value="@CSRF(routes.MarketAd.adFormPreviewSubmit(adnNode.id.get, isFull = true))"/>

        <div class="lk-ad-block-edit-form__preview_container" id="adFormBlockPreview"></div>

        <div class="clear"></div>
      </div>

      @* Отображение нужного редактора *@
      <div class="lk-ad-block-edit-form__editor" id="adFormBlockEditor">

        @blocks.editor._blockEditorTpl(af, withBC = withBC)

        @* 2014.nov.26: Новая галочка "паттерн" для задания покрывающей сетки указанного цвета. *@
        <div class="edit-ad_pattern-w input-w">
          <div class="edit-ad_pattern-option">
            @checkbox(af("ad.pattern.enabled"), '_label -> Messages("Ad.edit.pattern") )
          </div>
          <div class="edit-ad_pattern-color">
            @_selectColorTpl(af("ad.pattern.color"), label = Messages("Ad.edit.pattern.color") )
          </div>
        </div>
      </div>

      <div class="clear"></div>

    </div>

  }


  @* HTML-редактор для ввода текстового описания. *@
  @lk.lkBlockNewDesign( cssClass="__ad-editor" ) {
    @Messages("Description")
  } {

    <table class="input-w __size-L tinymce" id="adFormDescriptionTable">

      @_selectColorTpl(af("ad.descr.bgColor"), label = Messages("Bg.color"))

      <td class="input-w_tinymce-editor">
        @defining( "ad.descr.text" ) { name =>
          <textarea class="js-tinymce" id="ad_descr_text" name="@name">
            @af(name).value
          </textarea>
        }
      </td>

    </table>

  }

  @* Режим формы (тип рекламного оффера). Должен переключаться при переключении вкладки.
     TODO Режимы были упраздены, по факту остался только один редактор. Нужно аккуратно выпилить это отовсюду. *@
  <input id="ad-mode" type="hidden" name="ad.offer.mode" value="@AdOfferTypes.BLOCK"/>


}

