@(mads: Seq[MAd], coverDisableReason: Boolean, startIndex: Int = 1, itemsInLine: Int = 4)(postContent: MAd => Html)(implicit ctx: Context)

@* Заготовка списка рекламных карточек на странице узла рекламной сети.
   postContent содержит функцию, которая генерит верстку для каждого элемента списка.
   coverDisableReason = false позволяет игнорировать наличие disableReason при рендере. *@

@import ctx._
@import AdShowLevels._
@import views.html.sc._

@mads.zipWithIndex.map { case (mad, i) =>
  @defining( i + startIndex ) { itemIndex =>
    <div class="adv-item @if(itemIndex % itemsInLine == 0){ __first-in-line }">

      <div class="adv-item_preview">
        @if(coverDisableReason) {
          @_adDisableReasonCoverTpl(mad.disableReason)
        }
        <div class="adv-item_preview-container">
          @_adNormalTpl(mad)
        </div>
        <div class="adv-item_preview-border"></div>
      </div>

      @postContent(mad)

    </div>

    @if( itemIndex % itemsInLine == itemsInLine - 1 ){
      <div class="adv-lst_delimiter"></div>
    }
  }
}

