@(mad: MAd)(implicit ctx: Context)

@* Окошко с подтверждением удаления рекламной карточки. Загружается по ajax при нажатии на кнопку "удалить". *@

@import helper._
@import ctx._

<div class="popup js-popup __size-M js-hidden" id="remove-ad">

  <div class="popup_header">
    <a class="close f-right js-close-popup" href="@routes.MarketAd.editAd(mad.id.get)"></a>
  </div>

  <h2 class="minor-title">
    Рекламная карточка будет удалена
  </h2>

  <div class="btn-w __size-M">
    <a class="btn __size-M __minor js-close-popup">Отменить</a>
    @stuff._deleteSmthFormBtnTpl(CSRF(routes.MarketAd.deleteSubmit(mad.id.get)), Some("__size-M __negative __list"), "inline-block")
  </div>

</div>
