@(colorField: Field, label: String, htmlAfter: Option[Html] = None)(implicit ctx: Context)

@* Селектор цветов для различных полей формы.
   TODO Спилить htmlAfter-костыль. Потому что это зашквар из-за "особенностей" верстки макса.
   Поле по идее используется лишь в одном месте. *@
@import ctx._

@* Дополнительная фильтрация значения формы из-за возможных пустых значений Some("") невыясненной природы. *@
<td>
  @defining( colorField.value.map(_.trim).filter(!_.isEmpty).getOrElse("FFFFFF") ) { colorValue =>
    <div class="ad-field-editor_color-btn f-left js-custom-color"  data-current-value="#@colorValue" style="background-color: #@colorValue;">
      <input type="hidden" id="@colorField.id" name="@colorField.name" value="@colorValue"/>
    </div>
  }
  <label class="input-w_prop-name __right" for="@colorField.id">@label</label>
  @htmlAfter
</td>
