@(args: blk.IRenderArgs, bc: util.blocks.BlocksConf.CommonBlock2T)(implicit ctx: Context)

@* Базовый шаблон тела block'ов версии 2.0. *@

@import views.txt.blocks.common._

@defining( args.inlineStyles || args.mad.id.isEmpty ) { isStylesInline =>

  @bgImgTpl(bc, args,  cssClass = Some("bg") )

  @if(isStylesInline) {
    <style>@Html(_blockCss(args).toString.trim)</style>
  }

  @args.mad.offers.map { offer =>

    @defining("title") { fid =>
    @offer.text1.map { aosf =>
      <div class="@if(args.withEdit){js-mvbl} mvbl-@fid mvbl-@fid-@offer.n"
           @if(args.withEdit) {data-connected-input="ad.offer.offer[@offer.n].@fid"}>
        <div class="@fid @fid-@offer.n">@Html(aosf.value)</div>
      </div>
      @if(isStylesInline) {
        <style>
          @Html(_textCss(blk.FieldCssRenderArgs2(
            aovf    = aosf,
            bf      = bc.titleBf,
            brArgs  = args,
            offerN  = offer.n,
            yoff    = 0,
            fid     = fid,
            cssClasses = args.cssClasses
          )).toString.trim)
        </style>
      }
    }
    }

  }

}
