@(mad: MAdT,  bc: util.blocks.SaveBgImgI,  args: blk.RenderArgs,  cssClass: Option[String] = None,
  dfltImg: Option[String] = None,  alt: Option[String] = None,  style: Option[String] = None)(implicit ctx: Context)

@import models.blk.AdColorFns.IMG_BG_COLOR_FN.{toString => IMG_BG_COLOR_FN}
@import util.cdn.CdnUtil

@* Код для рендера тега/тегов, относящихся к фоновой (основной) картинке блока. *@

@args.bgImg.filter(!_.isWide).map { bg =>

  @* Есть картинка в карточке. Рендерим img-тег: *@
  <img alt="@alt"
       @cssClass.map { _cssClass => class="@_cssClass" }
       src="@CdnUtil.forCall( bg.dynImgCall )"
       @defining( mad.colors.get(IMG_BG_COLOR_FN) ) { iBgColorOpt =>
         @if(iBgColorOpt || style) {
           style="@iBgColorOpt.map { ibgColor =>background-color:#@ibgColor;}@style"
         }
       }
       @defining( bg.szCss ) { sz =>
         width="@sz.width" height="@sz.height"
       }
  />

}
