@(args: blk.IRenderArgs, bc: util.blocks.ValT)(content: Html)(implicit ctx: Context)

@import models.blk.szMulted
@import args.mad
@import io.suggest.sc.ScConstants._
@import io.suggest.sc.ScConstants.Block._
@import io.suggest.sc.ScConstants.Focused.FAd
@import views.txt.blocks.common._

@* Тут постоянная часть верстки блоков карточек в выдаче.
   __rel класс - центровка div'а по центру.  *@
<div class="sm-block sio-mart__single-offer sm-block-tpl@bc.id @if(mad.id){sm-block@mad.id} @if(args.isFocused){__rel} @args.cssClasses"
     @if(mad.id) {
       @MAD_ID_ATTR="@mad.id"
       @if(args.apiVsn.serverSideBlockIds) {
         id="@mad.id@ID_DELIM@(if (args.isFocused) FAd.BLOCK_ID_SUFFIX else ID_SUFFIX)"
         @args.indexOpt.map { index => @BLK_INDEX_ATTR="@index" }
       }
     }
     @mad.ad.blockMeta.map { bm =>
       @WIDTH_ATTR="@szMulted(bm.width, args.szMult)"
       @HEIGHT_ATTR="@szMulted(bm.height, args.szMult)"
     }
     data-wide-bg="@args.wideBg.isDefined"
     @args.topLeft.filter(_.inlineStyle).map { tl =>style="@_focTopLeftCss(tl, args.wideBg)"}>
  @content
</div>
