@(l: Seq[io.suggest.model.MDVIActive])(implicit ctx: util.Context)

@* Инлайновый шаблон для вывода списка элементов MDVIActive в шаблонах верхнего уровня. *@

@if(l.isEmpty) {
  <p><b>Индексов не найдено.</b></p>
  Вероятно, это первый запуск, либо что-то сломалось или работает неправильно.

} else {
  <table>
    <thead>
    <tr>
      <td>view</td>
      <td>dkey</td>
      <td>vin</td>
      <td>generation</td>
      <td>subshards</td>
    </tr>
    </thead>

    <tbody>
    @l.map { e =>
      <tr>
        <td><a href="@routes.Sys.indicesShowActiveFor(dkey=e.getDkey, vin=e.getVin)">:::</a></td>
        <td><a href="@routes.Sys.dkeyShow(e.getDkey)">@e.getDkey</a></td>
        @* Индекс отображается разным шрифтом в зависимости от кол-ва реальных шард индекса. *@
        @defining(e.getVirtualIndex.shardCount) { esShardCount =>
          <td><a title="@esShardCount-шардовый индекс." href="@routes.Sys.showVin(e.getVin)"><font size="@Math.min(7, esShardCount)">@e.getVin</font></a></td>
        }
        <td>@e.getGeneration</td>
        <td>
          @defining(e.getSubshardsInfo) { ssi =>
            <span title="Количество виртуальных подшард">(@ssi.size)</span>:
            @ssi.map { si =>
              &#123;<span title="lowerDateDays = @si.lowerDateDays">@si.lowerDate</span>
              =&gt;
              [@if(si.shards.isEmpty) {*} else {@si.shards.mkString(",")}]&#125;
            }
          }
        </td>
      </tr>
    }
    </tbody>
  </table>
}
