@(l: Seq[io.suggest.model.MDVIActive])(implicit ctx: util.Context)

@* Инлайновый шаблон для вывода списка элементов MDVIActive в шаблонах верхнего уровня. *@

@if(l.isEmpty) {
  <p><b>Индексов не найдено.</b></p>
  Вероятно, что-то сломалось или работает неправильно. Или это первый запуск.

} else {
  <table>
    <thead>
    <tr>
      <td>view</td>
      <td>dkey</td>
      <td>vin</td>
      <td>generation</td>
      <td>subshards</td>
    </tr>
    </thead>

    <tbody>
    @l.map { e =>
      <tr>
        <td><a href="@routes.Sys.indicesShowActiveFor(dkey=e.dkey, vin=e.vin)">:::</a></td>
        <td><a href="@routes.Sys.dkeyShow(e.dkey)">@e.dkey</a></td>
        @* Индекс отображается разным шрифтом в зависимости от кол-ва реальных шард индекса. *@
        @defining(e.getVirtualIndex.shardCount) { esShardCount =>
          <td><a title="@esShardCount-шардовый индекс." href="@routes.Sys.showVin(e.vin)"><font size="@Math.min(7, esShardCount)">@e.vin</font></a></td>
        }
        <td>@e.generation</td>
        <td>
          <span title="Количество виртуальных подшард">(@e.subshards.size)</span>:
          @e.subshardsInfo.map { si =>
            &#123;<span title="lowerDateDays = @si.lowerDateDays">@si.lowerDate</span>
            =&gt;
            [@if(si.shards.isEmpty) {*} else {@si.shards.mkString(",")}]&#125;
          }
        </td>
      </tr>
    }
    </tbody>
  </table>
}
