@(m: io.suggest.model.MDVIActive)(implicit ctx: util.Context)

@* Шаблон для полного отображения одного экземпляра MDVIActive *@
@import m._

@hPathAfter1 = {
  / @dkey / @vin
}

@indicesBase(title = s"MDVIActive / $dkey / $vin") {
    @defining(dkey) { dkey =>
        <p>dkey: <b><a href="@routes.Sys.dkeyShow(dkey)">@dkey</a></b></p>
    }
    @defining(vin) { vin =>
        <p>vin:  <b><a href="@routes.Sys.showVin(vin)">@vin</a></b></p>
    }
    <p>generation: <b>@generation</b></p>
    <p>subshards:</p>
    <ul>
        @getSubshards.map { ss =>
            <li>
                <span title="lowerDateDays = @ss.lowerDateDays">@ss.lowerDate</span>
                =&gt;
                <b>@ss.getShards.mkString(" ")</b>  @* TODO Тут надо ссылки на получение инфы из ES. *@
            </li>
        }
    </ul>
}

