@(emails: Seq[String], mnode: MAdnNode, msg: String)(implicit ctx: Context)

@* email-уведомление админам sio о том, что юзер запрашивает поддержку геолокации для узла. *@

<div>
  <p>
    Пользователь @emails.headOption.fold {
      @ctx.pwOpt
    } { email =>
      <a href="mailto:@email">@email</a>
    }
    запросил поддержку геолокации на узле:
  </p>

  <p><a href="@routes.SysMarket.showAdnNode(mnode.id.get)">@mnode.meta.name / @mnode.meta.town</a>.</p>

  @if(emails.size > 1) {
    <p>Пользователь также доступен по следующим email:
      @emails.map { email =>
        <a href="mailto:@email">@email</a>
      }
    </p>
  }

  @if(emails.isEmpty) {
    <p><strong>У пользователя нет известного системе адреса email для обратной связи.</strong></p>
  }

  <p>Пользователь сообщает также следующую информацию:</p>
  <p>------------------------------------------</p>
  <div>
    @Html(msg)
  </div>
  <p>------------------------------------------</p>

</div>
