@(b: models.MBlog, preview: Boolean = true)(implicit c:util.Context)

@* Отображение одной записи блога в списке записей *@

@if(preview) {
	</div>
	<div class="blog-post blog-preview @if(b.bg_image.isEmpty) {blog-preview-no-image}">
	    <div class="blog-post-c" style="@if(!b.bg_color.isEmpty) {background-color: #@b.bg_color;} @if(!b.bg_image.isEmpty) { background-image: url('@b.bg_image');}">
	<div class="blog-post-inner">
} else {
    <div class="blog-post blog-post-opened">
}

	<h1>
		{% if preview == "true" %}
		<a href="{% url controller="blog" action="record" id=blog_record.id %}">{{ blog_record.title }}</a>
		{% else %}
		<h1>{{ blog_record.title }}</h1>
		{% endif %}
		{% if _before %}
			{% if _before.is_admin == "true" %}
			<a class="blog-edit-button" href="{% url controller="blog" action="edit" id=blog_record.id %}"></a>
			<a class="blog-delete-button" href="{% url controller="blog" action="delete" id=blog_record.id %}"></a>
			{% endif %}
		{% endif %}
	</h1>
	<div class="blog-text">{% if preview %}{{ blog_record.description }}{% else %}{{ blog_record.text }}{% endif %}</div>
	
{% if preview == "true" %}
</div>
</div>
</div>
<div class="blog-layout-normal">
{% else %}
</div>
{% endif %}
