@(b: models.MBlog, preview: Boolean = true)(implicit c:util.Context)

@* Отображение одной записи блога в списке записей *@

  @if(preview) {
    
    <div class="blog-record blog-preview" style="@if(!b.bg_color.isEmpty) {background-color: @b.bg_color}; @if(!b.bg_image.isEmpty) { background-image: url('@b.bg_image')}">
      
      <a href="@routes.Blog.readOne(b.id)">"@b.title"</a>

      @* Эти два цикла нужно раскоментить после того как в вызовах будет проверяться аутентификация isAdmin, а не maybeAuthenticated (включена для тестов). Чтоб запись бога мог редактировать только зарегестрированный пользователь.
      @* @if(c.isAuth) { *@
      @* @if(c.isAdmin) { *@
        <a class="blog-edit-button" href="@routes.Blog.editRec(b.id)"></a>
        <a class="blog-delete-button" href="@routes.Blog.deleteRecAdmin(b.id)"></a>
      @*   } *@
      @*}    *@
      
      @b.description
    </div>
  }else{
    
    <div class="container">
      
      <h1>@b.title</h1>
      
      <div class="text">
        @b.text
      </div>
      
    </div>
    
  }