@()(implicit c:util.Context)

@import c.lang
@import stuff._
@import crawl._

@head_after = {
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/blog_index.min.css")"/>
}

@crawlBaseTpl(title=Messages("blog"), head_after=head_after) {
<div class="page-wrapper" id="pageWrapper">
	
	<div class="main-layout">
		<a class="logo" href="/"></a>
		@_topMenuTpl(activeLink = "blog")
	</div>
	
	<div id="razduvTop" class="razduv-top"></div>
	<div class="razduv-bottom"></div>
	
	<div class="blog-layout">
		
		{% block blog_body %}
		{% for blog_record in records %}
			{% include "blog/_blog_record.html" with blog_record=blog_record preview="true" %}
			<div class="blog-delimiter"></div>
		{% endfor %}
		{% endblock %}
		
	</div>

	@_copyright()
</div>

<script type="text/javascript">
	$(window).bind('scroll', function()
	{
		var _scroll_top = $(window).scrollTop();
		
		var _opacity = _scroll_top/300;
		$('#razduvTop').css({'opacity':_opacity});
		
		console.log( _opacity );
		
	});
	
</script>
}
