@(postFormM:Form[_], isEdit: Boolean = true)(implicit c:util.Context)
@import helper._

@indexTpl {

<h1><a href="@routes.Blog.recordList">< Back</a>
  @if(!isEdit) {
    Blog: new post</h1>
    } else {
      Blog: edit post</h1>
    }
@form(routes.Blog.newRecS) {

  @if(!isEdit) {
    <fieldset>
        <label>id</label>
        @inputText(postFormM("id"))
    </fieldset>
    }
	<fieldset>
		<label>Title</label>
		@inputText(postFormM("title"))
	</fieldset>

	<fieldset class="compact-fieldset">
		<label>Preview image</label>
        @inputText(postFormM("bg_image"))
		</fieldset>

	<fieldset class="compact-fieldset">
		<label>Preview bg color</label>
		@inputText(postFormM("bg_color"))
	</fieldset>

	@* <fieldset>
		<label>Date</label>
		<input type="text" name="date" value="{{blog_record.date|default:""}}">
	</fieldset> *@

	<fieldset>
        <label>Description</label>
        @inputText(postFormM("description"))
    </fieldset>
    <fieldset>
        <label>Text</label>
        @inputText(postFormM("text"))
    </fieldset>

     @if(!isEdit) {
    <input type="submit" value="Create"/>
      } else {
       <input type="submit" value="Update"/>
      }
  }
}
