@(postFormM:Form[_], isEdit: Boolean = true, call: Call)(implicit c:util.Context)
@import helper._
@import c.lang

@indexTpl {

<div class="container">
  
  <div class="row">
    
    <div class="single-row">
    <h1>
    @if(!isEdit) {
      @Messages("b.a.new_blog_record")
    } else {
      @Messages("b.a.edit_blog_record")
    }
    </h1>
    
@form(call) {

<fieldset>
  @if(!isEdit) {
    @inputText(postFormM("id"), '_label -> Messages("b.a.record_id"))
  } else {
    @inputText(postFormM("id"), 'readonly -> "true")
  }
</fieldset>

<fieldset>
  @inputText(postFormM("title"))
</fieldset>

<fieldset class="compact-fieldset">
  @inputText(postFormM("bg_image"))
</fieldset>

<fieldset class="compact-fieldset">
  @inputText(postFormM("bg_color"))
</fieldset>

<fieldset>
  @inputText(postFormM("description"), '_label -> "Описание")
</fieldset>

<fieldset>
  @inputText(postFormM("text"))
</fieldset>

@if(!isEdit) {
  <input type="submit" value="Create"/>
} else {
  <input type="submit" value="Update"/>
}

}

</div>
</div>
</div>

}
