@(nodeIdOpt: Option[String], leftCurrEl: Option[mlk.LkLeftPanelLink])(implicit ctx: Context)

@* Реализация левой панели для ноды. *@

@import io.suggest.i18n.MsgCodes
@import ctx.messages
@import mlk.LkLeftPanelLinks._
@import util.tpl.CssFormat._

@* Кнопка вызова системной панели. *@
@__sysBtn( call: Call ) = {
  @if(ctx.user.isSuper) {
    @_leftBarItemTpl(
      title = "System",
      href  = call,
      css   = classesAct(false, "__sys")
    )()
  }
}

@__topItems = {

  @nodeIdOpt.fold {
    @* lk-list или что-то такое: Для админа нужна кнопка sys на список узлов: *@
    @__sysBtn( routes.SysMarket.adnNodesList() )

  } { nodeId =>

    @* TODO Nodes LkAds требует RcvrKey, а у нас тут на руках только лишь nodeId. *@
    @_leftBarItemTpl(
      title = messages("Ad.cards"),
      href  = routes.LkAds.adsPage(nodeId :: Nil),
      css   = classesAct(leftCurrEl.contains(LPL_ADS), "__cards")
    )()

    @_leftBarItemTpl(
      title = messages("Profile"),
      href  = routes.MarketLkAdn.showAdnNode(nodeId),
      css   = classesAct(leftCurrEl.contains(LPL_NODE), "__profile")
    )()

    @_leftBarItemTpl(
      title = messages("Billing"),
      href  = routes.LkBill2.onNode(nodeId),
      css   = classesAct(leftCurrEl.contains(LPL_BILLING), "__billing")
    )()

    @_leftBarItemTpl(
      title = messages( MsgCodes.`Moderation` ),
      href  = routes.SysMdr.lkMdr(nodeId :: Nil),
      css   = classesAct(leftCurrEl.contains(LPL_MDR), "__mdr")
    ) {
      @for(count <- ctx.data.mdrNodesCount) {
        <span class="left-bar_menu-bubble">@count</span>
      }
    }

    @__sysBtn( routes.SysMarket.showAdnNode(nodeId) )


  } @* nodeId *@

}


<aside class="left-bar">

  @* Верняя часть bar'а. *@
  <nav class="left-bar_menu">
    @__topItems
  </nav>

  @* Кнопки внизу bar'а. *@
  <div class="left-bar_bottom">

    @if(ctx.user.isAuth) {
      <a class="left-bar_exit js-btn" href="#logoutPopup">@messages("Logout")</a>
      <hr class="delimiter"/>
    }

    <a href="@ctx.supportFormCall(nodeIdOpt)"
       class="@classesPreSpaced( classesAct(leftCurrEl.contains(LPL_SUPPORT), "left-bar_help") )">
      @messages("Help")
    </a>

  </div>

</aside>
