@(dkey: String, crawlerOpt:Option[String])(implicit ctx:util.Context)

@* Отобразить админу уведомление об успешном добавлении сайта с предложением перейти на страницу сайта.
   Делаем всё по шагам, т.к. часть установки сайта идёт параллельно отображению этой странице. *@

@hPathAfter1 = {
  / success / <a href="@routes.Sys.dkeyShow(dkey)">@dkey</a>
}

@addSiteBase(title = "Сайт добавлен", hPathAfter = Some(hPathAfter1)) {

  @crawlerOpt match {
    case Some(crawler) => {
      Сайт <b>@dkey</b> уже установлен. Его обслуживает кравлер @crawler.
    }

    case None => {
      Запрос на установку сайта принят.
    }
  }

  <a href="@routes.Sys.dkeyShow(dkey)">Перейти на страницу информации по сайту</a>

}
