.main-layout
  position: fixed
  background: url('/assets/images/bg.png')
  width: 100%
  top: 0px
  height: 50px
  z-index: 100000000

.common-info
  z-index: 1000
  position: fixed
  background: #f0f0f0 url('/assets/images/bg.png')
  width: 100%
  left: 0px
  bottom: 0px
  padding-left: 140px
  padding-bottom: 20px!important

.blog-layout, .blog-layout-normal
    width: 800px
    padding: 140px 0px 0px 140px

.blog-layout-normal
    padding-top: 0px


.blog-layout
    p
        padding: 10px 0px
    
    h1
        position: relative
        display: block
        padding: 10px 0px
        color: #1589ac
        font-family: Arial
        font-size: 18px
        font-weight: bold
    
    .blog-text
        color: #969696
        text-shadow: 0px 1px 1px #fff
        font-family: Arial
        font-size: 14px
    
    .blog-text img
        border: 1px #ccc solid
        background: #fff
        padding: 1px
    
    form,  form fieldset
        width: 800px
        border: 0px
    
    form
        label
            display: block
        
        input
            padding: 10px
            width: 100%
        textarea
            width: 100%
            height: 300px


.razduv-top, .razduv-bottom
    opacity: 0
    z-index: 100000000
    position: fixed
    left: 0px
    top: 100px
    background: url('/assets/images/zatemnyalka.png') no-repeat left top
    width: 100%
    height: 40px

.razduv-bottom
    top: auto
    bottom: 40px
    background: url('/assets/images/razduv-bottom.png') repeat-x left top

.blog-edit-button, .blog-delete-button
    position: absolute
    right: 105px
    top: 40px
    display: block
    background: url('/assets/images/blog-edit.png') no-repeat left top
    width: 22px
    height: 22px
    z-index: 999

.blog-delete-button
    right: 70px
    background: url('/assets/images/blog-close.png') no-repeat left top

.blog-post-inner
    width: 800px

.blog-preview
    position: relative
    height: 470px
    overflow-y: hidden
    background: #fff

.blog-preview-no-image
    border: 0px
    background: #f0f0f0
    height: auto!important
    
    .blog-post-c
        height: auto!important
    
    .blog-post-inner
        width: 400px

.blog-post-c
    height: 404px
    padding: 40px 0px 40px 140px
    background-repeat: no-repeat

.blog-preview h1, .blog-post h1
    font-family: "pt_sans_narrowregular"
    color: #152d3b
    font-size: 25px
    line-height: 25px!important
    padding-bottom: 10px

.blog-preview
    h1 a
        color: #152d3b
        text-decoration: none
        :hover { text-decoration: underline }
    
    .blog-text
        font-family: Arial
        color: #969696
        width: 390px
        font-size: 13px
        line-height: 17px
        
        p { padding: 10px 0px }

        
.blog-delimiter
    padding-bottom: 30px

.compact-fieldset
    float: left
    width: 400px!important
    
    input { width: 400px }


.blog-post-opened
    border: 0px!important
    width: 755px
    
    h4
        font-family: Arial
        color: #1589ac
        font-size: 14px
        font-weight: bold
        display: block
        padding: 20px 0px


.blog-all-records
    position: fixed
    left: 110px
    top: 153px
    font-family: Arial
    font-size: 14px
    color: #1589ac
    display: block
    padding: 1px 20px 2px 20px
    height: 20px
    background: url('/assets/images/sio-blog-back-arrow.png') no-repeat left top
    z-index: 100

    span
        display: none
    
    :hover span
        display: inline

