.suggestio-box
    text-align: left
    position: absolute
    z-index: 10000
    left: 0px
    top: 0px
    background: url('http://suggest.io:8003/static/searchimages/000bg.png')
    width: 550px
    height: 960px
    padding: 5px
    -webkit-border-radius: 5px
    border-radius: 5px
    
    .suggestio-body
        background: #333
        position: relative
        background: #fff
        height: 858px
        padding: 52px 20px 50px 20px
        -webkit-border-radius: 5px
        border-radius: 5px
    
    .suggestio-topper
        position: absolute
        left: 0px
        top: 0px
        background: #d2d7d8
        width: 528px
        height: 23px
        padding-top: 7px
        padding-left: 20px
        border-top: 1px #ebedee solid
        border-bottom: 1px #babebf solid
        border-left: 1px #dadfdf solid
        border-right: 1px #dadfdf solid
        -webkit-border-top-left-radius: 5px
        -webkit-border-top-right-radius: 5px
        border-top-right-radius: 5px
        border-top-left-radius: 5px
        color: #4d5f63
        font-family: Arial
        font-size: 13px
        text-shadow: 0px 1px 1px #fff
    
    .suggestio-footer
        border-top: 1px #babebf solid
        background: #6c6d6e
        -webkit-border-bottom-left-radius: 5px
        -webkit-border-bottom-right-radius: 5px
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        width: 548px
        position: absolute
        left: 0px
        bottom: 0px
        height: 31px
    
    .footer-inner
        width: 548px
        height: 29px
        border-top: 1px #e7e9ea solid
        border-left: 1px #dadfdf solid
        border-right: 1px #dadfdf solid
        background: #d2d7d8 url('http://suggest.io:8003/static/searchimages/suggestio-logo.png') no-repeat center 6px
        -webkit-border-bottom-left-radius: 5px
        -webkit-border-bottom-right-radius: 5px
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px


.suggestio-arrow
    position: absolute
    left: 50px
    top: -19px
    background: url('http://suggest.io:8003/static/searchimages/suggestio-arrow.png') no-repeat left top
    width: 30px
    height: 19px

.search-close-button
    display: block
    position: absolute
    right: 7px
    top: 6px
    width: 16px
    height: 16px
    background: url('http://suggest.io:8003/static/searchimages/search-close-button.png') no-repeat left top

.suggestio-search-conteiner
    position: relative
    width: 100%
    height: 100%
    overflow: hidden

.suggestio-scroll-container
    background: #e2e7e8
    width: 8px
    position: absolute
    right: 6px
    top: 52px
    z-index: 10001
    -webkit-border-radius: 10px
    border-radius: 10px

.scroll-bar
    background: #86898a
    width: 8px
    height: 10px
    -webkit-border-radius: 10px
    border-radius: 10px
    cursor: pointer


.search-result
    padding-bottom: 20px
    font-family: Arial
    font-weight: normal
    
    a
        font-weight: normal
        color: #005aae
        font-family: Arial
        font-size: 15px
        :hover { text-decoration: none!important }
    
    .desc
        padding: 5px 0px!important
        line-height: 18px
        color: #4d5f63
        font-size: 13px
    
    .link
        font-size: 12px
        color: #005d39


/*  */
.colors-box
    background: #fff
    border: 1px #999 solid
    position: fixed
    z-index: 200000
    left: 10px
    top: 10px
    padding:  5px 10px
    float: left

    .color
        text-align: center
        padding: 20px
        margin: 5px 0px
        border: 1px #999 solid
        color: #fff
        font-size: 12px!important
        text-shadow: 1px 1px 1px #000
        font-weight: bold

.suggestio-hover
    border: 2px #fff solid
    -webkit-border-radius: 5px
    position: absolute
    z-index: 1000000

