/* Стили для ident/person.html */

.login-page-logo
    display: block
    height: 103px
    background: url('/vassets/images/sio-dark-logo-1.png') no-repeat center top


/* Login page */
.login-page-content-en,
.login-page-content-ru
    position: absolute
    left: 50%
    top: 50%
    margin-left: -115px
    margin-top: -220px
    width: 230px
    height: 338px
    text-align: center
    background: url('/vassets/images/sio-persona-login-en.png') no-repeat center 120px


.login-page-content-ru
    background: url('/vassets/images/sio-persona-login-ru.png') no-repeat 2px 120px
    .login-button
        top: 123px


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) 
    .login-page-content-en
        background: url('/vassets/images/sio-persona-login-en-retina.png') no-repeat left 120px
        background-size: 229px 94px
    
    .login-page-content-ru
        background: url('/vassets/images/sio-persona-login-ru-retina.png') no-repeat center 120px
        background-size: 159px 111px
    
    .login-page-logo
        background: url('/vassets/images/sio-dark-logo-1-retina.png') no-repeat center top
        background-size: 103px 103px


.login-button a
    display: block
    background-size: 130px 225px!important
    background: url('/vassets/images/sio-login-retina.png') no-repeat -72px -9px
    :hover { background-position: -72px -87px }
    :active { background-position: -73px -168px }

