.popup-container
    background: none!important

.menu
    z-index: 100000

a
    -webkit-tap-highlight-color: rgba(0,0,0,0)!important

.crawl-border-right
    width: 100px
    background: #f0f0f0!important

.crawl-monitor
    width: 0px

.start-button a
    background-image: url('/assets/images/sio-start-button-retina-ipad.png?v=4')!important
    background-size: 137px 50px

