@css {

@font-face {
	font-family: "pt_sans_narrowbold";
		src: url('/assets/fonts/ptn77f-webfont.eot');
		src: url('/assets/fonts/ptn77f-webfont.eot?#iefix') format('embedded-opentype'),
				 url('/assets/fonts/ptn77f-webfont.woff') format('woff'),
				 url('/assets/fonts/ptn77f-webfont.ttf') format('truetype');
				 font-weight: normal;
				 font-style: normal;
}

@font-face {
	font-family: "pt_sans_narrowregular";
		src: url('/assets/fonts/ptn57f_regular-webfont.eot');
		src: url('/assets/fonts/ptn57f_regular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('/assets/fonts/ptn57f_regular-webfont.woff') format('woff'),
				 url('/assets/fonts/ptn57f_regular-webfont.ttf') format('truetype');
				 font-weight: normal;
				 font-style: normal;
}

@font-face {
	font-family: "helios";
		src: url('/assets/fonts/heliosthin-webfont.eot');
		src: url('/assets/fonts/heliosthin-webfont.eot?#iefix') format('embedded-opentype'),
				 url('/assets/fonts/heliosthin-webfont.woff') format('woff'),
				 url('/assets/fonts/heliosthin-webfont.ttf') format('truetype');
				 font-weight: normal;
				 font-style: normal;
}

@font-face {
	font-family: "helios_italic";
		src: url('/assets/fonts/heliosthin-italic-webfont.eot');
		src: url('/assets/fonts/heliosthin-italic-webfont.eot?#iefix') format('embedded-opentype'),
				 url('/assets/fonts/heliosthin-italic-webfont') format('woff'),
				 url('/assets/fonts/heliosthin-italic-webfont') format('truetype');
				 font-weight: normal;
				 font-style: normal;
}

}
body
  background: #ececec url('/assets/images/bg.png') center top

form
  label
    font-size: 12px
  input
    width: 100%
    padding: 10px
    border: 1px #ccc solid
  
  .info,
  .error
    color: #999
    font-size: 12px
    padding: 5px 0px
  
  .error
    color: red

.sio-label
  padding: 12px 0px 10px 0px!important
  font-size: 16px

.sio-blue-label
  color: #328fb0
  font-size: 14px!important
  max-width: 420px
  
.relative
  position: relative

.sio-container
  position: relative

.sio-footer-container
  position: fixed
  left: 0px
  bottom: 0px
  width: 100%
  background: rgba(243, 243, 243, 0.9)

.single-row
  width: 700px
  padding-left: 65px

.sio-first-row
  padding-top: 10px

.sio-fixed-top-container
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  background: #ececec url('/assets/images/bg.png') center top
  height: 66px!important
  z-index: 1000

.sio-top-glow
  opacity: 0
  position: fixed
  top: 66px
  bottom: 0px
  height: 23px
  width: 100%
  z-index: 10000
  background: url('/assets/images/zatemnyalka.png') no-repeat left top

.sio-glow
  opacity: 0
  position: absolute
  bottom: -78px
  left: -15px;
  width: 110px
  height: 23px
  background: url('/assets/images/top-glow.png') no-repeat left top

.sio-help-container
  padding-top: 90px

.logo
  float: left
  display: block
  width: 165px
  height: 42px
  background: url('/assets/images/sio-logo.png') no-repeat left top

.menu
  padding-top: 15px
  float: left
  
  .menu-inner
  	padding-left: 28px
  
  a,
  span
    text-decoration: none
    font-family: Arial
    font-size: 13px!important
    color: #969696
    text-shadow: 0px 1px 1px #fff
  
  a:hover
    color: #328fb0
    text-decoration: underline
  
  .menu-link,
  .active-link
    float: left
  .delimiter
    float: left
    width: 1px
    height: 15px
    background: #ccc
    -webkit-box-shadow: 0px 1px 1px #fff
    margin: 0px 15px
  
  .active-link
  	color: #c7c7c7!important

.mobile-menu-button
  position: absolute
  left: 200px
  top: -60px
  background: url('/assets/images/menu.png') no-repeat center center
  width: 50px
  height: 50px
  z-index: 10000

.mobile-menu-button:hover
  background: url('/assets/images/menu_hover.png') no-repeat center center

.mobile-menu-button:active,
.mobile-menu-button.active
  background: url('/assets/images/menu_pressed.png') no-repeat center center

.mobile-menu
  position: absolute
  left: 0px
  top: 56 px
  width: 100%
  z-index: 10000!important
  background: #23313d!important
  
  .menu
    display: none
    padding-bottom: 10px
  .menu,
  .menu a
    float: none
  
  a 
    display: block
    text-shadow: none!important
    padding: 5px 0px 5px 39px
  .menu .delimiter
    display: none

.sio-slogo
  padding-left: 52px

.sio-first-step,
.sio-second-step
  margin-left: 52px
  margin-top: 20px

.sio-first-row
  height: 68px
  
.sio-first-step,
.sio-second-step
  margin-bottom: 50px
  .row
    margin: 0px!important
  
  .input
    position: relative
    border: 1px #b4b3b3 solid
    padding: 1px
    background: #fff
    
    .shadow
      border-left: 1px #fbfbfb solid
      border-right: 1px #fbfbfb solid
      border-top: 1px #d2d3d3 solid
      -webkit-border-radius: 2px
    
    .col-xs-11
      padding: 0px!important
    
    input,
    textarea
      width: 100%
      border: 0px
      outline: none
      color: #328fb0
      padding: 15px 10px
      background: #f6f6f6
    
    textarea
      height: 200px
    
    .input-shadow
      border-left: 1px #fbfbfb solid
      border-right: 1px #fbfbfb solid
      border-top: 1px #d2d3d3 solid
      -webkit-border-radius: 2px
    
    .http-prefix
      color: #969696
      background: #fff
      text-align: center
      padding: 15px 5px

.start-button
  display: block
  width: 50px
  height: 50px
  margin-top: 22px
  
  a
    display: block
    width: 50px
    height: 50px
    background: url('http://suggest.io/static/images2/sio-start-button.png') no-repeat left top
  a:hover
    background-position: -51px top
  a:active
    background-position: -102px top

.start-button-mobile
  width: 135px
  height: 55px
  padding: 0px!important
  margin-left: 32px!important
  
  a
    display: block
    width: 135px
    height: 55px
    background:url('/assets/images/add_button.png') no-repeat left top!important

.common-info
  .delimiter
    padding: 0px 10px
    
.common-info,
.social
  z-index: 20000
  font-size: 12px
  padding: 25px 0px
  padding-left: 64px
  color: #b1b1b1
  font-family: Arial
  font-size: 12px
  text-shadow: 0px 1px 1px #fbfbfb

.social
  position: absolute
  right: 0px

.social
  a
    display: block
    float: left
    background: url('/assets/images/social-icons-png.png') no-repeat -5px -6px
    padding-left: 20px
    margin-right: 20px
    text-shadow: 0px 1px 1px #fff

.common-info a,
.social a
  color: #9ec4cd
  text-decoration: underline

.common-info a.active,
.social a.active
  text-decoration: none
  cursor: default!important

// Help
.sio-help-content
  margin-left: 42px
  margin-top: 0px
  padding: 0px;
  padding-right: 50px
  
  h1
    padding: 0px
    margin: 0px
    font-family: "helios"
    font-size: 48px
    color: #23313d
    padding-bottom: 35px
  
  ul
    margin: 15px 0px
    padding: 0px 0px 0px 5px
    list-style-position: inside
    li 
      padding:10px 0px
      line-height: 16px
  
  p 
    padding-left: 4px
    line-height: 20px
  p.light 
    color: #959595

.help-topics
  list-style-type: none
  padding-left: 37px
  li 
    padding: 6px 0px
  
  a 
    color: #5a8ead

// Feedback

.feedback-row
  padding-left: 67px
  
  .info
    display: none
  
  fieldset
    position: relative
  
  dd.info,
  dd.error
    background: none!important
    border: 0px!important
  
  
  dd
    width: 520px
    position: relative;
    border: 1px #b4b3b3 solid;
    padding: 1px;
    background: #fff;
    
    input,
    textarea
      width: 516px
      color: #999;
      padding: 14px 10px!important;
      font-size: 13px!important;
      font-family: Arial;
      outline: none;
      border-top: 1px #d2d3d3 solid;
      border-left: 1px #fbfbfb solid;
      border-right: 1px #fbfbfb solid;
      border-bottom: 0px;
      -webkit-border-radius: 2px;
    
  
  label
    font-weight: normal
    position: absolute;
    color: #ccc;
    font-family: Arial;
    font-size: 13px!important;
    z-index: 100;
    left: 17px;
    top: 17px;

.feedback-message-ru,
.feedback-message-en
  background: url('/assets/images/sio-send-message-ru.png') no-repeat left top;
  display: block;
  margin: 20px 0px;
  margin-bottom: 10px;
  width: 500px;
  padding-top: 40px;
  color: #c8c8c8
  
  a 
    color: #328fb0
  
.feedback-message-en
  background: url('/assets/images/sio-send-message.png') no-repeat left top;

@css{
@media screen and (max-width: 767px){
  
  .help-topics
  {
    margin: 0px;
    padding: 0px;
  }
  
  .sio-help-content{
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  
  .sio-help-content h1{
    font-size: 44px;
  }
  
  .sio-slogo
  {
    padding-left: 6px
  }
  .sio-first-step
  {
    margin-left: 6px;
    margin-bottom: 0px;
  }
  .start-button-mobile
  {
    margin-left: -16px!important;
  }
  .http-prefix
  {
  
  }
  
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
			only screen and (-moz-min-device-pixel-ratio: 1.5),
			only screen and (-o-min-device-pixel-ratio: 3/2),
			only screen and (min-device-pixel-ratio: 1.5) {

.mobile-menu-button
{
  background-image: url('/assets/images/menu_retina.png');
  background-size: 30px 30px;
}
.mobile-menu-button:hover
{
  background-image: url('/assets/images/menu_hover_retina.png');
  background-size: 30px 30px;
}
.mobile-menu-button:active,
.mobile-menu-button.active
{
  background-image: url('/assets/images/menu_pressed_retina.png');
  background-size: 30px 30px;
}


.logo{
  background-image: url('/assets/images/sio-logo-retina.png');
  background-size: 165px 42px;
}
}