@font-face
  font-family: 'pt_sans_narrowbold'
  src: url('/assets/fonts/ptn77f-webfont.eot')
  src: url('/assets/fonts/ptn77f-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/ptn77f-webfont.woff') format('woff'),
       url('/assets/fonts/ptn77f-webfont.ttf') format('truetype')
       font-weight: normal
       font-style: normal

@font-face
  font-family: 'pt_sans_narrowregular'
  src: url('/assets/fonts/ptn57f_regular-webfont.eot')
  src: url('/assets/fonts/ptn57f_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/ptn57f_regular-webfont.woff') format('woff'),
       url('/assets/fonts/ptn57f_regular-webfont.ttf') format('truetype')
       font-weight: normal
       font-style: normal

body
  background: #ececec url('/assets/images/bg.png') center top
  min-width: 500px

form
  label
    font-size: 12px
  input
    width: 100%
    padding: 10px
    border: 1px #ccc solid
  
  .info,
  .error
    color: #999
    font-size: 12px
    padding: 5px 0px
  
  .error
    color: red

.relative
  position: relative

.sio-container
  position: relative

.sio-first-row
  padding-top: 50px

.sio-footer-container
  position: fixed
  left: 0px
  bottom: 0px
  width: 100%

.single-row
  width: 700px
  padding-left: 65px

.sio-fixed-top-container
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  background: #ececec url('/assets/images/bg.png') center top
  height: 100px
  z-index: 100

.sio-top-glow
  position: fixed
  top: 100px
  bottom: 0px
  height: 23px
  width: 100%
  background: url('/assets/images/zatemnyalka.png') no-repeat left top

.sio-glow
  position: absolute
  bottom: -31px
  left: -15px;
  width: 110px
  height: 23px
  background: url('/assets/images/top-glow.png') no-repeat left top

.sio-help-container
  padding-top: 150px

.menu
  width: 100%
  margin-left: 52px
  padding-top: 15px
  
  a,
  span
    text-decoration: none
    font-family: Arial
    font-size: 13px!important
    color: #969696
    text-shadow: 0px 1px 1px #fff
  
  a:hover
    color: #328fb0
    text-decoration: underline
  
  .menu-link
    float: left
  .delimiter
    float: left
    width: 1px
    height: 15px
    background: #ccc
    -webkit-box-shadow: 0px 1px 1px #fff
    margin: 0px 15px
    
.sio-slogo
  background: url('/assets/images/sio-slogo-en.jpg') no-repeat left top
  width: 419px
  height: 135px
  margin: 30px 10px 30px 52px
  
.sio-first-step
  margin-left: 52px
  margin-top: 20px
  
  .row
    margin: 0px!important
  
  .input
    position: relative
    border: 1px #b4b3b3 solid
    padding: 1px
    background: #fff
    
    .shadow
      border-left: 1px #fbfbfb solid
      border-right: 1px #fbfbfb solid
      border-top: 1px #d2d3d3 solid
      -webkit-border-radius: 2px
    
    .col-xs-11
      padding: 0px!important
    
    input
      width: 100%
      border: 0px
      outline: none
      color: #328fb0
      padding: 15px 10px
      background: #f6f6f6
    
    .input-shadow
      border-left: 1px #fbfbfb solid
      border-right: 1px #fbfbfb solid
      border-top: 1px #d2d3d3 solid
      -webkit-border-radius: 2px
    
    .http-prefix
      color: #969696
      background: #fff
      text-align: center
      padding: 15px 5px
      
.start-button
  display: block
  width: 50px
  height: 50px
  margin-top: 22px
  
  a
    display: block
    width: 50px
    height: 50px
    background: url('http://suggest.io/static/images2/sio-start-button.png') no-repeat left top
  a:hover
    background-position: -51px top
  a:active
    background-position: -102px top

.common-info
  .delimiter
    padding: 0px 10px
    
.common-info,
.social
  z-index: 20000
  font-size: 12px
  padding: 25px 0px
  padding-left: 64px
  color: #b1b1b1
  font-family: Arial
  font-size: 12px
  text-shadow: 0px 1px 1px #fbfbfb

.social
  position: absolute
  right: 0px

.social
  a
    display: block
    float: left
    background: url('/assets/images/social-icons-png.png') no-repeat -5px -6px
    padding-left: 20px
    margin-right: 20px
    text-shadow: 0px 1px 1px #fff

.common-info a,
.social a
  color: #9ec4cd
  text-decoration: underline

.common-info a.active,
.social a.active
  text-decoration: none
  cursor: default!important

// Help
.sio-help-content
  margin-left: 42px
  
.help-topics
  ul li a
    color: #328fb0
    font-family: Arial
    font-size: 14px
    
// Blog
.sio-blog
  padding-top: 150px

.blog-record
  width: 700px
  padding-left: 52px
  
  ul
    margin: 20px 0px
    border-left: 1px #ccc solid
    list-style-type: none
    
    li 
      margin: 20px 0px;

.blog-preview
  height: 470px
  background-position: 30% top
  
  h2
    width: 400px
    padding: 10px 0px 10px 62px
    font-family: Georgia
    
  .description
    width: 400px
    padding: 0px 0px 0px 62px
    font-size: 12px