
@css {

@font-face {
	font-family: "helios_cond_thin";
		src: url('/assets/fonts/helioscondthin-webfont.eot');
		src: url('/assets/fonts/helioscondthin-webfont.eot?#iefix') format('embedded-opentype'),
				 url('/assets/fonts/helioscondthin-webfont.woff') format('woff'),
				 url('/assets/fonts/helioscondthin-webfont.ttf') format('truetype');
				 font-weight: normal;
				 font-style: normal;
}

@font-face {
	font-family: "helios_italic";
		src: url('/assets/fonts/heliosthin-italic-webfont.eot');
		src: url('/assets/fonts/heliosthin-italic-webfont.eot?#iefix') format('embedded-opentype'),
				 url('/assets/fonts/heliosthin-italic-webfont') format('woff'),
				 url('/assets/fonts/heliosthin-italic-webfont') format('truetype');
				 font-weight: normal;
				 font-style: normal;
}

}

body
  background: #ececec url('/assets/images/bg.png') center top

.hidden
  display: none

.relative
  position: relative

.sio-container
  position: relative

.sio-footer-container
  position: fixed
  left: 0px
  bottom: 0px
  width: 100%
  background: rgba(243, 243, 243, 0.9)

.single-row
  width: 700px
  padding-left: 65px

.sio-first-row
  padding-top: 10px

.sio-fixed-top-container
  position: fixed
  left: 0px
  top: 0px
  width: 100%
  background: #ececec url('/assets/images/bg.png') center top
  height: 66px!important
  z-index: 1000

.sio-top-glow
  opacity: 0
  position: fixed
  top: 66px
  bottom: 0px
  height: 23px
  width: 100%
  z-index: 10000
  background: url('/assets/images/zatemnyalka.png') no-repeat left top

.sio-glow
  opacity: 0
  position: absolute
  bottom: -78px
  left: -15px;
  width: 110px
  height: 23px
  background: url('/assets/images/top-glow.png') no-repeat left top

.sio-help-container
  padding-top: 90px

.logo
  float: left
  display: block
  width: 165px
  height: 42px
  background: url('/assets/images/sio-logo.png') no-repeat left top


.login-button
  position: absolute
  right: 0px
  top: 0px
  a
    width: 50px
    height: 50px
    display: block
    background: url('/assets/images/sio-login-button.png') -3px -9px

  a:hover
    background-position: -3px -85px
  a:active
    background-position: -3px -168px


.menu
  padding-top: 15px
  float: left

  .menu-inner
  	padding-left: 28px

  a,
  span
    text-decoration: none
    font-family: Arial
    font-size: 13px!important
    color: #969696
    text-shadow: 0px 1px 1px #fff

  a:hover
    color: #328fb0
    text-decoration: underline

  .menu-link,
  .active-link
    float: left
  .delimiter
    float: left
    width: 1px
    height: 15px
    background: #ccc
    -webkit-box-shadow: 0px 1px 1px #fff
    margin: 0px 15px

  .active-link
  	color: #c7c7c7!important

.sio-top-margin
  margin-top: 90px

.mobile-menu-button
  position: absolute
  left: 200px
  top: -60px
  background: url('/assets/images/menu.png') no-repeat center center
  width: 50px
  height: 50px
  z-index: 10000

.mobile-menu-button:hover
  background: url('/assets/images/menu_hover.png') no-repeat center center

.mobile-menu-button:active,
.mobile-menu-button.active
  background: url('/assets/images/menu_pressed.png') no-repeat center center

.mobile-menu
  position: absolute
  left: 0px
  top: 56 px
  width: 100%
  z-index: 10000!important
  background: #23313d!important

  .menu
    display: none
    padding-bottom: 10px
  .menu,
  .menu a
    float: none

  a
    display: block
    text-shadow: none!important
    padding: 5px 0px 5px 39px
  .menu .delimiter
    display: none

.sio-slogo
  padding-left: 52px

.sio-first-step,
.sio-second-step
  margin-left: 52px
  margin-top: 20px

.sio-first-row
  height: 68px

.sio-first-step
  margin-top: 40px

.sio-second-step
  display: none

.sio-first-step,
.sio-second-step
  margin-bottom: 50px
  .row
    margin: 0px!important

  .input
    position: relative
    border: 1px #b4b3b3 solid
    padding: 1px
    background: #fff

    .shadow
      border-left: 1px #fbfbfb solid
      border-right: 1px #fbfbfb solid
      border-top: 1px #d2d3d3 solid
      -webkit-border-radius: 2px

    .col-xs-11
      padding: 0px!important

    input,
    textarea
      width: 100%
      border: 0px
      outline: none
      color: #328fb0
      padding: 15px 10px
      background: #f6f6f6

    textarea
      height: 200px

    .input-shadow
      border-left: 1px #fbfbfb solid
      border-right: 1px #fbfbfb solid
      border-top: 1px #d2d3d3 solid
      -webkit-border-radius: 2px

    .http-prefix
      color: #969696
      background: #fff
      text-align: center
      padding: 15px 5px

.start-button
  display: block
  width: 50px
  height: 50px
  margin-top: 22px

  a
    display: block
    width: 50px
    height: 50px
    background: url('/images/sio-start-button.png') no-repeat left top
  a:hover
    background-position: -51px top
  a:active
    background-position: -102px top

.start-button-mobile
  width: 135px
  height: 55px
  padding: 0px!important
  margin-left: 32px!important

  a
    display: block
    width: 135px
    height: 55px
    background:url('/assets/images/add_button.png') no-repeat left top!important

.common-info
  .delimiter
    padding: 0px 10px

.common-info,
.social
  z-index: 20000
  font-size: 12px
  padding: 25px 0px
  padding-left: 64px
  color: #b1b1b1
  font-family: Arial
  font-size: 12px
  text-shadow: 0px 1px 1px #fbfbfb

.social
  position: absolute
  right: 0px

.social
  a
    display: block
    float: left
    background: url('/assets/images/social-icons-png.png') no-repeat -5px -6px
    padding-left: 20px
    margin-right: 20px
    text-shadow: 0px 1px 1px #fff

.common-info a,
.social a
  color: #9ec4cd
  text-decoration: underline

.common-info a.active,
.social a.active
  text-decoration: none
  cursor: default!important

/* Стандартный контейнер с инфой, используется почти на всех статических страницах */
.sio-default-container
  height: 458px

  h1
    font-family: "helios_cond_thin"
    font-size: 48px
    color: #23313d

.slideable-container
  position: relative
  height: 458px
  overflow: hidden
  min-height: 100px
  background: red
  background: #e1e1e1 url('/assets/images/sio-default-container.jpg') no-repeat center bottom
  border-top: 1px #d2d2d2 solid
  border-bottom: 1px #d2d2d2 solid


  .sio-default-container
    width: 100%
    position: absolute
    left: 0px
    top: 0px

  .hidden-right
    left: 100%

.about-controls
  height: 100px

  div
    margin: 30px auto
    width: 145px
    height: 17px

    span
      display: block
      float: left
      margin-right: 15px
      width: 17px
      height: 17px
      background: url('/assets/images/about-slide-switch.png') no-repeat left top
      cursor: pointer

    span.active
      background-position: -31px top
      cursor: default
    span.no-margin
      margin-right: 0px

@media screen and (max-width: 767px)
  .sio-default-container
    height: auto

    .left-col
      padding-top: 30px!important

    .right-col
      padding-top: 15px!important
      padding-left: 50px!important
      padding-bottom: 50px!important

  .sio-footer-container,
  .login-button
    display: none