*
    padding: 0px
    margin: 0px

html,
body
    width: 100%
    height: 100%

body
    background: #ececec url('/static/images/light-gray-pattern.png') center top
    min-width: 940px

body
    min-width: 900px

.crawl-monitor
    position: fixed
    right: 0px
    top: 0px
    height: 100%
    width: 10px
    z-index: 10px
    width: 30%
    background: #152d3b

.main-layout
    padding: 100px

.slogo
    background: url('/static/images2/slogo.png') no-repeat left top
    width: 419px
    height: 135px
    margin: 10px 10px 10px 30px

// .url-input { }
// .url-input input { }
