.help-layout
    width: 800px
    padding-top: 120px

.help-topics
    float: left
    width: 240px
    padding-right: 40px


.menu
    position: absolute
    left: 280px
    width: 500px
    height: 30px
    top: 67px


.header
    background: #f0f0f0
    position: fixed
    height: 100px
    width: 100%
    left: 0px
    top: 0px


.help-content
    float: left
    width: 500px
    padding-left: 320px
    
    p, ul
        color: rgb(150, 150, 150)
    
    ul
        list-style-type: disc
        list-style-position: inside
        color: #333
        font-family: Arial
        font-size: 13px
    
    ul li
        padding-left: 10px!important
    
    img
        max-width: 500px

.help-delimiter
    position: fixed
    left: 350px
    top: 0px
    width: 1px
    height: 100%
    border-left: 1px #fff solid
    background: #9f9f9f


.logo,
.close-button
    position: fixed

.help-topics
    top: 216px
    position: fixed


.help-title
    width: 90px
    height: 26px
    margin-left: 52px
    margin-bottom: 30px
    background: url('/vassets/images/sio-help-title.png') no-repeat left top


ul
    list-style-type: none
    
    li
        padding-left: 50px
        padding: 5px 0px 5px 50px
        
        a
            color: #328fb0
            font-family: Arial
            font-size: 14px


h1
    font-family: "pt_sans_narrowregular"
    color: #152d3b
    font-size: 24px

h2
    color: #949494
    font-family: Arial
    font-size: 15px
    font-weight: bold
    margin: 10px 0px

p
    font-family: Arial
    font-size: 14px
    color: #969696
    line-height: 18px
    padding: 20px 0px


.razduv-top
    opacity: 0
    background: url('/vassets/images/razduv-zatemnyalka2.png') no-repeat left top
    position: fixed
    left: 320px
    width: 666px
    height: 8px
    top: 100px


.complete-install-layout
    padding-top: 150px
    padding-left: 50px
    width: 500px
    p { padding: 10px 0px; }

.persona-complete
    display: block
    width: 120px
    height: 136px
    color: #9f9f9f
    padding-top: 57px
    padding-right: 150px
    font-size: 16px!important
    text-decoration: none
    background: url('/vassets/images/persona-complete.png?v=2') no-repeat right top


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5)
    .persona-complete
        background: url('/vassets/images/persona-complete-retina.png') no-repeat right top
        background-size: 150px 140px
    

// TODO h1 второй раз и наверное перезаписывает куски первого
h1
    color: #00718f
    font-size: 16px
    font-family: Arial
    font-weight: normal
    margin-bottom: 20px

