/* Showcase -- страница набора сайтов, использующих suggest.io */

.showcase-container
  padding-top: 90px

.showcase-preview
  background: #b7b7b7
  border: 1px #939292 solid
  margin-bottom: 10px
  height: 122px