/* Страница блога */
.sio-blog
  padding-top: 100px!important

.blog-preview
  .date
    display: inline
    margin: 0px
    padding: 2px 5px
    font-size: 13px
    line-height: 15px
  .blog-preview-border
    height: 2px
    background: #959595
  h1
    font-family: "pt_sans_narrowregular"
    font-weight: normal
    display: inline
    font-size: 22px
  .bg-image
    padding: 0px
    margin: 0px
    border: 1px #939292 solid
    background: #fff
    padding: 1px
    height: 140px

.blog-preview
  margin-bottom: 40px


.blog-preview-0
  h1
    font-size: 48px
    line-height: 56px
    font-family: "helios"
    background: rgba(255,255,255,0.7)
  .bg-image
    height: 290px
  .date
    background: rgba(255,255,255,0.7)
    