/* Страница "о suggest.io", описывающая суть сервиса */
.sio-about-row
  h1
    text-align: left
    font-size: 50px
    font-family: "helios"
    color: #07a1ca
  p 
    text-align: left
    color: #959595
    
    a 
      color: #405c74
      text-decoration: underline
    a:hover
      text-decoration: none

