/* Стили для страницы 404 */

body,
html
    padding: 0px
    margin: 0px
    width: 100%
    height: 100%

body
    background: #152D3B

@font-face
    font-family: 'pt_sans_narrowregular'
    src: url('/assets/fonts/ptn57f_regular-webfont.eot')
    src: url('/assets/fonts/ptn57f_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/ptn57f_regular-webfont.woff') format('woff'),
    url('/assets/fonts/ptn57f_regular-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

.error-explained
    position: absolute
    width: 400px
    height: 100px
    left: 50%; top: 50%
    margin-left: -200px; margin-top: -150px
    text-align: center

h1, h2
    color: #fff
    font-family: Arial
    font-family: "pt_sans_narrowregular"
    font-weight: normal

