/* Страница "о suggest.io", описывающая суть сервиса */
.sio-about-container
  .col
    padding-top: 70px
  h1
    padding: 0px 0px 30px 0px!important
    margin: 0px!important

  .left-col
    padding-left: 50px


.more-trigger
  position: relative
  .static,
  .active
    background: url('/assets/images/more-trigger.png') no-repeat left top
    position: absolute
    left: 0px
    top: 0px
    width: 46px
    height: 47px
    -webkit-transition: all 0.2s linear
    z-index: 11

  .active
    cursor: pointer
    z-index: 10
    opacity: 0
    background-position: -50px top

  .description-plate
    display: none
    position: absolute
    left:-370px
    top: -161px
    background: #fff url('/assets/images/sio_about_desc_plate1.png') no-repeat 25px 15px
    border: 1px #ccc solid
    padding: 45px 35px 45px 170px
    width: 400px
    -webkit-box-shadow: 0px 5px 5px #999
    opacity: 0


.more-trigger:hover

  .static,
  .active
    -webkit-transform: rotate3d(0,0,1,45deg)

  .static
    opacity: 0
  .active
    opacity: 1
  .description-plate
    opacity: 1
    display: block