/* Стили для страницы, сообщающей о проблеме браузера (отключенный js например) */

body
    background: #f0f0f0

.bad-browser-message
    position: absolute
    width: 525px
    height: 470px
    left: 50%
    margin-left: -264px
    top: 50%
    margin-top: -250px
    background: url('/static/images2/suggestio-error.jpg') no-repeat center center


.logo
    position: absolute
    left: 50%
    top: 110px
    width: 108px
    height: 108px
    margin-left: -54px
    background: url('/static/images2/suggestio-large-label.png') no-repeat center center
    
    a
        display: block
        width: 108px
        height: 108px

.message
    color: #00718f
    font-family: Arial
    font-size: 18px
    text-align: center
    padding-top: 255px
    text-shadow: 1px 1px 1px #fff
    
    small
        color: #999
        font-size: 12px
        display: block
        padding: 10px 0px


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5)
    .bad-browser-message
        background: url('/static/images2/suggestio-error-retina.jpg') no-repeat center center
        background-size: 525px 469px
    
    .logo
        top: 100px
        background: url('/static/images2/suggestio-large-label-retina.png') no-repeat center center
        background-size: 108px 108px
    
