/* Страница "о suggest.io", описывающая суть сервиса */
.sio-about-container
  .col
    padding-top: 70px
  h1
    padding: 0px 0px 30px 0px!important
    margin: 0px!important

  .left-col
    padding-left: 50px