/* Стили для системы администрирования сервиса. Раньше оно жило в /db/ */

.object
    padding: 5px 20px
    border-left: 2px #ccc solid

.data-row
    padding: 20px 0px

.clear 
    clear: both

body
    background: #152d3b
    
*
    padding: 0px
    margin: 0px
    border: 0px

.sio-db-layout
    background: #f0f0f0
    margin: 20px
    padding: 20px
    font-family: Arial
    font-size: 14px
.sio-db-layout a
    color: #328fb0

.sio-db-logo
    padding: 5px 10px 0px 10px

.db-search-result
    margin: 10px 0px
    padding-bottom: 10px
    border-bottom: 1px #ccc dashed

.db-search-result img
    margin: 10px 10px 10px 0px
    float: left

h1
  padding: 20px 0px
  font-weight: normal

p
  font-size: 12px
  padding: 10px 0px


a.add
  color: green

table
  th,
  td
    text-align: left
    padding: 10px 20px 10px 0px