@(gals: Seq[im.MGallery], withAdmLinks: Boolean)(implicit ctx: Context)

@* Таблица, отображающая список галерей.
   withAdmLinks: отображать ссылки редактирования/удаления галереи. *@

@import ctx._
@import datetime._
@import util.img.DynImgUtil

<table>
  <thead>
    <tr>
      <th>Метаданные</th>
      <th>Картинки</th>
    </tr>
  </thead>

  <tbody>
    @for(gal <- gals) {
      <tr>

        @* Рендерим в ячейке построчно метаданные о текущей галерее: *@
        <td>
          <span title="Название-идентификатор галереи">ID: @gal.name</span><br/>
          Описание: @gal.descr<br/>
          Кол-во картинок: @gal.imgs.size
          Создана: @_prettyDate(gal.dateCreated, withSpan = true)<br/>
          @gal.dateModified.map { dateMod =>
            Изменена: @_prettyDate(dateMod, withSpan = true)
            @gal.modifiedBy.map { modByPersonId =>
              пользователем @modByPersonId
            }
            <br/>
          }
          Номер ревизии: @gal.versionOpt<br/>
          @if(withAdmLinks) {
            TODO Ссылки на редактирование и удаление галереи.
          }
        </td>

        @* Рендерим превьюшки картинок. *@
        <td>
          @gal.imgs.map { img =>
            <a href="@DynImgUtil.imgCall(img)">
              <img src="@DynImgUtil.thumb256Call(img, fillArea = true)" alt="id картинки: @img.rowKeyStr"/>
            </a>
          }
        </td>

      </tr>
    }
  </tbody>
</table>
