@(gf: Form[_], submitCall: Call, btnText: String, galNameDisabled: Option[String] = None)(implicit ctx: Context)

@* Форма создания/редактирования галереи. *@

@import ctx._
@import helper._

@form(submitCall) {

  @galNameDisabled.fold {
    @* Можно менять имя галереи. *@
    @inputText(
      gf("name"),
      '_label -> "Идентификатор *",
      'title -> "Допустимые символы: a-z 0-9 - и _"
    )
  } { galName =>
    @* Название отключенной галереи. *@
    <input type="text" disabled value="@galName" title="Нельзя менять идентификатор уже существующей галереи."/>
  }

  @textarea(
    gf("descr"),
    '_label -> "Описание",
    'title -> "Необязательно. Произвольный текст."
  )

  @* TODO Нужна асинхронная загрузка картинок.
     Сабмит для отправки картинки: routes.SysGallery.uploadImg(ctx.ctxIdStr)
     Название полей в теле POST: imgs[0], imgs[1] и т.д. Цифры-индексы должны отражать порядок картинок в галерее,
     но им не обязательно идти по порядку. *@

  <input type="submit" value="@btnText" />
}
