@(args: blk.IRenderArgs)(implicit ctx: Context)

@import common._

@blockBase(args) {

  @* Картинка рендерится в пределах ссылки оффера, если та существует.
     Если оффера нет, то чтобы избежать неотображения картинки, картинка будет отрендерена вне блока.
     TODO актуален ли этот костыль сейчас? *@

  @if(args.mad.ad.entities.isEmpty) {
    @_block2BodyCommonTpl(args)

  } else {
    @for(href <- args.mad.meta.business.siteUrl) {
      <a href="@href" target="_blank">
    }

    @_block2BodyCommonTpl(args)

    @if( args.mad.meta.business.siteUrl ) {
      </a>
    }
  }
}
