@import 'fonts.styl'

.sm-block-tpl1
  width: 300px
  height: 300px
  color: black
  font-family: 'pfdintextcomppro-medium-webfont'

  .bg
    position: absolute
    top: 0
    left: 0
    width: 300px
    height: 300px

  .info
    position: absolute
    left: 0
    bottom: 0
    padding: 15px

    .title
      font-size: 24px

    .old-price
      font-size: 38px
      text-decoration: line-through

    .price
      color: #bd2d4e
      font-size: 85px
      line-height: 70px
