@import 'fonts.styl'

.sm-block-tpl1
  width: 298px
  height: 298px
  padding: 8px
  border: 1px solid #515151
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFUlEQVQImWNggIJNmzb9x8FgYGAAALMZCUBv7a2oAAAAAElFTkSuQmCC') repeat
  color: black
  font-family: 'pfdintextcomppro-medium-webfont'

  .bg
    border-left: 1px solid #959595
    width: 100%
    height: 100%

  .info
    position: absolute
    left: 8px
    bottom: 8px
    padding: 15px

    .title
      font-size: 24px

    .old-price
      font-size: 38px
      text-decoration: line-through

    .price
      color: #bd2d4e
      font-size: 85px
      line-height: 70px
