@import 'fonts'

.sm-block
  font-family: 'Arial'
  font-size: 12px
  overflow: hidden

  h5
    font-family: 'Arial'
    font-size: 14px
    font-weight: bold
    margin: 6px 0

  p
    margin: 10px 0

  .abs
    position: absolute
    top: 0
    left: 0

.sm-block.double-size
  font-size: 24px

  h5
    margin: 12px 0
    font-size: 28px

  p
    margin: 20px 0

@import 'blocks/sm_block_tpl1'
@import 'blocks/sm_block_tpl2'
@import 'blocks/sm_block_tpl3'
@import 'blocks/sm_block_tpl4'
@import 'blocks/sm_block_tpl5'
@import 'blocks/sm_block_tpl6'
@import 'blocks/sm_block_tpl7'
@import 'blocks/sm_block_tpl8'
@import 'blocks/sm_block_tpl9'
@import 'blocks/sm_block_tpl10'
@import 'blocks/sm_block_tpl11'
@import 'blocks/sm_block_tpl12'
@import 'blocks/sm_block_tpl13'
@import 'blocks/sm_block_tpl14'
@import 'blocks/sm_block_tpl15'
@import 'blocks/sm_block_tpl16'
@import 'blocks/sm_block_tpl17'
@import 'blocks/sm_block_tpl18'
@import 'blocks/sm_block_tpl19'
@import 'blocks/sm_block_tpl20'
@import 'blocks/sm_block_tpl21'
@import 'blocks/sm_block_tpl22'
@import 'blocks/sm_block_tpl23'
@import 'blocks/sm_block_tpl24'
@import 'blocks/sm_block_tpl25'




