@import "reset"
@import "mixins"

title( v )
  letter-spacing v
  padding-left   v
  text-align     center
  font-size      30px
  font-weight    700
  font-family    'opensans-bold'

font-face( name )
  @font-face
    font-family: name
    src: url('/assets/fonts/market/' + name + '.eot')
    src: url('/assets/fonts/market/' + name + '.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/market/' + name + '.woff') format('woff'),
         url('/assets/fonts/market/' + name + '.ttf') format('truetype')
    font-weight: normal
    font-style: normal

darkColor = black
lightColor = white
attentionColor = #ec1c23

screen768 = 'screen and (max-width: 767px)'
screen1024 = 'screen and (max-width: 1024px)'
screenGorizontalIpad = 'screen and (max-width: 1024px) and (orientation : landscape)'
screenVerticallIpad = 'screen and (max-width: 1024px) and (orientation : portrait)'
screenIphone4 = 'screen and (max-width: 767px) and (device-aspect-ratio: 2/3)'
screenIphone5 = 'screen and (max-width: 767px) and (device-aspect-ratio: 40/71)'
screen1200 = 'screen and (max-width: 1200px)'
retina = "only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)"




font-face( 'opensans-light' )
font-face( 'opensans-bold' )

body
  font-family   'opensans-light'
  font-size     14px
  height        100% !important

/********************************************************************************************************************/
/* Common elements */
/********************************************************************************************************************/

.hidden
  display none

.ft-S
  font-size   16px
  font-weight 300

.ft-L
  font-size   18px
  font-weight 300

.color-dark
  color darkColor

.color-light
  color lightColor

  &.__strong
    color #a6a3a3

.color-attention
  color attentionColor

.link
  cursor          pointer
  text-decoration none

  &:hover
    text-decoration none

    .color-attention
      color lightColor

    .color-attention.__strong
      color #a6a3a3

    .color-light
      color attentionColor

    .color-light.__strong
      color attentionColor

    .color-light.__with-attention-bg
      color #a6a3a3

.def-transition
  transition(all 0.2s ease-in-out 0s)

.relative
  position relative

.abs
  position absolute

.ovh
  overflow hidden

.w
  display block

  &.__margin-L
    margin 20px 0

.bg-mask
  position  absolute
  top       0
  left      0
  z-index   100
  width     100%
  height    100%

  &.__dark
    background-color  #414141
    opacity           0.78

  &.__dark-strong
    background-color  #282828
    opacity           0.87

  &.__attention
    background-color  attentionColor
    opacity           0.68

.start-work-btn-w
  text-align center

.start-work-btn
  display     inline-block
  padding     10px 40px
  border      3px solid white
  font-size   16px
  color       lightColor
  border-radius(36px)

  &:hover
    background-color  lightColor
    color             attentionColor

  &:active
    padding 11px 40px 9px

  &.__fill
    background-color  #ec1c23
    border            none
    color             white

  &.__section-sio-market
    margin-top 50px

  &.__section-only-you
    margin-top  100px

  &.__attention
    color        attentionColor
    border-color attentionColor

    &:hover
      background-color  attentionColor
      color             lightColor

.demo-btn
  display           inline-block
  padding           10px 40px

  border            3px solid white
  background-color  attentionColor
  border            none

  font-size         16px
  color             white
  border-radius(36px)

  &:hover
    background-color  lightColor
    color             attentionColor

  &:active
    padding 11px 40px 9px

.section-cnt
  margin    0 auto
  max-width 870px

.title
  font-size       30px
  font-weight     800
  text-transform  uppercase

.phone-visible,
.ipad-visible
  display none

/********************************************************************************************************************/
/* Paralax styles */
/********************************************************************************************************************/
.paralax
  width                   100%
  margin                  auto
  position                relative

  background-attachment   fixed
  background-clip         border-box
  background-color        rgba(0, 0, 0, 0)
  background-origin       padding-box
  background-position     center top
  background-repeat       no-repeat

.bg-paralax
  background-attachment fixed
  background-size       cover
  background-clip       border-box
  background-repeat     repeat-y
  height                100%
  position              absolute
  width                 100%
  z-index               -1

/********************************************************************************************************************/
/* Header */
/********************************************************************************************************************/

.header
  position  fixed
  top       0
  left      0
  right     0
  z-index   1000
  height    50px
  transition(all 0.4s linear 0s)

  &.__js-dark
    background-color  rgba(88,88,88,0.9)
    border-bottom     1px solid #777777

    .top-menu_i
      color       white

      &:hover
        color #d5d5d5

  &_cnt
    position  relative
    margin    0 auto
    max-width 1330px

  &_logo
    position    absolute
    top         10px
    left        10px

    font-size   18px

  &_nav
    position  absolute
    right     0
    top       15px

.top-menu
  overflow hidden /* внутри элементы со свойством float */

  &_i
    float       left
    display     inline-block
    width       120px
    text-align  center
    color       #7a857d
    font-weight 300

    &:hover
      color #d5d5d5

  &_i.__js-act
    color #d5d5d5


/********************************************************************************************************************/
/* Section SioMarket */
/********************************************************************************************************************/
.section-sio-market
  height            100%
  min-height        700px
  max-height        1081px /* высота изображения бэкграунда */
  background-image  url('/assets/images/market/booklet/section-sio-market_bg.jpg')
  background-size   cover

  &_cnt
    position    relative
    z-index     500
    padding-top 200px

  &_title
    title(40px)

  &_logo
    margin-top    50px
    margin-left   auto
    margin-right  auto
    display       block

  &_text
    padding-top 25px
    text-align  center
    color       #aeadad

  &_wifi
    color     #e3e3e3
    font-size 24p

  &_btn
    position  absolute
    bottom    150px
    left      0
    width     100%

  &_go-bottom-btn
    position    absolute
    left        50%
    bottom      10px
    z-index     10
    margin-left -13px

    display     block
    width       27px
    height      45px
    background  url('/assets/images/market/booklet/go-bottom-icon.png') no-repeat

/********************************************************************************************************************/
/* Section About */
/********************************************************************************************************************/
.section-about

  &_cnt
    padding-top 150px

  &_title
    color           #666
    title(40px)


  &_wifi-title
    text-align  center
    margin-top  80px
    font-size   20px
    color       #4c4c4c

  &_wifi-text
    text-align  center
    margin-top  15px
    font-size   16px
    font-weight 300
    color       #666

  &_icons-title
    text-align  center
    margin-top  50px
    font-size   20px
    color       #ec1c23

  &_offers
    overflow      hidden /* внутри элементы со свойством float */
    margin-top    90px
    margin-bottom 90px
    text-align    center

  &_bottom-title
    margin-top      150px
    margin-bottom   50px
    title(40px)


.section-about-offer
  width 33%
  float left

  &_icon
    margin      0 auto
    width       103px
    height      103px
    background  url('/assets/images/market/booklet/section-about_icons.png')

  &_icon.__icon-1
    background-position 0 -153px

  &_icon.__icon-2
    background-position 0 -306px

  &_icon.__icon-3
    background-position 0 0

  &_text
    margin-top  15px
    padding     0 10px
    color       #666
    text-align  center
    font-size   14px
    font-weight 300

/********************************************************************************************************************/
/* Section Start */
/********************************************************************************************************************/
.section-start

  &_bg-paralax
    background-image    url('/assets/images/market/booklet/section-2-4_bg.jpg')
    background-position center -270px

  &_cnt
    position    relative
    padding-top 65px

  &_icon
    float       left
    width       50%
    height      233px
    background  url('/assets/images/market/booklet/section-start_icon.png') no-repeat center center

  &_descr
    overflow    hidden
    text-align  center
    color       #d3d1d1
    font-size   12px

  &_title
    padding-top     10px
    padding-bottom  20px
    color           attentionColor
    title(40px)

  &_text
    font-size   16px
    font-weight 300
    color       white
    padding 0 10px

  &_btn
    margin-top 30px

.browsers
  overflow      hidden
  margin-top    50px
  margin-bottom 20px
  text-align    center

  &_i
    display           inline-block
    width             50px
    height            50px
    background-image  url('/assets/images/market/booklet/retina/browser-icons.png')
    background-repeat no-repeat
    background-size   46px auto

  &_i.__icon-1
    background-position 0 0

  &_i.__icon-2
    background-position 0 -70px

  &_i.__icon-3
    background-position 0 -138px

  &_i.__list
    margin-left 70px


/********************************************************************************************************************/
/* Section I can */
/********************************************************************************************************************/
.section-i-can

  &_cnt
    overflow        hidden
    padding-top     180px
    padding-bottom  240px

  &_descr
    position    relative
    float       left
    width       50%

    color       #666
    font-size   16px
    font-weight 300
    text-align  center

  &_title
    padding-bottom  35px
    color           attentionColor
    title(30px)

  &_icon
    float       left
    width       50%
    height      189px
    background  url('/assets/images/market/booklet/section-i-can_icon.png') no-repeat center center

  &_text
    padding 0 10px

/********************************************************************************************************************/
/* Section You wil notice */
/********************************************************************************************************************/
.section-you-notice
  height              400px

  &_bg-paralax
    background-image    url('/assets/images/market/booklet/section-2-4_bg.jpg')
    background-position center -270px

  &_cnt
    position    relative
    padding-top 85px

  &_icon
    float       left
    width       50%
    height      205px
    background  url('/assets/images/market/booklet/section-you-notice_icon.png') no-repeat center center

  &_descr
    overflow    hidden
    width       50%

    color       white
    font-size   16px
    font-weight 300
    text-align  center

  &_title
    padding-bottom  50px
    color           attentionColor
    title(30px)

  &_text
    padding 0 10px

/********************************************************************************************************************/
/* Section So easy */
/********************************************************************************************************************/
.section-so-easy

  &_cnt
    overflow        hidden
    padding-top     70px
    padding-bottom  140px

  &_descr
    float       left
    width       50%

    color       #666
    font-size   16px
    font-weight 300
    text-align  center

  &_title
    padding-bottom  35px
    color           attentionColor
    title(30px)

  &_text
    padding 0 10px

  &_icon
    overflow     hidden
    width       50%
    height      246px
    background  url('/assets/images/market/booklet/section-so-easy_icon.png') no-repeat center center

  &_btn
    margin-top  100px

/********************************************************************************************************************/
/* Section How it works */
/********************************************************************************************************************/
.section-how-it-works

  &_bg-paralax
    background-image    url('/assets/images/market/booklet/section-how-it-works_bg.jpg')

  &_cnt
    position        relative
    padding-bottom  140px

  &_title
    position        relative
    margin          0 auto
    max-width       1090px
    padding-top     250px
    title(45px)

  &_icon
    margin-top    160px
    margin-left   auto
    margin-right  auto
    width         106px
    height        106px
    background    url('/assets/images/market/booklet/section-how-it-works_icon.png') no-repeat

  &_text
    max-width   650px
    margin      70px auto 0
    font-size   16px
    font-weight 300
    color       #9b9b9b
    text-align  center

  &_place-icon
    margin-top    50px
    margin-bottom 100px
    margin-left   auto
    margin-right  auto

    width         33px
    height        52px
    background    url('/assets/images/market/booklet/place-icon.png') no-repeat

/********************************************************************************************************************/
/* Section Only you */
/********************************************************************************************************************/
.section-only-you

  &_cnt
    margin          0 auto
    max-width       1090px
    padding-top     75px
    padding-bottom  135px

  &_text
    margin-top    70px
    margin-bottom 50px
    color         #666
    font-size     16px
    font-weight   300
    text-align    center

  &_title-w
    display       inline-block
    margin-bottom 50px

  &_title
    title(50px)

  &_title-border
    height              20px
    margin              0 108px
    background-image    url('/assets/images/market/booklet/section-only-you_border.png')
    background-repeat   repeat-x
    background-position center bottom

.only-you-block
  float left
  width 50%

  &_icon
    margin            0 auto
    width             100px
    height            100px
    background-image  url('/assets/images/market/booklet/section-only-you_icons.png')
    background-repeat no-repeat

  &_icon.__block-1
    background-position 0 0

  &_icon.__block-2
    background-position 0 -133px

  &_icon.__block-3
    background-position 0 -283px

  &_icon.__block-4
    background-position 0 -412px

  &_text
    margin-top  15px
    padding     0 15px
    color       #666
    text-align  center
    font-size   14px
    font-weight 300

/********************************************************************************************************************/
/* Section Advantages */
/********************************************************************************************************************/
.section-advantages

  &_bg-paralax
    background-image    url('/assets/images/market/booklet/section-advantages_bg.jpg')

  &_cnt
    position        relative
    padding-top     150px
    padding-bottom  100px
    text-align      center

  &_title
    display         inline-block
    padding-top     5px
    padding-bottom  5px
    color           lightColor
    border          3px solid lightColor
    title(40px)

  &_plus
    color       lightColor
    font-size   30px
    margin-top  70px
    text-align  center

  &_btn
    margin-top 50px

  &_block
    max-width     450px
    margin-left   auto
    margin-right  auto
    margin-top    70px
    color         #e7e7e7
    text-align    center
    font-size     14px
    font-weight   300

/********************************************************************************************************************/
/* Section Equipment */
/********************************************************************************************************************/
.section-equipment

  &_btn-w
    padding-top     40px
    padding-bottom  20px

  &_btn
    display             block
    width               74px
    height              74px
    margin              0 auto
    border              2px solid attentionColor

    cursor              pointer
    background          url('/assets/images/market/booklet/retina/wifi-icon.png') no-repeat
    background-size     34px auto
    background-position center 18px
    border-radius(50%)

    &:hover
      background-color    attentionColor
      background-position center -47px

    &:active
      background-position center -46px

  &_slide
    overflow    hidden
    position    relative

  &_cnt-w
    margin-top        18px
    background-color  #eeecec

  &_cnt
    max-width         1110px
    margin            0 auto
    padding-top       35px
    padding-bottom    100px


  &_title
    margin-bottom   50px
    title(50px)

  &_angle
    position    absolute
    top         0
    left        50%
    margin-left -44px
    z-index     200

    width       88px
    height      18px
    background  url('/assets/images/market/booklet/section-equipment_angle.png') no-repeat

.equipment-block
  width 33%
  float left

  &_icon
    margin      0 auto
    width       20px
    height      20px
    padding     10px
    border      1px solid attentionColor

    font-size   18px
    line-height 18px
    text-align  center
    border-radius(50%)

  &_text
    margin-top  30px
    padding     0 10px

    color       #666
    font-size   14px
    font-weight 300
    text-align  center

/********************************************************************************************************************/
/* Section Partnership */
/********************************************************************************************************************/
.section-partnership

  &_cnt
    padding 70px 0

  &_title
    title(50px)

  &_text
    margin      40px auto 0
    max-width   500px
    padding     0 10px

    color       #666
    font-size   16px
    font-weight 300
    text-align  center

  &_btns
    overflow  hidden
    max-width 430px
    margin    100px auto 0

  &_phone
    float               left
    margin-left         50px
    width               140px
    padding-top         100px
    height              40px

    border              2px solid transparent
    background-color    #f44040
    background-image    url('/assets/images/market/booklet/phone-icon.png')
    background-repeat   no-repeat
    background-position center 20px

    cursor              pointer
    color               white
    text-align          center
    text-decoration     none
    border-radius(10px)

  &_mail
    float               right
    margin-right        50px
    width               140px
    padding-top         100px
    height              40px

    border              2px solid #f44040
    background-image    url('/assets/images/market/booklet/mail-icon.png')
    background-repeat   no-repeat
    background-position center 35px

    cursor              pointer
    color               #828282
    text-decoration     none
    text-align          center
    border-radius(10px)

    &:hover
      color               white
      background-color    #f44040
      background-image    url('/assets/images/market/booklet/mail-icon_white.png')


.retina
  display none

/********************************************************************************************************************/
/* Устройства с разрешением меньше 1200px */
/********************************************************************************************************************/
@media screen1200


  .section-about_title
    title(30px)

  .section-i-can

    &_descr
      width 45%

    &_icon
      width 55%

  .section-how-it-works_title
    title(25px)

  .section-advantages_title
    title(35px)

  .section-partnership_title
    title(45px)

/********************************************************************************************************************/
/* Устройства с разрешением меньше 1024px */
/********************************************************************************************************************/
@media screen1024

  .ipad-visible
    display block

  .start-work-btn.__section-only-you
    display none

  .w.__margin-L
    margin 10px 0

  /* Section SioMarket */
  .section-sio-market
    background  none
    min-height  100%
    max-height  100%

  /* Section About */
  .section-about
    height 100%

    &_bottom-title
      title(30px)

  /* Section Start */
  .section-start
    height 50%

    &_bg-paralax
      display none

  .browsers
    margin-top 25px

  /* Section I can */
  .section-i-can
    height 50%

   /* Section You notice */
  .section-you-notice
    height 50%

  /* Section So easy */
  .section-so-easy
    height 50%

   /* Section How it works */
  .section-how-it-works
    height 100%

    &_bg-paralax
      display none

  /* Section Only you */
  .section-only-you
    height      100%

  /* Section Advantages */
  .section-advantages
    height 100%

    &_bg-paralax
      display none

  .section-equipment_title
    title(35px)

/********************************************************************************************************************/
/* Горизонтальный Ipad */
/********************************************************************************************************************/
@media screenGorizontalIpad


  /* Section SioMarket */
  .section-sio-market

    &_cnt
      padding-top 150px

    &_go-bottom-btn
      bottom 50px

  /* Section About */
  .section-about

    &_cnt
      padding-top 60px

    &_wifi-title
      margin-top 15px

    &_wifi-text
      margin-top  5px

    &_icons-title
      margin-top 40px

    &_offers
      margin-top    10px
      margin-bottom 45px

    &_bottom-title
      margin-top    25px
      margin-bottom auto

  /* Section Start */
  .section-start

    &_cnt
      padding-top 40px

  /* Section I can */
  .section-i-can

    &_cnt
      padding-top     80px
      padding-bottom  none

   /* Section You notice */
  .section-you-notice

    &_cnt
      padding-top     40px
      padding-bottom  none

  /* Section So easy */
  .section-so-easy

    &_cnt
      padding-top    10px
      padding-bottom 0

    &_title
      padding-top     35px
      padding-bottom  15px

    &_btn
      margin-top 10px

   /* Section How it works */
  .section-how-it-works

    &_title
      padding-top 100px

    &_icon
      margin-top 60px

    &_text
      margin-top 20px

    &_place-icon
      margin-bottom 50px

  /* Section Only you */
  .section-only-you

    &_cnt
      padding-top 15px

    &_text
      margin-top    30px
      margin-bottom 10px

  /* Section Advantages */
  .section-advantages

    &_cnt
      padding-top 60px

    &_plus
      margin-top 20px

    &_btn
      margin-top 0

    &_block
      margin-top 20px

  /* Section Partnership */
  .section-partnership

    &_btns
      margin-top 50px



/********************************************************************************************************************/
/* Вертикальный Ipad */
/********************************************************************************************************************/
@media screenVerticallIpad

  /* Section About */
  .section-about

    &_cnt
      padding-top 60px

    &_bottom-title
      margin-top 100px

  /* Section I can */
  .section-i-can

    &_cnt
      padding-top     100px
      padding-bottom  0

    &_title
      title(20px)

  /* Section You notice */
  .section-you-notice

    &_title
      title(10px)

  /* Section So easy */
  .section-so-easy

    &_cnt
      padding-bottom  0
      padding-top     40px

    &_btn
      margin-top 70px

    &_title
      padding-top 35px
      title(10px)

  /* Section How it works */
  .section-how-it-works

    &_title
      padding-top 150px

    &_icon
      margin-top 60px

  /* Section Advantages */
  .section-advantages

    &_cnt
      padding-top 60px

    &_plus,
    &_block
      margin-top 50px

  /* Section Equipment */
  .section-equipment

    &_btn-w
      padding-top 80px



/********************************************************************************************************************/
/* Retina ready */
/********************************************************************************************************************/
@media retina

  .not-retina
    display none

  .retina
    display block

  .section-sio-market_go-bottom-btn
    background-image  url('/assets/images/market/booklet/retina/go-bottom-icon.png')
    background-size   27px auto

  .section-about-offer_icon
    background-image  url('/assets/images/market/booklet/retina/section-about-icons.png')
    background-size   103px auto

    &.__icon-1
      background-position 0 0

    &.__icon-2
      background-position 0 -128px

    &.__icon-3
      background-position 0 -256px

  .section-start_icon
    background-image  url('/assets/images/market/booklet/retina/section-start_icon.png')
    background-size   auto 100%

  .section-i-can_icon
    background-image  url('/assets/images/market/booklet/retina/section-i-can_icon.png')
    background-size   335px auto

  .section-you-notice_icon
    background-image  url('/assets/images/market/booklet/retina/section-you-notice_icon.png')
    background-size   321px auto

  .section-so-easy_icon
    background-image  url('/assets/images/market/booklet/retina/section-so-easy_icon.png')
    background-size   auto 100%

  .section-how-it-works_icon
    background-image  url('/assets/images/market/booklet/retina/section-how-it-works_icon.png')
    background-size   100% auto

  .section-how-it-works_place-icon
    background-image  url('/assets/images/market/booklet/retina/place-icon.png')
    background-size   100% auto

  .only-you-block_icon
    background-image  url('/assets/images/market/booklet/retina/section-only-you_icons.png')
    background-size   90px 404px

    &.__block-1
      background-position 0 0

    &.__block-2
      background-position 0 -108px

    &.__block-3
      background-position 0 -233px

    &.__block-4
      background-position 0 -337px


  .section-only-you_title-border
    background-image    url('/assets/images/market/booklet/retina/section-only-you_border.png')
    background-repeat   repeat-x
    background-size     35px auto
    background-position center bottom

  .section-equipment_btn
    background-image  url('/assets/images/market/booklet/retina/section-equipment_btn.png')
    background-size   74px auto

  .section-partnership_phone
    background-image  url('/assets/images/market/booklet/retina/phone-icon.png')
    background-size   35px auto

  .section-partnership_mail
    background-image  url('/assets/images/market/booklet/retina/mail-icon.png')
    background-size   102px auto

    &:hover
      background-image url('/assets/images/market/booklet/retina/mail-icon_white.png')
      background-size  102px auto


/********************************************************************************************************************/
/* Устройства с разрешением меньше 768px */
/********************************************************************************************************************/
@media screen768

  .ipad-visible
    display none

  .phone-visible
    display block

  .phone-hidden
    display none

  .start-work-btn
    font-size 12px
    padding   10px 50px

    &.__section-sio-market
      margin-top 10px

    &.__section-only-you
      margin-top 0

  .w

    &.__margin-L
      margin 10px 0

  .header
    display none

  /* Section SioMarket */
  .section-sio-market
    background  none
    min-height  100%
    max-height  100%

    &_cnt
      padding-top 10px

    &_title
      title(5px)

    &_btn
      bottom 10px

    &_logo
      margin-top 10px

    &_text
      padding-top   25px
      padding-left  10px
      padding-right 10px

    &_go-bottom-btn
      display none

  /* Section About */
  .section-about
    height 200%

    &_cnt
      padding-top 10px

    &_title
      font-size 30px
      title(0)

    &_wifi-title
      font-size  16px
      margin-top 10px

    &_wifi-text
      padding     0 10px
      margin-top  5px

    &_icons-title
      margin-top 15px

    &_offers
      margin-top    10px
      margin-bottom 20px

    &_bottom-title
      margin-top    25px
      margin-bottom 15px
      title(0)

  .section-about-offer
    float         none
    width         auto
    margin-bottom 10px

    &_text
      margin-top  5px

  /* Section Start */
  .section-start
    height 100%

    &_cnt
      padding-top 35px

    &_icon
      float           none
      width           300px
      height          150px
      margin          0 auto
      background-size auto 100%

    &_title
      padding-bottom 15px

  /* Section I can */
  .section-i-can
    height 100%

    &_cnt
      padding-top     10px

    &_descr
      float none
      width auto

    &_title
      padding-bottom 15px
      title(20px)

    &_icon
      float           none
      width           260px
      height          150px
      margin          0 auto
      background-size 100% auto

  /* Section You notice */
  .section-you-notice
    height 100%

    &_cnt
      padding-top 0

    &_icon
      float           none
      width           260px
      height          190px
      margin          0 auto
      background-size 100% auto

    &_descr
      float       none
      width       auto
      margin-top  10px

    &_title
      font-size      26px
      padding-bottom 10px
      title(5px)

  /* Section So easy */
  .section-so-easy
    height 100%

    &_cnt
      padding-top     15px
      padding-bottom  30px

    &_descr
      float none
      width auto

    &_icon
      float           none
      height          150px
      margin          20px auto 0
      background-size auto 100%

    &_title
      padding-top     0
      padding-bottom  10px
      title(5px)

    &_btn
      margin-top 30px

  /* Section How it works */
  .section-how-it-works
    height 100%

    &_cnt
      padding-bottom 20px

    &_title
      padding-top 0
      title(0)

    &_icon
      margin-top 5px
      width           53px
      height          53px
      background-size 100% auto

    &_text
      margin-top 10px
      padding 0 10px

    &_place-icon
      margin-top    0
      margin-bottom 5px

  /* Section Only you */
  .section-only-you
    height 300%

    &_cnt
      padding-top 30px
      padding-bottom 0

    &_text
      margin-top    50px
      margin-bottom 50px
      padding       0 10px

    &_title-w
      margin-bottom 20px

    &_title
      title(10px)

    &_title-border
      margin 0 40px

  .only-you-block
    float         none
    width         auto
    margin-bottom 30px

  /* Section Advantages */
  .section-advantages
    height 200%

    &_plus
      margin-top 20px

    &_cnt
      padding-top 10px

    &_title
      title(5px)
      font-size 20px

    &_block
      margin-top 20px

  /* Section Equipment */
  .section-equipment

    &_btn-w
      padding-top 20px

    &_title
      margin-bottom 30px
      title(5px)

    &_cnt
      padding-bottom 10px

  .equipment-block
    float         none
    width         auto
    margin-bottom 30px

    &_text
      margin-top 10px

  /* Section Partnership */
  .section-partnership
    min-height 100%

    &_cnt
      padding 0

    &_title
      title(5px)

    &_text
      margin-top 15px
      font-size  14px

    &_btns
      margin-top  10px
      max-width   300px

    &_phone
      margin-left         10px
      width               120px
      height              30px
      padding-top         90px
      background-position center 20px

    &_mail
      margin-right        10px
      width               120px
      height              50px
      padding-top         70px
      background-position center 20px

/********************************************************************************************************************/
/* Iphone 5 */
/********************************************************************************************************************/
@media screenIphone5

  /* Section Sio market */
  .section-sio-market

    &_cnt
      padding-top 30px

  /* Section About */
  .section-about
    height 200%

    &_cnt
      padding-top 20px

  .section-you-notice_cnt
    padding-top 20px

  .section-so-easy_cnt
    padding-top 20px

  .section-i-can_cnt
    padding-top 20px

  /* Section Start */
  .section-start_cnt
    padding-top 20px

  /* Section Advantages */
  .section-advantages

    &_cnt
      padding-top 40px

    &_plus
      margin-top 40px

    &_block
      margin-top 50px

    &_btn
      margin-top 20px

  .section-how-it-works_place-icon
    margin-bottom 20px

  .section-start_icon
    background-size   auto 150px

  .section-i-can_icon
    background-size   260px auto

  .section-you-notice_icon
    background-size   260px auto

  .section-so-easy_icon
    background-size   auto 150px

/********************************************************************************************************************/
/* Iphone 4 */
/********************************************************************************************************************/
@media screenIphone4

  /* Section Sio market */
  .section-sio-market

    &_cnt
      padding-top 0

    &_logo
      margin-top 0

    &_text
      font-size   14px
      padding-top 10px

  /* Section About */
  .section-about

    &_wifi-text
      font-size 14px

    .start-work-btn-w
      display none

    &_bottom-title
      display none

  .section-start

    &_cnt
      padding-top 5px

    &_title
      padding 0

    &_text
      font-size 14px

    &_btn
      margin-top 10px

  .section-i-can_text
    font-size 14px

  .section-you-notice

    &_title
      padding-bottom 0

    &_descr
      font-size 14px

  /* Section So easy */
  .section-so-easy

    &_cnt
      padding-top     10px

    &_text
      font-size 14px

    &_icon
      margin-top 10px

    &_btn
      margin-top 10px

  /* Section How it works */
  .section-how-it-works

    .start-work-btn-w
      display none

    &_text
      font-size 14px

  .only-you-block

    &_text
      margin-top 5px

    &_icon
      width             45px
      height            60px
      background-image  url('/assets/images/market/booklet/section-only-you_icons.png')
      background-repeat no-repeat
      background-size   45px auto

    &_icon.__block-2
      background-position 0 -60px

    &_icon.__block-3
      background-position 0 -140px

    &_icon.__block-4
      background-position 0 -195px


  /* Section Partnership */
  .section-partnership

    &_text
      margin-top 5px

    &_btns
      margin-top  10px
      max-width   300px

    &_phone
      margin-left         30px
      width               80px
      height              20px
      padding-top         60px
      font-size           10px
      background-position center 10px
      background-size     auto 40px

    &_mail
      margin-right        30px
      width               80px
      height              35px
      padding-top         45px
      font-size           10px
      background-position center 15px
      background-size     60px auto