spriteUrl = url('/assets/images/market/categories/icons.png')
smallSpriteUrl = url('/assets/images/market/categories/icons.small.png')

spriteSize = 112px 937px
smallSpriteSize = 54px 570px

.sm-categories-screen
  overflow: scroll
  -webkit-overflow-scrolling: touch

.sm-categories-body-wrap
  min-height: 100%
  .sm-categories-body
    padding-bottom: 130px
    padding-top: 50px

.sm-categories-footer
  overflow: hidden
  position: relative
  margin-top: -130px


.sm-categories-list
  width: 960px
  padding-top: 20px
  margin: 0 auto
  font-family: 'futurfutc-webfont'
  font-size: 16px
  color: white
  text-align: center
  overflow: hidden


.or-title
  color: white
  font-family: 'futurfutc-webfont'
  height: 1px
  background: white
  position: relative
  span
    background: #CE2222
    left: 50%
    margin-left: -27px
    padding: 0 10px
    position: absolute
    top: -9px

.white-border-btn
  display: inline-block
  border: 2px solid white
  font-family: 'pfdintextcomppro-medium-webfont'
  font-size: 30px
  padding: 17px 30px
  text-decoration: none
  color: white

.sm-single-categorie
  display: block
  text-decoration: none
  cursor: pointer
  overflow: hidden
  float: left
  width: 171px
  margin-top: 20px
  padding: 0 10px
  .icon
    background: spriteUrl no-repeat
    background-size: spriteSize
    height: 100px
  .name
    height: 46px
    padding-top: 25px
    font-size: 24px
.sm-single-categorie.sm-clothing
  .icon
    background-position: 36px -100px
.sm-single-categorie.sm-boots
  .icon
    height: 90px
    margin-top: 10px
    background-position: 36px -644px
.sm-single-categorie.sm-travel
  .icon
    background-position: 36px -850px
  .name
    padding-top: 15px
    height: 56px
.sm-single-categorie.sm-food
  .icon
    background-position: 36px -446px
.sm-single-categorie.sm-electronics
  .icon
    background-position: 36px -342px
.sm-single-categorie.sm-sports
  .icon
    background-position: 36px -741px
.sm-single-categorie.sm-cosmetics
  .icon
    background-position: 40px -224px
.sm-single-categorie.sm-restraunts
  .icon
    background-position: 50px 0
  .name
    padding-top: 15px
    height: 56px
.sm-single-categorie.sm-for-home
  .icon
    background-position: 36px -556px
  .name
    padding-top: 15px
    height: 56px

.medium
  .sm-categories-list
    width: auto
    padding: 0 40px

.small
  .sm-categories-list
    width: auto
    padding: 0 10px
  .sm-single-categorie
    width: 90px
    margin-top: 15px
    padding: 0 5px
  .icon
    background: smallSpriteUrl no-repeat
    background-size: smallSpriteSize
    margin-top: 5px
    height: 50px
  .name
    padding-top: 10px
    height: 25px
    font-size: 12px
  .sm-single-categorie.sm-clothing
    .icon
      background-position: 23px -70px
  .sm-single-categorie.sm-boots
    .icon
      margin-top: 5px
      height: 50px
      background-position: 23px -400px
  .sm-single-categorie.sm-travel
    .icon
      background-position: 23px -530px
    .name
      padding-top: 5px
      height: 30px
  .sm-single-categorie.sm-electronics
    .icon
      background-position: 23px -208px
  .sm-single-categorie.sm-sports
    .icon
      background-position: 23px -459px
  .sm-single-categorie.sm-cosmetics
    .icon
      background-position: 23px -137px
  .sm-single-categorie.sm-for-home
    .icon
      background-position: 23px -278px
    .name
      padding-top: 5px
      height: 30px
  .sm-single-categorie.sm-restraunts
    .icon
      background-position: 28px 0px
    .name
      padding-top: 5px
      height: 30px
  .sm-single-categorie.sm-food
    .icon
      background-position: 23px -342px

  .white-border-btn
    font-size: 16px

  .or-title
    span
      font-size: 12px
      top: -7px


.sm-w-980
  .sm-categories-list
    width: 764px

.sm-w-800
  .sm-categories-list
    width: 580px

.sm-w-400
  .sm-categories-list
    width: 320px!important
  .sm-single-categorie
    padding: 0px
    width: 70px
    margin: 5px 18px
    .icon
      background: smallSpriteUrl
      background-size: smallSpriteSize
      background-repeat: no-repeat
      height: 50px
    .name
      font-size: 14px
      padding-top: 5px

  .sm-clothing
    .icon
      background-position: 13px -66px
  .sm-single-categorie.sm-boots
    .icon
      background-position: 12px -406px
  .sm-single-categorie.sm-travel
    .icon
      background-position: 12px -525px
  .sm-single-categorie.sm-electronics
    .icon
      background-position: 9px -204px
  .sm-single-categorie.sm-sports
    .icon
      background-position: 9px -455px
  .sm-single-categorie.sm-cosmetics
    .icon
      background-position: 20px -134px
  .sm-single-categorie.sm-for-home
    .icon
      background-position: 15px -271px
  .sm-single-categorie.sm-restraunts
    .icon
      background-position: 19px 5px
  .sm-single-categorie.sm-food
    .icon
      background-position: 15px -336px

  .sm-categories-screen
    .white-border-btn
      font-size: 18px