spriteurl = url('/assets/images/sio-market-categories-sprite.png')
spritesize = 59px 53px

.sm-single-categorie
  display: block
  width: 140px
  height: 160px
  float: left
  background: spriteurl no-repeat left top
  background-size: spritesize