.offer-details
  .discount.template-1-ce2222
    background-position: 0 0!important
  .discount.template-1-fee800
    background-position: 0 -165px!important
  .discount.template-1-e3a51a
    background-position: 0 -330px!important
  .discount.template-1-4fce22
    background-position: 0 -495px!important

  .discount.template-2-ce2222
    background-position: -165px 0!important
  .discount.template-2-fee800
    background-position: -165px -165px!important
  .discount.template-2-e3a51a
    background-position: -165px -330px!important
  .discount.template-2-4fce22
    background-position: -165px -495px!important

  .discount.template-3-ce2222
    background-position: -330px 0!important
  .discount.template-3-fee800
    background-position: -330px -165px!important
  .discount.template-3-e3a51a
    background-position: -330px -330px!important
  .discount.template-3-4fce22
    background-position: -330px -495px!important

  .discount.template-4-ce2222
    background-position: -495px 0!important
  .discount.template-4-fee800
    background-position: -495px -165px!important
  .discount.template-4-e3a51a
    background-position: -495px -330px!important
  .discount.template-4-4fce22
    background-position: -495px -495px!important

  .discount.template-5-ce2222
    background-position: -660px 0!important
  .discount.template-5-fee800
    background-position: -660px -165px!important
  .discount.template-5-e3a51a
    background-position: -660px -330px!important
  .discount.template-5-4fce22
    background-position: -660px -495px!important

  .discount.template-6-ce2222
    background-position: -825px 0!important
  .discount.template-6-fee800
    background-position: -825px -165px!important
  .discount.template-6-e3a51a
    background-position: -825px -330px!important
  .discount.template-6-4fce22
    background-position: -825px -495px!important