.sio-mart-layout,
.ads-list,
.ad-preview

  .offer-details
    .discount.template-1-1
      background-position: 0 0
    .discount.template-1-2
      background-position: 0 -165px
    .discount.template-1-3
      background-position: 0 -330px
    .discount.template-1-4
      background-position: 0 -495px

    .discount.template-2-1
      background-position: -165px 0
    .discount.template-2-2
      background-position: -165px -165px
    .discount.template-2-3
      background-position: -165px -330px
    .discount.template-2-4
      background-position: -165px -495px

    .discount.template-3-1
      background-position: -330px 0
    .discount.template-3-2
      background-position: -330px -165px
    .discount.template-3-3
      background-position: -330px -330px
    .discount.template-3-4
      background-position: -330px -495px

    .discount.template-4-1
      background-position: -495px 0
    .discount.template-4-2
      background-position: -495px -165px
    .discount.template-4-3
      background-position: -495px -330px
    .discount.template-4-4
      background-position: -495px -495px

    .discount.template-5-1
      background-position: -660px 0
    .discount.template-5-2
      background-position: -660px -165px
    .discount.template-5-3
      background-position: -660px -330px
    .discount.template-5-4
      background-position: -660px -495px

    .discount.template-6-1
      background-position: -825px 0
    .discount.template-6-2
      background-position: -825px -165px
    .discount.template-6-3
      background-position: -825px -330px
    .discount.template-6-4
      background-position: -825px -495px


.sio-mart-layout.small,
.ads-list.small,
.ad-preview.preview-small

  .offer-details

    .discount.template-1-1
      background-position: 0 0
    .discount.template-1-2
      background-position: 0 -95px
    .discount.template-1-3
      background-position: 0 -190px
    .discount.template-1-4
      background-position: 0 -285px

    .discount.template-2-1
      background-position: -95px 0
    .discount.template-2-2
      background-position: -95px -95px
    .discount.template-2-3
      background-position: -95px -190px
    .discount.template-2-4
      background-position: -95px -285px

    .discount.template-3-1
      background-position: -190px 0
    .discount.template-3-2
      background-position: -190px -95px
    .discount.template-3-3
      background-position: -190px -190px
    .discount.template-3-4
      background-position: -190px -285px

    .discount.template-4-1
      background-position: -285px 0
    .discount.template-4-2
      background-position: -285px -95px
    .discount.template-4-3
      background-position: -285px -190px
    .discount.template-4-4
      background-position: -285px -285px

    .discount.template-5-1
      background-position: -380px 0
    .discount.template-5-2
      background-position: -380px -95px
    .discount.template-5-3
      background-position: -380px -190px
    .discount.template-5-4
      background-position: -380px -285px

    .discount.template-6-1
      background-position: -475px 0
    .discount.template-6-2
      background-position: -475px -95px
    .discount.template-6-3
      background-position: -475px -190px
    .discount.template-6-4
      background-position: -475px -285px