xfontface( name )
  @font-face
    font-family: name
    src: url('/vassets/fonts/market/' + name + '.eot')
    src: url('/vassets/fonts/market/' + name + '.eot?#iefix') format('embedded-opentype'),
         url('/vassets/fonts/market/' + name + '.woff') format('woff'),
         url('/vassets/fonts/market/' + name + '.ttf') format('truetype')
    font-weight: normal
    font-style: normal

xfontface( 'favoritlightcondcregular' )
xfontface( 'favoritcondcregular' )
xfontface( 'heliosthin' )
xfontface( 'futurfutc-webfont' )
xfontface( 'PFDinTextCompPro-Medium' )
xfontface( 'futurfutc-webfont' )
xfontface( 'helioscond-webfont' )
xfontface( 'helioscondlight-webfont' )
xfontface( 'favoritcondc-bold-webfont' )
xfontface( 'PharmadinCondensedLight' )
xfontface( 'confic-webfont' )
xfontface( 'newspsan-webfont' )
xfontface( 'rex_bold-webfont' )
xfontface( 'perforama-webfont' )
xfontface( 'blocextconc-webfont' )
xfontface( 'bodonconc-webfont' )
xfontface( 'confic-webfont' )
xfontface( 'PT_Sans-Narrow' )
xfontface( 'aa_higherup-webfont' )
xfontface( 'opensans-bold' )
xfontface( 'opensans-light' )


xfontface2( name )
  @font-face
    font-family: name
    src: url('/vassets/fonts/' + name + '/' + name + '.eot')
    src: url('/vassets/fonts/' + name + '/' + name + '.eot?#iefix') format('embedded-opentype'),
         url('/vassets/fonts/' + name + '/' + name + '.woff2') format('woff2'),
         url('/vassets/fonts/' + name + '/' + name + '.woff') format('woff'),
         url('/vassets/fonts/' + name + '/' + name + '.ttf') format('truetype')
    font-weight: normal
    font-style: normal

xfontface2( 'gaz-transport' )

/*
xfontface2( 'meloraic' )
xfontface2( 'octin-team-heavy' )
xfontface2( 'pfdin-comppro-medium' )
xfontface2( 'posterboard' )
xfontface2( 'ptsans-narrow' )
*/


.ft-XS
  ft(12px)

.ft-S
  ft(14px)

.ft-XM
  ft(16px)

.ft-M
  ft(18px)

.ft-L
  ft(24px)

.ft-XL
  ft(36px)

strong
  font-weight: bold
