font-face( name )
  @font-face
    font-family: name
    src: url('/assets/fonts/market/' + name + '.eot')
    src: url('/assets/fonts/market/' + name + '.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/market/' + name + '.woff') format('woff'),
         url('/assets/fonts/market/' + name + '.ttf') format('truetype')
    font-weight: normal
    font-style: normal

ft(v)
  font-size: v
  line-height: v

font-face( 'favoritlightcondcregular' )
font-face( 'favoritcondcregular' )
font-face( 'heliosthin' )
font-face( 'heliosextblack' )
font-face( 'futurfutc-webfont' )
font-face( 'PFDinTextCompPro-Medium' )
font-face( 'futurfutc-webfont' )
font-face( 'helioscond-webfont' )
font-face( 'helioscondlight-webfont' )
font-face( 'favoritcondc-bold-webfont' )
font-face( 'PharmadinCondensedLight' )
font-face( 'confic-webfont' )
font-face( 'newspsan-webfont' )
font-face( 'rex_bold-webfont' )
font-face( 'perforama-webfont' )
font-face( 'decorc-webfont' )
font-face( 'blocextconc-webfont' )
font-face( 'bodonconc-webfont' )
font-face( 'confic-webfont' )
font-face( 'PT_Sans-Narrow' )
font-face( 'aa_higherup-webfont' )

.ft-XS
  font-size: 12px
  line-height: 12px

.ft-S
  font-size: 14px
  line-height: 14px

.ft-M
  font-size: 18px
  line-height: 18px

.font-XL
  font-size: 36px
  line-height: 36px