@font-face
  font-family: 'favoritlightcondcregular'
  src: url('/assets/fonts/market/favoritlightcondc-webfont.eot')
  src: url('/assets/fonts/market/favoritlightcondc-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/market/favoritlightcondc-webfont.woff') format('woff'),
       url('/assets/fonts/market/favoritlightcondc-webfont.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'favoritcondcregular'
  src: url('/assets/fonts/market/favoritcondc-webfont.eot')
  src: url('/assets/fonts/market/favoritcondc-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/market/favoritcondc-webfont.woff') format('woff'),
       url('/assets/fonts/market/favoritcondc-webfont.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'heliosthin'
  src: url('/assets/fonts/market/heliosthin.eot')
  src: url('/assets/fonts/market/heliosthin.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/market/heliosthin.woff') format('woff'),
       url('/assets/fonts/market/heliosthin.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'pfdintextcomppro-medium-webfont'
  src: url('/assets/fonts/market/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/market/pfdintextcomppro-medium-webfont.woff') format('woff'),
       url('/assets/fonts/market/pfdintextcomppro-medium-webfont.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'futurfutc-webfont'
  src: url('/assets/fonts/market/futurfutc-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/market/futurfutc-webfont.woff') format('woff'),
       url('/assets/fonts/market/futurfutc-webfont.ttf') format('truetype')
  font-weight: normal
  font-style: normal