border-radius(v)
  -webkit-border-radius v
  border-radius         v

box-shadow(v)
  -webkit-box-shadow v
  box-shadow         v

text-shadow(v)
  -webkit-text-shadow v
  text-shadow         v

transition(v)
  -webkit-transition  v
  transition          v

transform(v)
  -webkit-transform v
  transform         v

ft(v)
  font-size     v

webkitContainerBorderRadiusFix()
  -webkit-mask-image  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC')

backface()
  -webkit-backface-visibility   arguments
  backface-visibility      arguments

gradient()
  background  -moz-linear-gradient(arguments)
  background  -webkit-gradient(arguments)
  background  -webkit-linear-gradient(arguments)
  background  -o-linear-gradient(arguments)
  background  -ms-linear-gradient(arguments)
  background  -linear-gradient(arguments)