@import 'fonts.styl'

spriteurl = url('/assets/images/sio-market-sprite.png')
spritesize = 150px 75px

border-radius( param )
  -webkit-border-radius : param

.sio-mart-layout,
.sio-mart-layout .sm-screen,
.sio-mart-layout .sm-offers
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  z-index: 1000

.sio-mart-layout
  position: fixed
  background: rgba(200,200,200,0.95)

  /*************************/
  /* Общие кнопки в хидере */
  /*************************/
  .back-close-button
    position: absolute
    left: 15px
    top: 14px
    z-index: 1002
    overflow: hidden
    width: 25px
    height: 27px
    .cb-i
      width: 50px
      height: 27px
    a
      display: block
      float: left
      width: 25px
      height: 27px
      background: spriteurl no-repeat left 3px
      background-size: spritesize
    a:active
      margin-top: 1px

    a.close
      background-position: -54px top

  .categories-button
    position: absolute
    right: 15px
    top: 15px
    z-index: 1002
    a
      display: block
      width: 25px
      height: 25px
      background: spriteurl no-repeat left top
      background-size: spritesize
      background-position: -27px 0px
    a:active
      margin-top: 1px
  .sm-button
    display: block
    color: #fff
    border: 5px #fff solid
    font-size: 30px
    padding: 15px 10px
    font-family: 'pfdintextcomppro-medium-webfont'
    text-decoration: none
    text-align: center

  /*******************************************/
  /* Кнопочки-контроллеры слайдов в офферами */
  /*******************************************/
  .sm-offers-controller
    position: absolute
    width: 28px
    height: 14px
    left: 50%
    bottom: 10px
    margin-left: -14px
    z-index: 1002

    a
      display: block
      width: 14px
      height: 14px
      float: left
      span
        display: block
        width: 8px
        height: 8px
        margin-left: 3px
        margin-top: 3px
        background: #000
        border-radius( 50px )

    a.active
      span
        background: red

  /*****************************/
  /* Экран с выбором категории */
  /*****************************/
  .sm-categories-screen
    display: none
    position: absolute
    left: 0px
    top: 0px
    width: 100%
    height: 100%
    background: #ce2222
    background-color: rgba(206, 34, 34, 0.9)
    z-index: 1003

    .search-bar
      background: #fff
      height: 44px
      border-bottom: rgba(0,0,0,0.5)

  /**************************************************/
  /* Экран с предупредлением о выходе из Sio.Market */
  /**************************************************/
  .sm-close-screen
    display: none
    position: absolute
    width: 100%
    height: 100%
    left: 0px
    top: 0px
    background: rgba(0,0,0,0.7)
    z-index: 10004

    .es-container
      position: absolute
      width: 300px
      height: 300px
      left: 50%
      top: 50%
      margin-left: -150px
      margin-top: -150px
      color : #fff

  /********************************/
  /* Оффер ( рекламная карточка ) */
  /********************************/
  .sm-offer
    position: absolute
    overflow: hidden
    width: 100%
    height: 100%

  .sm-hidden-offer
    display: none

  .offer-header
    position: absolute
    z-index: 1002
    width: 100%
    height: 50px
    border-top: 1px rgba(255,255,255,0.5) solid
    border-bottom: 1px rgba(0,0,0,0.5) solid
    background: #cf3737
    opacity: 0.9

  .offer-details
    position: absolute
    left: 0px
    top: 0px
    width: 350px
    height: 100%
    background: rgba(0,0,0,0.8)
    z-index: 1001
  .sm-screen
    overflow: hidden
    .poster-photo
      position: absolute
      left: 50%
      top: 50%

  /*******************************************/
  /* Навигация для главного экрана выдачи ТЦ */
  /*******************************************/
  .sm-navigation
    z-index: 1001
    width: 100%
    height: 129px
    position: absolute
    left: 0px
    bottom: 0px
    background: rgba(255,255,255,0.8)

    .sm-buttons
      width: 680px
      height: 100px
      margin: 0px auto

      .sm-button
        width: 282px
        margin: 20px 12px
        float: left
        border-color: #cf3737
        color: #cf3737