@import 'fonts.styl'
@import 'blocks.styl'

spriteurl = url('/assets/images/sio-market-sprite.png')
spritesize = 400px 100px

sprite2url = url('/assets/images/showcase-v2-sprite-retina.png')
sprite2size = 150px 150px

default_color_w_opacity = rgba( 48, 48, 48, 0.9 )
default_color = rgba( 48, 48, 48, 1 )

border-radius( param )
  -webkit-border-radius : param
  -moz-border-radius : param
  -o-border-radius : param
  border-radius : param

transform( param )
  -webkit-transform : param
  -moz-transform : param
  -o-transform : param
  transform : param

box-shadow( param )
  -webkit-box-shadow: param
  -moz-box-shadow: param
  box-shadow: param

body,
html
  height: 100%
  width: 100%

*
  padding: 0px
  margin: 0px
  border: 0px

.abs
  position: absolute
  left: 0px
  top: 0px

.hidden
  display: none

.sm-clear
  clear: both

.sm-centered-block
  margin: 0px auto
  position: relative

code
  display: none

.sm-vflex
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-box-align: stretch
  -webkit-box-flex:1
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

.sm-overflow-scrolling
  -webkit-overflow-scrolling: touch
  overflow-y: scroll
  margin-bottom: -1px

.sm-block
  position: absolute
  -webkit-transition: -webkit-transform 0.2s linear

/* Кнопки
------------------------------------*/
.sm-button
  width: 40px
  height: 40px
  cursor: pointer
.sm-showcase
  width: 100%
  heigth: 100%

.sm-producer-header
  height: 50px
  width: 100%
  background: default_color_w_opacity
  z-index: 10
  text-align: center

  &_btn
    &.__left-aligned
      left: 5px
      top: 5px
    &.__right-aligned
      left: auto
      top: 5px
      right: 5px

  &_logo
    padding-top: 10px

  &_exit-button
    display: block

  &_index-button
    display: none

  &.__w-global-cat
    .sm-producer-header_exit-button,
    .sm-producer-header_logo
      display: none

    .sm-producer-header_index-button
      display: block

/*
------------------------------------*/
.sm-close-screen
  display: none
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.5)
  z-index: 100

  &_cnt
    position: absolute
    left: 50%
    top: 50%
    width: 300px
    margin-left: -150px
    background: #fff

.sm-grid-ads
  &_content
    position: relative
  &_container
    margin: 0px auto
    position: relative
  &_loader
    width: 100%
    height: 100px
    background: red

/*
------------------------------------*/
.sm-categories-screen
  position: absolute
  left: 0px
  top: 0px
  z-index: 11
  display: none
  width: 100%
  height: 100%

  &.__compact
    width: 300px
    left: 50%

  &.__search-mode
    height: 100px
    overflow: hidden

  &_header
    height: 50px

  &_tabs
    height: 50px
    background: #1b3a42
  &_single-tab
    width: 50%
    height: 35px
    padding-top: 15px
    float: left
    text-align: center
    font-family: 'opensans-regular-webfont'
    font-size: 13px
    cursor: pointer

    &.__active
      cursor: default

.sm-categories
  background: default_color

/*
------------------------------------*/
.sm-search-bar
  height: 50px
  padding: 0px 22px 0px 22px
  background: default_color_w_opacity

  &_field
    border: 1px #636363 solid
    background: default_color_w_opacity
    width: 100%
    height: 34px

  &_wrapper
    padding: 0px 5px

  &_input
    width: 100%
    line-height: 34px
    background: none
    outline: none

/*
------------------------------------*/
.sm-shops
  display: none
  background: default_color

/*
------------------------------------*/
.sm-focused-ads
  position: absolute
  left: 0px
  top: 0px
  z-index: 15
  width: 100%
  height: 100%
  display: none
  overflow: hidden

  &_container
    width: 100%
    height: 100%
    &.__animated
      -webkit-transition: all 0.2s linear

.focused-ad
  float: left
  &_top-offset
    height: 70px
  &_offer
    background: #fff
    padding: 11px