@import 'fonts.styl'

.sio-market-showcase,
.sm-screen
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%

.sio-market-showcase
  background: #ccc

  .siom-button
    display: block
    margin: 10px 20px
    color: #fff
    border: 5px #fff solid
    font-family: 'pfdintextcomppro-medium-webfont'
    text-decoration: none

  .sio-market-exit-screen
    position: absolute
    width: 100%
    height: 100%
    left: 0px
    top: 0px
    background: rgba(0,0,0,0.7)
    z-index: 100

    .es-container
      position: absolute
      width: 300px
      height: 300px
      left: 50%
      top: 50%
      margin-left: -150px
      margin-top: -150px
      color : #fff

  .sm-header
    position: absolute
    z-index: 100
    width: 100%
    height: 50px
    border-top: 1px #79b3ac solid
    background: #007366

  .sm-screen
    overflow: hidden
    .poster-photo
      position: absolute
      left: 50%
      top: 50%

  .index-navigation
    width: 100%
    position: absolute
    left: 0px
    bottom: 0px
    background: rgba(255,255,255,0.8)

    .es-container
      color: #fff
      font-family: Arial