@(args: msc.ScRenderArgs)(implicit ctx: Context)

@* Рендер страницы приветствия, если таковая имеется.
   Она может отсутствовать, иметь фон цвета или фон картинки. *@

@import ctx.api.cdn
@import views.html.sc.stuff._
@import io.suggest.sc.ScConstants.Welcome._
@import io.suggest.sc.ScConstants.Logo
@import io.suggest.sc.ScConstants._

@* Рисуем короткий код для вызова сборки абсолютных ссылок. *@
@absUrlF(c: Call) = @{ cdn.maybeAbsUrl( args.apiVsn.forceAbsUrls )(c) }

<div id="@ROOT_ID" class="sm-welcome-ad">

  @args.welcomeOpt.fold {

    @* Нету карточки приветствия. *@
    <span class="sm-welcome-ad_helper"></span>
    <img height="@Logo.HEIGHT_CSSPX" class="sm-welcome-div_img"
         src="@absUrlF( args.logoImgOpt.fold( cdn.asset("images/market/showcase-logo.png") )(cdn.dynImg) )"
         />

  } { wargs =>

    @* Есть приветствие.
       Рендерим фон приветствия: цвет узла или картинка. *@
    @for(bg <- wargs.bg.right.toOption) {
      @* Доступно фоновое изображение. *@
      <img id="@BG_IMG_ID"
           class="sm-welcome-ad_bg-img"
           @WIDTH_ATTR="@bg.meta.width"
           @HEIGHT_ATTR="@bg.meta.height"
           src="@absUrlF( cdn.dynImg(bg.mimg) )"/>
    }

    @* Рендерим покрывающую картинку (svg/png) *@
    @for(fgImage <- wargs.fgImage) {
      <span class="sm-welcome-ad_helper"></span>
      <img id="@FG_IMG_ID" class="sm-welcome-ad_fg-img"
           data-width="@fgImage.meta.width"
           data-height="@fgImage.meta.height"
           src="@absUrlF( cdn.dynImg(fgImage.mimg) )"/>
    }

    @* Рендерим покрывающую картинку (svg/png) *@
    @for(fgText <- wargs.fgText) {
      <div id="@FG_INFO_DIV_ID" class="sm-welcome-ad_fg-text">
        @_nodeNameTpl(args.fgColor) {
          @fgText
        }
      </div>
    }

  } @* fold *@
</div>
