@(title: String, head_after:Html = Html.empty, browser_check:Option[Html] = None, withHeadCommon:Boolean = true, withAnalytics:Boolean = true)(content: Html)(implicit c:util.Context)
@import stuff._

<!DOCTYPE html>
<html>
  <head>
    
    <title>Suggest.io @if(!title.isEmpty) { | @title }</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
    @* HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries *@
    <!--[if lt IE 9]>
      <script src="@routes.Assets.at("javascripts/bootstrap/html5shiv.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap/respond.min.js")"></script>
    <![endif]-->
    
    @if(!browser_check.isDefined) {
      <noscript><meta http-equiv="refresh" content="0; URL=/badbrowser"></noscript>
    } else {
      @browser_check.get
    }

    <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/common.min.js")"></script>
    
    @if(withHeadCommon) {
      <link href="@routes.Assets.at("stylesheets/main.min.css")" rel="stylesheet" media="screen">
      <link href="@routes.Assets.at("images/favicon.png")" rel="shortcut icon" type="image/x-icon">
    }
    
    @head_after
    
  </head>

  <body>
    
    @content
    
    @_footerTpl(lang=c.lang_str)
    
    @if(withAnalytics) {
      @_analyticsTpl()
    }
    
  </body>
</html>
