@import "mixins"

/********************************************************************************************************************/
/* Иконки, значки, украшательства */
/********************************************************************************************************************/
.required-icon
  color red

/********************************************************************************************************************/
/* Страница с информацией об узле */
/********************************************************************************************************************/
.profile

  &_change-shop-btn
    position  absolute
    top       0
    right     0

  &_logo-bar
    float       left
    width       140px
    min-height  140px

  &_logo-w
    width     140px
    height    140px

  &_logo-img
    display     block
    max-width   140px
    max-height  140px

  &_info-bar
    overflow      hidden
    padding-left  25px

