lightGray1 = #efefef
lightGray2 = #d7d7d7
darkGray1  = #464646
darkGray2  = #303030

pink1 = #feeaea
pink2 = #ffd7d7
red   = #f44040
green = #00b994


.white
  color white

.black
  color black

.light-gray-1
  color lightGray1

.light-gray-2
  color lightGray1

.dark-gray-1
  color darkGray1

.dark-gray-2
  color darkGray1

.dark-link
  text-decoration none

  &:hover
    color white

.delimiter
  clear             both
  height            1px
  background-color  #636363

