screen1024 = 'screen and (max-width: 1024px)'
phone      = 'screen and (max-width: 767px)'

/********************************************************************************************************************/
/* Mixins */
/********************************************************************************************************************/

border-radius(v)
  -webkit-border-radius v
  border-radius         v

box-shadow(v)
  -webkit-box-shadow v
  box-shadow         v

text-shadow(v)
  -webkit-text-shadow v
  text-shadow         v

transition(v)
  -webkit-transition  v
  transition          v

transform(v)
  -webkit-transform v
  transform         v

transform-origin(v)
  -webkit-transform-origin  v
  transform-origin          v

backface(v)
  -webkit-backface-visibility   v
  backface-visibility      v

appearance(v)
  -webkit-appearance  v
  -moz-appearance     v

webkitContainerBorderRadiusFix()
  -webkit-mask-image  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC')

/********************************************************************************************************************/
/* Цвета проекта */
/********************************************************************************************************************/
lightGray = #7f7f7f
darkGray  = #464646

pink1 = #feeaea
pink2 = #ffd7d7
red   = #f44040
green = #00b994