
screen1024 = 'screen and (max-width: 1024px)'
phone      = 'screen and (max-width: 767px)'

/********************************************************************************************************************/
/* Mixins */
/********************************************************************************************************************/

border-radius(v)
  -webkit-border-radius v
  border-radius         v

box-shadow(v)
  -webkit-box-shadow v
  box-shadow         v

text-shadow(v)
  -webkit-text-shadow v
  text-shadow         v

transition(v)
  -webkit-transition  v
  transition          v

transform(v)
  -webkit-transform v
  transform         v

backface(v)
  -webkit-backface-visibility   v
  backface-visibility      v

appearance(v)
  -webkit-appearance  v
  -moz-appearance     v

ft(v)
  font-size v