/********************************************************************************************************************/
/* Основная сетка проекта */
/********************************************************************************************************************/

projectMinWidth = 1100px
headerHeight    = 60px
rightMenuWidth  = 210px
leftMenuWidth  = 60px

.lk
  font-size 13px
  min-width projectMinWidth

.page
  position          relative
  min-height        100%
  min-width         projectMinWidth
  background-color  #efefef

.header
  position          relative
  z-index           100
  height            headerHeight
  margin-bottom     -(headerHeight)
  background-color  #303030

  &_logo-link
    position    absolute
    top         0
    left        0

    display     inline-block
    line-height headerHeight
    width       leftMenuWidth
    text-align  center

  &_logo-image
    display         inline-block
    vertical-align  middle

  &_logo-text
    position  absolute
    top       18px
    left      360px

  &_billing
    position  absolute
    top       20px
    right     360px

  &_billing-t
    padding-right 30px

  &_logout
    position      absolute
    top           20px
    right         0

    overflow      hidden
    padding       0 10px
    width         190px
    text-overflow ellipsis

.left-menu
  position          absolute
  top               0
  bottom            0
  left              0

  width             leftMenuWidth
  padding-top       headerHeight
  background-color  #464646

  &_i
    display       block
    height        60px
    color         #818284
    border-bottom 1px solid #636363

    &:hover
      cursor      pointer
      color       white
      border-left 5px solid #f44040

  &_i.__act
    color       white
    border-left 5px solid #f44040

.right-menu
  position          absolute
  top               0
  bottom            0
  right             0

  padding-top       headerHeight
  width             rightMenuWidth
  background-color  #3e3e3e

.viewport
  padding-left  leftMenuWidth
  padding-right rightMenuWidth