@import "mixins"

/********************************************************************************************************************/
/* Fonts */
/********************************************************************************************************************/

.ft-XS
  font-size 11px

.ft-S
	font-size 13px

.ft-M
  font-size 16px

.ft-L
  font-size 18px

.white
  color white

.black
  color black

.light-gray
  color lightGray

.dark-gray
  color darkGray

.red
  color red

/********************************************************************************************************************/
/* Ссылки */
/********************************************************************************************************************/
.link
  color           #00b994
  text-decoration none
  border-bottom   1px solid rgba(0, 185, 148, 0.3)
  transition(all 0.2s ease-in-out 0s)

  &:hover
    color: #007b56
    border-color: #c6c6c6

.dark-link
  text-decoration none

  &:hover
    color white

/********************************************************************************************************************/
/* Полосы разделители  */
/********************************************************************************************************************/
.delimiter
  clear             both
  height            1px
  background-color  #636363

  &.__light
    background-color #d7d7d7

  &.__vertical
    width   1px
    height  auto

/********************************************************************************************************************/
/* Вывод полей в формате Имя поля -> значение || input  */
/********************************************************************************************************************/

.prop
  margin  15px 0
  width   100%

  &_name
    width         125px
    padding-right 25px
    font-size     12px
    color         lightGray

  &_value
    font-size 13px
    color     darkGray

/* значение поля цвет */
.color
  width   40px
  height  40px
  background-color  red
  border-radius(50%)

  &.__select
    cursor  pointer


/********************************************************************************************************************/
/* Таблицы  */
/********************************************************************************************************************/
.td
  vertical-align  middle

  &.__padding-S
    padding 0 10px

  &.__color-title
    padding-right 10px

/********************************************************************************************************************/
/* Рекламные карточки */
/********************************************************************************************************************/