@import "mixins"

.sm-block
  position  relative

/********************************************************************************************************************/
/* Fonts */
/********************************************************************************************************************/

.ft-XS
  font-size 11px

.ft-S
	font-size 13px

.ft-M
  font-size 16px

.ft-L
  font-size 18px

.white
  color white

.black
  color black

.light-gray
  color lightGray

.dark-gray
  color darkGray

.red
  color red

.green
  color green

.minor-title
  margin-bottom 10px
  clear         both
  color         darkGray
  font-size     16px

/********************************************************************************************************************/
/* Ссылки */
/********************************************************************************************************************/
.link
  color           #00b994
  text-decoration none
  border-bottom   1px solid rgba(0, 185, 148, 0.3)
  transition(all 0.2s ease-in-out 0s)

  &:hover
    color: #007b56
    border-color: #c6c6c6

.dark-link
  text-decoration none

  &:hover
    color white

/********************************************************************************************************************/
/* Полосы разделители  */
/********************************************************************************************************************/
.delimiter
  clear             both
  height            1px
  background-color  #636363

  &.__light
    background-color #d7d7d7

  &.__vertical
    width   1px
    height  auto

/********************************************************************************************************************/
/* Вывод полей в формате Имя поля -> значение || input  */
/********************************************************************************************************************/

.prop
  overflow    hidden
  margin      15px 0
  width       100%
  text-align  left

  &_name
    width         125px
    padding-right 25px
    font-size     12px
    color         lightGray

  &_name.__block
    display       block
    width         auto

  &_value
    font-size   13px
    color       darkGray

/* значение поля цвет */
.color
  width   40px
  height  40px
  border-radius     50%
  background-color  red

  &.__select
    cursor  pointer


/********************************************************************************************************************/
/* Таблицы  */
/********************************************************************************************************************/
.table

  &.__width-XL
    width  100%

.td
  vertical-align  middle

  &.__padding-S
    padding 0 10px

  &.__color-title
    padding-right 10px

  &.__gray
    background-color  #e5e5e5

  &.__white
    background-color  white

  &.__radial-first
    border-radius 4px 0 0 4px

  &.__radial-last
    border-radius 0 4px 4px 0

  &.__size-M
    box-sizing  border-box
    height      50px
    padding     5px 10px

  &.__delimiter
    height  5px

/********************************************************************************************************************/
/* Стандартный блок SioMarket */
/********************************************************************************************************************/
.slide-block
  margin 10px 0

  &_title
    position    relative
    height      28px
    padding     10px

    font-size   18px
    color       darkGray

    cursor      pointer
    background  #e5e5e5
    border-radius 4px
    transition(all 0.2s ease-in-out 0s)

    &:hover

      .slide-block_btn
        background-color    #f3f3f3


  &_title.__js-open
    background-color  white

  &_cnt
    overflow    hidden
    margin-top  5px
    padding     0
    background  white
    border-radius 4px
    webkitContainerBorderRadiusFix()

    .tariff_illustration-w
      padding-top 35px

  &_btn
    position            absolute
    top                 10px
    right               10px

    display             block
    height              28px
    width               28px

    cursor              pointer
    background-color    #d7d7d7
    background-position -6px -96px
    border-radius       4px
    transition(background-color 0.2s ease-in-out 0s)

    &:hover
      background-color    #f3f3f3

  &_btn.__js-open
    background-color    #d7d7d7
    background-position -6px -6px

    &:hover
      background-color    #f3f3f3

/********************************************************************************************************************/
/* Табы  */
/********************************************************************************************************************/

.tab

  &_lst
    margin  25px 0

  &_i
    display           inline-block
    margin-right      20px
    padding           10px

    cursor            pointer
    color             #959697
    background-color  white

    border-radius 4px
    transition(all 0.2s ease-in-out 0s)

    &:hover
      color             white
      background-color  #959697

  &_i.__js-act
    color             white
    background-color  #959697

/********************************************************************************************************************/
/* Всплывающие окна  */
/********************************************************************************************************************/

.popups
  position    fixed
  top         0
  left        0
  z-index     2000

  visibility  hidden
  width       100%
  height      100%
  overflow-y  auto
  background  rgba(0,0,0,0.8)

  text-align  center

.popup
  position  relative
  top       0
  z-index   3000

  overflow  hidden /* потому что попап в попапе - это странно */
  display   inline-block

  background-color white
  border-radius 10px

  &.__size-M
    min-width 300px

  &_header
    padding       0
    border-bottom none /* TODO убрать эти стили, когда будет отключен common.css */
    background    transparent

  &_cnt
    padding 0 25px

  &_cnt.__preview
    width 300px

/********************************************************************************************************************/
/* Чекбоксы  */
/********************************************************************************************************************/

.checkbox

  &_w
    display block

  &_title
    color           #575757
    padding-left    10px
    font-size       14px

  &_title.__major
    padding-left  20px
    font-size     16px

  &_title.__no-input
    padding-left  0

  &_title.__disabled
    color #8c8c8c

label
  input[type=checkbox]
    display none

  input[type=checkbox] + .checkbox_title:before
    display         inline-block
    height          16px
    width           16px
    margin          0 5px 0 0
    line-height     16px
    vertical-align  middle
    border          1px solid #acacac

    content         "\0020"
    color           #00b893
    font-size       16px
    text-align      center
    border-radius   4px

  input[type=checkbox]:checked + .checkbox_title:before
    content "\2713"

  input[type=checkbox]:disabled + .checkbox_title:before
    color #acacac

  input[type=checkbox] + span:before
    display         inline-block
    height          16px
    width           16px
    line-height     16px
    vertical-align  middle
    border          1px solid #acacac

    content         "\0020"
    color           #00b893
    font-size       16px
    text-align      center
    border-radius   4px

  input[type=checkbox]:checked + span:before
    content "\2713"

  input[type=checkbox]:disabled + span:before
    color #acacac


/********************************************************************************************************************/
/* Ценовой виджет в правой панели  */
/********************************************************************************************************************/

.right-bar-price-widget
  position    absolute
  bottom      150px
  width       100%
  padding     0 20px
  box-sizing  border-box

  &_title
    margin-bottom 20px
    color         darkGray
    font-size     18px
    text-align    center

  &_cnt
    padding           15px 10px 15px
    background-color  #efefef
    width             100%
    box-sizing        border-box
    border-radius     10px

  &_price-value
    font-size     24px
    text-align    center
    color         darkGray

  &_request-btn
    margin-top  20px

/********************************************************************************************************************/
/* Виджет выбора даты  */
/********************************************************************************************************************/

.date-widget
  padding           5px 10px 15px
  background-color  white
  border-radius     10px

  &_result
    font-size   15px
    color       darkGray

/********************************************************************************************************************/
/* No photo  */
/********************************************************************************************************************/
.no-photo
  height: 100%
  background-color: #e2e2e2