@(args: msc.ILogoRenderArgs)(implicit ctx: Context)

@* Рендер логотипа узла в заголовке. *@

@import util.cdn.CdnUtil
@import io.suggest.sc.ScConstants.Logo._
@import views.html.sc.stuff._

<div class="@HDR_LOGO_DIV_CLASS">
  @args.logoImgOpt.fold {
    @* Нет картинки, рендерим текстовый логотип на основе названия. *@
    @_nodeNameTpl(args.fgColor) {
      @args.title
    }

  } { logoImg =>
    @* Логотип-картинка. *@
    <img class="sm-producer-header_logo" height="@HEIGHT_CSSPX" src="@CdnUtil.dynImg(logoImg)"/>
  }
</div>
