@(args: msc.IHBtnRenderArgs)(implicit ctx: Context)

@* Тут верстка кнопки с четырьмя квадратиками, используемая для доступа к поисковой панели. *@

@import msc._

@if(!args.syncRender || !args.jsStateOpt.exists(_.isAnyPanelOpened)) {
  @args.jsStateOpt.map { jsState =>
    <a href="@args.syncUrl( jsState.copy(searchScrOpenedOpt = Some(true), navScrOpenedOpt = None, tilesCatIdOpt = None, fadsProdIdOpt = None) )">
  }
  @ScHdrBtns.SearchPanelOpen( args.hBtnArgs )
  @if(args.jsStateOpt) {
    </a>
  }
}
