.gosuslugi-logo
  background        url('/vassets/images/login/form/gosuslugi-logo.svg') no-repeat
  background-size   100px 16px
  width             80%
  height            16px
  margin-left       16px

.gosuslugi-esia_title
  width             100%
