@(feedbackFormM: Form[_])(implicit ctx:util.Context)

@* Форма обратной связи. *@

@import ctx._
@import helper._

@form(routes.Feedback.feedbackFormSubmit) {
  <fieldset>
    <div class="f-input">
      @inputText(feedbackFormM("email"), 'id -> "feedbackEmail", '_label -> Messages("your_email"))
    </div>
  </fieldset>

  <fieldset>
    <div class="f-input">
      @textarea(feedbackFormM("message"), 'id -> "feedbackMessage", '_label -> Messages("your_message"))
    </div>
  </fieldset>
  
  <fieldset>
    @* Кнопка сабмита "отправить" *@
    <input class="submit" type="submit" value="@Messages("send")"/>
  </fieldset>
}