@(args: mdr.ISysMdrRefusePopupTplArgs)(implicit ctx: Context)

@* Шаблон отказа в размещении. *@

@import helper._
@import util.FC.divFc
@import ctx.{messages, request}

@* Верстка управляющих кнопок очень похожа, дедублицируем... *@
@__btn(color: Int, float: MHand, cls: String)(content: Html) = {
  <a class="siom-ac-btn __color-@color __size-M __ft-XM f-@float.name @cls" href="#">
    @content
  </a>
}

@form( CSRF(args.submitCall), 'id -> "advReqRefuse") {

  @textarea(
    args.refuseFormM("reason"),
    '_label       -> "",
    'placeholder  -> messages("Write.refuse.reason")
  )

  @* Бывает нужно рендерить список режимов. *@
  @if(args.withModes) {
    @inputRadioGroup(
      args.refuseFormM("mode"),
      options = args.modes.iterator.map(m => m.strId -> messages(m.nameI18n)).toSeq,
      '_label -> messages("Mode")
    )
  }

  <div class="btn-w __size-S">

    @__btn(3, MHands.Left, "js-close-popup") {
      @messages("Cancel")
    }

    @__btn(4, MHands.Right, "js-submit-btn") {
      @messages("Refuse")
    }

  </div>
}


