@(args: mdr.ISysMdrForAdTplArgs)(implicit ctx: Context)

@* Страница с модерацией одной рекламной карточки. *@

@import views.html.sc.foc._adFullTpl
@import ctx.{messages, request}
@import helper._
@import args.adId
@import mdr.MdrSearchArgs
@import datetime._

@* Верста кнопки подтверждения размещения. *@
@__approveBtn(call: Call) = {
  @form( CSRF(call) ) {
    <input class="fast-approve-ibtn" type="submit" value="[+]" title="@messages("Approve")" />
  }
}


@* Верстка кнопки отказа в размещении. *@
@__refuseBtn(call: Call) = {
  <a class="js-btn" title="@messages("Refuse")" href="@CSRF(call)">
    &lt;!&gt;
  </a>
}


@* Верстка контейнера куска содержимого левой колонки. *@
@__leftFrame(content: Html) = {
  <div class="node-mdr_left-bar_frame">
    @content
  </div>
}

@__div(cls: String)(content: Html) = {
  <div class="@cls">
    @content
  </div>
}

@__mdrItemCont(content: Html) = {
  @__div("mdr-item")(content)
}

@__nodeLink(nodeId: String) = {
  <a href="@routes.SysMarket.showAdnNode(nodeId)">
    @args.mnodesMap.get(nodeId).fold {
      <strong title="Узел не найден: @nodeId">???</strong>
    } { mnode =>
      @mnode.guessDisplayNameOrId
    }
  </a>
}

@mdrBase(
  title     = args.brArgs.mad.guessDisplayNameOrIdOrEmpty,
  mnodeOpt  = Some(args.producer)
) {

  @* Колонка содержит item'ы, требующие модерации. *@
  <div class="mdr node-mdr_left-bar">

    @__leftFrame {
      <a href="@routes.SysMarket.showAdnNode(args.producer.id.get)">
        [Продьюсер]
      </a>
      <a href="@routes.MarketAd.editAd(args.brArgs.mad.id.get)">
        [Редактор]
      </a>
    }

    @__leftFrame {
      @if(!args.freeAdvs && !args.mitemsGrouped) {
        Карточка не нуждается в модерации.
      }
    }


    @* Отображаем hi-level управление карточкой и бесплатные размещения. Она всегда на экране. *@
    @__leftFrame {

      @* Если карточка ещё не модерировалась положительно, нарисовать кнопку аппрува. *@
      @if( !args.hasPositiveMdr ) {
        @__approveBtn( routes.SysMdr.freeAdvMdrAccept(adId) )
      }

      @* Если карточку уже хоть кто-то модерировал, то отобразить инфу по модераторам. *@
      @for(firstMdr <- args.freeMdrs.headOption) {
        @messages(firstMdr.predicate.singular)
        @for( mdr <- args.freeMdrs ) {
          @__nodeLink(mdr.nodeId)
          @for(dt <- mdr.info.dateNi) {
            @_prettyDate(dt)
          }:
        }
      }

      @for(medge <- args.freeAdvs) {
        @messages(medge.predicate.singular)
        @__nodeLink(medge.nodeId)
      }

      @* Кнопка бана с расширенным окном доступна всегда. *@
      @__refuseBtn( routes.SysMdr.refuseFreeAdvPopup(adId) )
    }


    @* Рисуем список платных премодерируемых размещений. *@
    @if(args.mitemsGrouped) {
      @__leftFrame {
        <h2 title="Платные размещения данной карточки.">
          @__approveBtn( routes.SysMdr.approveAllItemsSubmit(args.adId) )
          Платные
          (<strong>@args.itemsCount</strong>)
          @__refuseBtn( routes.SysMdr.refuseAllItems(args.adId) )
        </h2>

        @for((itype, mitems) <- args.mitemsGrouped) {
          <div class="mdr_item-group ml2px">
            @* Заголовок группы тоже содержит управление модерацией для всей группы. *@
            @__mdrItemCont {
              <h3>
                @__approveBtn( routes.SysMdr.approveAllItemsTypeSubmit(args.adId, itype) )
                @messages( itype.nameI18n )
                @__refuseBtn( routes.SysMdr.refuseAllItemsType(args.adId, itype) )
              </h3>
            }

            <div class="ml2px">
              @* Содержимое группы -- это модерация уровня item'ов. *@
              @for(mitem <- mitems; itemId <- mitem.id) {
                @__mdrItemCont {
                  @__approveBtn( routes.SysMdr.approveItemSubmit(itemId) )

                  @* Для тега вывести название тега, завернув его в ссылку, если возможно... *@
                  @for(rcvrId <- mitem.rcvrIdOpt) {
                    <a href="@routes.SysMarket.showAdnNode(rcvrId)">
                  }

                  @mitem.tagFaceOpt.map { tagFace =>
                    #@tagFace
                  }.getOrElse {
                    @for(rcvr <- mitem.rcvrIdOpt.flatMap(args.mnodesMap.get)) {
                      @rcvr.guessDisplayNameOrId
                    }
                  }

                  @if(mitem.rcvrIdOpt) {
                    </a>
                  }
                  @__refuseBtn( routes.SysMdr.refuseItemPopup(itemId) )
                } @* mdrItemCont *@
              }   @* for mitem *@
            </div>
          </div>
        }

        @* Если item'ов слишком много, то отобразить многоточие. *@
        @if(args.tooManyItems) {
          @__mdrItemCont {
            <span title="Отображены не все элементы, т.к. их слишком много (@args.itemsCount).">
              ...
            </span>
          }
        }
      }
    }


    @* Ссылка для перехода на другую карточку, подлежащую модерации. *@
    @__leftFrame {
      <h2>Переход</h2>
      <a href="@routes.SysMdr.rdrToNextAd( MdrSearchArgs(hideAdIdOpt = args.brArgs.mad.id) )">
        Следующая карточка &gt;&gt;&gt;
      </a>
    }

  </div> @* bar-left *@


  <div class="node-mdr_right-bar">
    @* TODO Надо not-focused ad сюда ещё, если карточка отображается на шировакую... *@
    <div class="ad-full-preview">
      <div class="sio-mart-showcase __relative">
        @_adFullTpl( args )
      </div>
    </div>

  </div>

}
