@(args: msys.ISysMdrFreeAdvsTplArgs)(implicit ctx: Context)

@* Страница для отображения списка карточек, бесплатно размещенных и требующих пост-модерации s.io. *@
@import ctx._
@import views.html.lk.ad._
@import models.mdr._
@import sys1.stuff.pager._

@headAfter = {
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/market/lk/ads-list.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/market/showcase.css")'/>
}

@mdrBase(
  title       = "Free Advs",
  headAfter   = Some(headAfter),
  mnodeOpt    = args.producerOpt
) {

  <div class="sys_t">
    Саморазмещённые (бесплатные) карточки, подлежащие модерации
  </div>

  @* Рендерим список рекламных карточек. *@
  <div class="ads-list">

    @_adsListTpl(args.mads, coverDisableReason = true, startIndex = 0, itemsInLine = 4) { mad =>
      @ctx.api.n2NodesUtil.madProducerId(mad).map { producerId =>
        <a class="siom-link-btn __color-1 __size-XL __ft-M __list-vertical"
           href="@routes.SysMarket.showAdnNode(producerId)">
          @args.prodsMap.get(producerId).fold {
             ? ? ?
          } { producer =>
            @producer.meta.basic.name / @producer.meta.address.town
          }
        </a>

        <div class="clear"></div>

        <a class="siom-ac-btn __color-2 __size-XL __ft-XM __list-vertical" href="@routes.MarketAd.editAd(mad.id.get)">
          @messages("Edit")
        </a>

        <a class="siom-ac-btn __color-3 __size-XL __ft-XM __list-vertical" href="@routes.MarketLkAdn.showAdnNode(producerId)">
          Перейти в ЛК
        </a>
        <a class="siom-ac-btn __color-2 __size-XL __ft-XM __list-vertical js-btn" href="@routes.SysMdr.freeAdvMdr(mad.id.get)">
          Модерировать
        </a>
      }
    }

  </div>

  @* Рендерим переключение страниц. *@
  @_simple3pTpl(
    count = args.mads.size,
    limit = args.args0.limit,
    offset = args.args0.offset,
    urlF   = { offset1 =>
      routes.SysMdr.freeAdvs( args.args0.copy(offsetOpt = Some(offset1)) )
    }
  )

}
