@(mads: Seq[blk.IRenderArgs], prodsMap: Map[String, MAdnNode], currPage: Int, hasNextPage: Boolean, adnNodeOpt: Option[MAdnNode] = None)(implicit ctx: Context)

@* Страница для отображения списка карточек, бесплатно размещенных и требующих пост-модерации s.io. *@
@import ctx._
@import views.html.lk.ad._

@headAfter = {
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/market/lk/ads-list.css")'/>
  <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/market/showcase.css")'/>
}

@mdrBase(
  title      = "Free Advs",
  headAfter  = Some(headAfter),
  adnNodeOpt = adnNodeOpt
) {
  <div class="sys_t">
    Саморазмещённые (бесплатные) карточки, подлежащие модерации
  </div>

  @* Рендерим список рекламных карточек. *@
  <div class="ads-list">

    @_adsListTpl(mads, coverDisableReason = true, startIndex = 0, itemsInLine = 4) { mad =>

      <a class="siom-link-btn __color-1 __size-XL __ft-M __list-vertical" href="@routes.SysMarket.showAdnNode(mad.producerId)">@prodsMap.get(mad.producerId).fold {
        ? ? ?
      } { producer =>
        @producer.meta.name / @producer.meta.town
      }</a>

      <div class="clear"></div>

      @*<a class="siom-ac-btn __color-2 __size-XL __ft-XM __list-vertical" href="@routes.MarketAd.editAd(mad.id.get)">Редактировать объявление</a>*@


      <a class="siom-ac-btn __color-3 __size-XL __ft-XM __list-vertical" href="@routes.MarketLkAdn.showAdnNode(mad.producerId)">Перейти в ЛК</a>


      <a class="siom-ac-btn __color-2 __size-XL __ft-XM __list-vertical js-btn" href="@routes.SysMdr.freeAdvMdr(mad.id.get)">
        Модерировать
      </a>
    }

  </div>

  @* Рендерим переключение страниц. *@
  <div class="color-light-strong">
    Страницы:
    @if(currPage > 1) {
      <a class="blue-link" href="@routes.SysMdr.freeAdvs(MdrSearchArgs(page = 0))">Первая</a>
    }
    @if(currPage > 0) {
      <a class="blue-link" href="@routes.SysMdr.freeAdvs(MdrSearchArgs(page = currPage - 1))">Предыдущая</a>
    }
    <strong class="color-strong">@currPage</strong>
    @if(hasNextPage) {
      <a class="blue-link" href="@routes.SysMdr.freeAdvs(MdrSearchArgs(page = currPage + 1))">Следующая</a>
    }
  </div>
}
